﻿<gisc-ui-component>
    <!-- Model -->
    <gisc-ui-label params="text:i18n('Assets_Model'),isRequired:true" />
    <gisc-ui-dropdown params="options:dmsModel,
                               optionsText:'model',
                               value:selectedDmsModel,
                               optionsCaption:' ',
                               " />

    <!-- Ref Id -->
    <gisc-ui-label params="for:'referenceId', text:'Reference ID', isRequired:true" />
    <gisc-ui-textbox params="id:'referenceId', value:referenceId "
    />

    <!-- Serial No. -->
    <gisc-ui-label params="for:'serialNo', text:i18n('Assets_SerialNo'), isRequired:true" />
    <gisc-ui-textbox params="id:'serialNo', value:serialNo" />

    <!-- Contract No. -->
    <gisc-ui-label params="text:i18n('Assets_ContractNo'), isRequired:true" />
    <gisc-ui-dropdown params="options:contractNo,
                               optionsText:'contractNo',
                               value:selectedContractNo,
                               optionsCaption:''
                               " />

    <!-- Fleet. -->
    <gisc-ui-label params="text:'Fleet Name', isRequired:true" />
    <gisc-ui-dropdown params="options:dmsFleet,
                               optionsText:'name',
                               value:selectedDmsFleet,
                               optionsCaption:''
                               " />

    <!-- Sim -->
    <gisc-ui-label params="text:'Sim'" />
    <gisc-ui-dropdown params="options:sim,
                               optionsText:'mobileNo',
                               value:selectedSim,
                               type: 'filter',
                               optionsCaption:''
                               " />

    <!-- company -->
    <gisc-ui-label params="text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="options:company,
                               optionsText:'name',
                               value:selectedCompany,
                               optionsCaption:' '" />

    <!-- Business Unit -->
    <gisc-ui-label params="text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params=" id: 'ddDMSBusinessUnit',
                               options:businessUnit,
                               optionsID:'id',
                               optionsText:'name',
                               optionsParent:'parentBusinessUnitId',
                               optionsChildren:'childBusinessUnits',
                               value:selectedBusinessUnit"/>

    <!-- Vehicle -->
    <gisc-ui-label params="text:i18n('Assets_VehicleLicense')" />
    <gisc-ui-dropdown params="options:vehicle,
                               optionsText:'license',
                               value:selectedVehicle,
                               optionsCaption:'',
                               type: 'filter'" />
                               

</gisc-ui-component>