<gisc-ui-component>
    <div class="row">
        <div class="col-12">
            <label data-bind="text:productName" />
            <label data-bind="text:i18n('Common_Version')" />
            <label data-bind="text:versionNumber" style="font-weight:bold;" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label data-bind="text:buildNumber" />
        </div>
    </div>
</gisc-ui-component>