﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="for: 'txtName', text: i18n('Configurations_TicketResponse_Name'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtName', value: name, maxlength: 50" />
</gisc-ui-component>