﻿<gisc-ui-component>
    <div style="word-break: break-all;">
        <gisc-ui-label params=" text: i18n('Configurations_TicketResponse_Name')" />
        <gisc-ui-field params=" value: txtName" />
    </div>
</gisc-ui-component>