﻿<gisc-ui-component>
    
    <!--Name-->
    <gisc-ui-label params="for:'txtBoxStockName', isRequired:true, text:i18n('Assets_BoxStockName')"/>
    <gisc-ui-textbox params="id:'txtBoxStockName', value: name "/>
    
    <!--Code-->
    <gisc-ui-label params="for:'txtBoxStockCode', text:i18n('Assets_BoxStockCode')"/>
    <gisc-ui-textbox params="id:'txtBoxStockCode', value: code,  filter:{type: 'alphanumeric'}"/>

    <!--Description-->
    <gisc-ui-label params="for:'txtBoxStockDescription', text:i18n('Common_Description')"/>
    <gisc-ui-textarea params="id:'txtBoxStockDescription', value: boxStockDescription "/>

      <!-- Technician Tearm -->
      <gisc-ui-label params="text:i18n('Common_Technician_Team')," />
      <gisc-ui-dropdown params="options:ddtechnicianTeam,
                                 optionsText:'name',
                                 value:technicianTeam,
                                 optionsCaption:' '
                                 " />
</gisc-ui-component>
