<!-- ko component: 'gisc-ui-component' -->
    <!-- ko if: visible -->
        <div class="app-topbar-companyswitcher app-companyswitchermenu-dropmenu" data-bind="attr: {id: companyMenu.id}">
            <div class="app-companyswitchermenu-menu">
                <div class="app-dropmenu" tabindex="-1">
                    <a class="app-dropmenu-button app-popup-button" data-bind="click: $data.onClick, css: companyMenu.menuStatus, attr: {title: companyMenu.title}">
                        <div class="app-topbar-button app-has-hover app-notificationmenu-button">
                            <div class="app-notificationmenu-icon"><!-- ko component: 'svg-track-widget-switcher' --><!-- /ko --></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    <!-- /ko -->
    <!-- ko ifnot: visible -->
        <div style="width:10px;"></div>
    <!-- /ko -->
<!-- /ko -->