﻿<gisc-ui-component>
    <div data-bind="visible: isShowEmailCompany">
    <gisc-ui-label params=" text: i18n('Auto_Mail_Report_Output_Type'),isRequired:true" />
    <gisc-ui-checkbox params="text:i18n('Auto_Mail_Report_Send_via_Email'), checked: isSendEmail"/>
    <gisc-ui-checkbox params="text:i18n('Auto_Mail_Report_File_Server'), checked:isFileServer"/>
    </div>
    <div data-bind="visible: isShowEmail">
            <gisc-ui-label params="for:'txtMailSubject', text:i18n('Auto_Mail_Report_Mail_Subject'),isRequired:true"/>
            <gisc-ui-textbox params="id:'txtMailSubject', placeholder:'', value: mailSubject, filter: { max: 100 }"/>
    
            <gisc-ui-label params="for:'txtMailTo', text:i18n('Auto_Mail_Report_Mail_To'),isRequired:true"/>
            <gisc-ui-tooltip params="text: i18n('I012')"></gisc-ui-tooltip>            
            <gisc-ui-textbox params="id:'txtMailTo', placeholder:'', value: mailTo, filter: { max: 500 },maxlength: 500"/>
    
            <gisc-ui-label params="for:'txtMailBody', text:i18n('Auto_Mail_Report_Mail_Body'),isRequired:true"/>
            <gisc-ui-textarea params="id:'txtMailBody', placeholder:'', value: mailBody, filter: { max: 500 },maxlength: 500"/>
    </div>
    <gisc-ui-label params="text: i18n('Auto_Mail_Report_Scheduler_Frequency')" />
    <gisc-ui-dropdown params="id: 'txtScheduler',
                options: ddSchedulerlist,
                optionsText: 'displayName',
                value: scheduler," />

    <!--Weekly  WeeklyVisible -->
    <div data-bind="visible: isShowWeekly">
        <div style="width:100%">
            <div style="width:20%;float:left">
                <gisc-ui-radio params="text:i18n('AutoMail_Monday'),value:RadMon ,checked:ValueDay " />
            </div>
            <div style="width:20%;float:left">
                <gisc-ui-radio params="text:i18n('AutoMail_Tuesday'),value:RadTue ,checked:ValueDay " />
            </div>
            <div style="width:20%;float:left">
                <gisc-ui-radio params="text:i18n('AutoMail_Wednesday'),value:RadWed ,checked:ValueDay " />
            </div>
            <div style="width:20%;float:left">
                <gisc-ui-radio params="text:i18n('AutoMail_Thursday'),value:RadThu ,checked:ValueDay " />
            </div>
            <div style="width:20%;float:left">
                <gisc-ui-radio params="text:i18n('AutoMail_Friday'),value:RadFri ,checked:ValueDay " />
            </div>

        </div>
        <div style="width:100%;float:left">
            <div style="width:20%;float:left">
                <gisc-ui-radio params="text:i18n('AutoMail_Saturday'),value:RadSat ,checked:ValueDay " />
            </div>
            <div style="width:20%;float:left">
                <gisc-ui-radio params="text:i18n('AutoMail_Sunday'),value:RadSun ,checked:ValueDay " />
            </div>
        </div>
    </div>
    <gisc-ui-label params=" text: i18n('Auto_Mail_Report_Duration')" />
   
    <div>
            <div style="width:100%">
            <div style="float:left">
                <gisc-ui-label params=" text: i18n('Common_StartDate'),isRequired:true" />
            </div>
            <div style="float:left">
                <gisc-ui-datetime params="value:startDate, mode:'date',minDate:currentDate"/>
            </div>
            <div style="float:left; margin-left: 5px; margin-right: 3px;">
                <gisc-ui-radio params="text:i18n('Common_EndDate'),value:radioEndDate ,checked:valueEndDate " />
            </div>
            <div style="float:left">
                <gisc-ui-datetime params="value:endDate, mode:'date',enable:isShowEndDate,minDate:startDate"/>
            </div>
            <div style="float:left; margin-left: 5px;">
                <gisc-ui-radio params="text:i18n('AutoMail_NoEndData'),value:noEndData ,checked:valueEndDate " />
            </div>
            </div>
    </div>

   <div style="clear:left;">
           <div style="width:100%">
                <div style="width:30%;float:left;">
                        <gisc-ui-label params=" text: i18n('Auto_Mail_Report_Language')" />
                        <gisc-ui-radio params="text:i18n('Auto_Mail_Report_English'),value:langEng,checked:valueLang  " />
                        <gisc-ui-radio params="text:i18n('Auto_Mail_Report_Thai'),value:langTh,checked:valueLang " />
                </div>
                <div style="width:70%;float:left;" data-bind="visible:isShowDaily">
                        <div>
                        <gisc-ui-label params=" text: i18n('Auto_Mail_Report_Condition_Time')" />
                                <div style="width:100%">
                                        <div style="width:50%;float:left;">
                                                <gisc-ui-radio params="text:i18n('Auto_Mail_Report_Same_day'),value:'Sameday',checked:valueTypeday  " />                                        
                                        </div>
                                        <div style="width:50%;float:left;">
                                                <gisc-ui-radio params="text:i18n('Auto_Mail_Report_Multiple_day'),value:'Multipleday',checked:valueTypeday " />                                        
                                        </div>
                                </div>
                                <div style="width:100%; clear:left;" data-bind="visible: isShowTypeday">
                                                <div style="float:left;">
                                                        <gisc-ui-label params=" text: i18n('Common_CurrentDay')" />
                                                        <!-- <gisc-ui-datetime params="value:startDate, mode:'date'"/> -->
                                                        <div class="app-textBox-wrapper" style="width:106px;">
                                                            <input type="time" data-bind="value:startTime, attr: { id:id, class:'app-input'} ">
                                                        </div>
                                                </div>
                                                <div style="float: left; top: 15px; position: relative;margin: 10px">
                                                        <gisc-ui-label params=" text: i18n('Report_KpiReport_To')" />
                                                </div>
                                                <div style="float:left;top: 19px; position: relative;">
                                                        <!-- <gisc-ui-datetime params="value:startDate, mode:'date'"/>     -->
                                                        <div class="app-textBox-wrapper" style="width:106px;">
                                                            <input type="time" data-bind="value:endTime, attr: { id:id, class:'app-input'} ">
    <div class="ko-inline-msg-err" data-bind="text: importValidationError"></div>
                                                        
                                                        </div>                                                    
                                                </div>
                                </div>
                                <div style="width:100%; clear:left;" data-bind="visible: isShowTypedayMultipleday">
                                                <div style="float:left;">
                                                        <gisc-ui-label params=" text: i18n('Dashboard_Utilization_Time_Search_Text_Yesterday')" />
                                                        <!-- <gisc-ui-datetime params="value:startDate, mode:'date'"/> -->
                                                        <div class="app-textBox-wrapper" style="width:106px;">
                                                            <input type="time" data-bind="value:startTime, attr: { id:id, class:'app-input'} ">
                                                        </div>
                                                </div>
                                                <div style="float: left; top: 15px; position: relative;margin: 10px">
                                                        <gisc-ui-label params=" text: i18n('Report_KpiReport_To')" />
                                                </div>
                                                <div style="float:left;">
                                                        <gisc-ui-label params=" text: i18n('Common_CurrentDay')" />
                                                        <!-- <gisc-ui-datetime params="value:startDate, mode:'date'"/> -->
                                                        <div class="app-textBox-wrapper" style="width:106px;">
                                                            <input type="time" data-bind="value:endTime, attr: { id:id, class:'app-input'} ">
                                                        </div>
                                                </div>
                                </div>

                        </div>
                </div>
           </div>
   </div> 
</gisc-ui-component>
