﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div style="padding: 5px">
        <label data-bind="text: alertTypeDisplayName" />
        <label data-bind="text: alertDateTime" style="float:right"/>
    </div>
    <img width="100%" height="88%" data-bind="attr:{src: src}">
</gisc-ui-component>