﻿<gisc-ui-component>
    <gisc-ui-listview params="selectedIndex: selectedIndex, onItemSelected:goto.bind($data)">
        <item params="text: i18n('Report_UserLog'), extras: { id: 'ca-report-userlog'}" />
    </gisc-ui-listview>
</gisc-ui-component>
