﻿<gisc-ui-component>
    <gisc-ui-component>
        <gisc-ui-datatable params="
                id: 'dtNostraConfig',
                datasource: nostraList,
                columns: [
                    { type: 'label', title: 'i18n:Configurations_NostraConfigurations_Name', data: 'name', orderable: false, searchable: true },
                    { type: 'label', title: 'i18n:Configurations_Value', data: 'value', orderable: false }
                ],
                order: order,       
                rowId: 'id',
                selectable: true,
                selectedRow: selectedNostra,
                showFilter: true,
                filter: filterText,
                filterPlaceholder: 'i18n:Configurations_NostraConfigurations_Filter_Name',
                onSelectingRow: selectRow,
                recentChangedRowIds: recentChangedRowIds,
                loadMore: false
                " />
    </gisc-ui-component>
</gisc-ui-component>