﻿<gisc-ui-component>
  <!--Name-->
  <gisc-ui-label params="for: 'txtName', text: i18n('Configurations_NostraConfigurations_Name'), isRequired: true" />
  <gisc-ui-textbox params="id: 'txtName', value: nostraName, maxlength: 50,enable:false" />
    <!--Value-->
    <gisc-ui-label params="for: 'txtValue', text: i18n('Configurations_Value'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtValue', value: nostraValue" />
</gisc-ui-component>