﻿<gisc-ui-component>

    <!-- Map Type -->
    <gisc-ui-label params="text:i18n('Mapservice_Map_Type')" />
    <gisc-ui-tooltip params="text: i18n('Mapservice_Tooltip_Map_Type')"></gisc-ui-tooltip>
    <gisc-ui-dropdown params= "options:mapTypeOptions,
                               optionsText:'name',
                               value:mapType,
                               " />

    <!-- basemap  -->
    <gisc-ui-label params="for:'baseMapItemName',text:i18n('Mapservice_Basemap_Item')" />
    <gisc-ui-tooltip params="text: i18n('Mapservice_Tooltip_Basemap_Item')"></gisc-ui-tooltip>
    <gisc-ui-textbox params="id:'baseMapItemName', value:baseMapItem , enable: isBaseMapItemEnable,filter:{type :'numeric', numericType:'int'}" />
    <!-- layerName -->
    <gisc-ui-label params="for:'mapLayerName',text:i18n('Mapservice_Layer_Name')" />
    <gisc-ui-tooltip params="text: i18n('Mapservice_Tooltip_Layer_Name')"></gisc-ui-tooltip>
    <gisc-ui-textbox params="id:'mapLayerName', value:layerName, enable: isLayerNameEnable" />

    <!-- ServiceId -->
    <gisc-ui-label params="for:'serViceId', isRequired:true,text:i18n('Mapservice_Service_Id')" />
    <gisc-ui-tooltip params="text: i18n('Mapservice_Tooltip_Service_Id')"></gisc-ui-tooltip>
    <gisc-ui-textbox params="id:'serViceId', value:serViceId" />


    <!-- Url Local,English -->
    <gisc-ui-label params="for:'urlLocalName', isRequired:true,text:i18n('Mapservice_Url_Local')" />
    <gisc-ui-textbox params="id:'urlLocalName', value:urlLocal" />
    <gisc-ui-label params="for:'urlEnglishName', isRequired:true,text:i18n('Mapservice_Url_English')" />
    <gisc-ui-textbox params="id:'urlEnglishName', value:urlEnglish" />


    <gisc-ui-label params="for:'tokenLocalName', text:i18n('Mapservice_Token_Local')" />
    <gisc-ui-textbox params="id:'tokenLocalName', value:tokenLocal" />

    <gisc-ui-label params="for:'tokenEnglishName', text:i18n('Mapservice_Token_English')" />
    <gisc-ui-textbox params="id:'tokenEnglishName', value:tokenEnglish" />

    <gisc-ui-label params="for:'sortIndexName',isRequired:true, text:i18n('Mapservice_Sort_Index')" />
    <gisc-ui-textbox params="id:'sortIndexName', value:sortIndex, filter:{type :'numeric', numericType:'int'}" />

    <gisc-ui-label params="text:i18n('Mapservice_Type')" />
    <gisc-ui-dropdown params= "options:mapServicesTypeOptions,
                               optionsText:'name',
                               value:mapServicesType,
                               " />

    <!-- dependMap -->
    <gisc-ui-label params="for:'dependMap',text:i18n('Mapservice_Dependmap')" />
    <gisc-ui-textbox params="id:'dependMap', value:dependMap" />

    <!-- Min-Max Dropdown -->
    <gisc-ui-label params="text:i18n('Mapservice_Min_Level')" />
    <gisc-ui-dropdown params= "options:minLevelOptions,
                               optionsText:'value',
                               value:minLevel,
                               
                               enable: isMinMaxLevelMapDropdownEnable " />

    <gisc-ui-label params="text:i18n('Mapservice_Max_Level')" />
    <gisc-ui-dropdown params= "options:maxLevelOptions,
                               optionsText:'value',
                               value:maxLevel,
                               
                               enable: isMinMaxLevelMapDropdownEnable" />

    
    <!-- MIN Latitude-Longtitude -->

    <gisc-ui-label params="for:'minLongitude',text:i18n('Mapservice_Extent_Min_Longitude')" />
    <gisc-ui-textbox params="id:'minLongitude', value:minLongitude, filter:{type :'numeric', numericType:'float', min:-180, max:180}" />

    <gisc-ui-label params="for:'minLatitude',text:i18n('Mapservice_Extent_Min_Latitude')" />
    <gisc-ui-textbox params="id:'minLatitude', value:minLatitude,filter:{type :'numeric', numericType:'float'}" />

    <!-- MAX Latitude-Longtitude -->
    <gisc-ui-label params="for:'maxLongitude',text:i18n('Mapservice_Extent_Max_Longitude')" />
    <gisc-ui-textbox params="id:'maxLongitude', value:maxLongitude,filter:{type :'numeric', numericType:'float'}" />

    <gisc-ui-label params="for:'maxLatitude',text:i18n('Mapservice_Extent_Max_Latitude')" />
    <gisc-ui-textbox params="id:'maxLatitude', value:maxLatitude,filter:{type :'numeric', numericType:'float'}" />

    <!-- Visible -->
    <gisc-ui-label params="text:i18n('Mapservice_Visible')" />
    <gisc-ui-dropdown params= "options:mapServiceVisibleOptions,
                               optionsText:'name',
                               value:mapServiceVisible,
                               " />
    <!-- Use All Component -->
    <gisc-ui-label params="text:i18n('Mapservice_Use_All_Companies')" />
    <gisc-ui-dropdown params= "options:useAllComponentOptions,
                               optionsText:'name',
                               value:useAllComponent,
                              " />
    


</gisc-ui-component>