﻿<gisc-ui-component>
    <!--File-->
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>                 
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        accept: mimeType,
        onRemoveFile: onRemoveFile.bind($data),
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="text: importValidationError"></div>
    
    <!-- ko if: previewDataVisible -->
    <!-- <section data-bind="visible: previewDataVisible"> -->
        <!--Preview Data -->  
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datatable params="
            datasource: previewData,
            columns: [
                { type: 'label', title: 'i18n:CustomPOI_Name', data: 'name' },
                { type: 'label', title: 'i18n:CustomPOI_Description', data: 'description' },
                { type: 'label', title: 'i18n:CustomPOI_Code', data: 'code' },
                { type: 'label', title: 'i18n:CustomPOI_Category', data: 'categoryName' },
                { type: 'label', title: 'i18n:CustomPOI_PoiType', data: 'poiTypeDisplayName' },
                { type:'custom', title: 'i18n:CustomPOI_Icon', render: renderViewnOnMapColumn, data: 'icon.image.fileUrl' },
                { type: 'label', title: 'i18n:CustomPOI_Latitude', data: 'latitude' },
                { type: 'label', title: 'i18n:CustomPOI_Longitude', data: 'longitude' },
                { type: 'label', title: 'i18n:CustomPOI_Radius', data: 'radius' },
                { type: 'label', title: 'i18n:CustomPOI_Country', data: 'countryName' },
                { type: 'label', title: 'i18n:CustomPOI_Province', data: 'provinceName' },
                { type: 'label', title: 'i18n:CustomPOI_District', data: 'cityName' },
                { type: 'label', title: 'i18n:CustomPOI_SubDistrict', data: 'townName' },
                { type: 'label', title: 'i18n:CustomPOI_CustomAreaCode', data: 'customAreaCode' },
            ],
            ordering: false,
            rowId: 'tempId'
            " />
    <!-- </section> -->
    <!-- /ko -->
</gisc-ui-component>