﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text:i18n('CustomPOI_Name'), isRequired:true" />
    <gisc-ui-textbox params="value:name"></gisc-ui-textbox>

    <!--Description-->
    <gisc-ui-label params="text:i18n('CustomPOI_Description')" />
    <gisc-ui-textarea params="value:description"></gisc-ui-textarea>

    <!--Code-->
    <gisc-ui-label params="text:i18n('CustomPOI_Code'), isRequired:true" />
    <gisc-ui-textbox params="value:code , filter: { type: 'alphanumeric'}"></gisc-ui-textbox>
    <!-- <gisc-ui-textbox params="value:code, filter: { type: 'alphanumeric'}"></gisc-ui-textbox> -->
    <!--Category-->
    <gisc-ui-label params="text:i18n('CustomPOI_Category')" />
    <gisc-ui-dropdown params="options:categoryOptions,
                      optionsText:'name',
                      optionsCaption: '',
                      value:category">
    </gisc-ui-dropdown>

    <!-- Poi Type  -->
    <gisc-ui-label params="for: 'ddPoiType', text: i18n('CustomPOI_PoiType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddPoiType',
                              options: poiTypeOptions,
                              optionsText: 'displayName',
                              value: poiType,
                              enable : enablePoiType"></gisc-ui-dropdown>

    <!--Icon-->
    <gisc-ui-label params="text:i18n('CustomPOI_Icon')" />
    <gisc-ui-image-combobox params="id: 'cboIcon',
                             value: iconSelectedItem,
                             optionsCaption: '',
                             options:iconOptions">
    </gisc-ui-image-combobox>

    <!-- Accessible Business Units -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('User_AccessibleBusinessUnits'), isRequired: true"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="id:'cw-accessible' ,
                               ordering: true,
                               datasource: accessibleBusinessUnits,
                               columns: [
                               { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'businessUnitName' , cellTitle: 'businessUnitPath' , orderable: false },
                               { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'businessUnitName' , visible: false }
                               ],
                               rowId: 'id' ,
                               order: orderAccessibleBusinessUnits,
                               removable: true" />
        </div>
        <span data-bind="validationMessage: accessibleBusinessUnits" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addAccessibleBusinessUnit">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>


    <table style="margin-bottom:0px;">
        <tr>
            <td style="width:90%;">
                <gisc-ui-label params="text: i18n('CustomPOI_Location')"></gisc-ui-label>
            </td>
            <td>
                <div class="img-custom-geofencing" data-bind="click:enableClickMap.bind($data)">
                    <!-- ko component: 'svg-icon-customroute-clickonmap' -->
                    <!-- /ko -->
                </div>
            </td>
        </tr>
    </table>
    <hr />

    <!-- Latitude -->
    <gisc-ui-label params="text:i18n('CustomPOI_Latitude') , isRequired:true" />
    <gisc-ui-textbox
        params="id:'lat', value:latitude, immediateValueUpdate:true, filter:{type :'numeric' ,numericType:'float' ,maxDecimalPlaces:8}" />

    <!-- Longitude -->
    <gisc-ui-label params="text:i18n('CustomPOI_Longitude'), isRequired:true" />
    <gisc-ui-textbox
        params="id: 'lon', value:longitude, immediateValueUpdate:true,  filter:{type :'numeric' ,numericType:'float' ,maxDecimalPlaces:8}">
    </gisc-ui-textbox>

    <!-- Radius -->
    <gisc-ui-label params="text:i18n('CustomPOI_Radius'), isRequired:true" />
    <gisc-ui-textbox params="id: 'radius',
     value:radius, 
     enable:isRadiusEnable,
     filter:{type :'numeric' , numericType:'float', maxDecimalPlaces:2},
     "></gisc-ui-textbox>

    <!-- Country -->
    <gisc-ui-label params="text:i18n('CustomPOI_Country'), isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddlCountry',
            options: countryOptions,
            optionsCaption: '',
            optionsText: 'name',
            value: country">
    </gisc-ui-dropdown>

    <!-- Province -->
    <gisc-ui-label params="text:i18n('CustomPOI_Province'), isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddlProvince',
            options: provinceOptions,
            optionsText: 'name',
            optionsCaption: '',
            value: province,
            enable: isDropdownEnable">
    </gisc-ui-dropdown>

    <!-- District / City -->
    <gisc-ui-label params="text:i18n('CustomPOI_District'), isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddlCity',
            options: cityOptions,
            optionsText: 'name',
            optionsCaption: '',
            value: city,
            enable: isDropdownEnable">
    </gisc-ui-dropdown>

    <!-- Subdistrict / Town -->
    <gisc-ui-label params="text:i18n('CustomPOI_SubDistrict')" />
    <gisc-ui-dropdown params="id: 'ddlTown',
            options: townOptions,
            optionsText: 'name',
            optionsCaption: '',
            value: town,
            enable: isDropdownEnable">
    </gisc-ui-dropdown>

    <!-- Check Permission Manage POI Area -->
    <div data-bind="visible: isShowAreaPoi">
        <!-- POI Area -->
        <table style="margin-bottom:0px;">
            <tr>
                <td style="width:90%;">
                    <gisc-ui-label params="text: i18n('CustomPOI_Sub_Area_Location')"></gisc-ui-label>
                </td>
                <td>
                    <div class="img-custom-geofencing" data-bind="click:enableDrawArea.bind($data)"
                        style="margin-right: 5px">
                        <!-- ko component: 'svg-icon-customroute-subarea-clickonmap' -->
                        <!-- /ko -->
                    </div>
                </td>
                <td>
                    <div class="img-custom-geofencing" data-bind="click:deletePointArea.bind($data)">
                        <!-- ko component: 'svg-icon-customroute-subarea-clear' -->
                        <!-- /ko -->
                    </div>
                </td>
            </tr>
        </table>
        <hr />

        <!-- POINT -->
        <div class="field-table-content">
            <gisc-ui-datatable
                params="datasource:areaPoint,
        columns:[{type:'label',title: 'i18n:CustomArea_Point', data: 'point', orderable: false}],rowId: 'id', ordering:false, order:[]  " />
            <span data-bind="validationMessage: areaPoint" class="ko-block-msg-err"></span>
            <span data-bind="validationMessage: areaPointerror" class="ko-block-msg-err"></span>
            <span data-bind="validationMessage: pointerror" class="ko-block-msg-err"></span>

        </div>

        <!--Size-->
        <gisc-ui-label params="text: areaUnit, isHtmlEncode: false"></gisc-ui-label>
        <gisc-ui-field params="value: displaySize"></gisc-ui-field>

        <!--Number of area point-->
        <gisc-ui-label params="text: i18n('CustomArea_NumberAreaPoint')"></gisc-ui-label>
        <gisc-ui-field params="value: numberofareapoint"></gisc-ui-field>


        <!-- SUB POI Area -->
        <div class="field-wrapper">
            <div class="field-table-title">
                <gisc-ui-label params="text: i18n('CustomPOI_Sub_Area_Title')"></gisc-ui-label>
            </div>
            <div class="field-table-content">
                <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
            so we need to add duplicate hidden column and use that column to apply default order instead. 
                               { type: 'label' , title: 'i18n:Sub_POI_Type' , data: 'Type.name'  }        
        -->
                <gisc-ui-datatable params="id:'cw-sub-poiarea' ,
                               ordering: true,
                               datasource: subPOIareaList,
                               columns: [
                               { type: 'label' , title: 'i18n:CustomPOI_Sub_Area_Name' , data: 'name' , cellTitle: 'businessUnitPath' , orderable: true },
                               { type: 'label' , title: 'i18n:CustomPOI_Sub_Area_Type' , data: 'type.displayName', orderable: true  }
                               ],
                                rowId: 'name' ,
                                order:[],
                                selectable: true,
                                selectedRow: selectedSubAreaId,
                                onSelectingRow: _selectingRowHandler,
                                recentChangedRowIds: recentChangedRowIds,
                                removable: true" />
            </div>
            <span data-bind="validationMessage: subPOIareaList" class="ko-block-msg-err"></span>
            <span data-bind="validationMessage: subAreaError" class="ko-block-msg-err"></span>
            <div class="field-table-commands">
                <a class="inline-cmd" data-bind="click: addSubPOIArea">
                    <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
                </a>
            </div>
        </div>
    </div>


</gisc-ui-component>