﻿<gisc-ui-component>

    <!--CurrentValue-->
    <gisc-ui-label params="text: i18n('CustomPOI_Verify_CurrentValue')"></gisc-ui-label>
    <gisc-ui-field params="value: currentValue"></gisc-ui-field>

    <!--Detected Value-->
    <gisc-ui-label params="text: i18n('CustomPOI_Verify_DetectedValue')"></gisc-ui-label>
    <div class="field-table-content">
        <gisc-ui-datatable params="datasource: detectedValue,
                           columns:[
                           {type:'label',title: 'i18n:CustomPOI_Latitude',data: 'lat', orderable: false},
                           {type:'label',title: 'i18n:CustomPOI_Longitude',data: 'lon', orderable: false},],
                           rowId: 'id',
                           selectedRows: selectedItems,
                           showRowSelector: true,
                           rowSelectorType: 'single'" />
    </div>

   

  
</gisc-ui-component>