﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text: i18n('CustomPOI_Name'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!--Description-->
    <gisc-ui-label params="text: i18n('CustomPOI_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>


    <!--CODE-->
    <gisc-ui-label params="text: i18n('CustomPOI_Code')"></gisc-ui-label>
    <gisc-ui-field params="value: code"></gisc-ui-field>

    <!--Category-->
    <gisc-ui-label params="text: i18n('CustomPOI_Category')"></gisc-ui-label>
    <gisc-ui-field params="value: category"></gisc-ui-field>

    <!--Poi Type-->
    <gisc-ui-label params="text: i18n('CustomPOI_PoiType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: poiType"></gisc-ui-field>

    <!--Icon-->
    <gisc-ui-label params="text:i18n('CustomPOI_Icon')" />
    <div class="field-wrapper">
        <!-- ko if:  icon() -->
        <img data-bind="attr: { src: icon(),width: '25px', height: '25px'}" />
        <!-- /ko -->
        <!-- ko if:  icon() == null -->
        <gisc-ui-label params="text:'-'" />
        <!-- /ko -->
    </div>

    <!--Accessible Bu-->
    <gisc-ui-label params="text: i18n('CustomPOI_View_Accessible_BU'), isRequired: true"></gisc-ui-label>
    <div class="field-table-content">
        <gisc-ui-datatable params="datasource:accessibleBusinessUnits,
                                  columns:[
                                    {type:'label',title: 'i18n:CustomRoutes_POIDetail_Name',data: 'businessUnitName', orderable: false},
                                    {type:'label',title: 'i18n:CustomRoutes_POIDetail_Name', visible: false}
                                   ],
                                  rowId: 'id',
                           order: orderAccessibleBusinessUnits,
                           readonly: true" />
    </div>


    <!--CreateDate-->
    <gisc-ui-label params="text: i18n('CustomPOI_View_CreatedDate')"></gisc-ui-label>
    <gisc-ui-field params="value: createdDate"></gisc-ui-field>

    <!--CreateBy-->
    <gisc-ui-label params="text: i18n('CustomPOI_View_CreatedBy')"></gisc-ui-label>
    <gisc-ui-field params="value: createdBy"></gisc-ui-field>

    <!--Last Update Date-->
    <gisc-ui-label params="text: i18n('CustomPOI_View_LastUpdatedDate')"></gisc-ui-label>
    <gisc-ui-field params="value: lastUpdatedDate"></gisc-ui-field>

    <!--Last Update By-->
    <gisc-ui-label params="text: i18n('CustomPOI_View_LastUpdatedBy')"></gisc-ui-label>
    <gisc-ui-field params="value: lastUpdatedBy"></gisc-ui-field>

    <!--Location-->
    <gisc-ui-label params="text: i18n('CustomPOI_Location')"></gisc-ui-label>
    <hr />
    <!--Latitude-->
    <gisc-ui-label params="text: i18n('CustomPOI_Latitude'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: latitude"></gisc-ui-field>

    <!--Longitude-->
    <gisc-ui-label params="text: i18n('CustomPOI_Longitude'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: longitude"></gisc-ui-field>

    <!--Radius-->
    <gisc-ui-label params="text: i18n('CustomPOI_Radius')"></gisc-ui-label>
    <gisc-ui-field params="value: radius"></gisc-ui-field>

    <!--Town-->
    <gisc-ui-label params="text: i18n('CustomPOI_SubDistrict')"></gisc-ui-label>
    <gisc-ui-field params="value: town"></gisc-ui-field>

    <!--City-->
    <gisc-ui-label params="text: i18n('CustomPOI_District')"></gisc-ui-label>
    <gisc-ui-field params="value: city"></gisc-ui-field>


    <!--Province-->
    <gisc-ui-label params="text: i18n('CustomPOI_Province')"></gisc-ui-label>
    <gisc-ui-field params="value: province"></gisc-ui-field>

    <!--Country-->
    <gisc-ui-label params="text: i18n('CustomPOI_Country')"></gisc-ui-label>
    <gisc-ui-field params="value: country"></gisc-ui-field>

    <!-- POINT -->
    <gisc-ui-label params="text: i18n('CustomArea_AreaPoint')"></gisc-ui-label>
    <hr />
    <div class="field-table-content">
        <gisc-ui-datatable params="datasource:areaPoint,
        columns:[{type:'label',title: 'i18n:CustomArea_Point', data: 'point', orderable: false}],rowId: 'id', ordering:false, order:[]  " />
        <span data-bind="validationMessage: areaPoint" class="ko-block-msg-err"></span>
        
    </div>
    <!-- <gisc-ui-label params="text: i18n('CustomPOI_View_Accessible_BU'), isRequired: true"></gisc-ui-label>
    <div class="field-table-content">
        <gisc-ui-datatable params="datasource:accessibleBusinessUnits,
                                  columns:[
                                    {type:'label',title: 'i18n:CustomRoutes_POIDetail_Name',data: 'businessUnitName', orderable: false},
                                    {type:'label',title: 'i18n:CustomRoutes_POIDetail_Name', visible: false}
                                   ],
                                  rowId: 'id',
                           order: orderAccessibleBusinessUnits,
                           readonly: true" />
    </div> -->

    <!--Size-->
    <gisc-ui-label params="text: areaUnit, isHtmlEncode: false"></gisc-ui-label>
    <gisc-ui-field params="value: displaySize"></gisc-ui-field>

    <!--Number of area point-->
    <gisc-ui-label params="text: i18n('CustomArea_NumberAreaPoint')"></gisc-ui-label>
    <gisc-ui-field params="value: numberofareapoint"></gisc-ui-field>
    
    
    <!-- SUB POI Area -->
    <!-- <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('Sub_POI_Title')"></gisc-ui-label>
        </div>
        <div class="field-table-content">
           
            <gisc-ui-datatable params="id:'cw-sub-poiarea' ,
                               ordering: true,
                               datasource: subPOIareaList,
                               columns: [
                               { type: 'label' , title: 'i18n:Sub_POI_Nanme' , data: 'Name' , cellTitle: 'businessUnitPath' , orderable: false },
                               { type: 'label' , title: 'i18n:Sub_POI_Type' , data: 'Type.name'  }
                               ],
                                rowId: 'Name' ,
                                order: subPoiArea,
                                selectable: true,
                                selectedRow: selectedSubAreaId,
                                onSelectingRow: _selectingRowHandler,
                                recentChangedRowIds: recentChangedRowIds,
                                removable: true" />
        </div>
        <span data-bind="validationMessage: subPOIareaList" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addSubPOIArea">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div> -->
        <hr />
        <gisc-ui-label params="text: i18n('CustomPOI_Sub_Area_Title'), isRequired: true"></gisc-ui-label>
    <div class="field-table-content">
        <gisc-ui-datatable params="datasource:subPOIareaList,
                                    columns: [
                                    { type: 'label' , title: 'i18n:CustomPOI_Sub_Area_Name' , data: 'name' , cellTitle: 'businessUnitPath' , orderable: false },
                                    { type: 'label' , title: 'i18n:CustomPOI_Sub_Area_Type' , data: 'type.displayName'  }
                                    ],
                                  rowId: 'id',
                                  ordering:false, 
                                  order:[],
                                  selectable: true,
                                  selectedRow: selectedSubAreaId,
                                  onSelectingRow: _selectingRowHandler" />
                           <!-- order: subPoiArea,
                           readonly: true -->
                           <!-- { type: 'label' , title: 'i18n:Sub_POI_Type' , data: 'Type.name'  }
                            -->
    </div>
</gisc-ui-component>