﻿<gisc-ui-component>
    <!--Company -->
    <gisc-ui-label params="for: 'ddLetterCompany', text:i18n('Common_Company'),isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddLetterCompany',
                            options: companyOptions,
                            optionsID: 'id',
                            optionsCaption: ' ',
                            optionsText: 'name',
                            type:'filter',
                            value: selectedCompany" />

    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddLetterBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddLetterBusinessUnit',
                            options: businessUnitOptions,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            optionsCaption: ' ',
                            value: businessUnitId" />

    <!--Include Sub Business Unit-->
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />

    <!--Vehicle-->
    <gisc-ui-label params="for: 'ddLetterVehicle', text:i18n('Common_Vehicle')" />
    <gisc-ui-dropdown params="id: 'ddLetterVehicle',
                              options: vehicleOptions,
                              optionsText: 'license',
                              optionsCaption: selectedEntityBinding,
                              type: 'filter',
                              value: vehicleId"></gisc-ui-dropdown>

    <!-- Contract No. -->
    <gisc-ui-label params="text:i18n('Contract Number')" />
    <gisc-ui-dropdown params="options:contractNoOptions,
                               optionsText:'contractNo',
                               value:contractNo,
                               optionsCaption: ' ',
                               type:'filter' " />

    <!-- Install Date -->
    <gisc-ui-label params="for: 'txtLetterInstallDate', text: i18n('Install Date')"></gisc-ui-label>
    <div style="width: 100%">
        <div style="width: 40%;float: left;">
            <gisc-ui-datetime params="id:'from' ,value:startDate ,mode:'date' ,maxDate:maxStartDate,dateFormat:formatSet" />
        </div>
        <gisc-ui-label params=" text: 'To'" style="padding-left: 7%"></gisc-ui-label>
        <div style="width: 40%;float: right;">
            <gisc-ui-datetime params="id:'to' ,value:endDate  ,mode:'date' ,maxDate:maxStartDate ,minDate:startDate ,dateFormat:formatSet" />
        </div>
        
    </div>
    <div style="clear: both"></div>
    <!-- Transporter -->
    <gisc-ui-label params="for: 'ddLetterTranspt', text:i18n('Transporter')" />
    <gisc-ui-dropdown params="id: 'ddLetterTranspt',
                            options: transpoterInfos,
                            optionsCaption: ' ',
                            optionsText: 'name',
                            type: 'filter',
                            value: selectedTranspoter" />
    <!-- Year -->
    <gisc-ui-label params="for: 'ddLetterYear', text:i18n('Year')" />
    <gisc-ui-dropdown params="id: 'ddLetterYear',
                            options: yearInfos,
                            optionsCaption: ' ',
                            optionsText: 'name',
                            value: selectedYear" />

    <!-- Show Signature -->
    <gisc-ui-checkbox params="text: i18n('Show Signature'), checked:isShowSignature" />

    <!-- Blank Form -->
    <gisc-ui-checkbox params="text: i18n('Blank Form'), checked:isBlankForm" />

</gisc-ui-component>