<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="for:'txtSimStockName', isRequired:true, text:i18n('Name')" />
    <gisc-ui-textbox params="id:'txtSimStockName', value: name " />

    <!--Code-->
    <gisc-ui-label params="for:'txtSimStockCode', text:i18n('Code')" />
    <gisc-ui-textbox params="id:'txtSimStockCode', value: code,  filter:{type: 'alphanumeric'}" />

    <!--Description-->
    <gisc-ui-label params="for:'txtSimStockDescription', text:i18n('Description')" />
    <gisc-ui-textarea params="id:'txtSimStockDescription', value: desc " />

    <!-- Technician Tearm -->
    <gisc-ui-label params="text:i18n('Common_Technician_Team')," />
    <gisc-ui-dropdown params="options:techTeamInfos,
                                  optionsText:'name',
                                  value:selectedTechTeam,
                                  type:'filter',
                                  optionsCaption:' '
                                  " />

</gisc-ui-component>