﻿<gisc-ui-component>
    <!-- Picture -->
    <gisc-ui-label params="text: i18n('Common_Picture')" />
    <gisc-ui-tooltip params="text: i18n('I018')" />
    <div class="app-img-wrap">
        <div class="app-img-manage-wrap">
            <img data-bind="attr: { src: picturePreviewUrl }" />
        </div>
        <gisc-ui-fileupload params="
            url: uploadUrl,
            fileName: selectedPictureFileName,
            selectedFile: selectedPictureFile,
            accept: pictureMimeTypes,
            onUploadSuccess: onPictureUploadSuccess.bind($data),
            onRemoveFile: removePicture.bind($data)" />
    </div>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtName', isRequired: true, text: i18n('Assets_BoxModelName')" />
    <gisc-ui-textbox params="id: 'txtName', value: name" />
    <!-- Brand -->
    <gisc-ui-label params="for: 'txtBrand', isRequired: true, text: i18n('Assets_BoxModelBrand')" />
    <gisc-ui-textbox params="id: 'txtBrand', value: brand" />
    <!-- Model ID -->
    <gisc-ui-label params="for: 'txtModelId', isRequired: true, text: i18n('Assets_ModelID')" />
    <gisc-ui-tooltip params="text: i18n('I017')" />
    <gisc-ui-textbox params="id: 'txtModelId', value: dltModelId, filter: {type: 'numeric', numericType: 'int', min: 1, maxPrefixDigits: 4}, maxlength: 4" />
    <!-- Package Type with datatables -->
    <gisc-ui-label params="for: 'ddPackageType', isRequired: true, text: i18n('Assets_PackageType')" />
    <gisc-ui-dropdown params="
        id: 'ddPackageType',
        enable: enableUpdatePackageType,
        options: packageTypeDataSource,
        optionsText: 'title',
        optionsCaption: '',
        value: selectedPackageType" />
    <!-- Minimum Device Battery Level -->
    <gisc-ui-label params="for: 'txtMinDeviceBatLV', text: i18n('Assets_MinimumDeviceBatteryLevel')" />
    <gisc-ui-textbox params="id: 'txtMinDeviceBatLV', value: minDeviceBatteryLevel, filter:{type :'numeric', numericType:'decimal', maxDecimalPlaces: 2, min: 0.01}" />
    <!-- Maximum Device Battery Level -->
    <gisc-ui-label params="for: 'txtMaxDeviceBatLV', text: i18n('Assets_MaximumDeviceBatteryLevel')" />
    <gisc-ui-textbox params="id: 'txtMaxDeviceBatLV', value: maxDeviceBatteryLevel, filter:{type :'numeric', numericType:'decimal', maxDecimalPlaces: 2, min: 0.01}" />
    <!-- ko if: selectedPackageType() !== undefined -->
    <!-- Input Events -->
    <gisc-ui-label params="text: i18n('Assets_InputEvents')" />
    <gisc-ui-datatable params="
        id: 'dtInputEvents',
        ordering: false,
        datasource: inputEvents,
        columns: [
            { type: 'label', title: 'i18n:Assets_Event', data: 'name' },
            { type: 'label', title: 'i18n:Assets_DataType', data: 'eventDataTypeDisplayName' }
        ],
        rowId: 'id',
        selectable: false,
        showFilter: false" />
    <!-- Output Events -->
    <gisc-ui-label params="text: i18n('Assets_OutputEvents')" />
    <gisc-ui-datatable params="
        id: 'dtOutputEvents',
        ordering: false,
        datasource: outputEvents,
        columns: [
            { type: 'label', title: 'i18n:Assets_Event', data: 'name' },
            { type: 'label', title: 'i18n:Assets_DataType', data: 'eventDataTypeDisplayName' }
        ],
        rowId: 'id',
        selectable: false,
        showFilter: false" />
    <!-- Input Accessories -->
    <gisc-ui-label params="text: i18n('Assets_InputAccessories')" />
    <gisc-ui-datatable params="
        id: 'dtInputAccessories',
        ordering: false,
        datasource: inputAccessories,
        columns: [
            { type: 'label', title: 'i18n:Assets_Event', data: 'name' },
            { type: 'label', title: 'i18n:Assets_DataType', data: 'eventDataTypeDisplayName' }
        ],
        rowId: 'id',
        selectable: false,
        showFilter: false" />
    <!-- Output Accessories  -->
    <gisc-ui-label params="text: i18n('Assets_OutputAccessories')" />
    <gisc-ui-datatable params="
        id: 'dtOutputAccessories',
        ordering: false,
        datasource: outputAccessories,
        columns: [
            { type: 'label', title: 'i18n:Assets_Event', data: 'name' },
            { type: 'label', title: 'i18n:Assets_DataType', data: 'eventDataTypeDisplayName' }
        ],
        rowId: 'id',
        selectable: false,
        showFilter: false" />
    <!-- /ko -->
    <!-- Description -->
    <gisc-ui-label params="for: 'txtDescription', text: i18n('Common_Description')" />
    <gisc-ui-textarea params="id: 'txtDescription', value: description" />
    <!-- Attachment -->
    <gisc-ui-label params="text: i18n('Assets_Attachment')" />
    <gisc-ui-tooltip params="text: i18n('I006')" />
    <gisc-ui-fileupload params="
        url: uploadUrl,
        fileName: selectedAttachmentFileName,
        fileUrl: selectedAttachmentFileUrl,
        accept: attachmentMimeTypes,
        selectedFile: selectedAttachmentFile,
        onUploadSuccess: onAttachmentUploadSuccess.bind($data),
        onRemoveFile: removeAttachment.bind($data)" />
</gisc-ui-component>