﻿<gisc-ui-component>
    <!--Primary Contact-->
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Companies_PrimaryContact')"></h3>    
        <!--Name-->
        <gisc-ui-label params="for: 'txtPrimaryName', text:i18n('Companies_ContactName'), isRequired: true"/>
        <gisc-ui-textbox params="id: 'txtPrimaryName', value: primaryName" />

        <!--Email-->
        <gisc-ui-label params="for: 'txtPrimaryEmail', text:i18n('Common_Email')"/>
        <gisc-ui-textbox params="id: 'txtPrimaryEmail', value: primaryEmail" />

        <!--Phone-->
        <gisc-ui-label params="for: 'txtPrimaryPhone', text:i18n('Common_Phone'), isRequired: true"/>
        <gisc-ui-textbox params="id: 'txtPrimaryPhone', value: primaryPhone, maxlength: 20" />
    </section>

    <!--Secondary Contact-->
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Companies_SecondaryContact')"></h3>
        <!--Name-->
        <gisc-ui-label params="for: 'txtSecondaryName', text:i18n('Companies_ContactName')"/>
        <gisc-ui-textbox params="id: 'txtSecondaryName', value: secondaryName" />

        <!--Email-->
        <gisc-ui-label params="for: 'txtSecondaryEmail', text:i18n('Common_Email')"/>
        <gisc-ui-textbox params="id: 'txtSecondaryEmail', value: secondaryEmail" />

        <!--Phone-->
        <gisc-ui-label params="for: 'txtSecondaryPhone', text:i18n('Common_Phone')"/>
        <gisc-ui-textbox params="id: 'txtSecondaryPhone', value: secondaryPhone, maxlength: 20" />
    </section>

    <!--Additional Contact-->
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Companies_AdditionalContact')"></h3>

        <!--Name-->
        <gisc-ui-label params="for: 'txtAdditionalName', text:i18n('Companies_ContactName')"/>
        <gisc-ui-textbox params="id: 'txtAdditionalName', value: additionalName" />

        <!--Email-->
        <gisc-ui-label params="for: 'txtAdditionalEmail', text:i18n('Common_Email')"/>
        <gisc-ui-textbox params="id: 'txtAdditionalEmail', value: additionalEmail" />

        <!--Phone-->
        <gisc-ui-label params="for: 'txtAdditionalPhone', text:i18n('Common_Phone')"/>
        <gisc-ui-textbox params="id: 'txtAdditionalPhone', value: additionalPhone, maxlength: 20" />
    </section>

</gisc-ui-component>