﻿<gisc-ui-component>
    <!--UseNostraMap-->
    <gisc-ui-checkbox params="text:i18n('Companies_UseNostraMap'), checked:useNostraMap"></gisc-ui-checkbox>

    <!--Map Default-->
    <gisc-ui-label params="text: i18n('Companies_Default_Map_Services')" />
    <gisc-ui-tooltip params="text: i18n('I003', [ logoSuggestionWidth, logoSuggestionHeight])"></gisc-ui-tooltip>
    <!--Table Map Default-->
    <gisc-ui-datatable params="
    datasource: mapDefault,
    columns: [
                    { type: 'label', title: 'i18n:Companies_Base_Map_Item', data: 'baseMapItem', orderable: false },
                    { type: 'label', title: 'i18n:Companies_Layer_Name', data: 'layerName', orderable: false },
                    { type: 'label', title: 'i18n:Companies_URL_Local', data: 'urlLocal', orderable: false },
                    { type: 'label', title: 'i18n:Companies_URL_English', data: 'urlEnglish', orderable: false }
                ],
    order: order

    " />
    <gisc-ui-label params="text: i18n('Companies_Additional_Map_Services')" />
    <!-- ko if: isValidationAddition -->
    <p data-bind="text: i18n('M001'), style: { 'color': '#d34f4f', 'font-size': '0.8em' }" />
    <!-- /ko -->
    <gisc-ui-datatable params="
    datasource: mapAdditional,
    columns: [
        { type: 'label', title: 'i18n:Companies_Base_Map_Item', data: 'baseMapItem', orderable: false },
        { type: 'label', title: 'i18n:Companies_Layer_Name', data: 'layerName', orderable: false },
        { type: 'label', title: 'i18n:Companies_URL_Local', data: 'urlLocal', orderable: false },
        { type: 'label', title: 'i18n:Companies_URL_English', data: 'urlEnglish', orderable: false }
    ],
    order: order,
    rowId: 'id',
    showRowSelector: true,
    selectedRows: selectedItems
    " />

    
    <gisc-ui-label params="for: 'ddIdentify', text:i18n('Companies_Map_Services_Identify') " />
    <!-- ko if: isValidationIdentify -->
    <p data-bind="text: i18n('M001'), style: { 'color': '#d34f4f', 'font-size': '0.8em' }" />
    <!-- /ko -->
    <gisc-ui-dropdown params="id: 'ddIdentify',
        options: identifyOptions,
        optionsText: 'serviceName',
        optionsCaption: '',
        value: identify,
        enable: isEnableIdentify
        "/>      
</gisc-ui-component>