<gisc-ui-component>
    <!-- Main Vehicle -->
    <gisc-ui-label params="text: 'Main Vehicle'" /><br>

    <!-- Vehicle Type -->
    <gisc-ui-label params="text: 'Vehicle Type', isRequired: true" />
    <gisc-ui-dropdown params="
            options: typeOptions,
            optionsCaption: '',
            optionsText: 'displayName', 
            value: vehicleType
            "/>

    <gisc-ui-checkbox params="text: 'Is Inside POI', checked:isInsidePOI" />

    <!-- Max Distance -->
    <gisc-ui-label params="text: 'Max Distance (m)', isRequired: true" />
    <gisc-ui-textbox params="id: 'txtMaxDistance', value: maxDistance , filter:{type :'numeric', numericType:'int', min: 1}" />
    
    <!-- Max Difference Track Location (sec) -->
    <gisc-ui-label params="text: 'Max Difference Track Location (sec)', isRequired: true" />
    <gisc-ui-textbox params="id: 'txtMaxDistanceTrack', value: maxDistanceTrackLocation , filter:{type :'numeric', numericType:'int', min: 1 }" />
 
    <!-- Detect Feature -->
    <gisc-ui-label params="text: 'Detect Feature' " />

    <gisc-ui-datatable params="
        id: 'dtDetectFeatureMainList',
        datasource: detectFeatureMain,
        onDataSourceChanged: onDetectFeatureMainChanged.bind($data,'main'),
        columns: [
            { type: 'dropdown', title: 'i18n:Common_Feature', data: 'selectedFeature', optionsCaption: '', optionsData: 'features', optionsValue: 'id', optionsText: 'name' ,validationData:'error' },
            { type: 'dropdown',title: 'Status', data: 'selectedStatus' ,optionsCaption: '' ,optionsData: 'statuses',optionsValue: 'value', optionsText: 'name' ,validationData:'errorStatus',width:'60px'},
        ],
        rowId: 'id',
        ordering: false,
        removable: true,
        " />

    <!-- Add -->
    <div class="field-wrapper">
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addDetectFeatureMain.bind($data,1)">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text: 'Add'"></span>
            </a>
        </div>
    </div>

    <!-- Pairing Vehicle -->
    <gisc-ui-label params="text: 'Pairing Vehicle'" /><br>

    <!-- Vehicle Type -->
    <gisc-ui-label params="text: 'Vehicle Type' " />
    <gisc-ui-dropdown params="
        options: typeOptions,
        optionsCaption: '',
        optionsText: 'displayName', 
        value: ddlType
        "/>

    <!-- Detect Feature -->
    <gisc-ui-label params="text: 'Detect Feature'" />

    <gisc-ui-datatable params="
        id: 'dtDetectFeaturePairList',
        datasource: detectFeaturePair,
        onDataSourceChanged: onDetectFeatureMainChanged.bind($data,'pair'),
        columns: [
            { type: 'dropdown', title: 'i18n:Common_Feature', data: 'selectedFeature', optionsCaption: '', optionsData: 'features', optionsValue: 'id', optionsText: 'name',validationData:'error' },
            { type: 'dropdown',title: 'Status', data: 'selectedStatus' ,optionsCaption: '' ,optionsData: 'statuses',optionsValue: 'value', optionsText: 'name',validationData:'errorStatus',width:'60px'},
        ],
        rowId: 'id',
        ordering: false,
        removable: true,
        " />

    <!-- Add -->
    <div class="field-wrapper">
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addDetectFeatureMain.bind($data,2)">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text: 'Add'"></span>
            </a>
        </div>
    </div>
</gisc-ui-component>