<!-- ko if: visible() -->
<div class="app-blade-status-container" data-bind="css: type, attr: {title: text}">
    <div class="app-blade-status">
        <span class="app-blade-status-icon"><!-- ko component: effectiveIcon --><!-- /ko --></span>
        <span class="app-blade-status-text" data-bind="text: text"></span>
        <span class="app-blade-status-arrow" data-bind="click: close"><!-- ko component: 'svg-blade-close' --><!-- /ko --></span>
    </div>
</div>
<!-- /ko -->