﻿<!--
    Screen: Create/Update Driver Performance Rule
-->
<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtAdvanceDriveRuleName', isRequired: true, text:i18n('DriverPerformanceRules_Name')" />
    <div style="width:65%">
        <gisc-ui-textbox params="id: 'txtAdvanceDriveRuleName', value: driveRuleName" />
    </div>
    <!-- Description -->
    <gisc-ui-label params="for: 'txtAdvanceDriveRuleDescription', isRequired: false, text:i18n('Common_Description')" />
    <div style="width:65%">
        <gisc-ui-textarea params="id: 'txtAdvanceDriveRuleDescription', value: driveRuleDescription" />
    </div>
    <!-- Enable -->
    <gisc-ui-label params="for: 'ddAdvanceDriveRuleEnable', isRequired: true, text:i18n('Common_Enable')" />
    <div style="width:25%">
        <gisc-ui-dropdown params="
            id: 'ddDriveRuleEnable',
            options: driveRuleEnableDS,
            optionsText: 'title',
            value: driveRuleEnabled" />
    </div>


    <!-- Driving Efficiency -->
    <div style="width:100%">
        <gisc-ui-label params="for: 'txtAdvanceDrivingEfficiency', text:i18n('AdvanceDriverPerformanceRules_DrivingEfficiency')" />
    </div>

    <!-- Target Score -->
    <div style="padding-left:10px">
        <gisc-ui-label params="for: 'txtAdvanceTargetScore', text:i18n('AdvanceDriverPerformanceRules_TargetScore'), isRequired:true" />
        <gisc-ui-tooltip params="text:i18n('I036')" />
        <div style="width:15%"><gisc-ui-textbox params="id: 'txtAdvanceDriveRuleTargetScore', value: targetScore,filter:{type :'numeric',maxPreDecimalPlaces:3, numericType:'float' ,maxDecimalPlaces:2,max:100}" /></div>
    </div>

    <!-- Percent Weight -->
    <div style="width:100%">
        <gisc-ui-label params="for: 'txtAdvancePercentWeight', text:i18n('AdvanceDriverPerformanceRules_PercentWeight'), isRequired:true" />
        <gisc-ui-tooltip params="text:i18n('I037')" />
    </div>

    <!-- Target Score -->
    <div class="col-12" style="padding-left:10px">
        <div class="row">
            <div class="col-3">
                <gisc-ui-label params="for: 'txtAdvanceSpeedingScore', text:i18n('AdvanceDriverPerformanceRules_SpeedingScore')" />
            </div>
            <div class="col-3" style="padding-left:30px">
                <gisc-ui-label params="for: 'txtAdvanceBehaviorScore', text:i18n('AdvanceDriverPerformanceRules_BehaviorScore')" />
            </div>
            <div class="col-4" style="padding-left:30px">
                <gisc-ui-label params="for: 'txtAdvanceFuelUsedRateScore', text:i18n('AdvanceDriverPerformanceRules_FuelUsedRateScore')" />
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="max-width:22%;padding-left:30px">
                <div style="width:100%">
                    <div style="width:80%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceSpeedingScore', value: speedingScore,filter:{type :'numeric',maxPreDecimalPlaces:2, numericType:'float' ,maxDecimalPlaces:2}" /></div>
                    <div style="padding-left:50px"><span> %</span></div>
                </div>
            </div>
            <div style="font-size:20px"><span> +</span></div>

            <div class="col-3" style="padding-left:50px;">
                <div style="width:100%">
                    <div style="width:82%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceBehaviorScore', value: behaviorScore,filter:{type :'numeric',maxPreDecimalPlaces:2, numericType:'float' ,maxDecimalPlaces:2}" /></div>
                    <div style="padding-left:50px"><span> %</span></div>
                </div>
            </div>

            <div style="font-size:20px"><span> +</span></div>
            <div class="col-3" style="padding-left:50px">
                <div style="width:100%">
                    <div style="width:82%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceFuelUsedRateScore', value: fuelRateScore,filter:{type :'numeric',maxPreDecimalPlaces:2, numericType:'float' ,maxDecimalPlaces:2}" /></div>
                    <div style="padding-left:50px"><span> %</span></div>
                </div>
            </div>
            <div><span> = 100 %</span></div>

        </div>
    </div>

    <!-- Scale and Meaning -->
    <div style="width:100%">
        <gisc-ui-label params="for: 'txtAdvancePercentWeight', text:i18n('AdvanceDriverPerformanceRules_ScaleandMeaning'), isRequired:true" />
        <gisc-ui-tooltip params="text:i18n('I038')" />
    </div>

    <div class="col-12" style="padding-left:10px">
        <div class="row" style="padding-top:5px">
            <div class="col-3 box-advance-driver-performance-rule-bad" style="max-width:10%"></div>
            <div class="col-3" style="padding-left:10px;max-width:10%">
                <gisc-ui-label params="text:i18n('AdvanceDriverPerformanceRules_ScaleandMeaningBad')" />
            </div>
            <div class="col-3" style="max-width: 6%;padding-right: 0">
                <span class="advance-driver-rule-scale-span"> = > </span>
            </div>
            <div class="col-3 advance-driver-rule-range-fair-begin">
                <div style="width:100%">
                    <div style="width:45%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceDriveBadMin', value: badMin , enable : false" /></div>
                </div>
            </div>
            <div class="col-3" style="margin-left: -10%;">
                <span class="advance-driver-rule-scale-span"> < = </span>
            </div>
            <div class="col-3 advance-driver-rule-range-end">
                <div style="width:100%">
                    <div style="width:50%;float:right"><gisc-ui-textbox params="id: 'txtAdvanceDriveBadMax', value: badMax, enable : false" /></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 box-advance-driver-performance-rule-fair" style="max-width:10%"></div>
            <div class="col-3" style="padding-left:10px;max-width:10%">
                <gisc-ui-label params="text:i18n('AdvanceDriverPerformanceRules_ScaleandMeaningFair')" />
            </div>

            <div class="col-3 advance-driver-rule-span-fair">
                <span class="advance-driver-rule-scale-span-fair"> > </span>
            </div>
            <div class="col-3 advance-driver-rule-range-fair-begin">
                <div style="width:100%">
                    <div style="width:45%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceDriveFairMin', value: fairMin, enable : true,filter: {type :'numeric', numericType:'float' ,max:100,maxDecimalPlaces:2}" /></div>
                </div>
            </div>
            <div class="col-3" style="margin-left: -10%;">
                <span class="advance-driver-rule-scale-span"> < = </span>
            </div>
            <div class="col-3 advance-driver-rule-range-end">
                <div style="width:100%">
                    <div style="width:50%;float:right"><gisc-ui-textbox params="id: 'txtAdvanceDriveFairMax', value: fairMax, enable : false" /></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-3 box-advance-driver-performance-rule-good" style="max-width:10%"></div>
            <div class="col-3" style="padding-left:10px;max-width:10%">
                <gisc-ui-label params="text:i18n('AdvanceDriverPerformanceRules_ScaleandMeaningGood')" />
            </div>

            <div class="col-3 advance-driver-rule-span-fair">
                <span class="advance-driver-rule-scale-span-fair"> > </span>
            </div>
            <div class="col-3 advance-driver-rule-range-fair-begin">
                <div style="width:100%">
                    <div style="width:45%;float:left"><gisc-ui-textbox params="id: 'txtAdvanceDriveGoodMin', value: goodMin, enable : true,filter: {type :'numeric', numericType:'float',max:100 ,maxDecimalPlaces:2}" /></div>
                </div>
            </div>
            <div class="col-3" style="margin-left: -10%;">
                <span class="advance-driver-rule-scale-span"> < = </span>
            </div>
            <div class="col-3 advance-driver-rule-range-end">
                <div style="width:100%">
                    <div style="width:50%;float:right"><gisc-ui-textbox params="id: 'txtAdvanceDriveGoodMax', value: goodMax, enable : false" /></div>
                </div>
            </div>

        </div>
    </div>

    <!-- Sub Menu -->
    <section>
        <ul id="sub-menu-items" class="gisc-ui-listview gisc-ui-listview-bordered">
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 1), css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-link-inherit" title="Subscriptions" href="#">
                            <span data-bind="text: i18n('AdvanceDriverPerformanceRules_AccessibleBusinessUnits')"></span><span class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: accessibleBusinessUnits" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 2), css: { 'selected': selectedSubMenuItem() == 2 }" class="gisc-ui-link-inherit" title="Contacts" href="#">
                            <span data-bind="text: i18n('AdvanceDriverPerformanceRules_Speed')"></span><span class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: speedInfos" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 2 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 3), css: { 'selected': selectedSubMenuItem() == 3 }" class="gisc-ui-link-inherit" title="Regional" href="#">
                            <span data-bind="text: i18n('AdvanceDriverPerformanceRules_Behavior')"></span><span class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: behaviorInfos" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 3 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 4), css: { 'selected': selectedSubMenuItem() == 4 }" class="gisc-ui-link-inherit" title="Regional" href="#">
                            <span data-bind="text: i18n('AdvanceDriverPerformanceRules_Fuel')"></span><span class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: fuelInfos" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 4 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
   
</gisc-ui-component>