﻿<gisc-ui-component>

    <gisc-ui-label params="for: 'txtAdvanceBehavior', text:i18n('AdvanceDriverPerformanceRules_Speed')" />
    <gisc-ui-tooltip params="text:i18n('I039')" />

    <gisc-ui-datatable params="
                id:'ca-advance-driver-speed',
                datasource: speedInfos,
                onDataSourceChanged: onDataSourceChanged.bind($data),
                ordering: false,
                columns: [
                    { type: 'checkbox', title: 'i18n:AdvanceDriverPerformanceRules_BestSpeedRange', data: 'bestSpeedRange', autoWidth: true,className: 'dt-body-center',width: '30%' },
                    { type: 'rangeandtextbox', title: 'i18n:AdvanceDriverPerformanceRules_Speed', dataMin: 'speedFrom', dataMax: 'speedTo', width: '30%',rangeBegin:'speedFrom' ,rangeEnd:'speedTo',disableSpan:'disableSpan'
                             ,className: 'dt-body-center',maxlength: 3,validationData:'error',isMorethanEqual:true},
                ],
                rowId: 'id',
                removable: {visible:'canDelete'},
                onRemovable: onRemovable.bind($data)
                " />

    <span data-bind="validationMessage: speedInfos" class="ko-block-msg-err"></span>
    <div class="field-table-commands">
        <a class="inline-cmd" data-bind="click: addSpeed, visible: true">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span data-bind="text:i18n('Common_Add')"></span>
        </a>
    </div>
</gisc-ui-component>