﻿<gisc-ui-component>
    <gisc-ui-datagrid params="
        id:'dg-ticket-transporter',
        onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        columns: [
            { type: 'text', title: 'i18n:Code', data: 'code', width: '90px' },
            { type: 'text', title: 'i18n:Name', data: 'name', width: '90px' },
            { type: 'text', title: 'i18n:Formal Name', data: 'formalName', width: '130px' },
            { type: 'text', title: 'i18n:No of<br />Contract', data: 'noOfContract', width: '90px', filterable: false, sortable: false },
            { type: 'text', title: 'i18n:Update Date', data: 'formatUpdateDate', width: '120px', filterable: false, sortable: false },
            { type: 'text', title: 'i18n:Update By', data: 'updateBy', width: '105px', filterable: false, sortable: false },
        ],
        rowId: 'id',
        showFilter: true,
        onSelectingRow: selectedRow,
        filterable:true
    "/>
    
</gisc-ui-component>