﻿<gisc-ui-component>
    <gisc-ui-label params="for:'txtCode',text:i18n('Code'), isRequired:true" />
    <gisc-ui-textbox params="id:'txtCode', value:code" />

    <gisc-ui-label params="for:'txtName',text:i18n('Name'), isRequired:true" />
    <gisc-ui-textbox params="id:'txtName', value:name" />

    <gisc-ui-label params="for:'txtFormalName',text:i18n('Formal Name'), isRequired:true" />
    <gisc-ui-textbox params="id:'txtFormalName', value:formalName" />

    <gisc-ui-label params="for: 'ddTrasporterStatus', text: i18n('Common_Status'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddTrasporterStatus',
                            options: status,
                            optionsText: 'displayName',
                            optionsCaption: '',
                            value: selectedStatus" />
    <hr>
    <gisc-ui-label params="text:i18n('Mail Information')" />
    <br />
    <gisc-ui-label params="for:'txtTo',text:i18n('To'), isRequired:true" />
    <gisc-ui-tooltip params="text: i18n('I012')" />
    <gisc-ui-textbox params="id:'txtTo', value:mailTo" />

    <gisc-ui-label params="for:'txtCC',text:i18n('CC')" />
    <gisc-ui-tooltip params="text: i18n('I012')" />
    <gisc-ui-textbox params="id:'txtCC', value:mailCC" />

    <gisc-ui-label params="for:'txtSubject',text:i18n('Subject'), isRequired:true" />
    <gisc-ui-textbox params="id:'txtSubject', value:mailSubject" />

    <!--Mail Body-->
    <gisc-ui-label params="text:i18n('Mail Body') ,isRequired:true" />
    <gisc-ui-textarea params="value:mailBody" />

    <!--Sub Menu-->
    <ul id="sub-menu-items" class="gisc-ui-listview gisc-ui-listview-bordered">
        <li>
            <div class="gisc-ui-button">
                <div class="gisc-ui-button-text">
                    <a data-bind="click: onSelectSubMenuItem.bind($data, 1), css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-link-inherit" title="Vehicles" href="#">
                        <span data-bind="text: i18n('Common_Vehicles')"></span><span class='gisc-ui-required'>*</span>
                        <span data-bind="validationMessage: vehicles" class="ko-block-msg-err"></span>
                        <i data-bind="css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>


</gisc-ui-component>