﻿<gisc-ui-component>
    <!-- ko if: dataSource().length -->
    <gisc-ui-datagrid params="
        id: 'dg-transporter-vehicle-selected',
        onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        columns:[
            { type: 'object' , title: '' , data: 'vehicleId', headerTemplate: renderRemoveColumn, onHeaderClick: onRemoveAllTrackLocationClick.bind($data), template: renderRemoveColumn, onClick: onRemoveTrackLocationClick.bind($data), columnMenu: false, columnMenuItem: false, sortable: false, resizable: false},
            { type: 'text' , title: 'i18n:Common_Company' , data: 'companyName' },
            { type: 'text' , title: 'i18n:Common_BusinessUnit' , data: 'businessUnitPath' },
            { type: 'text' , title: 'i18n:License' , data: 'vehicleLicense' }
        ]
        rowId: 'vehicleId',
        resizable: true,
        toolbar: false,
        pageSize: 50,
        pageSizeOptions: [50, 100]
    " />

    <!-- /ko -->
    <!-- ko ifnot: dataSource().length -->
    <p data-bind="text: i18n('M110')"></p>
    
    <!-- /ko -->
</gisc-ui-component>