<gisc-ui-component params="codeHighlight:true">

    <article class="markup-container sdk-body">
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>

                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>options</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>

                    <tr>
                        <td><code>optionsCaption</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>value</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>

                </tbody>
            </table>
        </section>
        <gisc-ui-markdown>

            ## Parameters Details
            * __Required Parameters__
            * `value` Get/Set value from the image combobox.
            * `options` Datasource for list items, You should supply an array (or observable array).
            * __Optional Parameters__
            * `id` Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.
            * `visible` Flag to determine whether this control is visible or not. If set to false the control is not render
            * `optionsCaption` First item act as placeholder with no value assigned to this item. Use when field is optional.

        </gisc-ui-markdown>


        <h2>Examples</h2>
        <section id="exp1">
            <h3>Basic Example</h3>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-image-combobox params="id: 'cboTest',
                             value:selectedItem,
                             options:myData"&gt;
&lt;/gisc-ui-image-combobox&gt;
&lt;gisc-ui-button params="text: 'setNewValue',
           onclick: setNewValue.bind($data)" /&gt;
&lt;p data-bind="text: selectedItem() ? selectedItem().text : 'Not Selected'"&gt;&lt;/p&gt;</code></pre>
            <pre><code class="hljs js">// View Model
 this.myData=ko.observableArray([                    
                               
                {image:'../images/ic-calendar.svg',  value:'amex', text:'Amex'},
                {image:'../images/ic-calendar.svg',  value:'Discover', text:'Discover'},
                {image:'../images/ic-calendar.svg', value:'Mastercard', text:'Mastercard'},
                {image:'../images/ic-calendar.svg',  value:'cash', text:'Cash on devlivery'},
                {image:'../images/ic-calendar.svg',  value:'Visa', text:'Visa'},
                {image:'../images/ic-calendar.svg',  value:'Paypal', text:'Paypal'},
                {image:'../images/ic-calendar.svg',  value:'Paypal1', text:'Paypal1'},
                {image:'../images/ic-calendar.svg',  value:'Paypal2', text:'Paypal2'},
                {image:'../images/ic-calendar.svg',  value:'Paypal3', text:'Paypal3'}
                ])
this.selectedItem = ko.observable();
setNewValue() {
        this.selectedItem({image:"../images/ic-calendar.svg",  value:"Paypal1", text:"Paypal1"});
 }              
                </code></pre>

            <h4>Output</h4>
            <div class="output">
                <gisc-ui-image-combobox params="value:selectedItem,
                             options:myData">
                </gisc-ui-image-combobox>

                <p data-bind="text: selectedItem() ? selectedItem().text: 'Not Selected'"></p>
                <gisc-ui-button params="text: 'setNewValue',
                        onclick: setNewValue.bind($data)" />
            </div>
        </section>

    </article>

 
</gisc-ui-component>