﻿<gisc-ui-component>
    <div class="divPerfomanceScore">
        <div style="width:49%; height:60%; float: left;margin-bottom: 5% ">
            <div style="width:100%; text-align:center;">
                <p data-bind="text: i18n('Dashboard_Driver_Performance_Score_Chart_Title_Average_Drive_Score')" class="fontTitle uppercase"></p>
            </div>

            <gisc-ui-baramchart params="data: barChartMain, 
                                        nameChart: nameChart, 
                                        valueAxesGuide: valueAxesGuide, 
                                        valueAxesCustomMaximum: 100,
                                        categoryLabelRotateAngle:30,
                                        showChartScrollbar: isShowChartScrollbar,
                                        disabledZoomOut: false,
                                        isShowBallonText: true,
                                        initialZoom: [0,6],
                                        hilightClickItem: true,
                                        isCategoryAxisLabelTruncate: true,
                                        fixedColumnWidth: fixedColumnWidth,
                                        onClickBarChart:barChartCallback.bind($data)" />
            <div style="width:100%; text-align:center;">
                <span class="avg-line-driverperformance-legend">
                </span>
                <span data-bind="text: i18n('Limit Average Score(60)')" />
            </div>
        </div>
        <div style="width:49%; height:60%;  float: left; margin-bottom: 5%">
            <gisc-ui-radarchart params="data: radarChart" />
        </div>

        <div style="width:49%; height:35%; float: left">
            <div style="width:100%; text-align:center;">
                <p data-bind="text: i18n('Dashboard_Driver_Performance_Score_Chart_Title_Driver_Grading')" class="fontTitle uppercase"></p>
            </div>
            <div style="width:50%; text-align:left; position: relative; left:5px">
                <span data-bind="text: i18n('Dashboard_Driver_Performance_Business_Unit')" class="fontTitle font_11"></span>
                <span class="fontTitle uppercase font_11">:</span>
                <span data-bind="text: buName " class="fontTitle  font_11" style="color: gray"></span>

            </div>
            <div style="height: 100%">
                <gisc-ui-baramchart params="data: barChart2, 
                                            nameChart: nameChart2,
                                            isShowBallonText: true," />
            </div>
            <div style="width:100%; text-align:center;">
                <p data-bind="text: i18n('Dashboard_Driver_Performance_Score_TableColumn_Grade')" class="fontTitle font_11"></p>
            </div>
        </div>
        <div style="width:49%;   float: left; vertical-align:top;">
            <gisc-ui-datagrid params="source:apiDataSource,
                onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
                id: 'dgDriverPerformanceScore',
                pageSizeOptions: false,
                pageable: false,
                columns : columns,
                height:dgDriverPerformanceScoreHeight,
                rowId: 'id'" />
            <br>
            
            <gisc-ui-button params="text:i18n('Dashboard_Driver_Performance_Score_Btn_View_Full_Report'),onclick:viewFullReport.bind($data)"
                style="position: relative; left: 48%;"></gisc-ui-button>


        </div>

    </div>


</gisc-ui-component>