<gisc-ui-component>
    <article>
        <section>
            <gisc-ui-label params="for: 'ddPlant', text: i18n('BOMs_Reports_Plant')"></gisc-ui-label>
            <gisc-ui-dropdowntree params=" id: 'ddPlant',
                                            options:plant,
                                            optionsID:'id',
                                            optionsText:'name',
                                            optionsParent:'parentBusinessUnitId',
                                            optionsChildren:'childBusinessUnits',
                                            value:selectedPlant,
                                            mode:'update'" />
            
            <!-- TravelMode -->
            <gisc-ui-label params="for: 'ddTravelMode', text: i18n('BOMs_Reports_TravelMode')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddTravelMode',
                                    options: travelMode,
                                    optionsText: 'displayName',
                                    optionsCaption: ' ',
                                    value: selectedTravelMode" />

            <!-- ShiftMode -->
            <gisc-ui-label params="for: 'ddShiftMode', text: i18n('BOMs_Reports_ShiftMode')"></gisc-ui-label>
            <gisc-ui-dropdown-multiselect params="id: 'ddShiftMode',
                                    optionsID:'id',
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    options: shiftMode,
                                    value: selectedShiftMode" />

        </section>
    </article>
</gisc-ui-component>