<gisc-ui-component>
    <div class="realtime-dashboard-label">
        <span class="margin-right-10">
			<gisc-ui-label params="text: dashBoardHeadTxt"/>
		</span>
		<span>
			<gisc-ui-checkbox params="text: autoRefreshTxt, checked: isAutoRefresh" />
		</span>
        <span class="margin-right-20">
			<gisc-ui-field params="value: lastSyncDisplay"></gisc-ui-field>
		</span>
		<span>
			<gisc-ui-label params="text: i18n('BOMs_Reports_Plant')"/>:
		</span>
		<span class="margin-right-20">
			<gisc-ui-field params="value: plantDisplayName"></gisc-ui-field>
		</span>
		<span>
			<gisc-ui-label params="text: i18n('BOMs_Reports_TravelMode')"/>:
		</span>
		<span class="margin-right-20">
			<gisc-ui-field params="value: travelModeDisplayName"></gisc-ui-field>
		</span>
		<span>
			<gisc-ui-label params="text: i18n('BOMs_Reports_ShiftMode')"/>:
		</span>
		<span>
			<gisc-ui-field params="value: shiftModeDisplayName"></gisc-ui-field>
		</span>
    </div>
   
    <div class="number-of-bus-main">

        <div>
			<gisc-ui-label params="text: numberOfBusTxt" style="float: left;"/>
			<div class="app-balloon-icon" style="
				float: left;
				margin-top: 2px;
				margin-left: 5px;">
				<img style="cursor: pointer" data-bind="click:onClickIconDetail.bind($data), attr: { src: iconDetail }">
			</div>
        </div>

        <div class="number-of-bus-container">
            <div class="number-of-bus-box">
				<div class="number-of-bus-box-status" data-bind="click:onClickBox.bind($data, 'lateBox', '1') ,style: { backgroundColor: lateBoxColor }">

						<div class="box-value-container" >
								<div class="bus-box" >
										<div>
										<!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#58595b;}</style></defs><title>ic_bus1</title><path class="cls-1" d="M23.06,1.52H8.91A5.27,5.27,0,0,0,3.64,6.79v16a5.28,5.28,0,0,0,3.5,5v1.71a.83.83,0,0,0,.84.84h2a.84.84,0,0,0,.85-.84V28.07H21.17v1.41a.84.84,0,0,0,.85.84h2a.83.83,0,0,0,.84-.84V27.77a5.28,5.28,0,0,0,3.5-5v-16A5.27,5.27,0,0,0,23.06,1.52ZM12,3h7.89a.89.89,0,0,1,0,1.77H12A.89.89,0,0,1,12,3Zm-1.65,21.8H6.21a1.13,1.13,0,0,1-1.13-1.12V21.36a1.13,1.13,0,0,1,1.67-1l4.18,2.29A1.12,1.12,0,0,1,10.39,24.77Zm7.83,0H13.64a.68.68,0,0,1,0-1.36h4.58a.68.68,0,1,1,0,1.36Zm8.59-1.12a1.13,1.13,0,0,1-1.13,1.12H21.5A1.12,1.12,0,0,1,21,22.66l4.18-2.29a1.13,1.13,0,0,1,1.67,1Zm.08-9A1.63,1.63,0,0,1,26.17,16C18.36,21.27,9,17.44,6,16a1.63,1.63,0,0,1-.93-1.47V7.78A1.65,1.65,0,0,1,6.6,6.14a110.22,110.22,0,0,1,18.81,0,1.65,1.65,0,0,1,1.48,1.64Z"/><path class="cls-1" d="M29.12,8v6.14c1.07,0,1.94-1.37,1.94-3.07S30.19,8,29.12,8Z"/><path class="cls-1" d="M.92,11.11c0,1.7.86,3.07,1.93,3.07V8C1.78,8,.92,9.42.92,11.11Z"/></svg> -->
										<img data-bind="attr:{ src: busImgUrl}" />
										</div>
										<div data-bind="text: busLateNum, attr:{ class: 'box-font'}">
										
										<!-- <label data-bind="text: busLateNum"></label> -->
										</div>
								</div>
								<div class="pipe-box" >
								<div class="white-space">  </div>
								<div class="pipe-space"><label> </label></div>
								</div>
								<div class="user-box" >  
										<div>
												<img data-bind="attr:{ src: passengerImgUrl}" />
										</div>
										<div data-bind="text: userLateNum, attr:{ class: 'box-font'}">
												<!-- <label data-bind="text: userLateNum"></label> -->
										</div>
								</div>
						</div>
				

						<div data-bind="attr:{ class: 'box-div'}">
						<label data-bind="text: busLateTxt, attr:{ class: 'box-label'}"></label>
						</div>

				</div>
				<div class="number-of-bus-box-status" id="lateBox"></div>
			</div>
			<div class="number-of-bus-box">
				<div class="number-of-bus-box-status" data-bind="click:onClickBox.bind($data, 'maybelateBox', '2') ,style: { backgroundColor: maybeLateBoxColor }">

						<div class="box-value-container" >
								<div class="bus-box" >
										<div>
												<!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#58595b;}</style></defs><title>ic_bus1</title><path class="cls-1" d="M23.06,1.52H8.91A5.27,5.27,0,0,0,3.64,6.79v16a5.28,5.28,0,0,0,3.5,5v1.71a.83.83,0,0,0,.84.84h2a.84.84,0,0,0,.85-.84V28.07H21.17v1.41a.84.84,0,0,0,.85.84h2a.83.83,0,0,0,.84-.84V27.77a5.28,5.28,0,0,0,3.5-5v-16A5.27,5.27,0,0,0,23.06,1.52ZM12,3h7.89a.89.89,0,0,1,0,1.77H12A.89.89,0,0,1,12,3Zm-1.65,21.8H6.21a1.13,1.13,0,0,1-1.13-1.12V21.36a1.13,1.13,0,0,1,1.67-1l4.18,2.29A1.12,1.12,0,0,1,10.39,24.77Zm7.83,0H13.64a.68.68,0,0,1,0-1.36h4.58a.68.68,0,1,1,0,1.36Zm8.59-1.12a1.13,1.13,0,0,1-1.13,1.12H21.5A1.12,1.12,0,0,1,21,22.66l4.18-2.29a1.13,1.13,0,0,1,1.67,1Zm.08-9A1.63,1.63,0,0,1,26.17,16C18.36,21.27,9,17.44,6,16a1.63,1.63,0,0,1-.93-1.47V7.78A1.65,1.65,0,0,1,6.6,6.14a110.22,110.22,0,0,1,18.81,0,1.65,1.65,0,0,1,1.48,1.64Z"/><path class="cls-1" d="M29.12,8v6.14c1.07,0,1.94-1.37,1.94-3.07S30.19,8,29.12,8Z"/><path class="cls-1" d="M.92,11.11c0,1.7.86,3.07,1.93,3.07V8C1.78,8,.92,9.42.92,11.11Z"/></svg> -->
												<img data-bind="attr:{ src: busImgUrl}" />
										</div>
										<div data-bind="text: busMaybeLateNum, attr:{ class: 'box-font'}">
												
												<!-- <label data-bind="text: busLateNum"></label> -->
										</div>
								</div>
								<div class="pipe-box" >
										<div class="white-space">  </div>
										<div class="pipe-space"><label> </label></div>
								</div>
								<div class="user-box" >
										<div>
												<img data-bind="attr:{ src: passengerImgUrl}" />
										</div>
										<div data-bind="text: userMaybeLateNum, attr:{ class: 'box-font'}">
												<!-- <label data-bind="text: userLateNum"></label> -->
										</div>
								</div>
						</div>
						

						<div data-bind="attr:{ class: 'box-div'}">
								<label data-bind="text: busMaybeLateTxt, attr:{ class: 'box-label'}"></label>
						</div>
						
				</div>
				<div class="number-of-bus-box-status" id="maybelateBox"></div>
			</div>

			<div class="number-of-bus-box">
				<div class="number-of-bus-box-status" data-bind="click:onClickBox.bind($data, 'notTravelBox', '3') ,style: {  backgroundColor: notTravelBoxColor }">


						<div class="box-value-container" >
								<div class="bus-box" >
										<div>
												<!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#58595b;}</style></defs><title>ic_bus1</title><path class="cls-1" d="M23.06,1.52H8.91A5.27,5.27,0,0,0,3.64,6.79v16a5.28,5.28,0,0,0,3.5,5v1.71a.83.83,0,0,0,.84.84h2a.84.84,0,0,0,.85-.84V28.07H21.17v1.41a.84.84,0,0,0,.85.84h2a.83.83,0,0,0,.84-.84V27.77a5.28,5.28,0,0,0,3.5-5v-16A5.27,5.27,0,0,0,23.06,1.52ZM12,3h7.89a.89.89,0,0,1,0,1.77H12A.89.89,0,0,1,12,3Zm-1.65,21.8H6.21a1.13,1.13,0,0,1-1.13-1.12V21.36a1.13,1.13,0,0,1,1.67-1l4.18,2.29A1.12,1.12,0,0,1,10.39,24.77Zm7.83,0H13.64a.68.68,0,0,1,0-1.36h4.58a.68.68,0,1,1,0,1.36Zm8.59-1.12a1.13,1.13,0,0,1-1.13,1.12H21.5A1.12,1.12,0,0,1,21,22.66l4.18-2.29a1.13,1.13,0,0,1,1.67,1Zm.08-9A1.63,1.63,0,0,1,26.17,16C18.36,21.27,9,17.44,6,16a1.63,1.63,0,0,1-.93-1.47V7.78A1.65,1.65,0,0,1,6.6,6.14a110.22,110.22,0,0,1,18.81,0,1.65,1.65,0,0,1,1.48,1.64Z"/><path class="cls-1" d="M29.12,8v6.14c1.07,0,1.94-1.37,1.94-3.07S30.19,8,29.12,8Z"/><path class="cls-1" d="M.92,11.11c0,1.7.86,3.07,1.93,3.07V8C1.78,8,.92,9.42.92,11.11Z"/></svg> -->
												<img data-bind="attr:{ src: busImgUrl}" />
										</div>
										<div data-bind="text: busNotTravelNum, attr:{ class: 'box-font'}">
												
												<!-- <label data-bind="text: busLateNum"></label> -->
										</div>
								</div>
								<div class="pipe-box" >
										<div class="white-space">  </div>
										<div class="pipe-space"><label> </label></div>
								</div>
								<div class="user-box" >
										<div>
												<img data-bind="attr:{ src: passengerImgUrl}" />
										</div>
										<div data-bind="text: userNotTravelNum, attr:{ class: 'box-font'}">
												<!-- <label data-bind="text: userLateNum"></label> -->
										</div>
								</div>
						</div>

						<div data-bind="attr:{ class: 'box-div'}">
								<label data-bind="text: busNotTravelTxt, attr:{ class: 'box-label'}"></label>
						</div>

				</div>
				<div class="number-of-bus-box-status" id="notTravelBox"></div>
			</div>

			<div class="number-of-bus-box">
				<div class="number-of-bus-box-status" data-bind="click:onClickBox.bind($data, 'onTheWayBox', '4') ,style: { backgroundColor: onTheWayBoxColor }">
						
						<div class="box-value-container" >
								<div class="bus-box" >
										<div>
												<!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#58595b;}</style></defs><title>ic_bus1</title><path class="cls-1" d="M23.06,1.52H8.91A5.27,5.27,0,0,0,3.64,6.79v16a5.28,5.28,0,0,0,3.5,5v1.71a.83.83,0,0,0,.84.84h2a.84.84,0,0,0,.85-.84V28.07H21.17v1.41a.84.84,0,0,0,.85.84h2a.83.83,0,0,0,.84-.84V27.77a5.28,5.28,0,0,0,3.5-5v-16A5.27,5.27,0,0,0,23.06,1.52ZM12,3h7.89a.89.89,0,0,1,0,1.77H12A.89.89,0,0,1,12,3Zm-1.65,21.8H6.21a1.13,1.13,0,0,1-1.13-1.12V21.36a1.13,1.13,0,0,1,1.67-1l4.18,2.29A1.12,1.12,0,0,1,10.39,24.77Zm7.83,0H13.64a.68.68,0,0,1,0-1.36h4.58a.68.68,0,1,1,0,1.36Zm8.59-1.12a1.13,1.13,0,0,1-1.13,1.12H21.5A1.12,1.12,0,0,1,21,22.66l4.18-2.29a1.13,1.13,0,0,1,1.67,1Zm.08-9A1.63,1.63,0,0,1,26.17,16C18.36,21.27,9,17.44,6,16a1.63,1.63,0,0,1-.93-1.47V7.78A1.65,1.65,0,0,1,6.6,6.14a110.22,110.22,0,0,1,18.81,0,1.65,1.65,0,0,1,1.48,1.64Z"/><path class="cls-1" d="M29.12,8v6.14c1.07,0,1.94-1.37,1.94-3.07S30.19,8,29.12,8Z"/><path class="cls-1" d="M.92,11.11c0,1.7.86,3.07,1.93,3.07V8C1.78,8,.92,9.42.92,11.11Z"/></svg> -->
												<img data-bind="attr:{ src: busImgUrl}" />
										</div>
										<div data-bind="text: busOnTheWayNum, attr:{ class: 'box-font'}">
												
												<!-- <label data-bind="text: busLateNum"></label> -->
										</div>
								</div>
								<div class="pipe-box" >
										<div class="white-space">  </div>
										<div class="pipe-space"><label> </label></div>
								</div>
								<div class="user-box" >
										<div>
												<img data-bind="attr:{ src: passengerImgUrl}" />
										</div>
										<div data-bind="text: userOnTheWayNum, attr:{ class: 'box-font'}">
												<!-- <label data-bind="text: userLateNum"></label> -->
										</div>
								</div>
						</div>

						<div data-bind="attr:{ class: 'box-div'}">
								<label data-bind="text: busOnTheWayTxt, attr:{ class: 'box-label'}"></label>
						</div>
				</div>
				<div class="number-of-bus-box-status" id="onTheWayBox"></div>
			</div>

			<div class="number-of-bus-box">
				<div class="number-of-bus-box-status" data-bind="click:onClickBox.bind($data, 'waitForFactoryBox', '5') ,style: { backgroundColor: waitForFactoryBoxColor }">
						
						<div class="box-value-container" >
								<div class="bus-box" >
										<div>
												<!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#58595b;}</style></defs><title>ic_bus1</title><path class="cls-1" d="M23.06,1.52H8.91A5.27,5.27,0,0,0,3.64,6.79v16a5.28,5.28,0,0,0,3.5,5v1.71a.83.83,0,0,0,.84.84h2a.84.84,0,0,0,.85-.84V28.07H21.17v1.41a.84.84,0,0,0,.85.84h2a.83.83,0,0,0,.84-.84V27.77a5.28,5.28,0,0,0,3.5-5v-16A5.27,5.27,0,0,0,23.06,1.52ZM12,3h7.89a.89.89,0,0,1,0,1.77H12A.89.89,0,0,1,12,3Zm-1.65,21.8H6.21a1.13,1.13,0,0,1-1.13-1.12V21.36a1.13,1.13,0,0,1,1.67-1l4.18,2.29A1.12,1.12,0,0,1,10.39,24.77Zm7.83,0H13.64a.68.68,0,0,1,0-1.36h4.58a.68.68,0,1,1,0,1.36Zm8.59-1.12a1.13,1.13,0,0,1-1.13,1.12H21.5A1.12,1.12,0,0,1,21,22.66l4.18-2.29a1.13,1.13,0,0,1,1.67,1Zm.08-9A1.63,1.63,0,0,1,26.17,16C18.36,21.27,9,17.44,6,16a1.63,1.63,0,0,1-.93-1.47V7.78A1.65,1.65,0,0,1,6.6,6.14a110.22,110.22,0,0,1,18.81,0,1.65,1.65,0,0,1,1.48,1.64Z"/><path class="cls-1" d="M29.12,8v6.14c1.07,0,1.94-1.37,1.94-3.07S30.19,8,29.12,8Z"/><path class="cls-1" d="M.92,11.11c0,1.7.86,3.07,1.93,3.07V8C1.78,8,.92,9.42.92,11.11Z"/></svg> -->
												<img data-bind="attr:{ src: busImgUrl}" />
										</div>
										<div data-bind="text: busWaitForFactoryNum, attr:{ class: 'box-font'}">
												
												<!-- <label data-bind="text: busLateNum"></label> -->
										</div>
								</div>
								<div class="pipe-box" >
										<div class="white-space">  </div>
										<div class="pipe-space"><label> </label></div>
								</div>
								<div class="user-box" >
										<div>
												<img data-bind="attr:{ src: passengerImgUrl}" />
										</div>
										<div data-bind="text: userWaitForFactoryNum, attr:{ class: 'box-font'}">
												<!-- <label data-bind="text: userLateNum"></label> -->
										</div>
								</div>
						</div>

						<div data-bind="attr:{ class: 'box-div'}">
								<label data-bind="text: busWaitForFactoryTxt, attr:{ class: 'box-label'}"></label>
						</div>

				</div>
				<div class="number-of-bus-box-status" id="waitForFactoryBox"></div>
			</div>

			<div class="number-of-bus-box">
				<div class="number-of-bus-box-status" data-bind="click:onClickBox.bind($data, 'finish', '6') ,style: { backgroundColor: onFactoryBoxColor }">
						
						<div class="box-value-container" >
								<div class="bus-box" >
										<div>
												<!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#58595b;}</style></defs><title>ic_bus1</title><path class="cls-1" d="M23.06,1.52H8.91A5.27,5.27,0,0,0,3.64,6.79v16a5.28,5.28,0,0,0,3.5,5v1.71a.83.83,0,0,0,.84.84h2a.84.84,0,0,0,.85-.84V28.07H21.17v1.41a.84.84,0,0,0,.85.84h2a.83.83,0,0,0,.84-.84V27.77a5.28,5.28,0,0,0,3.5-5v-16A5.27,5.27,0,0,0,23.06,1.52ZM12,3h7.89a.89.89,0,0,1,0,1.77H12A.89.89,0,0,1,12,3Zm-1.65,21.8H6.21a1.13,1.13,0,0,1-1.13-1.12V21.36a1.13,1.13,0,0,1,1.67-1l4.18,2.29A1.12,1.12,0,0,1,10.39,24.77Zm7.83,0H13.64a.68.68,0,0,1,0-1.36h4.58a.68.68,0,1,1,0,1.36Zm8.59-1.12a1.13,1.13,0,0,1-1.13,1.12H21.5A1.12,1.12,0,0,1,21,22.66l4.18-2.29a1.13,1.13,0,0,1,1.67,1Zm.08-9A1.63,1.63,0,0,1,26.17,16C18.36,21.27,9,17.44,6,16a1.63,1.63,0,0,1-.93-1.47V7.78A1.65,1.65,0,0,1,6.6,6.14a110.22,110.22,0,0,1,18.81,0,1.65,1.65,0,0,1,1.48,1.64Z"/><path class="cls-1" d="M29.12,8v6.14c1.07,0,1.94-1.37,1.94-3.07S30.19,8,29.12,8Z"/><path class="cls-1" d="M.92,11.11c0,1.7.86,3.07,1.93,3.07V8C1.78,8,.92,9.42.92,11.11Z"/></svg> -->
												<img data-bind="attr:{ src: busImgUrl}" />
										</div>
										<div data-bind="text: busOnFactoryNum, attr:{ class: 'box-font'}">
												
												<!-- <label data-bind="text: busLateNum"></label> -->
										</div>
								</div>
								<div class="pipe-box" >
										<div class="white-space">  </div>
										<div class="pipe-space"><label> </label></div>
								</div>
								<div class="user-box" >
										<div>
												<img data-bind="attr:{ src: passengerImgUrl}" />
										</div>
										<div data-bind="text: userOnFactoryNum, attr:{ class: 'box-font'}">
												<!-- <label data-bind="text: userLateNum"></label> -->
										</div>
								</div>
						</div>
						<div data-bind="attr:{ class: 'box-div'}">
								<label data-bind="text: busOnFactoryTxt, attr:{ class: 'box-label'}"></label>
						</div>
				</div>
				<div class="number-of-bus-box-status" id="finish"></div>
			</div>

			<div class="number-of-bus-box">
				<div class="number-of-bus-box-status all" data-bind="click:onClickBox.bind($data, 'allBox', '0') ,style: { backgroundColor: allBoxColor }">
						
						<div class="box-value-container" >
								<div class="bus-box" >
										<div>
												<!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#58595b;}</style></defs><title>ic_bus1</title><path class="cls-1" d="M23.06,1.52H8.91A5.27,5.27,0,0,0,3.64,6.79v16a5.28,5.28,0,0,0,3.5,5v1.71a.83.83,0,0,0,.84.84h2a.84.84,0,0,0,.85-.84V28.07H21.17v1.41a.84.84,0,0,0,.85.84h2a.83.83,0,0,0,.84-.84V27.77a5.28,5.28,0,0,0,3.5-5v-16A5.27,5.27,0,0,0,23.06,1.52ZM12,3h7.89a.89.89,0,0,1,0,1.77H12A.89.89,0,0,1,12,3Zm-1.65,21.8H6.21a1.13,1.13,0,0,1-1.13-1.12V21.36a1.13,1.13,0,0,1,1.67-1l4.18,2.29A1.12,1.12,0,0,1,10.39,24.77Zm7.83,0H13.64a.68.68,0,0,1,0-1.36h4.58a.68.68,0,1,1,0,1.36Zm8.59-1.12a1.13,1.13,0,0,1-1.13,1.12H21.5A1.12,1.12,0,0,1,21,22.66l4.18-2.29a1.13,1.13,0,0,1,1.67,1Zm.08-9A1.63,1.63,0,0,1,26.17,16C18.36,21.27,9,17.44,6,16a1.63,1.63,0,0,1-.93-1.47V7.78A1.65,1.65,0,0,1,6.6,6.14a110.22,110.22,0,0,1,18.81,0,1.65,1.65,0,0,1,1.48,1.64Z"/><path class="cls-1" d="M29.12,8v6.14c1.07,0,1.94-1.37,1.94-3.07S30.19,8,29.12,8Z"/><path class="cls-1" d="M.92,11.11c0,1.7.86,3.07,1.93,3.07V8C1.78,8,.92,9.42.92,11.11Z"/></svg> -->
												<img data-bind="attr:{ src: busImgUrl}" />
										</div>
										<div data-bind="text: busAllNum, attr:{ class: 'box-font'}">
												
												<!-- <label data-bind="text: busLateNum"></label> -->
										</div>
								</div>
								<div class="pipe-box all" >
										<div class="white-space">  </div>
										<div class="pipe-space"><label> </label></div>
								</div>
								<div class="user-box" >
										<div>
												<img data-bind="attr:{ src: passengerImgUrl}" />
										</div>
										<div data-bind="text: userAllNum, attr:{ class: 'box-font'}">
												<!-- <label data-bind="text: userLateNum"></label> -->
										</div>
								</div>
						</div>
						<div data-bind="attr:{ class: 'box-div'}">
								<label data-bind="text: busAllTxt, attr:{ class: 'box-label'}"></label>
						</div>
				</div>
				<div class="number-of-bus-box-status" id="allBox"></div>
			</div>
        </div>

    </div>
    <div style="height: 30px;">
		<span style="float:left"><gisc-ui-field params="value: i18n('Common_Status')"></gisc-ui-field></span>
		<span style="float:left"><gisc-ui-field params="value: ':&nbsp;'"></gisc-ui-field></span>
		<span style="float:left"><gisc-ui-field params="value: statusDisplayName"></gisc-ui-field></span>
		<span style="float:left"><gisc-ui-field params="value: statusDetail"></gisc-ui-field></span>
    </div>
	<gisc-ui-datagrid params="id: 'dgBOMsDashboard',
		source:apiDataSource, 
		onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
		onDetailInit:onDetailInit.bind($data),
		detailInitOnClickColumns:onDetailClickColumns,
		pageSizeOptions: pageSizeOptions,
		sortable:false,
		columns : [
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_No', data: 'rowNo',className: 'dg-body-right'},
			{ type: 'object', title: 'i18n:Transportation_Mngm_Shipment_ViewOnMap', data: 'imgSearch', template: 'renderVendorLogColumn', className: 'dg-body-center dg-svg-column', onClick: clickViewOnMap },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Zone', data: 'zone' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Line', data: 'line' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_License', data: 'vehicleLicense', width:'100px'},
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Num_Driver', data: 'countAllEmployee',className: 'dg-body-right' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Status', data: 'statusDisplay',template: renderStatusDisplay },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Status_In_Vehicle', data: 'jobStatusDisplay' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_In_Waypoint', data: 'insideWaypoint',className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Distance', data: 'formatRemainingDistance',className: 'dg-body-right' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_EstmOutgDate', data: 'planStartTime',className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_StartDateTime', data: 'actualStartTime',template: renderActualStartTime,className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_PlanFinish', data: 'planEndTime',className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_ActFinished', data: 'actualEndTime',template: renderActualEndTime,className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_LocDesc', data: 'location' , width:'200px'},
		],
		rowId: 'id'"/>


   
</gisc-ui-component>

