<gisc-ui-component>
    <gisc-ui-field params="value: statusDetail"></gisc-ui-field>
    <gisc-ui-datagrid params="id: 'dgDetail',
        onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        onDetailInit:onDetailInit.bind($data),
        detailInitOnClickColumns:onDetailClickColumns,
        pageSizeOptions: pageSizeOptions,
        sortable:false,
        columns : [
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_No', data: 'rowNo',className: 'dg-body-right'},
			{ type: 'object', title: 'i18n:Transportation_Mngm_Shipment_ViewOnMap', data: 'imgSearch', template: 'renderVendorLogColumn', className: 'dg-body-center dg-svg-column', onClick: clickViewOnMap },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Zone', data: 'zone' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Line', data: 'line' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_License', data: 'vehicleLicense', width:'100px'},
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Num_Driver', data: 'countAllEmployee',className: 'dg-body-right' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Status', data: 'statusDisplay',template: renderStatusDisplay },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Status_In_Vehicle', data: 'jobStatusDisplay' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_In_Waypoint', data: 'insideWaypoint',className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_Distance', data: 'formatRemainingDistance',className: 'dg-body-right' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_EstmOutgDate', data: 'planStartTime',className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_StartDateTime', data: 'actualStartTime',template: renderActualStartTime,className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_PlanFinish', data: 'planEndTime',className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_ActFinished', data: 'actualEndTime',template: renderActualEndTime,className: 'dg-body-center' },
			{ type: 'text', title: 'i18n:Realtime_Passenger_Dashboard_LocDesc', data: 'location' , width:'200px'},
		],
        rowId: 'id'"/>
</gisc-ui-component>
