<gisc-ui-component>
    <gisc-ui-label params="for: 'textname',text:i18n('BOMs_Realtime_Passenger_Dashboard_Filter')" />
    <gisc-ui-autocomplete params="id:'textname',
            placeholder: i18n('PHSearchBy012'),
            onDatasourceRequest:requestSearch,
            value:keyword
            " />
</gisc-ui-component>