﻿<gisc-ui-component>
    <!--Start Date-->
    <gisc-ui-label params="for:'searchStartDate',text:i18n('Announcements_StartDate')"/>
    <gisc-ui-datetime params="id:'searchStartDate', value:startDate, mode:'date', maxDate:endDate"/>

    <!--End Date-->
    <gisc-ui-label params="for:'searchEndDate', text:i18n('Announcements_EndDate')"/>
    <gisc-ui-datetime params="id:'searchEndDate', value:endDate, mode:'date', minDate:startDate"/>
    
</gisc-ui-component>