﻿<div>
    <div class="wg-list-item custom-line-list" data-dojo-attach-point="btnPrintmap">
        <div class="wg-list-item-icon"><img src="./gis-js/images/measurement/icon_maptools_print@3x.png"/></div>
        <div data-dojo-attach-point="wgLabel" class="wg-list-item-label"></div>
    </div>
</div>