﻿<gisc-ui-component>
    <!--Company -->
    <gisc-ui-label params="for: 'ddDltNewCompany', text:i18n('Common_Company'),isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddDltNewCompany',
                            options: companyOptions,
                            optionsID: 'id',
                            optionsCaption: ' ',
                            optionsText: 'name',
                            type:'filter',
                            value: selectedCompany"/>
      <!-- Contract No. -->
    <gisc-ui-label params="text:i18n('Contract Number'),isRequired:false" />
    <gisc-ui-dropdown params="options:contractNoOptions,
                               optionsText:'contractNo',
                               value:contractNo,
                               optionsCaption: ' ',
                               type:'filter' " />

    <!-- Install Date -->
    <gisc-ui-label params="for: 'txtDltNewInstallDate', text: i18n('Install Date'),isRequired:false"></gisc-ui-label>
    <div style="width: 100%">
        <div style="width: 40%;float: left;">
            <gisc-ui-datetime params="id:'from' ,value:startDate ,mode:'date' ,maxDate:maxStartDate ,dateFormat:formatSet" />
        </div>
        <gisc-ui-label params=" text: 'To'" style="padding-left: 7%"></gisc-ui-label>
        <div style="width: 40%;float: right;">
            <gisc-ui-datetime params="id:'to' ,value:endDate  ,mode:'date' ,maxDate:maxStartDate ,minDate:startDate ,dateFormat:formatSet" />
        </div>
    </div>

    <div style="clear: both"></div>
    
    <!-- Appointment Status -->
    <gisc-ui-label params="for: 'ddDltNewAppointmentStatus', text:'Appointment Status'" />
    <gisc-ui-dropdown params="id: 'ddDltNewAppointmentStatus',
                            options: appStatusOptions,
                            optionsCaption: ' ',
                            optionsText: 'name',
                            value: selectedApp"/>

    <!-- Vendor Signature -->
    <gisc-ui-label params="for: 'ddDltNewVendorSignature', text:i18n('Vendor Signature'),isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddDltNewVendorSignature',
                            options: vendorInfos,
                            optionsCaption: ' ',
                            optionsText: 'name',
                            value: selectedVendor"/>

</gisc-ui-component>