﻿<gisc-ui-component>

    <!-- Promotion -->
    <!-- <gisc-ui-label params="for: 'ddPromotion', text: i18n('Assets_OperatorPackage')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddPromotion',
                              options: promotions,
                              optionsText: 'displayText',
                              optionsCaption: '',
                              value: selectedPromotion"></gisc-ui-dropdown> -->


    <!--Mobile Number-->
    <!-- <gisc-ui-label params="for: 'txtMobile', text: i18n('Assets_MobileNumber'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddMobile',
                              options: mobileArray,
                              optionsText: 'mobileNo',
                              optionsCaption: '',
                              type: 'filter',
                              value: selectedMobile"></gisc-ui-dropdown> -->

    <!--SIM Card Serial Number-->
    <!-- <gisc-ui-label params="for: 'txtSimCardSerialNumber', text: i18n('Assets_SIMCardSerialNumber')" />
    <gisc-ui-textbox params="id: 'txtSimCardSerialNumber', value: simCardSerialNumber, maxlength: 20" /> -->

  
    <!-- Business Unit -->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdowntree params="options:businessUnits,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:selectedBusinessUnit" />

    <!-- Box -->
    <gisc-ui-label params="for: 'ddBox', text: i18n('Assets_Box'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddBox',
                              options: boxes,
                              optionsText: 'serialNo',
                              optionsCaption: '',
                              type: 'filter',
                              value: selectedBox"></gisc-ui-dropdown>
    <!-- Vehicle -->
    <gisc-ui-label params="for: 'ddVehicle', text: i18n('Common_Vehicle'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddVehicle',
                              options: vehicles,
                              optionsText: 'license',
                              optionsCaption: '',
                              type: 'filter',
                              value: selectedVehicle"></gisc-ui-dropdown>

    <!-- Enable DLT Interface -->                         
    <gisc-ui-label params="for: 'ddEnableDltInterface', text:i18n('Assets_EnableDLTInterface'), isRequired:true"/>
    <gisc-ui-dropdown params="id: 'ddEnableDltInterface', 
                            options:enableOptions,
                            optionsText:'title',
                            value:enableDltInterface"></gisc-ui-dropdown>
</gisc-ui-component>