﻿<gisc-ui-component>
    <!--Version-->
    <gisc-ui-label params="for:'txtVersion', text:i18n('AutoMail_Version')"/>&nbsp;
    <gisc-ui-label params=" text:version"/><br>

    <!--Title-->
    <gisc-ui-label params="for:'txtTitle', isRequired:true,text:i18n('AutoMail_Title')" />
    <gisc-ui-textbox params="id:'txtTitle', value:title" />
   
        <gisc-ui-label params="for: 'ddCompany', text: i18n('AutoMail_Company'), isRequired: true"></gisc-ui-label>
        <gisc-ui-dropdown params="options :ListCompany ,
                              optionsText:'name',
                              value: selectedcompany,
                              optionsCaption: captiontext , 
                              enable : checkaction
                               ">

        </gisc-ui-dropdown>

        <!--Business Unit-->
        <gisc-ui-label params="text:i18n('AutoMail_BusinessUnit')" />
        <gisc-ui-dropdowntree params="  options:BuList,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parentBusinessUnitId',
                                    optionsChildren:'childBusinessUnits',
                                    enable : checkaction , 
                                    value:selectedBU ,
                          " />
   
        
        <gisc-ui-checkbox params="text: i18n('AutoMail_IncludeSubBussinessUnit'), checked: isBusinessUnit,enable:disabled" />

        <!--Request By-->
        <gisc-ui-label params="for:'txtRequestBy', isRequired:true, text:i18n('AutoMail_RequestBy')" />
        <gisc-ui-textbox params="id:'txtRequestBy', value: requestby" />

        <!--Status-->
        <gisc-ui-label params="for: 'ddStatus', text: i18n('AutoMail_Status') "></gisc-ui-label>
        <gisc-ui-dropdown params="id: 'ddStatus',
                                  options: status,
                                  optionsText: 'status',
                                  value: selectedStatus">

        </gisc-ui-dropdown>
    <!--Configuration type-->
    <div data-bind="visible:disabled">
        <gisc-ui-label params="for:'txtAuthen',text:i18n('AutoMail_ConfigurationType')" />
        <gisc-ui-dropdown params="options :ConfigType ,
                              optionsText:'Type',
                              value: selectedConfigType">
        </gisc-ui-dropdown>
       </div>
      
        <!--SQL statement-->
        <div data-bind="visible: SQLVisible">

            <div data-bind="visible:disabled">
                <!--Sql Template-->
                <gisc-ui-label params="for: 'ddSqlTemplate', text: i18n('AutoMail_SqlTemplate')"></gisc-ui-label>
                <gisc-ui-dropdown params="options: sqlTemplate,
                                  optionsText: 'templateName',
                                  value: selectedsqltemplate,
                                optionsCaption: ''
                          "></gisc-ui-dropdown>
            </div>

            <!--Sql Statement-->
            <gisc-ui-label params="for:'txtSqlStatement', isRequired:true, text:i18n('AutoMail_SqlStatement')" />
            <gisc-ui-tooltip params="text: i18n('I027')"></gisc-ui-tooltip>

            <div>
                <gisc-ui-textarea params="id:'txtSqlStatement', value:sqlstatement" />
                <!--Validate Statement-->
                <gisc-ui-button params="id:'btnValidateStatement', text:i18n('AutoMail_ValidataStatement'),onclick: onValidateButtonClick.bind($data)"></gisc-ui-button>
            </div>
        </div>
        <!--WebService-->
        <div data-bind="visible: WSVisible">
             
            <gisc-ui-label params="for:'txtAuthen',text:i18n('AutoMail_ReferenceURL')" />
            <gisc-ui-textbox params="id:'refURL', value:ReferenceUrl " />
                    
            <gisc-ui-label params="for:'txtAuthen', isRequired:true,text:i18n('AutoMail_AuthenticationURL')" />
            <gisc-ui-textbox params="id:'txtAuthenURL', value:AuthenURL " />

            <gisc-ui-label params="for:'txtAuthen', isRequired:true,text:i18n('AutoMail_AuthenticationRawData')" />
            <gisc-ui-textarea params="id:'txtAuthenRawData', value:AuthenRawData" />

            <gisc-ui-label params="for:'txtAuthen', isRequired:true,text:i18n('AutoMail_WebServiceURL')" />
            <gisc-ui-textbox params="id:'txtWSurl', value:WSurl" />

            <gisc-ui-label params="for:'txtAuthen' ,text:i18n('AutoMail_WebServiceMethod')" />
            <gisc-ui-dropdown params="options :MethodWS ,
                              optionsText:'method',

                              value: selectedmethodWS">
            </gisc-ui-dropdown>

            <div data-bind="visible: IsWebMethod">
                <gisc-ui-label params="for:'txtAuthen', isRequired:true,text:i18n('AutoMail_WebServiceRawData')" />
                <gisc-ui-tooltip params="text: i18n('I027')"></gisc-ui-tooltip>
                <gisc-ui-textarea params="id:'txtWSRawData',value:WSRawData" />
            </div>
               
            </div>
        <!--Mail Subject-->
        <br><gisc-ui-label params="for:'txtMailSubject', isRequired:true,text:i18n('AutoMail_MailSubject')" />
        <gisc-ui-textbox params="id:'txtMailSubject', value:mailsubject" />

        <!--Mail To-->
        <gisc-ui-label params="for:'txtMailTo', isRequired:true,text:i18n('AutoMail_MailTo')" />
        <gisc-ui-tooltip params="text: i18n('I012')"></gisc-ui-tooltip>
        <gisc-ui-textbox params="id:'txtMailTo',maxlength:2000, value:mailto" />

        <!--Mail Body-->
        <gisc-ui-label params="for:'txtMailBody', isRequired:true,text:i18n('AutoMail_MailBody')" />
        <gisc-ui-textarea params="id:'txtMailBody', value:mailbody" />

        <!--Dropdown Schedulefrequency -->
        <gisc-ui-label params="for:'txtScheduleF',text:i18n('AutoMail_ScheduleFrequency')" />
        <gisc-ui-dropdown params="options :Schedule ,
                              optionsText:'frequency',
                              value: selectedSchedule">
        </gisc-ui-dropdown>

        <!--Duration-->
        <gisc-ui-label params="for:'txtDuration',text:i18n('AutoMail_Duration')" />
      <div style="margin-left:20px">
          <div style="width:100%">

              <div style="width:10%;float:left;">
                  <gisc-ui-label params="text:i18n('AutoMail_StartDate'),isRequired:true" />
              </div>
              <div style="width:13%;float:left;margin-right:5%;">
                  <gisc-ui-datetime params="id:'StartDate',mode:'date',value:startDate,minDate:minDate,dateFormat:formatSet" />
              </div>
              <div style="width:10%;float:left;">
                  <gisc-ui-radio params="text:i18n('AutoMail_EndDate'),value:RadEnddate ,checked:isRadioDate" />
                  <gisc-ui-radio params="text:i18n('AutoMail_NoEndData'),value:RadNoEnddate ,checked:isRadioDate " />
              </div>
              <div style="width:13%;float:left;">
                  <div data-bind="visible: isVisibleEndDate">
                      <gisc-ui-datetime params="id:'EndDate',mode:'date', value:endDate,dateFormat:formatSet,minDate:minDate" />
                  </div>
                  <div data-bind="visible: isVisibleNoEndDate">
                      <gisc-ui-datetime params="id:'noEndDate',mode:'date', value:noEndDate,enable:enableEndDate " />
                  </div>
                  <!--<gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />-->
              </div>
          </div>


          <div style="clear:both;"></div>
          <br>
          <!--Daily-->
          <div data-bind="visible: DailyVisible">
              <div style="width:100%">

                  <div style="width:10%;float:left;">
                      <gisc-ui-radio params="text:i18n('AutoMail_OccurAt'),value:isValueOcat ,checked:isRadio, " />
                  </div>
                  <div style="width:13%;float:left;">
                      <div data-bind="visible: isVisibleOccurat">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:TimeAt, attr: { id:id, class:'app-input'} ">
                        </div>
                      </div>
                      <div data-bind="visible: isVisibleOccurevery">
                            <!-- ko if: enableOccurat -->
                            <div class="app-textBox-wrapper">
                                <input type="time" data-bind="value:TimeAt1, attr: { id:id, class:'app-input'} ">
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: enableOccurat -->
                            <div class="app-textBox-wrapper">
                                <input type="time" data-bind="value:TimeAt1, attr: { id:id, class:'app-input'} " disabled>
                            </div>
                            <!-- /ko -->
                      </div>

                  </div>
              </div>
              <div style="clear:both;"></div>
              <div style="width:100%">
                  <div style="width:10%;float:left;">
                      <gisc-ui-radio params="text:i18n('AutoMail_OccurEvery'),value:isValueOcever ,checked:isRadio " />
                  </div>

                  <div style="width:13%;float:left;">
                      <div data-bind="visible: isVisibleOccurevery">
                          <gisc-ui-textbox params="value:TimeEvery,filter:{type :'numeric', numericType:'int'} " />
                      </div>
                      <div data-bind="visible: isVisibleOccurat">
                          <gisc-ui-textbox params="value:TimeEvery1,filter:{type :'numeric', numericType:'int'},enable:enableOccurevery" />
                      </div>
                  </div>

                  <div style="width:5%;float:left;margin-left:2px;">
                      <gisc-ui-label params="text:i18n('AutoMail_hours')" />
                  </div>
              </div>
          </div>
          <div style="clear:both;"></div>

          <!--Weekly-->
          <div data-bind="visible: WeeklyVisible">
              <div style="width:100%">
                  <div style="width:15%;float:left">
                      <gisc-ui-radio params="text:i18n('AutoMail_Monday'),value:RadMon ,checked:ValueDay " />
                  </div>
                  <div style="width:15%;float:left">
                      <gisc-ui-radio params="text:i18n('AutoMail_Tuesday'),value:RadTue ,checked:ValueDay " />
                  </div>
                  <div style="width:15%;float:left">
                      <gisc-ui-radio params="text:i18n('AutoMail_Wednesday'),value:RadWed ,checked:ValueDay " />
                  </div>
                  <div style="width:15%;float:left">
                      <gisc-ui-radio params="text:i18n('AutoMail_Thursday'),value:RadThu ,checked:ValueDay " />
                  </div>
                  <div style="width:15%;float:left">
                      <gisc-ui-radio params="text:i18n('AutoMail_Friday'),value:RadFri ,checked:ValueDay " />
                  </div>

              </div>
              <div style="width:100%;float:left">
                  <div style="width:15%;float:left">
                      <gisc-ui-radio params="text:i18n('AutoMail_Saturday'),value:RadSat ,checked:ValueDay " />
                  </div>
                  <div style="width:15%;float:left">
                      <gisc-ui-radio params="text:i18n('AutoMail_Sunday'),value:RadSun ,checked:ValueDay " />
                  </div>
              </div>
              <div style="width:100%;float:left">
                  <br> 
                  <div style="width:10%;float:left">
                      <gisc-ui-radio params="text:i18n('AutoMail_OccurAt'),value:isValueOcat ,checked:isRadioWeek " />
                  </div>
                  <div style="width:13%;float:left">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:TimeAt, attr: { id:id, class:'app-input'} ">
                        </div>
                  </div>
              </div>

          </div>
          <!--Monthly-->
          <div data-bind="visible: MonthlyVisible">
              <div style="width:100%;float:left">
                  <div style="width:10%;float:left">
                      <gisc-ui-radio params="text:i18n('AutoMail_OccurAt'),value:isValueOcat ,checked:isRadioMonth " />
                  </div>
                  <div style="width:13%;float:left">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:TimeAt, attr: { id:id, class:'app-input'} ">
                        </div>
                  </div>
              </div>
          </div>

      </div>
</gisc-ui-component>