<!-- ko component: {name: "gisc-ui-component"} -->
    <!-- ko if: journey() != null -->
    <div class="app-breadcrumb-wrapper" data-bind="attr: {id: id}">
            <div class="app-breadcrumb-dropmenu">
                <div class="app-dropmenu">
                    <button class="app-dropmenu-button app-has-hover app-popup-button"
                        aria-haspopup="true" aria-expanded="false"
                        data-bind="click: dropMenu.onClick.bind(dropMenu)">«</button>
                    <div class="app-dropmenu-content app-popup app-dropmenu-right"
                        data-bind="css: dropMenu.menuStatus">
                        <ul class="app-breadcrumb-overflow">
                            <!-- ko foreach: breadCrumbsOverFlow -->
                            <li data-bind="attr: {'data-index': $index}">
                                <a class="app-breadcrumb-crumb" data-bind="text: title"></a>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
            </div>
        <!-- ko foreach: {data: breadCrumbsVisile, afterRender: onItemChanged.bind($parent.viewModel), beforeRemove: onItemRemoved.bind($parent.viewModel)} -->
            <a class="app-breadcrumb-crumb app-has-hover" data-bind="text: $data.title, attr: {'data-index': $index}"></a>
            <div class="app-breadcrumb-divider app-fill-secondary" data-bind="attr: {'data-index': $index}"><!-- ko component: 'svg-crumb-divider' --><!-- /ko --></div><!-- /ko -->
    </div>
    <!-- /ko -->
    <span data-bind="text: lastBladeTitle, visible: false"></span>
<!-- /ko -->