<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Chart is use for represent data as a graphic styles, which this control will be doughnut charts.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>data</code></td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>label</code></td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>value</code></td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>color</code></td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>onclick</code></td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>data</code> Arraylist of dataset.</li>
                        <li><code>value</code> Value of dataset that need to plot.</li>
                        <li><code>label</code> Label of the dataset which display in the tooltips.</li>
                        <li><code>color</code> The fill color of each segments.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>onclick</code> Return index value of each segments that match arraylist of dataset.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-chart params="data:items,label:'status' ,value:'total' ,color:'color',onclick:selectedJob.bind($data)"/>
 &lt;gisc-ui-datatable params="
                    datasource: items,
                    rowId: 'id',
                    columns: [
                    { type: 'colorhex', title: '', data: 'color' },
                    { type: 'label', title: 'Status', data: 'status' },
                    { type: 'label', title: 'Total', data: 'total' }]," />
                </code></pre>
                <pre><code class="hljs js">// View Model
class Jobs {
    constructor(id, status, total, color) {
        this.id = id;
        this.status = status;
        this.total = total;
        this.color = color;
    }
}

class ChartScreen extends ScreenBase {

    constructor(params) {
            super(params);

            this.bladeSize = BladeSize.Medium;
            this.bladeTitle("Chart (gisc-ui-chart)");
            this.bladeDescription("src/components/portals/developer/chartPage");

            this.items = ko.observableArray([
                new Jobs(1,"Unassign", 9, "#b93e3d"),
                new Jobs(2,"Waiting", 15, "#b7b83f"),
                new Jobs(3, "Loading", 2, "#b9783f"),
                new Jobs(4, "On The Way", 20, "#84b761"),
                new Jobs(5, "Go To Terminal", 12, "#67b7dc")
            ]);

            window.test = this;
        }
    onOpenJop(index) {
        var newValue = {
            status: this.items()[index].status,
            total: this.items()[index].total
        }
        console.log(newValue);
        //Open new blade and display selected item detail.
        this.navigate("chartEndPoint", {
            previousScreenName: this.bladeTitle(),
            job: newValue
        });
    }
}
                </code></pre>
                
            </section>
        </section>
        
    </article>
  <article>
        <section>
            <h4>Output</h4>
                <div class="output">
                    <gisc-ui-chart params="data:items,label:'status' ,value:'total' ,color:'color',onclick:selectedJob.bind($data)" />
                    <gisc-ui-datatable params="
                    datasource: items,
                    rowId: 'id',
                    columns: [
                    { type: 'colorhex', title: '', data: 'color' },
                    { type: 'label', title: 'Status', data: 'status' },
                    { type: 'label', title: 'Total', data: 'total' }]," />
                </div>
        </section>
  </article>
</gisc-ui-component>