﻿<gisc-ui-component>

    <!--Keyword-->
    <gisc-ui-label params="for:'txtKeyword', text:i18n('FleetMonitoring_Keyword')" />
    <gisc-ui-textbox params="id:'txtKeyword', value: keyword " />

    <!--BU-->
    <gisc-ui-label params="isRequired:true, text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="options:businessUnitOptions,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:businessUnit,
                            disableNodes:noneAccessibleBU" />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />
    <!--Find Button-->
    <section>
        <gisc-ui-button params="text:i18n('Common_Find'),
                            onclick:findResult.bind($data),
                            enable:findEnable" />
    </section>

    <section>
        <!--Vehicle-->
        <gisc-ui-label params="text:i18n('Common_Vehicles')" />
        <gisc-ui-tooltip params="text:i18n('I020')" />
        <gisc-ui-datatable params="
        datasource: vehicles,
        columns: [
            { type: 'label', title: 'i18n:FleetMonitoring_VehicleModel', data: 'vehicleModelDisplayText',orderData:[1,2] },
            { type: 'label', title: 'i18n:Common_License', data: 'license' },
        ],
        order: orderVehicle,
        rowId: 'id',
        showRowSelector: true,
        selectedRows: selectedVehicles
        " />

        <!--Delivery-->
        <gisc-ui-label params="text:i18n('Common_DeliveryMen')" />
        <gisc-ui-tooltip params="text:i18n('I020')" />
        <gisc-ui-datatable params="
        datasource: deliveries,
        columns: [
            { type: 'label', title: 'i18n:Common_Username', data: 'username' },
            { type: 'label', title: 'i18n:Common_Email', data: 'email' },
        ],
        order: orderDelivery,
        rowId: 'id',
        showRowSelector: true,
        rowSelectorType: 'multiple',
        selectedRows: selectedDeliveries
        " />
        <span data-bind="validationMessage: selectedAssets" class="ko-block-msg-err"></span>
    </section>

    <!--Start Date-->
    <gisc-ui-label params="for: 'dtStartDate', isRequired:true, text: i18n('FleetMonitoring_StartDate')"></gisc-ui-label>
    <div style="width:100%;">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id: 'dtStartDate',
                              value: startDate,
                              mode: 'date',
                              maxDate: today">
            </gisc-ui-datetime>
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:txtStartTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>

    <!--End Date-->
    <gisc-ui-label params="for: 'dtEndDate', isRequired:true, text: i18n('FleetMonitoring_EndDate')"></gisc-ui-label>
    <div style="width:100%;">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id: 'dtEndDate',
                              value: endDate,
                              mode: 'date',
                              minDate: startDate,
                              maxDate: maxEndDate">
            </gisc-ui-datetime>
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:txtEndTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>

    <!--Display Type-->
    <gisc-ui-label params="for:'ddlFleetMonitoringDisplayType', isRequired:true, text:i18n('FleetMonitoring_DisplayType')" />
    <gisc-ui-dropdown params="id:'ddlFleetMonitoringDisplayType',
                              options:displayTypeOption,
                              optionsText:'displayName',
                              value:displayType" />

    <!--Type-->
    <!-- ko if: showType -->
    <gisc-ui-label params="for:'ddlFleetMonitoringType', isRequired:true, text:i18n('FleetMonitoring_Type')" />
    <gisc-ui-dropdown params="id:'ddlFleetMonitoringType',
                              options:typeOption,
                              optionsText:'displayName',
                              value:type" />
    <!-- /ko -->

    <!-- Driver Performance Rule -->
        <gisc-ui-label params="for: 'ddDriverPerformance', text: i18n('DriverPerformanceRules_DriverPerformanceRules')"></gisc-ui-label>
        <gisc-ui-tooltip params="text:i18n('I042')" />
        <gisc-ui-dropdown params="id: 'ddDriverPerformance',
                                                options: driverPerformances,
                                                optionsText: 'name',
                                                optionsCaption: '',
                                                value: selectedDriverPerformance" />
        
    <!-- Display Mode -->
    <gisc-ui-label params="text: i18n('FleetMonitoring_DisplayMode')" />
    <gisc-ui-tooltip params="text:i18n('I043')" />
    <gisc-ui-radio params="text:i18n('FleetMonitoring_Full'), value:'full', checked:isRadioDisplayMode"/>
    <gisc-ui-radio params="text:i18n('FleetMonitoring_Overview'), value:'overview', checked:isRadioDisplayMode"/>
    <gisc-ui-radio params="text:i18n('FleetMonitoring_OverviewWithAlert'), value:'overview-with-alert', checked:isRadioDisplayMode"/>
</gisc-ui-component>