﻿<gisc-ui-component>

    <!--Duration-->
    <!--<gisc-ui-label params="text:i18n('FleetMonitoring_Duration')"/>
    <gisc-ui-field params="value: duration"/>-->
    <!--TimeLine-->
    <!-- ko foreach: timeLine -->
    <div class="app-fleetMonitoring-timeline-wrap">
        <div class="header" style="height: 50px;">
            <div class="title" data-bind="attr:{title:displayTitle}">
                <div class="app-fleetMonitoring-vehicle">
                    <span class="vehicleLicense" data-bind="text: vehicleLicense"></span>
                    <span class="font_18 vehicleBrand" data-bind="text: displayVehicleBrand"></span>
                </div>

                <div class="app-fleetMonitoring-icon">
                    <!-- ko ifnot: $parent.isLoading -->
                    <span class="icon-map icon-map-playback" data-bind="click: $parent.goToMap.bind($parent, $data), ifnot:empty">
                       
                        <!-- ko component: 'svg-icon-maximize-viewmap' -->
                        <!-- /ko -->
                   
                        <span class="font_18 " data-bind="text:  $parent.i18n('Common_ViewOnMap')"></span>
                        
                    </span>
                    <!-- /ko -->
                    <!-- ko if: $parent.isLoading -->
                    <div class="icon-loading animated">
                        <!-- ko component: 'svg-cmd-refresh' -->
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
                
            </div>
        </div>

        <div data-bind="if: empty" style="width:100%; display:flex;">
            <gisc-ui-field params="value: textDataNotFound" />
        </div>

        <div class="header-summary" data-bind="visible: !empty">
            <div class="details">
                <div class="detail-header">
                    <img data-bind="attr:{src:picTotalFuel}" />
                    <gisc-ui-label params="text:TotalFuel" class="font_18"/>
                </div>
                <div class="detail-data">
                    <gisc-ui-label params="text: fuelInfos.formatTotalFuel" class="font_28"/>
                </div>
                <div class="detail-description">
                    <div data-bind="text: formatDisplayFuel"></div>
                </div>
            </div>
            <!-- ko if: hasPermissionWorkingTime -->
            <div class="details" style="width: 150px;">
                <div class="detail-header">
                    <img data-bind="attr:{src:picTotalWorkingTime}" />
                    <gisc-ui-label params="text:TotalWorkingTime" class="font_18"/>
                </div>
                <div class="detail-data">
                    <gisc-ui-label params="text: formatTotalWorkingTime" class="font_28"/>
                </div>
            </div>
            <!-- /ko -->
            <div class="details">
                <div class="detail-header">
                    <img data-bind="attr:{src:picTotalDistance}" />
                    <gisc-ui-label params="text:TotalDistance" class="font_18"/>
                </div>
                <div class="detail-data">
                    <gisc-ui-label params="text: formatTotalDistance" class="font_28"/>
                </div>
            </div>
            <div class="details" style=" width: 415px;">
                <div class="detail-header">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" style="width: 15px; fill: #a3a5a8;">
                        <path class="cls-1" d="M11,13.39h9.89a.29.29,0,0,0,.29-.29V4.38a.88.88,0,0,0-.88-.88H11.54a.88.88,0,0,0-.88.88V13.1A.29.29,0,0,0,11,13.39Z" />
                        <path class="cls-1" d="M5.82,14.76a1.82,1.82,0,1,0,1.82,1.82A1.82,1.82,0,0,0,5.82,14.76Zm0,2.73a.91.91,0,1,1,.91-.91A.91.91,0,0,1,5.82,17.49Z" />
                        <path class="cls-1" d="M21,14.76H16.91a2.4,2.4,0,0,1,.81,1.47H21a.29.29,0,0,0,.29-.29v-.89A.29.29,0,0,0,21,14.76Z" />
                        <path class="cls-1" d="M9.25,14.76V6.39a.59.59,0,0,0-.59-.59H5.91A2.34,2.34,0,0,0,4,6.84L2.19,9.48a2.34,2.34,0,0,0-.4,1.31v4H1.07a.29.29,0,0,0-.29.29v.89a.29.29,0,0,0,.29.29H3.44a2.4,2.4,0,0,1,4.75,0H13a2.4,2.4,0,0,1,.81-1.47Zm-1.33-5a.29.29,0,0,1-.29.29H4a.29.29,0,0,1-.24-.46l1.42-2a.29.29,0,0,1,.24-.12H7.63a.29.29,0,0,1,.29.29Z" />
                        <path class="cls-1" d="M15.34,14.76a1.82,1.82,0,1,0,1.82,1.82A1.82,1.82,0,0,0,15.34,14.76Zm0,2.73a.91.91,0,1,1,.91-.91A.91.91,0,0,1,15.34,17.49Z" /></svg>

                    <gisc-ui-label params="text:HeardDuration" class="font_18"/>
                </div>
                <div class="detail-data" style=" width: 430px;">
                    <div  >
                        <div style="display:inline-block; width: 45%; ">
                            <img data-bind="attr:{src:picTotalMove}" style="height: 15px; vertical-align: middle;" />
                            <!-- <gisc-ui-label params="text:MoveDuration" style=" font-size: smaller;"/> -->
                            <gisc-ui-label params="text: MoveDuration" class="font_28"/>
                            <!-- <span data-bind=" text: MoveDuration" class="font_28 vehicleBrand"></span> -->
                            <span data-bind=" text: totalMove"  style="float: right; margin-right: 10px" class="font_28 app-form-labelcontainer"></span>
                        </div>
                        <div style="display:inline-block;width: 50%;">
                            <img data-bind="attr:{src:picTotalPark}" style="height: 15px; vertical-align: middle;" />
                            <!-- <gisc-ui-label params="text:ParkDuration" style=" font-size: smaller;"/> -->
                            <gisc-ui-label params="text: ParkDuration" class="font_28"/>

                            <!-- <span data-bind=" text: ParkDuration" class="font_28 vehicleBrand"></span>-->
                            <span data-bind=" text: totalPark" style="float: right" class="font_28 app-form-labelcontainer"></span> 

                        </div>
                    </div>
                    <div >
                        <div style="display:inline-block ;width: 45%;">
                            <img data-bind="attr:{src:picTotalStop}" style="height: 15px; vertical-align: middle;" />
                            <!-- <gisc-ui-label params="text:StopDuration" style=" font-size: smaller;"/> -->
                            <gisc-ui-label params="text: StopDuration" class="font_28"/>

                            <!-- <span data-bind=" text: StopDuration" class="font_28 vehicleBrand"></span>-->
                            <span data-bind=" text: totalStop" style="float: right; margin-right: 10px" class="font_28 app-form-labelcontainer"></span> 
                        </div>
                        <div style="display:inline-block ;width: 50%;">
                            <img data-bind="attr:{src:picTotalenginneon}" style="height: 15px; vertical-align: middle;" />
                            <!-- <gisc-ui-label params="text:EngineOnDuration" style=" font-size: smaller;"/> -->
                            <gisc-ui-label params="text: EngineOnDuration" class="font_28"/>

                            <!-- <span data-bind=" text: EngineOnDuration" class="font_28 vehicleBrand"></span>-->
                            <span data-bind=" text: totalParkEngineOn" style="float: right" class="font_28 app-form-labelcontainer"></span> 
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="details">
                <div class="detail-header">
                    <img data-bind="attr:{src:picTotalStop}" />
                    <gisc-ui-label params="text:StopDuration" />
                </div>
                <div class="detail-data">
                    <span data-bind="style:{color: stopColor} , text: formatTotalStop"></span>
                </div>
            </div>
            <div class="details">
                <div class="detail-header">
                    <img data-bind="attr:{src:picTotalPark}" />
                    <gisc-ui-label params="text:ParkDuration" />
                </div>
                <div class="detail-data">
                    <span data-bind="style:{color: parkColor} , text: formatTotalPark"></span>
                </div>
            </div> -->
            <div class="details" style="width: 380px;">
                <div class="div-detail">
                    <div class="detail-header">
                        <img data-bind="attr:{src:picAverageSpeed}" />
                        <gisc-ui-label params="text:SpeedInfo" class="font_18"/>
                        <!--<div data-bind="text: SpeedUnit"></div>-->
                    </div>
                    <div style="clear:both"></div>
                    <div class="detail-data">
                        <div class="title" data-bind="attr:{title:avgToolTip}">
                            <gisc-ui-label params="text: speedInfos.averageSpeed" class="font_28" />
                            <div style="width:80px;"></div>
                        </div>
                    </div>
                </div>
                <div class="div-sub-detail">
                    <div class="sub-detail">
                        <div data-bind="text: formatDisplayLevel1"></div>
                        <div data-bind="text: formatDisplayLevel2"></div>
                        <div data-bind="text: formatDisplayLevel3"></div>
                        <div data-bind="text: formatDisplayLevel4"></div>
                    </div>
                    <div class="sub-detail">
                        <div data-bind="text: formatDisplayLevel5"></div>
                        <div data-bind="text: formatDisplayLevel6"></div>
                        <div data-bind="text: formatDisplayLevel7"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<gisc-ui-chartbar params="data:movements ,value:'duration' ,color:'color'" />-->
        <div style="display:inline-block !important;width:100% !important;" data-bind="if: (timelineData.graphs.length!=0)">
            <gisc-ui-timelinechart params="data:timelineData, 
            onTimelineClick: $parent.onClickEvent.bind($parent)" />
        </div>

        <!--<div class="app-fleetMonitoring-legend">
            <div class="legend-detail">
                <div class="legend-move"></div>
                <div class="legend-text">MOVE</div>
            </div>
            <div class="legend-detail">
                <div class="legend-park"></div>
                <div class="legend-text">PARK</div>
            </div>
            <div class="legend-detail">
                <div class="legend-stop"></div>
                <div class="legend-text">STOP</div>
            </div>
        </div>-->

        <div class="app-fleetMonitoring-description">
            <!-- ko foreach: description -->
            <span class='icon-description' data-bind="text:text, style: {background:style.backgroundColor, color:style.fontColor}"></span>
            <span data-bind="text: displayDescription"></span>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!--<div data-bind="if: isNoData">
        <gisc-ui-field params="value: i18n('Common_DataNotFound')" />
    </div>-->
    <!--Legend-->
    <!--<gisc-ui-label params="text:i18n('FleetMonitoring_Legend')" />
    <gisc-ui-field params="value: i18n('FleetMonitoring_Move'), cssClass:'move'" />
    <gisc-ui-field params="value: i18n('FleetMonitoring_Park'), cssClass:'park'" />
    <gisc-ui-field params="value: i18n('FleetMonitoring_Stop'), cssClass:'stop'" />-->
</gisc-ui-component>