﻿<gisc-ui-component>
    <!--Icon-->
    <gisc-ui-label params="for: 'icon', text: i18n('Common_Icon') ,isRequired:true" />
    <gisc-ui-tooltip params="text: i18n('I004')"></gisc-ui-tooltip>
    <div class="app-img-wrap">
        <div class="app-img-manage-wrap">
            <img data-bind="attr: { src: iconUrl, alt: '', class: 'placeholder', style: 'width:32px;height:32px' }" />
        </div>
        <gisc-ui-fileupload params="accept: 'image/png',
                                    selectedFile: iconSelectedFile,
                                    fileName: iconName,
                                    onUploadSuccess: onUploadSuccess.bind($data),
                                    onUploadFail: onUploadFail.bind($data),
                                    onBeforeUpload: onBeforeUpload.bind($data),
                                    onRemoveFile: onRemoveFile.bind($data)" />
    </div>

      <!--Name-->
    <gisc-ui-label params="for:'txtName', isRequired:true,text:i18n('Configurations_Name')" />
    <gisc-ui-textbox params="id:'txtName', value:name"/>

    <!--offset X-->
    <gisc-ui-label params="for:'txtOffsetX', text:i18n('Configurations_OffsetX')" />
    <gisc-ui-textbox params="id:'txtOffsetX', value: offsetX, filter:{type :'numeric', numericType:'int'} "/>

    <!--offset Y-->
    <gisc-ui-label params="for:'txtOffsetY', text:i18n('Configurations_OffsetY')" />
    <gisc-ui-textbox params="id:'txtOffsetY', value: offsetY, filter:{type :'numeric', numericType:'int'} "/>

</gisc-ui-component>