﻿<gisc-ui-component>
    <!--Icon-->
    <gisc-ui-label params="text: i18n('Common_Icon'), isRequired: true" />
    <div class="app-img-wrap">
        <img data-bind="attr: { src: iconUrl }" />
    </div>

    <!--Name-->
    <gisc-ui-label params="text: i18n('Configurations_Name'), isRequired: true" />
    <gisc-ui-field params="value: name" />

    <!--offsetX-->
    <gisc-ui-label params="text: i18n('Configurations_OffsetX')" />
    <gisc-ui-field params="value: offsetX"/>

    <!--offsetY-->
    <gisc-ui-label params="text: i18n('Configurations_OffsetY')" />
    <gisc-ui-field params="value: offsetY" />

</gisc-ui-component>