<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>TextBox control is using for input field where the user can enter data.
            <blockquote>Supports types of textBox:
                <ul>
                    <li>text</li>
                    <li>password</li>
                </ul>
            </blockquote>
            <blockquote>Supports filter of textBox:
                <ul>
                    <li>Numeric</li>
                    <li>Alphanumeric</li>
                    <li>regex</li>
                </ul>
            </blockquote>
        </blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>enable</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>value</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>placeholder</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>maxlength</code></td>
                        <td>No</td>
                        <td>100</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>type</code></td>
                        <td>No</td>
                        <td>text</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>filter</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>immediateValueUpdate</code></td>
                        <td>No</td>
                        <td>false</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>value</code> Get/Set value from the Textbox.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls
                            will generate GUID.</li>
                        <li><code>enable</code> Flag to determine whether this control is enabled or not. If set to false the
                            control is not interactable.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the
                            control is not render.</li>
                        <li><code>placeholder</code> Placeholder text when textbox is cleared.</li>
                        <li><code>maxlength</code> Maximum number of characters allowed.</li>
                        <li><code>type</code> Either text or password.</li>
                        <li><code>filter</code> Detect characters that entered into textbox. Supports alphanumeric and numeric.</li>
                        <li><code>immediateValueUpdate</code> Trigger data change when user keypress or focus out (default).</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Set <code>type</code></h2>
            <section id="exp1">
                <h3>Basic Textbox</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;for:&#x27;Ex1&#x27;, text:&#x27;Standard&#x27;&quot;&gt;&lt;&#x2F;gisc-ui-label&gt;
&lt;gisc-ui-textbox params=&quot;id:&#x27;Ex1&#x27;, placeholder:example, value:ex1&quot;&gt;&lt;&#x2F;gisc-ui-textbox&gt;</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="for:'Ex1', text:'Standard'" />
                    <gisc-ui-textbox params="id:'Ex1', placeholder:example, value:ex1" />
                </div>
            </section>
            <section id="exp2">
                <h3>Password Textbox</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text:&#x27;Password&#x27;&quot;&gt;&lt;&#x2F;gisc-ui-label&gt;
&lt;gisc-ui-textbox params=&quot;value:pwd, type:&#x27;password&#x27;&quot;&gt;&lt;&#x2F;gisc-ui-textbox&gt;</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text:'Password'" />
                    <gisc-ui-textbox params="value:pwd, type:'password'" />
                </div>
            </section>

            <h2>Set <code>filter</code></h2>
            <section id="exp3">
                <strong>Supports filter option:</strong>
                <ul>
                    <li><code>type</code> support parameter below:
                        <ul>
                            <li>numeric</li>
                            <li>alphanumeric</li>
                            <li>regex</li>
                        </ul>
                    </li>
                    <li><code>numericType</code> Using with numeric to specific data type , support parameter below:
                        <ul>
                            <li>int</li>
                            <li>float</li>
                        </ul>
                    </li>
                    <li><code>min</code> Minimum numeric value allowed.</li>
                    <li><code>max</code> Maximum numeric value allowed.</li>
                    <li><code>maxDecimalPlaces</code> Maximum of digital before the decimal point.</li>
                    <li><code>maxPreDecimalPlaces</code> Maximum of decimal places.</li>
                    <li><code>maxPrefixDigits</code> Maximum of leading zero for example 000001.</li>
                    <li><code>allowNegative</code> Allow negative number if set to <code>true</code>.</li>
                    <li><code>pattern</code> Defined a text of the regular expression.This property can use when set filter type to <code>regex</code></li>
                </ul>
            </section>

            <h3>Numeric Textbox</h3>
            <section>
                <!--<h4>Set to <code>numeric</code>:</h4>-->
                <h4>Set numericType to <code>int</code>.</h4>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text:&#x27;Number Int&#x27;&quot;/&gt;
&lt;gisc-ui-textbox params=&quot;value:numeric, filter:{type :'numeric', numericType:'int'}&quot;/&gt;</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text:'Numeric Int'"></gisc-ui-label>
                    <gisc-ui-textbox params="value:numeric, filter:{type :'numeric', numericType:'int'}" />
                </div>
            </section>

            <section>
                <h4>Set numericType to <code>float</code>.
                    <h4>Source</h4>
                    <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text:&#x27;Number Float&#x27;&quot;/&gt;
&lt;gisc-ui-textbox params=&quot;value:numeric, filter:{type :'numeric', numericType:'float' ,,maxDecimalPlaces:2}&quot;/&gt;</code></pre>
                    <h4>Output</h4>
                    <div class="output">
                        <gisc-ui-label params="text:'Numeric Float'" />
                        <gisc-ui-textbox params="value:numeric2, filter:{type :'numeric', numericType:'float', maxDecimalPlaces:2}" />
                    </div>
            </section>

            <h3>Alphanumeric Textbox</h3>
            <section>
                <!--<h4>Set to <code>alphanumeric</code></h4>-->
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text:&#x27;Alphanumeric&#x27;&quot;/&gt;
&lt;gisc-ui-textbox params=&quot;value:alphanumeric, filter:{type: 'alphanumeric'}&quot;/&gt;</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text:'Alphanumeric'"></gisc-ui-label>
                    <gisc-ui-textbox params="value:alphanumeric, filter:{type: 'alphanumeric'}"></gisc-ui-textbox>
                </div>
            </section>

             <h3>Regex Pattern</h3>
            <section>
                <!--<h4>Set to <code>numeric</code>:</h4>-->
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params="text:'Regex Pattern'"></gisc-ui-label>
&lt;gisc-ui-textbox params="value:regex, filter:{type :'regex', pattern:'[a-zA-Z0-9]'}" /></code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text:'Regex Pattern'"></gisc-ui-label>
                    <gisc-ui-textbox params="value:regex, filter:{type :'regex', pattern:'[a-zA-Z0-9]'}" />
                </div>
            </section>

            <h2>Set <code>maxlength</code></h2>
            <section id="exp4">
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text:&#x27;Maxlength&#x27;&quot;/&gt;
&lt;gisc-ui-textbox params=&quot;value:maxlength, maxlength:'20'&quot;/&gt;
</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text:'Maxlength'"></gisc-ui-label>
                    <gisc-ui-textbox params="value:maxlength, maxlength:'20'"></gisc-ui-textbox>
                </div>
            </section>

            <h2>Set <code>enable</code> to false</h2>
            <section id="exp5">
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text:&#x27;Disable&#x27;&quot;&gt;&lt;&#x2F;gisc-ui-label&gt;
&lt;gisc-ui-textbox params=&quot;placeholder:example, value:ex2, enable:false&quot;&gt;&lt;&#x2F;gisc-ui-textbox&gt;
</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text:'Disable'"></gisc-ui-label>
                    <gisc-ui-textbox params="placeholder:example, value:ex2, enable:false"></gisc-ui-textbox>
                </div>
            </section>

            <h2>Set <code>visible</code> to false</h2>
            <section id="exp6">
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text:&#x27;Hidden&#x27;&quot;&gt;&lt;&#x2F;gisc-ui-label&gt;
&lt;gisc-ui-textbox params=&quot;placeholder:example, visible:isVisible&quot;&gt;&lt;&#x2F;gisc-ui-textbox&gt;
</code></pre>
                <pre><code class="hljs js">// View Model
this.isVisible = ko.observable(false);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text:'Hidden'"></gisc-ui-label>
                    <gisc-ui-textbox params="placeholder:example, visible:isVisible"></gisc-ui-textbox>
                    <button class="eval-btn" data-bind="click: toggleIsVisible">Toggle isVisible</button>
                </div>
            </section>
        </section>

    </article>

</gisc-ui-component>