<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Dropdown is a non-editable list, there are 2 variants single and multiple selection.
            <blockquote>Supports the following types:
                <ul>
                    <li>default</li>
                    <li>multiple</li>
                </ul>
            </blockquote>
        </blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>enable</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>options</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>optionsText</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>optionsCaption</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>value</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>type</code></td>
                        <td>No</td>
                        <td>default</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>optionsText</code> Key to access datasource's item field which display as option's text.</li>
                        <li><code>value</code> Set/Get current selected options as object in datasource. Normally this is bound to an Observable.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>enable</code> Flag to determine whether this control is enabled or not. If set to false the control is not interactable.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                        <li><code>optionsCaption</code> First item act as placeholder with no value assigned to this item. Use when field is optional.</li>
                        <li><code>type</code> Flag to controls rendering type, multiple will set dropdown to multiple selection mode.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text: &#x27;Example 1( With optionsCaption )&#x27;&quot;&#x2F;&gt;
&lt;gisc-ui-dropdown params=&quot;options: availableCountries,
                          optionsText: &#x27;countryName&#x27;,
                          value: selectedItem,
                          optionsCaption: &#x27;Please Choose...&#x27;&quot;&#x2F;&gt;
                </code></pre>
                <pre><code class="hljs js">// View Model
class Country {
    constructor(name, population) {
        this.countryName = name;
        this.countryPopulation = population;
    }
}

this.availableCountries = ko.observableArray([
    new Country("UK", 65000000),
    new Country("USA", 320000000),
    new Country("Sweden", 29000000)
]);

this.selectedItem = ko.observable();</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text: 'Example 1( With optionsCaption )'"/>
                    <gisc-ui-dropdown params="options: availableCountries,
                                              optionsText: 'countryName',
                                              value: selectedItem,
                                              optionsCaption: 'Please Choose...'"/>

                    <div data-bind="visible: selectedItem">
                        <!-- Appears when you select something -->
                        You have chosen a country
                        <strong><span data-bind="text: selectedItem() ? selectedItem().countryName : 'unknown'"></span> </strong> with population
                        <strong><span data-bind="text: selectedItem() ? selectedItem().countryPopulation : 'unknown'"></span></strong>
                    </div>
                </div>
            </section>

            <section id="exp2">
                <h3>Without <code>optionsCaption</code></h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text: &#x27;Example 2( Without optionsCaption )&#x27;&quot;&#x2F;&gt;
&lt;gisc-ui-dropdown params=&quot;options: availableCountries,
                          optionsText: &#x27;countryName&#x27;,
                          value: selectedItem2&quot;&#x2F;&gt;
                </code></pre>
                <pre><code class="hljs js">// View Model
class Country {
    constructor(name, population) {
        this.countryName = name;
        this.countryPopulation = population;
    }
}

this.availableCountries = ko.observableArray([
    new Country("UK", 65000000),
    new Country("USA", 320000000),
    new Country("Sweden", 29000000)
]);

this.selectedItem2 = ko.observable();</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text: 'Example 2( Without optionsCaption )'"/>
                    <gisc-ui-dropdown params="options: availableCountries,
                                              optionsText: 'countryName',
                                              value: selectedItem2"/>
                    <div data-bind="visible: selectedItem2">
                        You have chosen a country
                        <strong><span data-bind="text: selectedItem2() ? selectedItem2().countryName : 'unknown'"></span> </strong> with population
                        <strong><span data-bind="text: selectedItem2() ? selectedItem2().countryPopulation : 'unknown'"></span> </strong>
                    </div>
                </div>
            </section>

            <section id="exp3">
                <h3>Multi-selection</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-dropdown params=&quot;options: availableCountries,
                          optionsText: &#x27;countryName&#x27;,
                          value: selectedOptions,
                          type: 'multiple'&quot;&#x2F;&gt;
</code></pre>
                <pre><code class="hljs js">// View Model
class Country {
    constructor(name, population) {
        this.countryName = name;
        this.countryPopulation = population;
    }
}

this.availableCountries = ko.observableArray([
    new Country("UK", 65000000),
    new Country("USA", 320000000),
    new Country("Sweden", 29000000)
]);

this.selectedOptions = ko.observableArray([]);
</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text: 'MultiSelect'"></gisc-ui-label>
                    <gisc-ui-dropdown params="options: availableCountries,
                                              optionsText: 'countryName',
                                              value: selectedOptions,
                                              type: 'multiple'"/>
                    <div data-bind="if: selectedOptions().length > 0">
                        <h5>Selected Items</h5>
                        <ul data-bind="foreach: selectedOptions">
                            <li>
                                <span data-bind="text: countryName"> </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
    </article>

</gisc-ui-component>