﻿<gisc-ui-component>
    <!-- New Password -->
    <gisc-ui-label params="for: 'txtNewPassword', text: i18n('Common_NewPassword'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtNewPassword', value: newPassword, type:'password', maxlength: 200"></gisc-ui-textbox>

    <!-- Confirm New Password -->
    <gisc-ui-label params="for: 'txtNewPasswordConfirm', text: i18n('Common_ConfirmNewPassword'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtNewPasswordConfirm', value: confirmNewPassword, type:'password', maxlength: 200"></gisc-ui-textbox>

</gisc-ui-component>