﻿<gisc-ui-component>
    <!-- User Group -->
    <gisc-ui-label params="for: 'ddUserGroup', text: i18n('User_UserGroup')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddUserGroup',
                              options: userGroupDS,
                              optionsText: 'title',
                              value: userGroup,
                              optionsCaption: ''">
    </gisc-ui-dropdown>
    <!-- Business Unit -->
    <gisc-ui-label params="for: 'ddtBusinessUnit', text: i18n('Common_BusinessUnit')"></gisc-ui-label>
    <gisc-ui-dropdowntree params="id: 'ddtBusinessUnit',
                                  options: businessUnitDS,
                                  optionsID: 'id',
                                  optionsText: 'name',
                                  optionsParent: 'parentBusinessUnitId',
                                  optionsChildren: 'childBusinessUnits',
                                  value: businessUnit" />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />

    <!-- Permission Type  -->
    <gisc-ui-label params="for: 'ddPmsType', text: i18n('User_UserType')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddPmsType',
                              options: pmsTypeOptions,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: pmsType,
                              enable: isPermissionTypePublic"></gisc-ui-dropdown>

    <!-- Enable -->
    <gisc-ui-label params="for: 'ddUserEnabled', text: i18n('Common_Enable')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddUserEnabled',
                              options: enableDS,
                              optionsText: 'title',
                              value: userEnabled,
                              optionsCaption: ''">
    </gisc-ui-dropdown>

</gisc-ui-component>