﻿@import 'theme.scss';

/* Font Setting */
$regular-src: url('font/woff/DB Helvethaica X v3.2.woff') format('woff'), /* IE9 Compat Modes */
url('font/ttf/DB Helvethaica X v3.2.ttf') format('truetype'); /* Safari, Android, iOS */

$italic-src: url('font/woff/DB-Helvethaica-X-It-v3.2.woff') format('woff'), /* IE9 Compat Modes */
url('font/ttf/DB Helvethaica X It v3.2.ttf') format('truetype'); /* Safari, Android, iOS */

$bold-src: url('font/woff/DB Helvethaica X Bd v3.2.woff') format('woff'), /* IE9 Compat Modes */
url('font/ttf/DB Helvethaica X Bd v3.2.ttf') format('truetype'); /* Safari, Android, iOS */

/* Global CSS : HTML BODY Map */
body, html, #divMap, #divWorkingMap {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

@include font('DB-Regular', $regular-src);
@include font('DB-Italic', $italic-src);
@include font('DB-Bold', $bold-src);

@include main-theme( 
    'app-theme-gis', 
    #FFFFFF,
    #1E7358,
    #20AF80,
    #B7D9C8,
    #FFD100,
    #1C211A,
    #323B3A,
    #A3A5A8,
    #F2F2F2,
    #FF0000,
    'DB-Regular',
    'DB-Italic',
    'DB-Bold'
    );
    
@include main-theme( 
    'app-theme-sccc', 
    #FFFFFF,
    #9b0f06,
    #E02214,
    #999999,
    #FFD100,
    #1C211A,
    #323B3A,
    #A3A5A8,
    #F2F2F2,
    #FF0000,
    'DB-Regular',
    'DB-Italic',
    'DB-Bold'
    );

@include main-theme( 
    'app-theme-kubota', 
    #FFFFFF,
    #b2441a,
    #F15A22, 
    #999999,
    #FFD100,
    #1C211A,
    #323B3A,
    #A3A5A8,
    #F2F2F2,
    #FF0000,
    'DB-Regular',
    'DB-Italic',
    'DB-Bold'
    );

    @include main-theme( 
    'app-theme-pea', 
    #FFFFFF,
    #422f4f,
    #a35ecd,
    #cccbdd,
    #FFD100,
    #1C211A,
    #323B3A,
    #A3A5A8,
    #F2F2F2,
    #FF0000,
    'DB-Regular',
    'DB-Italic',
    'DB-Bold'
    );

    @include main-theme( 
    'app-theme-boonrawd', 
    #FFFFFF,
    #805F14,
    #FFC328,
    #FFC328,
    #FFD100,
    #1C211A,
    #323B3A,
    #A3A5A8,
    #F2F2F2,
    #FF0000,
    'DB-Regular',
    'DB-Italic',
    'DB-Bold'
    );