﻿/* Font Family Creator */
$common-loading-bg:#CECECE;

.div-loading {
    background-color:$common-loading-bg !important;
}

@mixin font($font-name, $font-src) {
    @font-face {
        font-family: $font-name;
        src: $font-src;
    }
}

@mixin main-theme( $name, $map-color-white, $map-color-darkgreen, $map-color-green, $map-color-lightgreen, $map-color-yellow, $map-color-black, $map-color-lightblack, $map-color-gray, $map-color-lightgray, $map-color-red, $font-regular-name, $font-italic-name, $font-bold-name) {
    .#{$name} {
        .div-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100000;
            display: flex;
            -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            width: auto;
            text-align: left;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-align-items: center;
            background-color: $common-loading-bg;
        }

        .div-loading-logo svg {
            fill: $map-color-white;
        }

        .div-loading-text {
            font-family: $font-bold-name;
            font-size: 60px;
            color: $map-color-white;
        }

        .app-splashscreen-loader-container {
            width: 585px;
            margin-top: 16px;
        }

        .app-splashscreen-loader-container > div {
            opacity: 0;
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: $map-color-white;
            -webkit-animation: loading 3s cubic-bezier(0, 0.95, 1, 0.05) infinite, loading-opacity 1.5s ease-in-out infinite alternate;
            animation: loading 3s cubic-bezier(0, 0.95, 1, 0.05) infinite, loading-opacity 1.5s ease-in-out infinite alternate;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .app-splashscreen-loader-container > div:nth-child(1) {
            -webkit-animation-delay: .5s;
            animation-delay: .5s;
        }

        .app-splashscreen-loader-container > div:nth-child(2) {
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

        .app-splashscreen-loader-container > div:nth-child(3) {
            -webkit-animation-delay: .3s;
            animation-delay: .3s;
        }

        .app-splashscreen-loader-container > div:nth-child(4) {
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        @keyframes loading {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }

            10% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }

            45% {
                -webkit-transform: translateX(535px/2);
                transform: translateX(535px/2);
            }

            55% {
                -webkit-transform: translateX(535px/2);
                transform: translateX(535px/2);
            }

            90% {
                -webkit-transform: translateX(535px);
                transform: translateX(535px);
            }

            100% {
                -webkit-transform: translateX(535px);
                transform: translateX(535px);
            }
        }

        @keyframes loading-opacity {
            0% {
                opacity: 0;
            }

            10% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        .div-panel-loading {
            width: 100%;

            .app-blade-progress-translucent {
                position: absolute;
                width: 85px;
                height: 12px;
                left: calc(50% - 85px/2);
                z-index: 198;

                div {
                    background-color: $map-color-white;
                    display: inline-block;
                    margin: 4px 2px;
                    width: 4px;
                    height: 4px;
                    top: 2px;
                    border-radius: 100%;
                    position: relative;
                    left: 20px;
                    vertical-align: top;
                    -webkit-animation: app-blade-progress-translucent-keyframes 3s cubic-bezier(.030, .615, .995, .415) infinite;
                    animation: app-blade-progress-translucent-keyframes 3s cubic-bezier(.030, .615, .995, .415) infinite;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                }

                div:nth-child(1) {
                    -webkit-animation-delay: .8s;
                    animation-delay: .8s;
                }

                div:nth-child(2) {
                    -webkit-animation-delay: .6s;
                    animation-delay: .6s;
                }

                div:nth-child(3) {
                    -webkit-animation-delay: .4s;
                    animation-delay: .4s;
                }

                div:nth-child(4) {
                    -webkit-animation-delay: .2s;
                    animation-delay: .2s;
                }

                div:nth-child(5) {
                    -webkit-animation-delay: .0s;
                    animation-delay: .0s;
                }
            }

            @keyframes app-blade-progress-translucent-keyframes {
                0% {
                    -webkit-transform: translateX(-30px);
                    transform: translateX(-30px);
                    opacity: 0;
                }

                25% {
                    opacity: 1;
                }

                50% {
                    -webkit-transform: translateX(30px);
                    transform: translateX(30px);
                    opacity: 0;
                }

                100% {
                    opacity: 0;
                }
            }
        }
        /* Global CSS : Widget */
        div.global-widget-header {
            height: 60px;
            width: 100%;
            background-color: $map-color-lightgreen;
            padding: 10px;
            box-sizing: border-box;
        }

        div.global-widget-header-text {
            cursor: default;
            font-size: 28px;
            box-sizing: border-box;
            font-family: $font-bold-name;
            color: $map-color-lightblack;
        }

        div.global-widget-content {
            /*padding:10px;*/
            box-sizing: border-box;
        }
        /* Global CSS : Button */
        div.global-btn-submit {
            min-width: 100px;
            height: 30px;
            cursor: pointer;
            /*border:1px solid black;*/
            box-sizing: border-box;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            color: $map-color-white;
            background-color: $map-color-green;
            font-family: $font-regular-name;
            font-size: 20px;
        }

        div.global-btn-submit:active {
            background-color: $map-color-darkgreen;
        }

        div.global-btn-cancel {
            min-width: 100px;
            height: 30px;
            cursor: pointer;
            box-sizing: border-box;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            color: $map-color-white;
            background-color: $map-color-gray;
            font-family: $font-regular-name;
            font-size: 20px;
        }

        div.global-btn-cancel:active {
            background-color: $map-color-lightblack;
        }
        /* Global CSS : Form Input */
        label.global-form-label {
            font-family: $font-regular-name;
            font-size: 22px;
            color: $map-color-gray;
        }

        input.global-form-invalid {
            border: 1px solid $map-color-red;
            box-sizing: border-box;
        }

        input.global-form-textbox {
            /*width:150px;*/
            height: 30px;
            box-sizing: border-box;
            font-family: $font-regular-name;
            font-size: 20px;
            outline: none;
        }
        /* SVG ICON STATUS SETTING  */
        .div-status-blog {
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            padding-left: 10px;
        }

        .div-icon-container {
            width: 50%;
            height: 100%;
            float: left;
            box-sizing: border-box;
            padding-top: 10px;
        }

        .div-svg-icon-status {
            width: 30px;
            height: 30px;
            float: left;
        }

        .div-svg-icon-status-text {
            width: calc(100% - 30px);
            height: 30px;
            float: left;
            font-family: $font-regular-name;
            font-size: 20px;
            line-height: 30px;
            color: $map-color-lightblack;
            text-indent: 20px;
            text-overflow: ellipsis;
            cursor: default;
            white-space: nowrap;
            overflow: hidden;
        }

        .div-svg-icon-status svg .cls-1 {
            fill: $map-color-lightblack !important;
        }

        .div-footprint-legend {
            background-color: rgba($map-color-lightblack, 0.9);
            position: absolute;
            right: 50px;
            bottom: 50px;
            /*width:150px;*/
            /*height:100px;*/
            z-index: 1;
            padding: 10px;
            border-radius: 10px;
            box-sizing: border-box;
            display: none;
        }

        .div-footprint-legend.open {
            display: block;
        }

        .div-legend-item {
            /*width:calc(100%);*/
            margin-bottom: 5px;
            box-sizing: border-box;
        }

        .div-legend-item:last-child {
            margin-bottom: 0px;
        }

        .div-legend-color {
            display: table-cell;
            vertical-align: middle;
        }

        .div-legend-color-item {
            /*background-color:red;*/
            width: 30px;
            height: 30px;
        }

        .div-legend-label {
            font-family: $font-regular-name;
            color: $map-color-white;
            font-size: 18px;
            padding-left: 10px;
            vertical-align: middle;
            display: table-cell;
        }
        /* Override Scalebar */
        .scalebar_bottom-right {
            right: 180px;
            bottom: 20px;
        }

        .div-location-text {
            width: calc(100% - 55px);
            height: auto;
            float: left;
            font-family: $font-regular-name;
            font-size: 20px;
            line-height: 30px;
            color: $map-color-lightblack;
            cursor: default;
            margin-left: 20px;
        }
        /* Map Info (GIS)*/
        .mapinfo-row {
            font-family: $font-regular-name;
            font-size: 18px;
        }

        .mapinfo-column-title {
            width: 100px;
            font-weight: bold;
            vertical-align: top;
        }

        .mapinfo-column-text {
            width: 200px;
            word-break: break-all;
            vertical-align: top;
        }

        .mapinfo-remark-title {
            font-weight: bold;
            /*width: 200px;*/
        }

        .mapinfo-remark-text {
            margin-top: 5px;
            /*width: 200px;*/
        }
        /* List Container */
        .wg-list-container {
            width: 100%;
            height: auto;
        }

        .wg-list-item {
            cursor: pointer;
            width: 100%;
            height: 50px;
            border-top: 1px solid $map-color-gray;
            box-sizing: border-box;
            display: table;
            &.check-all{
                border-top: unset;
            }
            &.checkbox{
                padding-left: 40px;
                background-color: rgb(255, 255, 255);
                border-top: unset;
            }
        }
        /*.wg-list-item:hover {
            background-color: #e2e3e4;
        }*/
        .wg-list-item:active {
            background-color: $map-color-lightgreen;
        }

        .wg-list-item:last-child {
            border-bottom: 1px solid $map-color-gray;
            &.checkbox{
                border-bottom: unset;
            }
        }

        .wg-list-item-label {
            display: table-cell;
            vertical-align: middle;
            font-family: $font-regular-name;
            font-size: 22px;
            color: $map-color-gray;
            &.check-all{
                padding-left: 20px;
            }
            &.active{
                color: $map-color-green;
            }
        }

        .has-delete .wg-list-item-label {
            padding-right: 40px;
        }

        .wg-list-item-icon {
            display: table-cell;
            width: 60px;
            height: 100%;
            vertical-align: middle;
            box-sizing: border-box;
            padding-left: 10px;
        }

        .wg-list-item-icon img {
            width: 30px;
            height: 30px;
            display: table-cell;
        }

        .wg-list-item-icon-check {
            display: table-cell;
            width: 20px;
            height: 100%;
            vertical-align: middle;
            box-sizing: border-box;
            padding-left: 10px;
            &.check-all{
                padding-left: 20px;
            }
        }

        .wg-list-item-icon-check img {
            width: 20px;
            height: 20px;
            display: table-cell;
        }

        .wg-list-item-icon svg {
            width: 30px;
            height: 30px;
            display: table-cell;
            vertical-align: middle;
        }

        .wg-list-item-delete-icon {
            display: none;
        }

        .has-delete .wg-list-item-delete-icon {
            display: table-cell;
            vertical-align: middle;
            width: 40px;
            height: 100%;
            box-sizing: border-box;
        }

        .has-delete .wg-list-item-delete-icon svg {
            width: 30px;
            height: 30px;
            display: table-cell;
            vertical-align: middle;
        }
        /*.wg-list-item-icon svg .cls-1 {
            fill:#20af80 !important;
        }*/
        .wg-list-item.selected {
            background-color: $map-color-green;
        }

        .wg-list-item.selected .wg-list-item-label {
            color: $map-color-white;
        }
        /* Context Menu */
        .wg-context-menu {
            display: none;
            position: absolute;
            z-index: 51;
            background-color: $map-color-lightgray;
            border-radius: 10px;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            box-shadow: 2px 2px 5px 2px rgba($map-color-black, 0.3);
            -webkit-box-shadow: 2px 2px 5px 2px rgba($map-color-black, 0.3);
            -moz-box-shadow: 2px 2px 5px 2px rgba($map-color-black, 0.3);
        }
        /* Override CSS ListItemC*/
        .wg-context-menu .wg-list-item {
            border: 0 none;
            height: 50px;
            padding-right: 10px
        }

        .wg-context-menu .wg-list-item-label {
            border-bottom: 1px solid $map-color-gray;
            color: $map-color-lightblack;
            font-size: 20px;
            font-family: $font-regular-name;
        }

        .wg-context-menu .wg-list-item:first-child:active {
            border-radius: 10px 10px 0 0;
        }

        .wg-context-menu .wg-list-item:last-child:active {
            border-radius: 0 0 10px 10px;
        }

        .wg-context-menu .wg-list-item:last-child .wg-list-item-label {
            border-bottom: 0 none;
        }

        .wg-context-menu .wg-list-item-icon svg .cls-1 {
            fill: $map-color-green !important;
        }
        /* ToolPanel */
        .wg-toolpanel {
            width: 40px;
            /*height: calc(100%);*/
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 50;
            height: calc(100%);
        }

        .wg-toolpanel-main {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .wg-toolpanel-menu {
            position: relative;
            padding-top: 10px;
            right: 0;
            z-index: 2;
        }
        /*.wg-toolpanel-panel-icon {
        width:28px;
        height:28px;
        margin-top:6px;
        margin-left:6px;
    }*/
        .wg-toolpanel-menu-item svg {
            width: 28px;
            height: 28px;
            margin-top: 6px;
            margin-left: 6px;
        }

        .wg-toolpanel-menu-space {
            height: 10px;
            width: 40px;
        }

        .wg-toolpanel-menu-gap {
            height: 2px;
            width: 40px;
            background-color: $map-color-black;
        }

        .wg-toolpanel-menu-item {
            cursor: pointer;
            background-color: rgba($map-color-lightblack, 0.9);
            position: relative;
            height: 40px;
            width: 40px;
            box-sizing: border-box;
            &.shipment-legend {
                margin-top: 5px;
                border-radius: 10px 0 0 10px;
                display: none;
            }
        }

        .wg-toolpanel-menu-item svg .cls-1 {
            fill: $map-color-lightgray;
        }

        .wg-toolpanel-menu-item.content-active svg .cls-1 {
            fill: $map-color-green;
        }

        .wg-toolpanel-menu-item:active svg .cls-1,
        .wg-toolpanel-menu-item.content-open svg .cls-1 {
            fill: $map-color-yellow !important;
        }

        .wg-toolpanel-menu-item:first-child {
            border-radius: 10px 0 0 0;
        }

        .wg-toolpanel-menu-item.last-item {
            border-radius: 0 0 0 10px;
        }

        .wg-toolpanel-menu-item.other-content {
            display: none;
            margin-top: 10px;
            border-radius: 10px 0 0 10px;
        }

        .wg-toolpanel-menu-item-tooltip {
            background-color: $map-color-lightgray;
            border-radius: 4px;
            color: $map-color-lightblack;
            padding: 6px;
            position: absolute;
            right: 100%;
            text-align: center;
            visibility: hidden;
            white-space: nowrap;
            z-index: 1;
            top: 10%;
            font-family: $font-regular-name;
            font-size: 16px;
        }

        .wg-toolpanel-menu-item-tooltip::after {
            content: " ";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent $map-color-white;
        }

        .wg-toolpanel-menu-item:hover .wg-toolpanel-menu-item-tooltip {
            visibility: visible;
        }

        .wg-toolpanel-menu-item-first:hover .wg-toolpanel-menu-item-tooltip {
            visibility: visible;
        }

        .wg-toolpanel-menu-item-last:hover .wg-toolpanel-menu-item-tooltip {
            visibility: visible;
        }
        /* Open */
        .wg-toolpanel-panel {
            height: 100%;
            width: 285px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $map-color-white;
            box-shadow: 6px 6px 6px 6px rgba($map-color-black, 1);
            display: none;
        }

        .wg-toolpanel-menu.open {
            right: 285px;
        }

        .wg-toolpanel.open {
            height: calc(100%);
        }

        .wg-toolpanel-panel.open {
            display: block;
        }

        .wg-toolpanel-panel-close {
            /*background-image:url('../../images/menu/close.png');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center center;*/
            /*background-color:#f2f2f2;
        border-radius:100px;*/
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .wg-toolpanel-panel-close svg {
            width: 20px;
            height: 20px;
        }

        .wg-toolpanel-panel-close svg .cls-1 {
            fill: $map-color-darkgreen !important;
        }

        .wg-toolpanel-panel-content {
            height: 100%;
            width: 100%;
            background-color: $map-color-lightgray;
        }

        .wg-toolpanel-panel-pin {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 70px;
            cursor: pointer;
        }

        .wg-toolpanel-panel-pin svg {
            width: 15px;
            height: 20px;
            fill: $map-color-darkgreen;
        }

        .wg-toolpanel-panel-pin.active-pin svg {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            fill: $map-color-black !important;
        }

        .wg-toolpanel-panel-hide {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 40px;
            cursor: pointer;
        }

        .wg-toolpanel-panel-hide svg {
            width: 20px;
            height: 20px;
        }

        .wg-toolpanel-panel-hide svg .cls-1 {
            fill: transparent !important;
        }

        .wg-toolpanel-panel-hide svg .cls-1 {
            fill: transparent !important;
        }

        .wg-toolpanel-panel-hide svg .cls-2 {
            fill: $map-color-darkgreen !important;
        }

        .wg-toolpanel-menu-item.other-content.show {
            display: block;
        }

        .wg-toolpanel-menu-item.other-content.show svg .cls-1 {
            fill: rgba($map-color-black, 0) !important;
        }

        .wg-toolpanel-hidding-panel {
            position: absolute;
            width: 40px;
            height: 100%;
            top: 0;
            right: 0;
            background-color: $map-color-lightgray;
            box-sizing: border-box;
            border-left: 1px solid $map-color-gray;
            box-shadow: -1px 0 5px $map-color-gray;
            display: none;
            cursor: pointer;
        }

        .wg-toolpanel-main.open .wg-toolpanel-hidding-panel {
            display: block;
        }

        .wg-toolpanel-hidding-panel-text {
            -webkit-transform: rotate(90deg) translateX(50%) translateX(25px);
            transform: rotate(90deg) translateX(50%) translateX(25px);
            text-transform: uppercase;
            font-family: $font-bold-name;
            color: $map-color-lightblack;
            font-size: 24px;
            line-height: 0.6em;
            white-space: nowrap;
        }
        /* Hide Content*/
        .wg-toolpanel-main.open .wg-toolpanel-panel {
            display: none;
        }

        .wg-toolpanel-main.open .wg-toolpanel-menu {
            right: 40px;
        }

        .wg-toolpanel-main.open .wg-toolpanel {
            height: calc(100%);
        }
        /* Favorite */
        .wg-favorite svg .cls-1 {
            fill: $map-color-green;
        }

        .wg-favorite svg .cls-2 {
            fill: $map-color-white;
        }

        .wg-favorite .wg-list-item-delete-icon .cls-1 {
            fill: $map-color-darkgreen;
        }
        /* Goto XY */
        .goto-xy-content {
            width: 95%;
            margin-left: auto;
            padding-top: 2em;
            padding-bottom: 10em;
        }

        .content-xy {
            border-bottom: 1px solid $map-color-gray;
            border-top: 1px solid $map-color-gray;
            font-family: $font-bold-name;
        }

        .label-error {
            color: $map-color-red;
            font-family: $font-regular-name;
        }

        .divTextBox {
            margin-top: 5px;
        }

        .divBtn {
            margin-top: 5px;
        }

        .txtXY {
            width: calc(100% - 10px);
        }
        /* Location Info */
        .content-info {
            /*height:10em;*/
            border-bottom: 1px solid $map-color-gray;
            border-top: 1px solid $map-color-gray;
            position: relative;
            padding-bottom: 10px;
        }

        .divLocation {
            margin-top: 5px;
            width: 95%;
            margin-left: auto;
        }

        .info {
            margin-top: 10px;
            /* width: 95%; */
            margin-left: 15px;
            padding-right: 45px;
        }

        .favorite-icon {
            /* margin-top: 1em; */
            /* float: right; */
            width: 30px;
            height: 30px;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

        .favorite-icon svg .cls-1 {
            fill: $map-color-gray;
        }

        .favorite-icon svg .cls-2 {
            fill: $map-color-white;
        }

        .favorite-icon.added svg .cls-1 {
            fill: $map-color-green;
        }

        .favorite-icon.added svg .cls-2 {
            fill: $map-color-white;
        }

        .favorite-icon:hover {
            cursor: pointer;
        }

        .info {
            font-family: $font-regular-name;
        }
        /* Playback Control */
        .wg-playback {
            height: calc(100%);
        }

        .wg-playback .playback-control-section {
            width: 100%;
            height: 70px;
            /*margin-top:10px;*/
            background-color: $map-color-lightgreen;
        }

        .wg-playback .range-timer {
            /*width: calc(100% - 100px);
        height:25px;
        margin-left: 10px;
        float:left;*/
            height: 30px;
            margin-left: 10px;
            padding-top: 12px;
            float: left;
            box-sizing: border-box;
        }
        .button-control-group {
            position: relative;
            left: 45px;
        }
        
        .big-icon{
            width: 45px !important;
        }
        .wg-playback .button-control {
            width: 30px;
            height: 30px;
            float: left;
            margin-left: 10px;
            cursor: pointer;
            box-sizing: border-box;
            line-height: 30px;
            text-align: center;
            /*background-color:#e0e0e0;
        border:1px solid #555;*/
        }

        .wg-playback .button-control img {
            width: 30px;
            height: 30px;
        }

        .wg-playback .button-control.hide {
            display: none;
        }

        .playback-control-timer {
            height: 30px;
            float: left;
            width: 50px;
            margin-left: 20px;
            font-family: $font-regular-name;
            font-size: 20px;
            line-height: 30px;
            color: $map-color-lightblack;
        }

        .div-stat-item {
            clear: both;
            width: 100%;
            /*height:100px;*/
            box-sizing: border-box;
            /*border-bottom:1px solid #aaa;*/
            padding-left: 10px;
            padding-top: 5px;
        }

        .div-asset-pb-color {
            width: 30px;
            height: 30px;
            float: left;
        }

        .div-attr-asset-id {
            font-family: $font-bold-name;
            font-size: 22px;
            line-height: 30px; //float:left;
            padding-left: 5px;
            margin-left: 35px;
        }

        .div-lst-attr .div-status-blog {
            width: 100%;
            height: 30px;
            box-sizing: border-box;
            padding-left: 10px;
        }

        .div-lst-attr .div-icon-container {
            width: 50%;
            height: 100%;
            float: left;
            box-sizing: border-box;
            padding-top: 0px;
        }

        .div-attr-item {
            float: left;
            width: 50%;
        }

        .div-svg-icon {
            width: 30px;
            height: 30px;
        }

        .playback-status-section {
            height: calc(100% - 100px);
            overflow-y: auto;
            overflow-x: hidden;
        }

        .wg-playback .global-widget-content {
            height: calc(100%);
        }

        .wg-playback .button-control svg .cls-1 {
            fill: $map-color-green;
        }

        .wg-playback .button-control svg .cls-2 {
            fill: $map-color-white;
        }

        .wg-playback .button-control svg .cls-3 {
            fill: $map-color-white;
        }
        /* Polygon Editor */
        .wg-polygon-editor {
            width: 100%;
            height: 100%;
        }

        .wg-polygon-editor .global-widget-content {
            width: 100%;
            height: calc(100% - 80px);
        }

        .wg-polygon-editor .drawing-control {
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 250px;
            height: 35px;
        }

        .wg-polygon-editor .div-btn {
            cursor: pointer;
            width: 50px;
            height: 35px;
            /*border-left:1px solid black;
        border-top:1px solid black;
        border-bottom:1px solid black;*/
            box-sizing: border-box;
            float: left;
            /*background-color:#acacac;*/
            padding-right: 10px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .wg-polygon-editor .div-btn svg {
            display: table-cell;
            width: 35px;
            height: 35px;
        }
        /*.wg-polygon-editor .div-btn:active svg .cls-1 {
        
        background-color:rgba(50,59,58,1);
    }*/
        .wg-polygon-editor .div-btn:last-child {
            /*border-right:1px solid black;*/
        }

        .wg-polygon-editor svg .cls-1 {
            /*color:#888;*/
            fill: $map-color-green;
        }

        .wg-polygon-editor svg .cls-2 {
            /*color:#888;*/
            fill: $map-color-white;
        }

        .wg-polygon-editor .disabled-btn svg .cls-1 {
            /*color:#888;*/
            fill: $map-color-gray !important;
        }

        .wg-polygon-editor .div-point-collection {
            margin-left: 10px;
            width: calc(100% - 20px);
            height: calc(100% - 70px - 40px - 100px - 20px - 50px);
            /*border:1px solid black;*/
            box-sizing: border-box;
            overflow-y: auto;
            overflow-x: hidden;
            border-left: 1px solid $map-color-black;
            border-bottom: 1px solid $map-color-black;
            border-right: 1px solid $map-color-black;
        }
        .global-widget-pin {
            overflow-y: scroll;
            height: calc(100% - 450px);
            width: 100%;
            position: absolute;
        }
        .global-widget-content .div-point-collection-area
        {
            margin-left:10px;
            width:calc(100% - 20px);
            height:300px;
            /*border:1px solid black;*/
            box-sizing:border-box;
            overflow-y:auto;
            overflow-x:hidden;
            border-left:1px solid $map-color-black;
            border-bottom:1px solid $map-color-black;
            border-right:1px solid $map-color-black;
        }

        .wg-polygon-editor .div-point-collection-item {
            cursor: default;
            width: 100%;
            height: 50px;
            color: $map-color-black;
            font-family: $font-regular-name;
            font-size: 20px;
            line-height: 50px;
            text-indent: 10px;
            /*border-right:1px solid black;*/
            border-top: 1px solid $map-color-black;
            /*border-left:1px solid black;*/
            box-sizing: border-box;
        }

        .wg-polygon-editor .div-point-collection-item:last-child {
            border-bottom: 1px solid $map-color-black;
        }

        .wg-polygon-editor .div-point-collection-item-header {
            width: calc(100% - 20px);
            height: 50px;
            background-color: rgba($map-color-lightblack, 1);
            color: $map-color-white;
            font-family: $font-bold-name;
            font-size: 20px;
            line-height: 50px;
            text-indent: 10px;
            border: 0 none;
            margin-left: 10px;
        }

        .wg-polygon-editor .div-point-collection-item-header::after {
            content: "Points";
        }

        .wg-polygon-editor .div-polygon-meta-data {
            margin-top: 10px;
            width: 100%;
            height: 120px;
            box-sizing: border-box;
        }
        
        .wg-polygon-editor .div-polygon-meta-data div {
            width: 100%;
            height: 25px;
            text-indent: 10px;
            font-family: $font-regular-name;
            line-height: 25px;
            font-size: 18px;
            cursor: default;
        }

        .wg-polygon-editor .div-polygon-meta-data div.bold {
            font-family: $font-bold-name;
        }
        .wg-polygon-editor .div-polygon-meta-data div.boldalert{
            font-family: $font-bold-name;
            color: red;

        }
        .wg-polygon-editor .div-polygon-meta-data-area {
            margin-top: 10px;
            width: 100%;
            box-sizing: border-box;
        }
        .wg-polygon-editor .div-polygon-meta-data-area div {
            width: 100%;
            height: 25px;
            text-indent: 10px;
            font-family: $font-regular-name;
            line-height: 25px;
            font-size: 18px;
            cursor: default;
        }
        .wg-polygon-editor .div-polygon-meta-data-area div.boldalert{
            font-family: $font-bold-name;
            color: red;

        }
        .wg-polygon-editor .div-polygon-meta-data-area div.bold{
            font-family: $font-bold-name;

        }
        .wg-polygon-editor .div-button-control {
            margin-left: 10px;
            margin-top: 10px;
            width: 100%;
            height: 30px;
            box-sizing: border-box;
        }

        .wg-polygon-editor .div-btn-container:last-child .div-btn {
            /*border-right:1px solid black;*/
        }

        .wg-polygon-editor .tooltip {
            background-color: $map-color-white;
            border-radius: 4px;
            color: $map-color-gray;
            padding: 6px;
            position: absolute;
            text-align: center;
            visibility: hidden;
            white-space: nowrap;
            z-index: 1;
            top: -31px;
            left: -50px;
            font-family: $font-regular-name;
            font-size: 16px;
        }

        .wg-polygon-editor .tooltip::after {
            content: " ";
            position: absolute;
            top: calc(100% + 4px);
            left: 16px;
            margin-top: -5px;
            border-width: 8px;
            border-style: solid;
            border-color: $map-color-white transparent transparent transparent;
        }

        .div-btn-container {
            position: relative;
            display: inline;
        }

        .div-btn-container:hover .tooltip {
            visibility: visible;
        }
        /* Tools */
        .wg-tools {
            font-family: $font-regular-name;
            font-size: 20px;
        }
        /* Vehicle */
        .wg-vehicle .wg-list-item-icon svg .cls-1 {
            fill: $map-color-gray !important;
        }

        .wg-vehicle .wg-list-item.selected .wg-list-item-icon svg .cls-1 {
            fill: $map-color-white !important;
        }
        /* Vehicle Info */
        .wg-vehicle-info .global-widget-header {
            height: 100px;
        }

        .wg-vehicle-info .text {
            font-family: $font-regular-name;
            font-size: 20px;
            color: $map-color-lightblack;
        }

        .wg-vehicle-info .div-text-container {
            padding-left: 10px;
            box-sizing: border-box;
            border-bottom: 1px solid $map-color-black;
            height: auto;
        }

        .div-time-container {
            width: 100%;
        }

        .wg-vehicle-info .div-department {
            color: $map-color-green;
            text-overflow: ellipsis;
            width: 250px;
            white-space: nowrap;
            overflow: hidden;
        }

        .wg-vehicle-info .div-driver-name {
        }

        .wg-vehicle-info .div-location {
        }

        .wg-vehicle-info .div-date {
            color: $map-color-green;
        }

        .wg-vehicle-info .div-park-time {
            color: $map-color-red;
        }

        .wg-vehicle-info .div-idle-time {
            color: $map-color-red;
        }

        .wg-vehicle {
            & .vehicle-status-img {
                margin: 15px 5px -9px 20px;
                width: 24px;
            }
            & .vehicle-status-title{
                cursor: pointer;
                font-family: $font-bold-name;
                color: $map-color-lightblack;
            }
        }

        /* Measurement */
        .measurement-icon-function {
            /*background-color:#2b2b2b;*/
            background-color: $map-color-white;
        }

        .list-function {
            height: 40px;
            width: calc(100% - 30px);
            box-sizing: border-box;
            border-bottom: 2px solid $map-color-gray;
            margin-left: 15px;
        }

        .measurement-btn-container {
            width: calc(33.33% - 50px);
            height: calc(100% - 1px);
            float: left;
            margin-left: 25px;
            margin-right: 25px;
            /*box-sizing: border-box;*/
        }

        .label-measurement {
            padding-top: 10px;
            width: 100%;
            padding-left: 30px;
            background-color: $map-color-white;
            box-sizing: border-box;
            height: 180px;
        }

        .measurement-icon {
            cursor: pointer;
            width: 100%;
            height: 100%;
        }

        .measurement-icon svg {
            display: block;
            margin: auto;
            width: 35px;
            height: 35px;
        }

        .measurement-icon svg .cls-1 {
            fill: $map-color-gray;
        }

        .measurement-btn-container.active {
            border-bottom: 4px solid $map-color-green !important;
        }

        .measurement-btn-container.active .measurement-icon svg .cls-1 {
            fill: $map-color-green !important
        }

        .custom-line-list {
            border-top: none;
            border-bottom: 1px solid $map-color-gray;
        }

        .view-on-map-general-info,
        .view-on-map-pin-info {
            font-family: $font-regular-name;
            font-size: 18px;
            margin: 10px;
        }

        .view-on-map-vehicleName {
            font-weight: bold;
            font-size: 24px;
        }

        .view-on-map-info-header {
            color: $map-color-green;
        }

        .view-on-map-info-text {
        }

        .view-on-map-pinitem {
        }

        .view-on-map-pinitem > img {
            width: 18px;
            height: 26px;
            margin-right: 10px;
        }

        .view-on-map-pinitem > span {
            position: relative;
            bottom: 10px;
        }

        div .titleButton.maximize {
            display: none !important;
        }
    }
    .dijitPopup {
        position: absolute;
        background-color: transparent;
        margin: 0;
        border: 0;
        padding: 0;
        -webkit-overflow-scrolling: touch;
    }
    .dijitReset {
      margin: 0;
      border: 0;
      padding: 0;
      line-height: normal;
      width: 100px;
      height: 50px;
      color: #323B3A;
      font-size: 20px;
      font-family: "DB-Regular"; 
      border-radius: 10px;
  }
  .vertexDeleteIcon {
    background-image: url(../images/svg/ic_subpoi_delete_selected.svg);
    background-repeat: no-repeat;
    text-align: center;
    width: 32px;
    height: 32px;
    background-position: 1px 1px;
  }
  .dijitMenu {
    border: 1px solid black;
    background-color: #F2F2F2;
  }
  
  .dijitMenuTable {
    border-collapse: collapse;
    border-width: 0;
    background-color: white;
  }
  .dijitMenuItem {
    text-align: left;
    white-space: nowrap;
    padding: .1em .2em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .dijitInline {
    display: inline-block;
    /* #zoom: 1;
    #display: inline; */
    border: 0;
    padding: 0;
    vertical-align: middle;
    /* #vertical-align: auto; */
    margin-left: 5px;
    margin-right: 5px;
  }
}

@mixin print-theme($name, $map-color-white, $map-color-darkgreen, $map-color-green, $map-color-lightgreen, $map-color-yellow, $map-color-black, $map-color-lightblack, $map-color-gray, $map-color-lightgray, $map-color-red, $font-regular-name, $font-italic-name, $font-bold-name) {
    .#{$name} {
        div.page {
            /*width:calc(100%);
        height:calc(100%);*/
            width: 700px;
        }
        div.page:first-child {
            width: calc(100%);
            height: calc(100%);
        }
        #divMap {
            width: 700px;
            height: 600px;
            position: relative !important;
            /*margin:0 auto;*/
            border: 1px solid $map-color-black;
            box-sizing: border-box;
        }
        @media print {
            body,
            html {
                padding: 0;
                margin: 0;
                height: auto;
                width: auto;
                overflow-x: hidden;
                overflow-y: auto;
            }
            div.page {
                page-break-after: always;
            }
            div.page:first-child {
                page-break-before: always;
            }
            #divMap {
                width: 700px;
                height: 600px;
                position: relative !important;
                margin: 0 auto;
                border: 1px solid $map-color-black;
                box-sizing: border-box;
            }
            table {
                page-break-inside: auto;
                box-sizing: border-box;
            }
            tr {
                page-break-inside: avoid;
                page-break-after: auto;
                box-sizing: border-box;
            }
        }
        #divDist {
            float: left;
            width: calc(50%);
            box-sizing: border-box;
            padding-left: 10px;
            font-family: $font-regular-name;
            font-size: 20px;
        }
        #divTime {
            text-align: right;
            float: left;
            width: calc(50%);
            box-sizing: border-box;
            font-family: $font-regular-name;
            font-size: 20px;
        }
        #divTable {
            clear: both;
        }
        .div-details {
            width: 100%;
        }
        table {
            border-collapse: collapse;
            width: 700px;
            /*margin:0 auto;*/
        }
        tr,
        td,
        th {
            border: 1px solid $map-color-black;
            box-sizing: border-box;
        }
        th {
            font-family: $font-bold-name;
            font-size: 24px;
        }
        td.td-order {
            text-align: center;
            font-family: $font-regular-name;
            font-size: 20px;
        }
        td.td-direction {
            padding-left: 5px;
            box-sizing: border-box;
            font-family: $font-regular-name;
            font-size: 20px;
        }
    }

    
}