<gisc-ui-component>
    <!--Tracking Database Name-->
    <gisc-ui-label params="for:'txtTrackingDatabaseName',isRequired:true,text:i18n('Configurations_TrackingDatabaseName')"/>
    <gisc-ui-textbox params="id:'txtTrackingDatabaseName', value: trackingDBName, enable:disabled"/>

     <!--Archived Database Name-->
    <gisc-ui-label params="for:'txtArchivedDatabaseName', isRequired:true,text:i18n('Configurations_ArchivedDatabaseName')"/>
    <gisc-ui-textbox params="id:'txtArchivedDatabaseName',value: archivedDBName, enable:disabled"/>

    <!--Server-->
    <gisc-ui-label params="for:'ddlConfigurationsServer', isRequired:true,text:i18n('Configurations_Server')"/>
    <gisc-ui-dropdown params="id:'ddlConfigurationsServer',
                              options:serverOptions, 
                              optionsText:'serverName',
                              optionsCaption: '',
                              value:serverSelected, 
                              enable:disabled"/>

    <!--Companies-->
    <!-- ko if: visibleCompanies-->
    <gisc-ui-label params="text:i18n('Configurations_Companies')"/>
    <gisc-ui-datatable params="
            datasource: companies,
            ordering: false,
            columns: [
                { type: 'label', title: 'i18n:Configurations_CompanyName', data: 'companyName'},
                { type: 'label', title: 'i18n:Configurations_NoOfBoxes', data: 'formatTotalBoxes'}
            ],
            rowId: 'id'
            "/>
    <!-- /ko -->
</gisc-ui-component>