<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">

        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
              
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>format</code></td>
                        <td>No</td>
                        <td>hex</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>value</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
          
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li>
                    <strong>Required Parameters</strong>
                    <ul>
                        <li><code>value</code> Get/Set value from the ColorPicker.</li>
                    </ul>
                </li>
                <li>
                    <strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                        <li><code>format</code> The format colorpicker should use. Valid options are hex and rgb.</li>
                       
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-colorpicker params=&quot;value:&#x27;myValue&#x27;&quot;&gt;&lt;/gisc-ui-colorpicker&gt;
&lt;div data-bind=&quot;text:&#x27;myValue&#x27;&gt;&lt;div&gt;</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-colorpicker params="value:myValue">
                    </gisc-ui-colorpicker>
                    <div data-bind="text:myValue"></div>
                </div>
            </section>
      
        </section>

    </article>
</gisc-ui-component>
