<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>

            <!-- Required field on DropDown -->
            <!--<gisc-ui-label params="for: 'ddEnable', text: i18n('Report_Company'), isRequired: false"></gisc-ui-label>
            <gisc-ui-dropdown params="options: company, optionsText:'CompanyName', value: selectedCompany"></gisc-ui-dropdown>-->
            <!--listEnumResource-->
            <gisc-ui-label params="for: 'ddReportType', text: i18n('Report_ReportType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddReportType',
                                    options: reportTypes,
                                    optionsText: 'displayName',
                                    optionsCaption: '',
                                    value: selectedReportType" />

            <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Report_BusinessUnit'), isRequired: true" />
            <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />

            <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU"/>
            
            <gisc-ui-label params="for: 'ddEntityType', text: i18n('FleetMonitoring_EntityType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddEntityType',
                                    options: entityTypes,
                                    optionsText: 'displayName',
                                    value: selectedEntityType" />

            <div data-bind="visible: driverVisible" >
                <gisc-ui-checkbox params="text: i18n('ReportCriteria_FormerDriver'),checked:isIncludeFormerDriver"/>
                <gisc-ui-checkbox params="text: i18n('ReportCriteria_ResignedDriver'), checked:isIncludeResignedDriver"/>
            </div>

            <gisc-ui-label params="for: 'ddSelectEntity', text: i18n('Report_SelectedEntity'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddSelectEntity',
                                    options: selectEntity,
                                    optionsText: 'displayName',
                                    optionsCaption: selectedEntityBinding,
                                    value: selectedEntity,
                                    type: 'filter'" />

            <!--DateTimeFromTo-->
            <div style="width:100%;float:left;">
                <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
            </div>
            <div style="width:100%">
                <div style="width:55%;float:left;">
                    <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet" />
                </div>
                <div style="width:40%;float:right;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
                    </div>
                </div>
            </div>
            <div style="width:100%;float:left;">
                <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
            </div>
            <div style="width:100%">
                <div style="width:55%;float:left;">
                    <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />
                </div>
                <div style="width:40%;float:right;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ">
                    </div>
                </div>
            </div>

            <gisc-ui-label params="for: 'ddFuelType', text: i18n('Report_FuelType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddFuelType',
                                    options: fuelType,
                                    optionsText: 'displayName',
                                    value: selectedFuelType" />
            
            <!-- ko if: temperatureVisible -->
                <gisc-ui-datatable params="
                        datasource: temperature,
                        columns: [
                            { type: 'checkbox', title: ' ', data: 'isChecked', enable: 'enable', redrawOnDataChange: false },
                            { type: 'label', title: 'i18n:Report_Temperature', data: 'name', render: renderItemColumn }
                        ],
                        order: orderTemp,
                        rowId: 'tempId',
                        selectedRow: selectedItemTemp
                        " />
            <!-- /ko -->
            <!-- ko if: gateVisible -->
                <gisc-ui-datatable params="
                        datasource: gate,
                        columns: [
                            { type: 'checkbox', title: ' ', data: 'isChecked', enable: 'enable', redrawOnDataChange: false },
                            { type: 'label', title: 'i18n:Report_Gate', data: 'name', render: renderItemColumn}
                        ],
                        order: orderGate,
                        rowId: 'gateId',
                        selectedRow: selectedItemGate
                        " />
            <!-- /ko -->
            <div data-bind="visible: temperatureVisible">
                <gisc-ui-checkbox params="text:i18n('Report_TemperatureError'), checked:isCheckedTempError"/>
            </div>
            <div data-bind="visible: gateVisible">
                <gisc-ui-checkbox params="text:i18n('Report_GateOpen'), checked:isCheckedGateOpen"/>
            </div>
            <div data-bind="visible: onlyOverSpeedVisible">
                <gisc-ui-checkbox params="text:i18n('Report_OnlyOverSpeed'), checked:isCheckedOnlyOverSpeed"/>
            </div>
            <gisc-ui-checkbox params="text:i18n('Report_ShowTable'), checked:isCheckedShowTable"/>
        </section>
    </article>
</gisc-ui-component>