<!-- ko if: displayable() -->
<div class="app-blade-dialoghost" tabindex="0" data-bind="hasFocus:isFocus">
    <div class="app-messagebox app-accent" >
        <h2 class="app-messagebox-title" data-bind="text:title"></h2>
        <div class="app-messagebox-text" data-bind="html:text"></div>
        <div class="app-portalfx-form app-messagebox-buttons">
            <div>
                <!-- ko if: isOkVisible() -->
                <div tabindex="0" class="fxc-actionBarBase fxc-actionBarBase-button fxc-button azc-button azc-button default" data-bind="click:click.bind($data,'ok')">
                    <span data-bind="text:textButtonOk"></span>
                </div>
                <!-- /ko -->
                <!-- ko if: isCancelVisible() -->
                <div tabindex="0" class="fxc-actionBarBase fxc-actionBarBase-button fxc-button azc-button azc-button cancel" data-bind="click:click.bind($data,'cancel')" >
                    <span data-bind="text:textButtonCancel"></span>
                </div>
                <!-- /ko -->
                <!-- ko if: isYesVisible() -->
                 <div tabindex="0" class="fxc-actionBarBase fxc-actionBarBase-button fxc-button azc-button azc-button default" data-bind="click:click.bind($data,'yes')">
                    <span data-bind="text:textButtonYes"></span>
                </div>
                <!-- /ko -->
                <!-- ko if: isNoVisible() -->
                 <div tabindex="0" class="fxc-actionBarBase fxc-actionBarBase-button fxc-button azc-button azc-button cancel" data-bind="click:click.bind($data,'no')">
                    <span data-bind="text:textButtonNo"></span>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<!-- /ko -->