<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>
            <gisc-ui-label params="for: 'ddPlant', text: i18n('BOMs_Reports_Plant')"></gisc-ui-label>
            <gisc-ui-dropdowntree params=" id: 'ddPlant',
                                            options:plant,
                                            optionsID:'id',
                                            optionsText:'name',
                                            optionsParent:'parentBusinessUnitId',
                                            optionsChildren:'childBusinessUnits',
                                            value:selectedPlant,
                                            mode:'update'" />

            <!-- ko if: false -->
                <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />
            <!-- /ko -->
            
             <!-- Vehicle -->
             <gisc-ui-label params="for: 'ddVehicle', text: i18n('Common_Vehicle')"></gisc-ui-label>
             <gisc-ui-dropdown params="id: 'ddVehicle',
                                     options: vehicle,
                                     optionsText: 'license',
                                     optionsCaption: selectedVehicleBinding,
                                     value: selectedVehicle,
                                     type: 'filter'" />

            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:valueRadio " />
            <!-- ko if: thisWeekVisible -->
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:valueRadio " />
            <!-- /ko -->
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:valueRadio" />
            <!-- ko if: thisMonthVisible -->
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:valueRadio " />
            <!-- /ko -->
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:valueRadio " />
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:valueRadio " />

           <!--DateTimeFromTo-->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                        </div>
                    </div>
                </div>
            </div>

             <gisc-ui-checkbox params="text: i18n('Report_Group'), checked:isGroup" />      

        </section>
    </article>
</gisc-ui-component>