<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Button normally use for invoking service call or represent an action on the screen.
            <blockquote>There are 3 types of button:
                <ul>
                    <li>Default</li>
                    <li>Warning</li>
                    <li>Cancel</li>
                </ul>
            </blockquote>
        </blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>enable</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>text</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>type</code></td>
                        <td>No</td>
                        <td>default</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>click</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>N/A</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>text</code> Display text on the button.</li>
                        <li><code>click</code> Function bound to <code>ViewModel</code>.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>enable</code> Flag to determine whether this control is enabled or not. If set to false the control is not interactable.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                        <li><code>type</code> Type of the button, these values are applicable:
                            <ul>
                                <li>default</li>
                                <li>warning</li>
                                <li>cancel</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-button params=&quot;text: &#x27;Save&#x27;,
                        onclick: testClick.bind($data,&#x27;Save&#x27;)&quot;&#x2F;&gt;

&lt;gisc-ui-button params=&quot;text: &#x27;Save(Disabled)&#x27;,
                        onclick: testClick.bind($data,&#x27;Save&#x27;),
                        enable: enable&quot;&#x2F;&gt;
                </code></pre>
                <pre><code class="hljs js">// View Model
this.enable = ko.observable(false);

testClick(param) {
    alert(param);
}</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Save',
                                            onclick: testClick.bind($data,'Save')"/>

                    <gisc-ui-button params="text: 'Save(Disabled)',
                                            onclick: testClick.bind($data,'Save'),
                                            enable: enable"/>

                </div>
            </section>

            <section id="exp2">
                <h3>Warning button</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-button params=&quot;text: &#x27;Save Daft&#x27;,
                        type: &#x27;warning&#x27;,
                        onclick: testClick.bind($data, &#x27;Save Daft&#x27;)&quot;&#x2F;&gt;

&lt;gisc-ui-button params=&quot;text: &#x27;Save Daft(Disabled)&#x27;,
                        type: &#x27;warning&#x27;,
                        onclick: testClick.bind($data, &#x27;Save Daft&#x27;),
                        enable: enable&quot;&#x2F;&gt;
                </code></pre>
                <pre><code class="hljs js">// View Model
this.enable = ko.observable(false);

testClick(param) {
    alert(param);
}               </code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Save Daft',
                                            type: 'warning',
                                            onclick: testClick.bind($data, 'Save Daft')"/>

                    <gisc-ui-button params="text: 'Save Daft(Disabled)',
                                            type: 'warning',
                                            onclick: testClick.bind($data, 'Save Daft'),
                                            enable: enable"/>
                </div>
            </section>

            <section id="exp3">
                <h3>Cancel button</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-button params=&quot;text: &#x27;Cancel&#x27;,
                        type: &#x27;cancel&#x27;,
                        onclick: testClick.bind($data, &#x27;Cancel&#x27;)&quot;&#x2F;&gt;

&lt;gisc-ui-button params=&quot;text: &#x27;Cancel(Disabled)&#x27;,
                        type: &#x27;cancel&#x27;,
                        onclick: testClick.bind($data, &#x27;Cancel&#x27;),
                        enable: enable&quot;&#x2F;&gt;
                </code></pre>
                <pre><code class="hljs js">// View Model
this.enable = ko.observable(false);

testClick(param) {
    alert(param);
}</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Cancel',
                                            type: 'cancel',
                                            onclick: testClick.bind($data, 'Cancel')"/>
                    
                    <gisc-ui-button params="text: 'Cancel(Disabled)',
                                            type: 'cancel',
                                            onclick: testClick.bind($data, 'Cancel'),
                                            enable: enable"/>
                    
                </div>
            </section>
        </section>
    </article>

</gisc-ui-component>