﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text:i18n('CustomArea_Name'), isRequired:true" />
    <gisc-ui-textbox params="value:name"></gisc-ui-textbox>

    <!--Code-->
    <gisc-ui-label params="text:i18n('CustomArea_Code')" />
    <gisc-ui-textbox params="value:code,filter: { type: 'alphanumeric'}"></gisc-ui-textbox>

    <!--Type-->
    <gisc-ui-label params="text:i18n('CustomArea_Type') , isRequired:true" />
    <gisc-ui-dropdown params="options:typeOptions,optionsText:'displayName',value:type"></gisc-ui-dropdown>

    <!-- Poi Type  -->
    <gisc-ui-label params="for: 'ddAreaType', text: i18n('CustomArea_PoiType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddAreaType',
                              options: poiTypeOptions,
                              optionsText: 'displayName',
                              value: poiType,
                              enable : enablePoiType"></gisc-ui-dropdown>

    <!--Description-->
    <gisc-ui-label params="text:i18n('CustomArea_Description')" />
    <gisc-ui-textarea params="value:description"></gisc-ui-textarea>

    <!--Categotry-->
    <gisc-ui-label params="text:i18n('CustomArea_Category')" />
    <gisc-ui-dropdown params="options:categoryOptions,optionsCaption: '', optionsText:'name',value:categoryId"></gisc-ui-dropdown>

    <!--Action Move In To Area-->
    <gisc-ui-label params="text:i18n('CustomArea_ActionMoveInToArea')" />
    <gisc-ui-dropdown params="options:moveInAreaOptions,optionsCaption: '', optionsText:'displayName',value:moveIn"></gisc-ui-dropdown>

    <!--Action Move Out Fromt Area-->
    <gisc-ui-label params="text:i18n('CustomArea_ActionMoveOutFromArea')" />
    <gisc-ui-dropdown params="options:moveOutAreaOptions,optionsCaption: '', optionsText:'displayName',value:moveOut"></gisc-ui-dropdown>

    <!-- Accessible Business Units -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('User_AccessibleBusinessUnits'), isRequired: true" "></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="id:'cw-accessible' ,
                ordering: true,
                datasource: accessibleBusinessUnits,
                columns: [
                { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'businessUnitName' , cellTitle: 'businessUnitPath' , orderable: false },
                { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'businessUnitName' , visible: false }
                ],
                rowId: 'id' ,
                order: orderAccessibleBusinessUnits,
                removable: true" />
        </div>
        <span data-bind="validationMessage: accessibleBusinessUnits" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addAccessibleBusinessUnit">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>

    <!--Area Point-->
    <table>
        <tr>
            <td style="width:90%;">
                <gisc-ui-label params="text: i18n('CustomArea_AreaPoint')"></gisc-ui-label>
            </td>
            <td>
                <div class="img-custom-geofencing" data-bind="click:enableDrawArea.bind($data)">
                    <!-- ko component: 'svg-icon-customroute-clickonmap' -->
                    <!-- /ko -->
                </div>
            </td>
        </tr>
    </table>
    <hr />

    <div class="field-table-content">
        <gisc-ui-datatable params="datasource:areaPoint,
                                  columns:[{type:'label',title: 'i18n:CustomArea_Point', data: 'point', orderable: false}],rowId: 'id', ordering:false, order:[]  " />
        <span data-bind="validationMessage: areaPoint" class="ko-block-msg-err"></span>
    </div>

    <!--Size-->
    <gisc-ui-label params="text: areaUnit, isHtmlEncode: false"></gisc-ui-label>
    <gisc-ui-field params="value: displaySize"></gisc-ui-field>

    <!--Number of area point-->
    <gisc-ui-label params="text: i18n('CustomArea_NumberAreaPoint')"></gisc-ui-label>
    <gisc-ui-field params="value: numberofareapoint"></gisc-ui-field>

</gisc-ui-component>