﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text: i18n('CustomArea_Name'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!--Code-->
    <gisc-ui-label params="text: i18n('CustomArea_Code')"></gisc-ui-label>
    <gisc-ui-field params="value: code"></gisc-ui-field>

    <!--Type-->
    <gisc-ui-label params="text: i18n('CustomArea_Type'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: type"></gisc-ui-field>

    <!--Poi Type-->
    <gisc-ui-label params="text: i18n('CustomArea_PoiType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: poiType"></gisc-ui-field>

    <!--Description-->
    <gisc-ui-label params="text: i18n('CustomArea_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!--Category-->
    <gisc-ui-label params="text:i18n('CustomArea_Category')" />
    <gisc-ui-field params="value:category"></gisc-ui-field>

    <!--ActionMoveInToArea-->
    <gisc-ui-label params="text:i18n('CustomArea_ActionMoveInToArea')" />
    <gisc-ui-field params="value:moveinarea"></gisc-ui-field>

    <!--ActionMoveOutFromArea-->
    <gisc-ui-label params="text:i18n('CustomArea_ActionMoveOutFromArea')" />
    <gisc-ui-field params="value:moveoutarea"></gisc-ui-field>

    <!--Accessible Bu-->
    <gisc-ui-label params="text: i18n('CustomPOI_View_Accessible_BU'), isRequired: true"></gisc-ui-label>
    <div class="field-table-content">
        <gisc-ui-datatable params="datasource:accessibleBusinessUnits,
                                  columns:[
                                    {type:'label',title: 'i18n:CustomRoutes_POIDetail_Name',data: 'businessUnitName', orderable: false},
                                    {type:'label',title: 'i18n:CustomRoutes_POIDetail_Name', visible: false}
                                   ],
                                  rowId: 'id',
                           order: orderAccessibleBusinessUnits,
                           readonly: true" />
    </div>

    <!--Area Point-->
    <gisc-ui-label params="text:i18n('CustomArea_AreaPoint'), isRequired: true" />
    <div class="field-table-content">
        <gisc-ui-datatable params="datasource:areaPoint,
                                  columns:[{type:'label',title: 'i18n:CustomArea_Point', data: 'point', orderable: false}],rowId: 'id'
                                , ordering:false, order:[] " />
    </div>

    <!--Size-->
    <gisc-ui-label params="text: areaUnit, isHtmlEncode: false"></gisc-ui-label>
    <gisc-ui-field params="value: size"></gisc-ui-field>

    <!--Number of area point-->
    <gisc-ui-label params="text: i18n('CustomArea_NumberAreaPoint')"></gisc-ui-label>
    <gisc-ui-field params="value: numberofareapoint"></gisc-ui-field>

    <!--CreateDate-->
    <gisc-ui-label params="text: i18n('CustomArea_CreatedDate')"></gisc-ui-label>
    <gisc-ui-field params="value: createdDate"></gisc-ui-field>

    <!--CreateBy-->
    <gisc-ui-label params="text: i18n('CustomArea_CreatedBy')"></gisc-ui-label>
    <gisc-ui-field params="value: createdBy"></gisc-ui-field>

    <!--Last Update Date-->
    <gisc-ui-label params="text: i18n('CustomArea_LastUpdatedDate')"></gisc-ui-label>
    <gisc-ui-field params="value: lastUpdatedDate"></gisc-ui-field>

    <!--Last Update By-->
    <gisc-ui-label params="text: i18n('CustomArea_LastUpdatedBy')"></gisc-ui-label>
    <gisc-ui-field params="value: lastUpdatedBy"></gisc-ui-field>

</gisc-ui-component>