﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div class="k-content">
        <div id="tab-test-drive-widget">
            <ul>
                <!-- ko foreach: listSms -->
                <li data-bind="attr:{class: ($index() === 0) ? 'k-state-active' : ''}">
                    <gisc-ui-label params="text: title"/>
                </li>
                <!-- /ko -->
            </ul>
            <!-- ko foreach: listSms -->
            <div>
                <gisc-ui-datagrid params="
                    id: id,
                    onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
                    columns: [
                        { type: 'text' , title: 'i18n:Location Name' , data: 'locationName', width:'100%'}
                    ],
                    rowId: 'header',
                    showFilter: true,
                    onSelectingRow: $parent.onSelectingRow.bind($parent),
                    filterable:true,
                    height:'500px'
                " />
                <!-- <gisc-ui-datatable params="
                    id: id,
                    datasource: items,
                    columns: [
                        { type: 'label', title: 'Location Name', data: 'locationName', searchable: true ,orderable: true },
                    ],
                    order: $parent.order,
                    selectable: true,
                    showFilter: true,
                    filter: filterText,
                    filterPlaceholder: 'i18n:PHSearchBy026',
                    onSelectingRow: $parent.onSelectingRow,
                    loadMore: true
                    " /> -->
            </div>
            <!-- /ko -->
        </div>
        <!-- <gisc-ui-tab params="selectedIndex: selectedIndex"> -->

                <!-- <item params="text: console.log($data)" > -->
                    <!-- <gisc-ui-datatable params="
                        id: id,
                        datasource: $data.items,
                        columns: [
                            { type: 'label', title: 'Location Name', data: 'locationName', searchable: true ,orderable: true },
                        ],
                        order: $parent.order,
                        selectable: true,
                        showFilter: true,
                        filter: $data.filterText,
                        filterPlaceholder: 'i18n:PHSearchBy026',
                        onSelectingRow: $parent.onSelectingRow,
                        recentChangedRowIds: $data.recentChangedRowIds,
                        loadMore: true
                        " />
                    </div> -->
                <!-- </item> -->
            
        <!-- </gisc-ui-tab> -->
</gisc-ui-component>