﻿<gisc-ui-component>
        <!-- Name Alert -->
            <div >
                    <gisc-ui-label params="for: 'textname',text:i18n('CustomRoutes_POIDetail_Name')"/> 
                    <gisc-ui-autocomplete params="id:'textname',
                          onDatasourceRequest:RequestAlertName,
                          value:searchName
                          " />
            </div>
    
        <!-- Alert Type -->
        <gisc-ui-label params="for: 'ddAlertRank', text: i18n('Categories_Alert_Rank')" />
        <gisc-ui-dropdown params="
            id: 'ddAlertRank',
            options: alertRank,
            optionsText: 'value',
            optionsCaption: '',
            value: selectedAlertRabk" />
     
    </gisc-ui-component>