﻿<gisc-ui-component>
    <div style="word-break: break-all;">
        <gisc-ui-label params=" text: i18n('CustomRoutes_POIDetail_Name')" />
        <gisc-ui-field params=" value: Name" />
    </div>
    <div style="word-break: break-all;">
        <gisc-ui-label params=" text: i18n('Common_Description')" />
        <gisc-ui-field params=" value: Description" />
    </div>
    <div class="">
        <gisc-ui-label params=" text: i18n('Configurations_Categories_Alert_Rank')" />
        <gisc-ui-tooltip params="text: i18n('I032')" />        
        <gisc-ui-field params=" value: Rank" />
    </div>
</gisc-ui-component>