﻿<gisc-ui-component>

    <!--Language-->
    <gisc-ui-label params="isRequired:true, text:i18n('Common_Language')"/>
    <gisc-ui-dropdown params="options:languages,
                              optionsText:'name',
                              optionsCaption: '',
                              value:languageOption,
                              enable:enableLanguages"/>
    <!--Message-->
    <gisc-ui-label params="isRequired:true ,text:i18n('Announcements_Message')"/>
    <gisc-ui-textarea params="value: message "/>

</gisc-ui-component>