﻿<gisc-ui-component>
    <!--Alert Type-->
    <gisc-ui-label params="for: 'ddlAlertType', text:i18n('Common_AlertType')" />
    <gisc-ui-dropdown params="id: 'ddlAlertType',
        options: alertTypeOptions,
        optionsText: 'displayName',
        optionsCaption: '',
        value: alertType
        ">
    </gisc-ui-dropdown>

    <!--Alert Configuration-->
    <gisc-ui-label params="for: 'ddlAlertConfiguration', text:i18n('Common_AlertConfiguration')" />
    <gisc-ui-dropdown params="id: 'ddlAlertConfiguration',
        options: alertConfigurationOptions,
        optionsText: 'description',
        optionsCaption: '',
        value: alertConfiguration
        ">
    </gisc-ui-dropdown>

    <!--Start Date-->
    <gisc-ui-label params="for: 'dtStartDate', text: i18n('FleetMonitoring_StartDate'),isRequired:true"></gisc-ui-label>
    <gisc-ui-datetime params="id: 'dtStartDate', 
                              value: startDate, 
                              mode: 'date',
                              maxDate:endDate,
                              dateFormat: dateFormat">
    </gisc-ui-datetime>

    <!--End Date-->
    <gisc-ui-label params="for: 'dtEndDate', text: i18n('FleetMonitoring_EndDate'),isRequired:true"></gisc-ui-label>
    <gisc-ui-datetime params="id: 'dtEndDate', 
                              value: endDate, 
                              mode: 'date',
                              minDate:startDate,
                              dateFormat: dateFormat">
    </gisc-ui-datetime>

    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
        options: businessUnitOptions,
        optionsID: 'id',
        optionsText: 'name',
        optionsParent: 'parentBusinessUnitId',
        optionsChildren: 'childBusinessUnits',
        value: businessUnitId,
        disableNodes:noneAccessibleBU" />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />
    <!--Entity Type-->
    <gisc-ui-label params="for: 'ddlEntityType', text:i18n('FleetMonitoring_EntityType')" />
    <gisc-ui-dropdown params="id: 'ddlEntityType',
        options: entityTypeOptions,
        optionsText: 'displayName',
        optionsCaption: '',
        value: entityType
        ">
    </gisc-ui-dropdown>

    <!--Selected Entity-->
    <gisc-ui-label params="for: 'ddlSelectedEntity', text:i18n('FleetMonitoring_SelectedEntity')" />
    <gisc-ui-dropdown params="id: 'ddlSelectedEntity',
        options: selectedEntityOptions,
        optionsText: 'displayText',
        optionsCaption: '',
        value: selectedEntity
        ">
    </gisc-ui-dropdown>
</gisc-ui-component>