﻿<gisc-ui-component>

    <gisc-ui-label params="for: 'ddCondition', text: i18n('Unauthorized_Stop_Condition'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddCondition',
                              options: conditionOptions,
                              optionsText: 'displayName',
                              value: selectedCondition,
                              optionsCaption: '',
                              enable: enableType
                              ">
     </gisc-ui-dropdown>

    <gisc-ui-label params="for: 'ddCategoryType', text: i18n('Unauthorized_Stop_Category_Type'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddCategoryType',
                              options: categoryTypeOptions,
                              optionsText: 'displayName',
                              value: selectedCategoryType,
                              optionsCaption: ' ',
                              enable: enableType
                              ">
     </gisc-ui-dropdown>

     <gisc-ui-label params="for: 'ddCategoryName', text: i18n('Unauthorized_Stop_Category_Name'), isRequired: true"></gisc-ui-label>

     <!-- <gisc-ui-dropdown-multiselect params="id: 'ddCategoryName',
                              optionsID:'id',
                              optionsText: 'name',
                              optionsCaption: '',
                              options: categoryNameOptions,
                              value: selectedCategoryName,
                            afterRender: true "></gisc-ui-dropdown-multiselect> -->

                
    <gisc-ui-dropdowntree params="  id: 'ddCategoryName',
                                    options:categoryNameOptions,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parent',
                                    value:selectedCategoryName,
                                    mode:'update'" />
    </div>




    <gisc-ui-label params="text:i18n('Unauthorized_Stop_Parking_Type') ,isRequired: true"/>
    <gisc-ui-radio params="text:i18n('Unauthorized_Stop_Limited'),value:'Limited',checked:parkingTypeRadio " />
    <gisc-ui-radio params="text:i18n('Unauthorized_Stop_Unlimited'),value:'Unlimited',checked:parkingTypeRadio " />


    <div data-bind="visible: visibleParkingNotOvertime" >
            <gisc-ui-label params="for: 'numParkingNotOvertime',text:i18n('Unauthorized_Stop_Parking_Not_Overtime'),isRequired: true"/>
            <gisc-ui-textbox params="id: 'numParkingNotOvertime', value:parkingNotOvertime, filter:{type :'numeric', numericType:'int',min:1}"></gisc-ui-textbox>
    </div>
    

</gisc-ui-component>