﻿<gisc-ui-component>

        <gisc-ui-label params="for: 'txtProvinceGroupName',text:i18n('Unauthorized_Stop_Province_Group_Name'),isRequired: true"/>
        <gisc-ui-textbox params="id: 'txtProvinceGroupName', value:provinceGroupName"></gisc-ui-textbox>

        <gisc-ui-label params="for: 'ddRegion',text: i18n('Transportation_Mngm_Dashboard_Region'),isRequired: true"></gisc-ui-label>
        <!-- <gisc-ui-dropdown-multiselect params="id: 'ddRegion',
                                optionsID:'id',
                                optionsText: 'name',
                                optionsCaption: '',
                                options: regionOptions,
                                zIndex:'2',
                                value: selectedRegion"></gisc-ui-dropdown-multiselect> -->

        <gisc-ui-dropdown params="id: 'ddRegion',
                                options: regionOptions,
                                optionsText: 'name',
                                optionsCaption: '',
                                value: selectedRegion
                                ">
        </gisc-ui-dropdown>
    
         <gisc-ui-label params="for: 'ddProvince', text: i18n('Unauthorized_Stop_Province'), isRequired: true"></gisc-ui-label>
         <!-- <gisc-ui-dropdown-multiselect params="id: 'ddProvince',
                                  optionsID:'id',
                                  optionsText: 'name',
                                  optionsCaption: '',
                                  options: provinceOptions,
                                  value: selectedProvince"></gisc-ui-dropdown-multiselect> -->

        <gisc-ui-dropdowntree params="  id: 'ddProvince',
                                  options:provinceOptions,
                                  optionsID:'id',
                                  optionsText:'name',
                                  optionsParent:'parent',
                                  value:selectedProvince,
                                  mode:'update'" />
          
    
      
        <gisc-ui-label params="for: 'numStopDuration',text:i18n('Unauthorized_Stop_Stop_Duration'),isRequired: true"/>
        <gisc-ui-textbox params="id: 'numStopDuration', value:stopDurationValue, filter:{type :'numeric', numericType:'int' , min:1}"></gisc-ui-textbox>
    
    </gisc-ui-component>