<gisc-ui-component>
    <gisc-ui-label params="text: i18n('TelematicesConfiguration_AcceptanceOdometerFixingValueRange'),isRequired: true"></gisc-ui-label>
    
    <div class="row">
        <div class="col-3">
            <gisc-ui-textbox params="id: 'txtValue', value: valAcceptance, maxlength: 50, , filter:{type :'numeric', numericType:'float',max:999.99,maxDecimalPlaces:2} "/>
        </div>
        <div class="col-3" style="padding-left: 0">
            <span>%</span>
        </div>
    </div>
</gisc-ui-component>