﻿<gisc-ui-component>
    <div class="ui-route-option">
        <!-- ko if : hasRouteOption -->
        <table>
            <tr>
                <td class="ui-route-option-mode mode-1 active" data-bind="click: selectMode.bind($data,routeOption()[0].value)">
                    <svg-icon-route-mode-car data-bind="attr:{ alt: routeOption()[0].displayName, title: routeOption()[0].displayName }" />
                </td>
                <td class="ui-route-option-mode mode-2" data-bind="click: selectMode.bind($data,routeOption()[1].value)">
                    <svg-icon-route-mode-motocycle data-bind="attr:{ alt: routeOption()[1].displayName, title: routeOption()[1].displayName }" />
                </td>
                <td class="ui-route-option-mode mode-3" data-bind="click: selectMode.bind($data,routeOption()[2].value)">
                    <svg-icon-route-mode-walk data-bind="attr:{ alt: routeOption()[2].displayName, title: routeOption()[2].displayName }" />
                </td>
                <td class="ui-route-option-mode mode-4" data-bind="click: selectMode.bind($data,routeOption()[3].value)">
                    <svg-icon-route-mode-truck data-bind="attr:{ alt: routeOption()[3].displayName, title: routeOption()[3].displayName }" />
                </td>
            </tr>
        </table>
        <!-- /ko -->
    </div>

    <gisc-ui-routedragdrop params="id:'ctrlRouteDestination', 
                           maximumNode: maximumNode,
                           data: routeData, 
                           routeParams: routeParams, 
                           textClick: textClick.bind($data)" />

    <!-- ko if : invalidRouteData -->
        <div style="padding-top:10px;">
            <label data-bind="text:i18n('Common_Invalid_Route_Data')" style="color:red;font-weight:bold;" />
        </div>
    <!-- /ko -->

    <table style="margin-bottom: 0px;padding-left: 5px;padding-right: 5px;margin-top: 15px; width: 100%;">
        <tr>
            <!-- ko if: countElement -->
            <td style="text-align:left">
                <gisc-ui-button params="text:i18n('Common_Add'), onclick:addStop.bind($data, $element)" />
            </td>
            <!-- /ko -->
            <td style="text-align:right">
                <gisc-ui-button params="text:i18n('Common_Route'), onclick:findRoute.bind($data, $element)" />
            </td>
        </tr>
    </table>

    <!-- ko if: hasRouteDirection -->
    <table style="width: 100%;margin-top:10px;">
        <tr>
            <td>
                <gisc-ui-label params="text:i18n('CustomRoutes_Directions_Distance')" />
            </td>
            <td>
                <gisc-ui-label params="text:displayDistance()" />
            </td>
            <td>
                <gisc-ui-label params="text:i18n('CustomRoutes_Directions_Duration')" />
            </td>
            <td>
                <gisc-ui-label params="text:displayDuration()" />
            </td>
        </tr>
    </table>
    <gisc-ui-datatable params="datasource:routeDirection,
                               columns:[{type:'label',title: 'i18n:CustomRoutes_Order',data: 'order', orderable: false},
                                        {type:'label',title: 'i18n:CustomRoutes_Directions',data: 'text', orderable: false}],
                               ordering: false,
                               rowId: 'order'"></gisc-ui-datatable>
    <!-- /ko -->
</gisc-ui-component>