﻿<gisc-ui-component>
    <!--Code-->
    <gisc-ui-label params="for:'txtCode', text:i18n('Vendor_Code')" />
    <gisc-ui-field params="id:'txtCode', value:code" />
    <!--Name-->
    <gisc-ui-label params="for:'txtName',text:i18n('Vendor_Name')" />
    <gisc-ui-field params="id:'txtName', value:name" />
    <!--User-->
    <gisc-ui-label params="for: 'txtUser', text: i18n('Vendor_User') "></gisc-ui-label>
    <gisc-ui-field params="id:'txtUser', value:user" />

</gisc-ui-component>