<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>TreeView is using for display a hierarchical structure of data.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>mode</code></td>
                        <td>No</td>
                        <td>view</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>datasource</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>dataID</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>text</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>parent</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>children</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>selectedNodes</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>Yes</td>
                    </tr>
                     <tr>
                        <td><code>autoSelection</code></td>
                        <td>No</td>
                        <td>true</td>
                        <td>Yes</td>
                    </tr>
                     <tr>
                        <td><code>disableNodes</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>collapsedNodes</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>onBuildNode</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>mode</code> Set node types to single or multiple selection.</li>
                        <li><code>datasource</code> Datasource for Treeview controls, must be Observable Array of json object.</li>
                        <li><code>dataID</code> JSON property that needed to be node id.</li>
                        <li><code>text</code> JSON property that needed to be node name.</li>
                        <li><code>parent</code> JSON property which is id of parent node.</li>
                        <li><code>collapsedNodes</code> Observable array to collect opend state of each node.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls
                            will generate GUID.</li>
                        <li><code>selectedNodes</code> Observable array to selected node from datasource. It will be updated
                            from controls when node is selected.</li>
                        <li><code>children</code> JSON property which is recursive tree structure.This property will require
                            when your JSON struture have children or hierarchy.</li>
                        <li><code>onBuildNode</code> Event handler for custom node name.</li>
                        <li><code>autoSelection</code> A boolean indicating if checkboxes should be dependent or independent selection.Defaults to true.</li>
                        <li><code>disableNodes</code> Observable array of disable nodes, only set if you set <code>autoSelection</code> to <code>false</code>.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">// View Model
class TreeViewScreen extends ScreenBase {
    constructor(params) {
        super(params);

        this.selected1 = ko.observableArray();
        this.selected2 = ko.observableArray();
        this.selected3 = ko.observableArray();
        this.selected4 = ko.observableArray();

        this.collapsedNodes1 = ko.observableArray();
        this.collapsedNodes2 = ko.observableArray();
        this.collapsedNodes3 = ko.observableArray();
        this.collapsedNodes4 = ko.observableArray();

        this.items1 = ko.observableArray();
        this.items2 = ko.observableArray();
        this.items3 = ko.observableArray();
        this.items4 = ko.observableArray();

        this.disableCollections = ko.observableArray([5,9]);
        
    }
    onLoad(){
        //Json mock data
         var mockData = [{
            id: 1,
            code: "A001",
            name: "Head Office",
            parentNode: null,
            childNodes: [{
                id: 3,
                code: "B001",
                name: "Central",
                parentNode: 1,
                childNodes: [{
                    id: 5,
                    name: "Bangkok",
                    code: "C001",
                    parentNode: 3,
                    childNodes: []
                }, {
                    id: 6,
                    name: "Nonthaburi",
                    code: "C001",
                    parentNode: 3,
                    childNodes: []
                }]
            }, {
                id: 4,
                name: "North",
                code: "B002",
                parentNode: 1,
                childNodes: []
            }]
        }, {
            id: 2,
            name: "Regional Office",
            code: "A001",
            parentNode: null,
            childNodes: []
        }];

        this.items1(mockData);
        this.items2(mockData);
        this.items3(mockData);
        this.items4(mockData);
    }
}
                </code></pre>
                <h3>View Mode</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
 &lt;gisc-ui-treeview params="mode:'view',
                            datasource:items1,
                            dataID:'id',
                            text:'name',
                            parent:'parentNode',
                            children:'childNodes',
                            selectedNodes:selected1,
                            collapsedNodes:collapsedNodes1" />
                </code></pre>
                <h4>Output</h4>
            </section>
        </section>
    </article>
    <article class="sdk-special-body">
        <section>
            <div class="output">
                <gisc-ui-treeview params="mode:'view',
                            datasource:items1,
                            dataID:'id',
                            text:'name',
                            parent:'parentNode',
                            children:'childNodes',
                            selectedNodes:selected1,
                            collapsedNodes:collapsedNodes1" />

                <div data-bind="text:result1"></div>
               
            </div>
        </section>
    </article>
    <article class="markup-container sdk-body">
        <h3>Update Mode</h3>
        <h4>Dependent selection.</h4>
        <h4>Source</h4>
        <pre><code class="hljs html">&lt;!-- View --&gt;
 &lt;gisc-ui-treeview params="mode:'update',
                            datasource:items2,
                            dataID:'id',
                            text:'name',
                            parent:'parentNode',
                            children:'childNodes',
                            selectedNodes:selected2,
                            collapsedNodes:collapsedNodes2" />
                </code></pre>
        <h4>Output</h4>
        </section>
        </section>
    </article>
    <article class="sdk-special-body">
        <section>
            <div class="output">
                <gisc-ui-treeview params="mode:'update',
                            datasource:items2,
                            dataID:'id',
                            text:'name',
                            parent:'parentNode',
                            children:'childNodes',
                            selectedNodes:selected2,
                            collapsedNodes:collapsedNodes2" />

                <div data-bind="text:result2"></div>
            </div>
        </section>
    </article>

    <article class="markup-container sdk-body">
        <!--<h3>Update Mode with independent selection.</h3>-->
        <h4>Independent selection.</h4>
        <h4>Source</h4>
        <pre><code class="hljs html">&lt;!-- View --&gt;
 &lt;gisc-ui-treeview params="mode:'update',
                            datasource:items3,
                            dataID:'id',
                            text:'name',
                            parent:'parentNode',
                            children:'childNodes',
                            autoSelection:false,
                            selectedNodes:selected3,
                            collapsedNodes:collapsedNodes3,
                            disableNodes:disableCollections" />
                </code></pre>
        <h4>Output</h4>
        </section>
        </section>
    </article>
    <article class="sdk-special-body">
        <section>
            <div class="output">
                <gisc-ui-treeview params="mode:'update',
                            datasource:items3,
                            dataID:'id',
                            text:'name',
                            parent:'parentNode',
                            children:'childNodes',
                            autoSelection:false,
                            selectedNodes:selected3,
                            collapsedNodes:collapsedNodes3,
                            disableNodes:disableCollections" />

                <div data-bind="text:result3"></div>
            </div>
        </section>
    </article>

    <article class="markup-container sdk-body">
        <h3>Custom build node's title</h3>
        <h4>Source</h4>
        <pre><code class="hljs js">// View Model
onBuildNode(node) {
    node.text = node.text + " (" + node.rawData.code + ")";
}         
        </code></pre>
        <pre><code class="hljs html">&lt;!-- View --&gt;
 &lt;gisc-ui-treeview params="mode:'view',
                            datasource:items4,
                            dataID:'id',
                            text:'name',
                            parent:'parentNode',
                            children:'childNodes',
                            selectedNodes:selected4,
                            onBuildNode:onBuildNode.bind($data),
                            collapsedNodes:collapsedNodes4" />
                </code></pre>
        <h4>Output</h4>
        </section>
        </section>
    </article>
    <article class="sdk-special-body">
        <section>
            <div class="output">
                <gisc-ui-treeview params="mode:'view',
                            datasource:items4,
                            dataID:'id',
                            text:'name',
                            parent:'parentNode',
                            children:'childNodes',
                            selectedNodes:selected4,
                            onBuildNode:onBuildNode.bind($data),
                            collapsedNodes:collapsedNodes4" />

                <div data-bind="text:result4"></div>
            </div>
        </section>
    </article>


</gisc-ui-component>