﻿<gisc-ui-component>
    <gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelecting:_selectingRowHandler.bind($data)">
        <item params="text: i18n('Common_Subscriptions'), extras: { id: 'bo-subscription-and-group-subscription'}" />
        <item params="text: i18n('Common_UserGroups'), extras: { id: 'bo-subscription-and-group-group'}" />
        <item params="text: i18n('Common_Technician_Team'), extras: { id: 'bo-subscription-and-group-technician-team'}" />
    </gisc-ui-listview>
</gisc-ui-component>
