﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div style="padding: 10px">
        <gisc-ui-label params="text: i18n('Transportation_Mngm_ShipmentTimeline_SortBy')" />
    </div>
    <div style="padding: 0 0 0 20px">
        <gisc-ui-radio params="text:textDistance, value:valueDistance, checked:isRadio"/>
        <gisc-ui-radio params="text:textTime, value:valueTime, checked:isRadio"/>
    </div>
    <div style="padding: 10px">
        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Waypoint')" />
    </div>
    <div style="padding: 0 0 0 20px">
        <gisc-ui-checkbox params="text: i18n('Transportation_Mngm_Shipment_Fix_First'), checked:isFixFirst" />
        <gisc-ui-checkbox params="text: i18n('Transportation_Mngm_Shipment_Fix_Last'), checked:isFixLast" />
    </div>
    <div style="width:100%">
        <div style="width: 50%; float: left;">
            <button data-bind="click: onClickOK, attr:{ class: 'btn-dialog-ok' }">OK</button>
        </div>
        <div style="width: 50%; float: left;">
            <button data-bind="click: onClickCancel, attr:{ class: 'btn-dialog-cancel' }">Cancel</button>
        </div>
    </div>
</gisc-ui-component>