﻿<div data-bind="template: { afterRender: afterRender.bind($data, $element)}">
<div class="divControlTbl">
        <div class="controlTbl" data-bind="visible: isShipmentGridEdit" style="width:120px">
            <gisc-ui-label params="text:i18n('Transportation_Mngm_Shipment_Start_Shipment')" />
            <gisc-ui-dropdown params="id: 'ddStartShipmentAccessType',
                                    options: startShipmentAccessType,
                                    optionsText: 'displayName',
                                    value: selectedStartShipmentAccessType" />
        </div>
    
        <div class="controlTbl" data-bind="visible: isShipmentGridEdit" style="width:120px">
            <gisc-ui-label params="text:i18n('Transportation_Mngm_Shipment_Close_Shipment')" />
            <gisc-ui-dropdown params="id: 'ddClosedShipmentAccessType',
                                    options: closeShipmentAccessType,
                                    optionsText: 'displayName',
                                    value: selectedCloseShipmentAccessType" />
        </div>
    </div>
    <div class="divControlTbl">
        <div class="controlTbl" style="margin-bottom:10px;">
            <button data-bind="click:viewOnMap.bind($data), attr:{ title:textViewOnMap }" style="width:35px;height:35px;cursor:pointer;">
                <svg-icon-customroute-viewonmap class="shipment-grid-view-on-map-svg" />
            </button>
        </div>
        <div class="controlTbl" style="margin-bottom:10px;">
            <button data-bind="click:findBestSequence.bind($data), attr:{ title:textFindBestSequence }, enable: enableBestSequence" style="width:35px;height:35px;cursor:pointer;">
                <svg-icon-best-sequence data-bind="attr:{class: enableBestSequence() ? 'shipment-grid-best-sequence' : 'shipment-grid-best-sequence disabled'}" />
            </button>
        </div>
        <div class="controlTbl" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-label params="text:i18n('Transportation_Mngm_Shipment_Time_Calculation')" />
        </div>
        <div class="controlTbl forDisabled" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-radio params="text:i18n('Transportation_Mngm_ShipmentType_Automatics'),value:'Auto', checked:isRadioTimeCalculation"
            />
        </div>
        <div class="controlTbl forDisabled" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-radio params="text:i18n('Transportation_Mngm_ShipmentType_Custom'),value:'Custom' ,checked:isRadioTimeCalculation"
            />
        </div>
        <div class="controlTbl forDisabled" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-checkbox params="text:i18n('Transportation_Mngm_Shipment_LastWP_Terminal'), checked:isLastWaypoint, enable: isShipmentGridEdit"
            />
        </div>
    </div>
    <!-- <div class="divControlTbl">
        <div class="controlTbl" style="margin-bottom:10px;">
            <button data-bind="click:viewOnMap.bind($data), attr:{ title:textViewOnMap }" style="width:35px;height:35px;cursor:pointer;">
                <svg-icon-customroute-viewonmap class="shipment-grid-view-on-map-svg" />
            </button>
        </div>
        <div class="controlTbl" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-label params="text:i18n('Transportation_Mngm_Shipment_Start_Shipment')" />
        </div>
        <div class="controlTbl forDisabled" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-radio params="text:i18n('Transportation_Mngm_ShipmentType_Depart'),value:startShipmentDepart, checked:isRadioStartShipment"
            />
        </div>
        <div class="controlTbl forDisabled" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-radio params="text:i18n('Transportation_Mngm_ShipmentType_Arrival'),value:startShipmentArrival ,checked:isRadioStartShipment"
            />
        </div>

        <div class="controlTbl forDisabled" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-checkbox params="text:i18n('Transportation_Mngm_Shipment_LastWP_Terminal'), checked:isLastWaypoint, enable: isShipmentGridEdit"
            />
        </div>

        <div class="controlTbl" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-label params="text:i18n('Transportation_Mngm_Shipment_Close_Shipment')" />
        </div>
        <div class="controlTbl forDisabled" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-radio params="text:i18n('Transportation_Mngm_ShipmentType_Arrival'),value:closeShipmentArrival ,checked:isRadioClosedShipment"
            />
        </div>
        <div class="controlTbl forDisabled" data-bind="visible: isShipmentGridEdit">
            <gisc-ui-radio params="text:i18n('Transportation_Mngm_ShipmentType_Depart'),value:closeShipmentDepart, checked:isRadioClosedShipment"
            />
        </div>
    </div> -->

    <div class="divControlBtn">
        <gisc-ui-button params="text:i18n('Transportation_Mngm_Add_new_record'), onclick: addRow.bind($data), enable: isShipmentGridEdit"
        />
        <gisc-ui-button params="text:i18n('Transportation_Mngm_Cancel_Changes'), onclick: cancel.bind($data), enable: isShipmentGridEdit"
        />
    </div>
    <div class="tblCreateShipment">
        <div class="divHeader">
            <div class="tblHeader shipGrid-center" style="width:30px;" data-bind=""></div>
            <div class="tblHeader shipGrid-center" style="width:30px;" data-bind="text: '#'"></div>
            <div class="tblHeader shipGrid-center" style="width:50px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Shipment_Total'), visible:isVisible"></div>
            <div class="tblHeader" style="width:100px;" data-bind="text: i18n('Common_Status'), visible:isVisible"></div>
            <div class="tblHeader" data-bind="html: i18n('Transportation_Mngm_Shipment_Waypoint')" style="width: 200px;"></div>
            <div class="tblHeader" data-bind="html: i18n('Transportation_Mngm_Shipment_Ship_To_Address')" style="width: 200px;"></div>
            <div class="tblHeader" style="width:80px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Arrive'), style: { width: tblRowDateTime }"></div>
            <div class="tblHeader" style="width:80px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Depart'), style: { width: tblRowDateTime }"></div>
            <div class="tblHeader shipGrid-center" style="width:70px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Stop_Time')"></div>
            <div class="tblHeader shipGrid-center" style="width:70px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Travel_Time')"></div>
            <div class="tblHeader shipGrid-center" style="width:70px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Plan_Distance')"></div>
            <div class="tblHeader shipGrid-center" style="width:70px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Radius')"></div>
            <div class="tblHeader shipGrid-center" style="width:70px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Min_Park')"></div>
            <div class="tblHeader shipGrid-center" style="width:70px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Max_Park')"></div>
            <div class="tblHeader shipGrid-center" style="width:90px;" data-bind="html: i18n('Transportation_Mngm_Shipment_Delivery_Type')"></div>
        </div>

        <div data-bind="foreach: data">
            <div class="divRow" data-bind="if: $parent.showTbl">
                <div class="tblRow shipGrid-center" style="width:30px;">
                    <img data-bind="attr: { src: imgUrl }, click: $parent.onDeleteRow.bind($component, $index())" />
                </div>
                <div class="tblRow shipGrid-center" style="width:30px;" data-bind="text: ($index() + 1), value: indexLst($index())"></div>
                <div class="tblRow shipGrid-center" style="width:50px;" data-bind="text: displayTotalDOs, visible:$parent.isVisible"></div>
                <div class="tblRow" style="width:100px;" data-bind="text: jobwayPointStatus, visible:$parent.isVisible"></div>
                <div class="tblRow" style="width: 200px;">
                    <gisc-ui-autocomplete params="onDatasourceRequest: requestWaypoint,
                                    selectedValue: waypoint,
                                    value: waypointVal, 
                                    enable: $parent.enableWaypoint,
                                    watchChange: true" />
                </div>
                <div class="tblRow" style="width: 200px;" data-bind="text: shipmentToAddressDisplay()"></div>
                <div class="tblRow" data-bind="style: { width: $parent.tblRowDateTime }">
                        <!-- ko if: $parent.isDateTimePicker -->
                        <!-- <gisc-ui-datetime params="id: arrivalId, value:arrival"/> ($index() == 0) ? false : true-->
                        <gisc-ui-flatpickr params="id: arrivalId, value:arrival, showTime: true, minDate: arrivalMinDate, enable: arrivalEnable" />
                        <!-- /ko -->
                        <!-- ko ifnot: $parent.isDateTimePicker -->
                        <label data-bind="html: arrival()"></label>
                        <!-- /ko -->
                    </div>
                    <div class="tblRow" data-bind="style: { width: $parent.tblRowDateTime }">
                        <!-- ko if: $parent.isDateTimePicker -->
                        <!-- <gisc-ui-datetime params="id: departId, value:depart"/> -->
                        <gisc-ui-flatpickr params="id: departId, value:depart, showTime: true, minDate: arrival, enable: departEnable"/>
                        <!-- /ko -->
                        <!-- ko ifnot: $parent.isDateTimePicker -->
                        <label data-bind="html: depart()"></label>
                        <!-- /ko -->
                    </div>
                <div class="tblRow shipGrid-center" style="width:70px;">
                    <gisc-ui-textbox params="value: stop,
                                  enable: isStartArrival,
                                  filter:{type :'numeric', numericType:'int'},
                                  watchChange: false" />
                </div>
                <div class="tblRow shipGrid-center" style="width:70px;">
                    <gisc-ui-textbox params="value: travel,
                                  enable: isEnabled,
                                  filter:{type :'numeric', numericType:'int'},
                                  watchChange: true" />
                </div>
                <div class="tblRow shipGrid-center" style="width:70px;">
                    <gisc-ui-textbox params="value: distance,
                                  enable: isEnabled,
                                  filter:{type :'numeric', numericType:'float'},
                                  watchChange: true" />
                </div>
                <div class="tblRow shipGrid-center" style="width:70px;">
                    <gisc-ui-textbox params="value: radiusDisplay,
                                     filter:{type :'numeric', numericType:'int'},
                                     enable: $parent.isShipmentGridEdit,
                                     watchChange: true" />
                </div>
                <div class="tblRow shipGrid-center" style="width:70px;">
                    <gisc-ui-textbox params="value: minPark,
                                     filter:{type :'numeric', numericType:'int'},
                                     enable: $parent.isShipmentGridEdit,
                                     watchChange: true" />
                </div>
                <div class="tblRow shipGrid-center" style="width:70px;">
                    <gisc-ui-textbox params="value: maxPark,
                                     filter:{type :'numeric', numericType:'int'},
                                     enable: $parent.isShipmentGridEdit,
                                     watchChange: true" />
                </div>
                <div class="tblRow" style="width:90px;">
                    <gisc-ui-dropdown params="options: $parent.deliveryTypeList,
                                      id: dTypeId,
                                      optionsText: 'displayName',
                                      optionsCaption: '',
                                      value: dType,
                                      enable: $parent.isShipmentGridEdit,
                                      watchChange: true" />
                </div>
            </div>
        </div>
        <!-- ko if: isLatLonDup -->
            <p data-bind="text: i18n('M010'), style: { 'color': '#d34f4f', 'font-size': '0.8em' }" />
        <!-- /ko -->
        <!-- ko if: isFindBestSequenceLoading -->
        <div class="k-loading-image"></div>
        <!-- /ko -->
    </div>
</div>