﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for:'txtBomsName', text:i18n('BOMs_DefaultValue_Name'), isRequired:true" />
    <gisc-ui-textbox params="id:'txtBomsName', value:name " />

    <!-- Description -->
    <gisc-ui-label params="for:'txtDesc', text:i18n('BOMs_DefaultValue_Description')" />
    <gisc-ui-textarea params="id:'txtDesc', value:description ,maxlength:1000" />

    <!-- Plant -->
    <gisc-ui-label params="text:i18n('BOMs_DefaultValue_Plant'),isRequired:true" />
    <gisc-ui-dropdown params="options:businessUnitOptions,
                               optionsText:'name',
                               value:selectedBusinessUnitId,
                               optionsCaption:' ',
                               " />

    <!-- Travel Mode -->
    <gisc-ui-label params="text:i18n('BOMs_DefaultValue_TravelMode'),isRequired:true" />
    <gisc-ui-dropdown params="options:travelModeOptions,
                               optionsText:'displayName',
                               value:selectedTravelMode,
                               optionsCaption:' ',
                               " />

    <!-- Travel Mode -->
    <gisc-ui-label params="text:i18n('BOMs_DefaultValue_ShipmentCategory'),isRequired:true" />
    <gisc-ui-dropdown params="options:shipmentCateOptions,
                               optionsText:'name',
                               value:selectedShipmentCate,
                               optionsCaption:' ',
                               " />

    <!-- Late -->
    <gisc-ui-label params="for: 'dtInputBomsFromTime', text: i18n('BOMs_DefaultValue_Late'),isRequired:true"></gisc-ui-label>
    <div class="app-textBox-wrapper">
        <input type="time" data-bind="value:late, attr: { id:id, class:'app-input'}" , style="width:40%"/>
    </div>
    <!-- Maybe Late -->
    <gisc-ui-label params="for: 'dtInputBomsToTime', text: i18n('BOMs_DefaultValue_MaybeLate'),isRequired:true"></gisc-ui-label>
    <div class="app-textBox-wrapper">
        <input type="time" data-bind="value:maybeLate, attr: { id:id, class:'app-input'} ", style="width:40%">
    </div>


</gisc-ui-component>