<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>

            <!-- Required field on DropDown -->
            <gisc-ui-label params="for:'from' ,text: i18n('Report_From'), isRequired: true" />
            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:0 ,minDate:'-3m' ,dateFormat:formatSet" />

            <gisc-ui-label params="for:'to' ,text: i18n('Report_To'), isRequired: true" />
            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:periodDay ,dateFormat:formatSet" />

            <div data-bind="visible: showDate"><span data-bind="text:start"></span></div>
            <div data-bind="visible: showDate"><span data-bind="text:end"></span></div>
    
            
        </section>
    </article>
</gisc-ui-component>