﻿<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>MapManager supports drawing multiple polygon on map.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>ring</code></td>
                        <td>Yes</td>
                        <td>Number[][][]</td>
                        <td>An array of rings. Each ring is made up of three or more points.</td>
                    </tr>
                    <tr>
                        <td><code>fillColor</code></td>
                        <td>Yes</td>
                        <td>string</td>
                        <td>HEX color string for fill polygon</td>
                    </tr>
                    <tr>
                        <td><code>fillColor</code></td>
                        <td>Yes</td>
                        <td>string</td>
                        <td>HEX color string for border of polygon</td>
                    </tr>
                    <tr>
                        <td><code>fillOpacity</code></td>
                        <td>Yes</td>
                        <td>float</td>
                        <td>Opacity of fill color of polygon</td>
                    </tr>
                    <tr>
                        <td><code>borderOpacity</code></td>
                        <td>Yes</td>
                        <td>float</td>
                        <td>Opacity of border color of polygon</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameter Value Example</h2>
<pre><code class="hljs js">ring = [
    [
        [100.526750, 13.724927],
        [100.530486, 13.725509],
        [100.528664, 13.722982],
        [100.526750, 13.724927]
    ],
    [
        [100.520953, 13.731480],
        [100.520038, 13.728948],
        [100.524549, 13.729588],
        [100.520953, 13.731480]
    ]
],
fillColor = '#6b2593', 
borderColor = '#0c574d', 
fillOpacity = 0.5, 
borderOpacity = 1</code></pre>
        </section>
        <section>
            <h2>Usage Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">import * as EventAggregatorConstant from "../../../../app/frameworks/constant/eventAggregator";
import MapManager from "../../../controls/gisc-chrome/map/mapManager";</code></pre>
                <pre><code>// Register event subscribe in constructor.
this._eventAggregator.subscribe(EventAggregatorConstant.MAP_COMMAND_COMPLETE, this.onMapComplete.bind(this));</code></pre>
                <pre><code class="hljs js">// Call command.
MapManager.getInstance().drawMultiplePolygonZoom(this.id, ring, fillColor, borderColor, fillOpacity, borderOpacity);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Send Command', onclick: invokeCommand" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>