<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>MapManager supports draw pin.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>latitude</code></td>
                        <td>Yes</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td><code>longitude</code></td>
                        <td>Yes</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td><code>pinUrl</code></td>
                        <td>No</td>
                        <td>http://bit.ly/2aLPTs9</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>Latitude</code> Latitude for new pin.</li>
                        <li><code>Longitude</code> Longitude for new pin.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>pinUrl</code> Custom pin URL which be displayed on the map.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">import MapManager from "../../../controls/gisc-chrome/map/mapManager";</code></pre>
                <pre><code>// Register event subscribe in constructor.
this._eventAggregator.subscribe(EventAggregatorConstant.MAP_COMMAND_COMPLETE, this.onMapComplete.bind(this));</code></pre>
                <pre><code class="hljs js">// Call draw pin command
MapManager.getInstance().drawPin(this.id, this.latitude(), this.longitude());</code></pre>
                <h4>Output</h4>
                <blockquote>This example will draw pin in map underneath.</blockquote>
                <div class="output">
                    <gisc-ui-button params="text: 'Draw Pin', onclick: addPin.bind($data)" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>