﻿<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>MapManager supports drawing point on map.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>location</code></td>
                        <td>Yes</td>
                        <td>object</td>
                        <td>location data (Latitude , Longitude)</td>
                    </tr>
                    <tr>
                        <td><code>symbol</code></td>
                        <td>Yes</td>
                        <td>object</td>
                        <td>Pin graphic option.</td>
                    </tr>
                    <tr>
                        <td><code>zoom</code></td>
                        <td>Yes</td>
                        <td>Integer</td>
                        <td>Zoom level</td>
                    </tr>
                    <tr>
                        <td><code>attributes</code></td>
                        <td>Yes</td>
                        <td>object</td>
                        <td>Graphic metadata</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameter Value Example</h2>
<pre><code class="hljs js">location = {
    lat: 13.733114,
    lon: 100.530602
},
symbol = {
    url: "https://map.nostramap.com/mobileweb/images/pin_markonmap.png",
    width: '35',
    height: '50',
    offset: {
        x: 0,
        y: 23.5
    },
    rotation: 0
},
zoom = 17,
attributes = null</code></pre>
        </section>
        <section>
            <h2>Usage Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">import * as EventAggregatorConstant from "../../../../app/frameworks/constant/eventAggregator";
import MapManager from "../../../controls/gisc-chrome/map/mapManager";</code></pre>
                <pre><code>// Register event subscribe in constructor.
this._eventAggregator.subscribe(EventAggregatorConstant.MAP_COMMAND_COMPLETE, this.onMapComplete.bind(this));</code></pre>
                <pre><code class="hljs js">// Call command.
MapManager.getInstance().drawOnePointZoom(this.id, location, symbol, zoom, attributes);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Send Command', onclick: invokeCommand" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>