<gisc-ui-component params="codeHighlight: true">
    <gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelected:goto.bind($data)">
        <!--<item params="text: 'Draw Pin', extras: { id: 'mapDrawPin'}" />-->
        <item params="text: 'Clear Map', extras: { id: 'mapClear'}" />
        <item params="text: 'Draw One Point Zoom', extras: { id: 'mapDrawOnePointZoom'}" />
        <item params="text: 'Draw One Line Zoom', extras: { id: 'mapDrawOneLineZoom'}" />
        <item params="text: 'Draw One Polygon Zoom', extras: { id: 'mapDrawOnePolygonZoom'}" />
        <item params="text: 'Draw Multiple Point', extras: { id: 'mapDrawMultiplePoint'}" />
        <item params="text: 'Draw Multiple Polygon Zoom', extras: { id: 'mapDrawMultiplePolygonZoom'}" />
        <item params="text: 'Draw Multiple Line Zoom', extras: { id: 'mapDrawMultpleLineZoom'}" />
        <item params="text: 'Draw Multiple Vehicles', extras: { id: 'mapDrawMultipleVehicle'}" />
        <item params="text: 'Draw One Route', extras: { id: 'mapDrawOneRoute'}" />
        <item params="text: 'Draw Point Buffer', extras: { id: 'mapDrawPointBuffer'}" />
        <item params="text: 'Draw Route Buffer', extras: { id: 'mapDrawRouteBuffer'}" />
        <item params="text: 'Draw Custom Area', extras: { id: 'mapDrawCustomArea'}" />
        <item params="text: 'Zoom Point', extras: { id: 'mapZoomPoint'}" />
        <item params="text: 'Track Vehicles', extras: { id: 'mapTrackVehicles'}" />
        <item params="text: 'Enable Click Map', extras: { id: 'mapEnableClickMap'}" />
        <item params="text: 'Enable Draw Polygon', extras: { id: 'mapEnableDrawPolygon'}" />
        <item params="text: 'Playback Animate', extras: { id: 'mapPlaybackAnimate'}" />
        <item params="text: 'Playback Footprint', extras: { id: 'mapPlaybackFootprint'}" />
        <item params="text: 'Playback Fully', extras: { id: 'mapPlaybackFully'}" />
    </gisc-ui-listview>
</gisc-ui-component>