﻿<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>MapManager supports pan and zoom to location.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>lat</code></td>
                        <td>Yes</td>
                        <td>Number</td>
                        <td>Latitude.</td>
                    </tr>
                    <tr>
                        <td><code>lon</code></td>
                        <td>Yes</td>
                        <td>Number</td>
                        <td>Lontitude.</td>
                    </tr>
                    <tr>
                        <td><code>zoom</code></td>
                        <td>Yes</td>
                        <td>Integer</td>
                        <td>Zoom level.</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameter Value Example</h2>
<pre><code class="hljs js">lat = 13.733114, lon = 100.530602, zoom = 17</code></pre>
        </section>
        <section>
            <h2>Usage Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">import * as EventAggregatorConstant from "../../../../app/frameworks/constant/eventAggregator";
import MapManager from "../../../controls/gisc-chrome/map/mapManager";</code></pre>
                <pre><code>// Register event subscribe in constructor.
this._eventAggregator.subscribe(EventAggregatorConstant.MAP_COMMAND_COMPLETE, this.onMapComplete.bind(this));</code></pre>
                <pre><code class="hljs js">// Call command.
MapManager.getInstance().zoomPoint(this.id, lat, lon, zoom);</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-button params="text: 'Send Command', onclick: invokeCommand" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>