<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Tooltip control is a pop-up box that appears when the user click the mouse over an element.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>text</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>text</code> Display text.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params="text: 'Tooltip'"/>
&lt;gisc-ui-tooltip params="text:text:'Tooltip control is a pop-up box that appears when the user click the mouse over an element'"/>
                </code></pre>
                <!--<pre><code class="hljs js">// View Model
                    
                </code></pre>-->
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text: 'Tooltip'"></gisc-ui-label>
                    <gisc-ui-tooltip params="text:'Tooltip control is a pop-up box that appears when the user click the mouse over an element'"></gisc-ui-tooltip>
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>