﻿<gisc-ui-component>
    <!--ServiceType-->
    <gisc-ui-label params="for: 'ddServiceType', text:i18n('Ticket_ServiceType')" />
    <gisc-ui-dropdown params="id: 'ddServiceType',
                            options: ServiceTypeOptions,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsCaption: ' ',
                            value: serviceId" >
    </gisc-ui-dropdown>

    <!--Company -->
    <gisc-ui-label params="for: 'ddCompany', text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="id: 'ddCompany',
                            options: companyOptions,
                            optionsID: 'id',
                            optionsCaption: ' ',
                            optionsText: 'name',
                            type:'filter',
                            value: companyId" >
    </gisc-ui-dropdown>

    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddBusinessUnit',
                            options: businessUnitOptions,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            optionsCaption: ' ',
                            value: businessUnitId" />
    
    <!--Include Sub Business Unit-->
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU"/>

    <!--Vehicle-->
    <gisc-ui-label params="for: 'ddVehicle', text:i18n('Common_Vehicle')"/>
    <gisc-ui-dropdown params="id: 'ddVehicle',
                              options: vehicleOptions,
                              optionsText: 'license',
                              optionsCaption: selectedEntityBinding,
                              type: 'filter',
                              value: vehicleId"></gisc-ui-dropdown>

    <gisc-ui-label params="for: 'license', text: i18n('Common_License')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'license', value: license"></gisc-ui-textbox>

    <gisc-ui-label params="for: 'txtassetID', text: i18n('Ticket_AssetId')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtassetID', value: assetID"></gisc-ui-textbox>

    <gisc-ui-label params="for: 'txtTicketId', text: i18n('Ticket_TicketNo')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtTicketId', value: ticketId, filter:{type :'numeric', numericType:'int'}, maxlength:10"></gisc-ui-textbox>

    <gisc-ui-label params="for: 'txtContractNo', text: i18n('Ticket_ContractNo')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtContractNo', value: contractNo, maxlength:10"></gisc-ui-textbox>
    
    <gisc-ui-label params="for: 'txtMobileNumber', text: i18n('Ticket_MobileNo')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtMobileNumber', value: mobileNo, filter:{type :'numeric', numericType:'int'} ,maxlength:11"></gisc-ui-textbox>

    <div style="width:100%">
        <gisc-ui-label params="for:'txtnoSignalDuration',text:i18n('Ticket_NoSignalDuration')" />
        <div style="width:70%;float:left">
            <gisc-ui-textbox params="id:'txtnoSignalDuration', value:noSignalDuration" />
        </div>
        <div style="width:20%;float:left;margin-left: 5px;">
            <gisc-ui-label params="for:'txtDays',text:i18n('Common_Minute')" />
        </div>
    </div>
    <div style="clear:both" />
    <gisc-ui-checkbox params="text: i18n('Ticket_NoTicketOnly'), checked:isTicketOnly" />

    <div style="clear:both" />
    <gisc-ui-checkbox params="text: i18n('Ticket_HaveTicket'), checked:isHaveTicket"/>

    <div data-bind="visible:disabled">
        <div class="sdk-body">
            <div class="output">
                <gisc-ui-label params="for:'from' ,text: i18n('Ticket_From')" />
                <gisc-ui-datetime params="id:'from' ,value:startDate ,mode:'date' ,maxDate:maxStartDate ,minDate:'-3m' ,dateFormat:formatSet" />

                <gisc-ui-label params="for:'to' ,text: i18n('Ticket_To')" />
                <gisc-ui-datetime params="id:'to' ,value:endDate  ,mode:'date' ,maxDate:periodDay ,minDate:minStartDate ,dateFormat:formatSet" />

            </div>
        </div>
     </div>
</gisc-ui-component>