﻿<gisc-ui-component>
        <style>
        
        .app-form-field-container {
            padding-bottom: 5px;
            margin-top: 4px;
            width:120px;
        }
        .beginRow{
            margin-right:15px;
        }
        .marginNext{
            margin-right:15px;
            margin-left:15px;
        }
        .text-wrap{
            word-break:break-all;
            white-space:normal;
        }
    </style>
   <table>
       <!--Row1-->
       <tr style="padding-bottom: 15px;">
           <td><gisc-ui-label params="text:i18n('Ticket_TicketDate')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:tickDate"/></td>
           <td><gisc-ui-label params="text:i18n('Common_Company')" class="marginNext"/></td>
           <td><gisc-ui-field params="value:company" /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_AcknowledgeBy')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:ackBy" /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_PendingBy')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:pendBy" /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_CloseBy')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:closeBy" /></td>
       </tr>
       <!--Row2-->
       <tr>
           <td><gisc-ui-label params="text:i18n('Ticket_TicketNo')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:tickId  " /></td>
           <td><gisc-ui-label params="text:i18n('Common_BusinessUnit')"class="marginNext" /></td>
           <td><gisc-ui-field params="value:bu " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_AckknowledgeDate')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:actDate " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_PendingDate')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:pDate " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_CloseDate')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:closeDate" /></td>
       </tr>
       <!--Row3-->
       <tr>
           <td><gisc-ui-label params="text:i18n('Ticket_ContractNo')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:contractNo  " /></td>
           <td><gisc-ui-label params="text:i18n('Common_License')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:license, onClick:onClickLicense" /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_InProgressBy')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:inProBy " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_PendingCause')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:pCause " /></td>
           <td><gisc-ui-label params="text:i18n('Close Cause')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:closeCause" /></td>

       </tr>
       <!--Row4-->
       <tr>
           <td><gisc-ui-label params="text:i18n('Ticket_ContractStart')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:cStart  " /></td>
           <td><gisc-ui-label params="text:i18n('Assets_BoxSerialNo')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:boxNo, onClick:onClickBox" /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_InProgressDate')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:inProDates " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_PendingSubCause')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:pendSubC"  class="text-wrap"/></td>
           <td><gisc-ui-label params="text:i18n('Close Sub Cause')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:closeSubCause" class="text-wrap" /></td>
       </tr>
       <!--Row5-->
       <tr>
           <td><gisc-ui-label params="text:i18n('Ticket_ContractEnd')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:cEnd  " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_Mobile')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:mobileNo " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_ComfirmBy')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:confirmBy " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_PendingRemark')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:pendRemark"  class="text-wrap"/></td>
           <td><gisc-ui-label params="text:i18n('Close Remark')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:closeRemark"  class="text-wrap"/></td>
       </tr>
       <!--Row6-->
       <tr>
           <td><gisc-ui-label params="text:i18n('Common_Status')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:status " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_BoxTemplate')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:boxTemplate" /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_ComfirmDate')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:confirmDate " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_MaintenanceType')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:maintenanceType " /></td>
           
       </tr>
       <!--Row7-->
       <tr>
           <td><gisc-ui-label params="text:i18n('Ticket_ServiceType')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:serviceType " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_GPS')" class="marginNext" /></td>
           <td><img data-bind="attr: { src:statusGps, alt: '' } " style="width:20px;" /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_FollowBy')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:followBy " /></td>
           <td><gisc-ui-label params="text:i18n('Change Box Model')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:replaceBoxWithOtherModel" /></td>
       </tr>
       <!--Row8-->
       <tr>
           <td><gisc-ui-label params="text:i18n('Ticket_AssignTo')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:assignTo " /></td>
           <td><gisc-ui-label params="text:i18n('GPS Last Update')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:gpsLastUpdate" /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_FollowDate')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:followDate " /></td>
           <td><gisc-ui-label params="text:'Move Default Driver'" class="marginNext" /></td>
           <td><gisc-ui-field params="value:IsMoveDefaultDriver " /></td>
    </tr>
       <!--Row9-->
       <tr>
           <td><gisc-ui-label params="text:i18n('Ticket_TargetDate')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:targetDate " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_LastSendEmail')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:lastSendEmail" /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_LastUpdate')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:lastUpdate" /></td>
       </tr>
       <!--Row10-->
       <tr>
           <td><gisc-ui-label params="text:i18n('Ticket_Owner')" class="beginRow" /></td>
           <td><gisc-ui-field params="value:owner " /></td>
           <td><gisc-ui-label params="text:i18n('Ticket_Remark')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:remark"/></td>
           <td><gisc-ui-label params="text:i18n('QC')" class="marginNext" /></td>
           <td><gisc-ui-field params="value:qc" /></td>
       </tr>
   </table>
   
    <div style="clear:both"></div>


    <gisc-ui-tab params="selectedIndex: selectedIndex">

        <item params="text: i18n('Ticket_Appointments')">
            <gisc-ui-datagrid params="
                              source: listAppoi,
                              columns: [
                                { type: 'date', title: 'i18n:Ticket_AppointmentDate', data: 'appointDate' , format: '{0:dd/MM/yyyy HH:mm}'},
                                { type: 'text', title: 'i18n:Ticket_AppointmentDescription', data: 'appointmentDescription'},
                                { type: 'text', title: 'i18n:Common_Status', data: 'statusDisplayName'},
                                { type: 'text', title: 'i18n:Ticket_Province', data: 'provinceName'},
                                { type: 'text', title: 'i18n:Ticket_TechnicianTeam', data: 'technicianName'},
                                { type: 'text', title: 'i18n:Common_Phone', data: 'technicianPhone'},
                              ],
                              pageSize: 10,
                              onSelectingRow: clickEditAppoiment,
                              sortable: false
                              " />
        </item>
        <item params="text:i18n('Ticket_TicketLog')">
            <gisc-ui-datagrid params="
                              source: LogTicket ,
                              columns: [
                             { type: 'text' , title: 'i18n:Ticket_FieldName' , data: 'fieldName', width:'100px' },
                             { type: 'text' , title: 'i18n:Ticket_OldValue' , data: 'oldValue', width:'100px' },
                             { type: 'text' , title: 'i18n:Ticket_NewValue' , data: 'newValue' , width:'100px'},
                             { type: 'text' , title: 'i18n:Ticket_EditDate' , data: 'formatEditDate' , width:'100px'},
                             { type: 'text' , title: 'i18n:Ticket_EditBy' ,   data: 'editBy', width:'100px' }
                              ],
                              pageSize: 10,
                              sortable: false
                              " />
        </item>
        <item params="text: i18n('Ticket_EmailLog')">
            
          <gisc-ui-datagrid params="
                       source: apiRead ,
                      columns:[
                      { type: 'text', title: 'i18n:Ticket_SentDate' , data: 'formatSentDate', width:'110px' },
                      { type: 'text' , title: 'i18n:Ticket_SentBy' , data: 'sentBy', width:'110px'},
                      { type: 'text' , title: 'i18n:Ticket_Body' , data: 'body', width:'110px',template: viewDetail,onClick: clickMaildetail},     
                      { type: 'text', title: 'i18n:Ticket_SentTo' , data: 'sentTo', width:'110px' },
                      { type: 'text', title: 'i18n:Ticket_CC' , data: 'cc', width:'110px' },
                      { type: 'text' , title: 'i18n:Ticket_Subject' , data: 'subject', width:'110px'},
                      { type: 'text', title: 'i18n:Ticket_ErrorMessage', width:'300px' ,template:showErrorMsg },
                      { type: 'text' , title: 'i18n:Ticket_ErrorDetail' , data: 'error', width:'110px',template: viewDetail,onClick: viewError},
                      ],
                            pageSize: 10,
                            sortable: false
                      " />
        </item>
      
    </gisc-ui-tab>

   

</gisc-ui-component>