﻿<gisc-ui-component>
    <gisc-ui-label params="for: 'Owner', text:i18n('Ticket_Owner')" />
    <gisc-ui-field params="value: userOwner" />

    <!--ServiceType-->
    <gisc-ui-label params="for: 'ddServiceType', text:i18n('Ticket_ServiceType')" />
    <gisc-ui-dropdown params="id: 'ddServiceType',
                            options: serviceTypeOptions,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsCaption: ' ',
                            value: selectedServiceType" >
    </gisc-ui-dropdown>

    <!--ServiceType-->
    <gisc-ui-label params="for: 'ddAssign', text:i18n('Ticket_AssignTo')" />
    <gisc-ui-dropdown params="id: 'ddAssign',
                            options: AssignOptions,
                            optionsID: 'id',
                            optionsText: 'displayName',
                            optionsCaption: ' ',
                            value: selectedAssign" >
    </gisc-ui-dropdown>

    <!-- Remark -->
    <gisc-ui-label params="for:'ticketRemark', text:i18n('Ticket_Remark')"></gisc-ui-label>
    <gisc-ui-textarea params="id:'ticketRemark', value:ticketRemark"></gisc-ui-textarea>


    <gisc-ui-datatable params="
        id: 'dtCreateTicket',
        datasource: items,
        columns: [
            { type: 'label', title: 'i18n:Common_License', data: 'vehicleLicense' },
            { type: 'label', title: 'i18n:Ticket_AssetId', data: 'serialNo' }
        ],
        order: order,
        rowId: 'id'
        " />

    <!-- Change Box Model -->
    <gisc-ui-checkbox params="text:'Change Box Model', checked:isChangeBoxModel"/>

    <!-- QC -->
    <gisc-ui-checkbox params="text:'QC', checked:isQC"/>

    <!-- Move Default Driver -->
    <div data-bind="visible:moveDefaultDriverVisible">
        <gisc-ui-checkbox params="text:'Move Default Driver', checked:isMoveDefaultDriver"/>
    </div>

</gisc-ui-component>