<gisc-ui-component>
    <gisc-ui-datatable params="
            id: 'dtBatchAction',
            datasource: itemTickets,
            columns: [
                { type: 'label', title: 'i18n:Common_License', data: 'vehicleLicense' },
                { type: 'label', title: 'i18n:Ticket_AssetId', data: 'serialNo' },
                { type: 'label', title: 'i18n:Ticket_MobileNo', data: 'mobileNo' }
            ],
            ordering: false,
            rowId: 'id'
            " />
    <span data-bind="validationMessage: itemTickets" class="ko-block-msg-err"></span>
    
    <!-- Disable Vehicle -->
    <gisc-ui-checkbox params="text:'Disable Vehicle', checked:disableVehicle"/>
    <!-- Prepare To Close Sim -->
    <gisc-ui-checkbox params="text:'Prepare To Close Sim', checked:prepareToCloseSim"/>
    <!-- Maintenance Box -->
    <gisc-ui-checkbox params="text:'Maintenance Box', checked:maintenanceBox"/>

</gisc-ui-component>