﻿<div data-bind="template: { afterRender: afterRender.bind($data, $element)}" style="height:100%;">
    <div data-bind="attr:{id:lineChartId}" style="height:90%;"></div>
    <div data-bind="attr:{id:ganttChartId}" style="height:10%;"></div>
</div>
