<gisc-ui-component params="additionalCssClasses: 'compact'">
    <!-- ko if: visible -->
    <div class="app-datetime-box">
        <div class="box" data-bind="validationElement: datetime, css:cssClass">
            <time data-bind="attr:{datetime:datetime}"></time>
            <input class="app-input" readonly="true" type="text" data-bind="attr:{id:id},enable:enable,value:value">

            <span data-bind="css: id, visible:visibleCloseBtn" class="app-remove-icon">
                <!-- ko component: 'svg-blade-close' -->
                <!-- /ko -->
            </span>

            <span data-bind="css: id" class="app-icon-calender">
                <!-- ko component: 'svg-ic-calendar' -->
                <!-- /ko -->
            </span>
        </div>
        <span class="ko-inline-msg-err" data-bind="validationMessage: datetime"></span>
    </div>

    <!--<gisc-ui-checkbox params="text:i18n('Common_UseCurrentDateTime') ,visible:enableCurrentTime ,checked:isChecked">-->

    <!-- /ko -->
</gisc-ui-component>