﻿<gisc-ui-component>
    <div data-bind="template: { afterRender: afterRender.bind($data, $element, $context.$parents[2])}, visible: visible, attr: {id: id}"><!-- ko if: isViewModelInjected --><div data-bind="foreach: items" class="ext-hubs-tabssection"><!-- ko if: visible --><a href="#" data-bind="text: text, css: cssClasses, click: $parent.onTabClick.bind($parent, $data)"></a><!-- /ko --></div><!-- ko foreach: items --><!-- ko if: visible --><p data-bind="visible: isSelected, attr: { id: id}"><!-- ko template: { nodes: templateNodes, data: $parent.viewModel } --><!--/ko--></p><!-- /ko --><!--/ko--><!--/ko--></div>
</gisc-ui-component>