<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>DropdownTree is a combination of dropdown and tree , it is using for display a hierarchy of data in dropdown.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>enable</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>options</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>optionsID</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>optionsText</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>optionsParent</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>optionsChildren</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>value</code></td>
                        <td>Yes</td>
                        <td>undefined</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>onBuildNode</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>disableNodes</code></td>
                        <td>No</td>
                        <td>undefined</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>options</code> Datasource for list items, You should supply an array (or observable array).</li>
                        <li><code>optionsID</code> JSON property that needed to be item's id.</li>
                        <li><code>optionsText</code> JSON property to access datasource's item field which display as option's
                            text.</li>
                        <li><code>optionsParent</code> JSON property that defined id of parent node.</li>
                        <li><code>value</code> Set/Get current selected options as object in datasource. Normally this is bound
                            to an Observable..</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls
                            will generate GUID.</li>
                        <li><code>enable</code> Flag to determine whether this control is enabled or not. If set to false the
                            control is not interactable.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the
                            control is not render.</li>
                        <li><code>optionsChildren</code> JSON array property which is recursive tree structure.This property
                            will require when your JSON struture have children or hierarchy.</li>
                        <li><code>onBuildNode</code> Event handler for custom node name.</li>
                                                <li><code>disableNodes</code> Observable array of disable nodes.</li>
                    </ul>
                </li>
            </ul>
            <code>Note: </code> For implementation if selected value is null set observable to null otherwise set selected id as string to avoid dirty issues.
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs js">// View Model
class DropdownTreeScreen extends ScreenBase {
    constructor(params) {
        super(params);

        this.selectedItem = ko.observable("1");
        this.items = ko.observableArray();

    }

    onLoad() {
         var mockData = [{
            id: 1,
            code: "A001",
            name: "Head Office",
            parentNode: null,
            childNodes: [{
                id: 3,
                code: "B001",
                name: "Central",
                parentNode: 1,
                childNodes: [{
                    id: 5,
                    name: "Bangkok",
                    code: "C001",
                    parentNode: 3,
                    childNodes: []
                }, {
                    id: 6,
                    name: "Nonthaburi",
                    code: "C001",
                    parentNode: 3,
                    childNodes: []
                }]
            }, {
                id: 4,
                name: "North",
                code: "B002",
                parentNode: 1,
                childNodes: []
            }]
        }, {
            id: 2,
            name: "Regional Office",
            code: "A001",
            parentNode: null,
            childNodes: []
        }];
        this.items(mockData);
    }
                </code></pre>
                <pre><code class="hljs html">&lt;!-- View --&gt;
 &lt;gisc-ui-dropdowntree params="  options:items,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parentNode',
                                    optionsChildren:'childNodes',
                                    value:selectedItem" />

                </code></pre>
                <h4>Output</h4>
            </section>
        </section>
    </article>
    <article class="sdk-special-body">
        <section>
            <div class="output">
                 <gisc-ui-dropdowntree params="options:items,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentNode',
                            optionsChildren:'childNodes',
                            value:selectedItem,
                            disableNodes:disableNodeCollections,
                            enable:disable" />

                <div data-bind="text:selectedText"></div>

                <gisc-ui-button params="text:'Disable', onclick:onclick.bind($data)"/>
            </div>
        </section>
    </article>

    <!--<article class="markup-container sdk-body">
        <h3>Custom build title.</h3>
        <h4>Source</h4>
        <pre><code class="hljs html">&lt;!-- View --&gt;
 &lt;gisc-ui-dropdowntree params="options:items,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parentNode',
                                    optionsChildren:'childNodes',
                                    value:selectedItem2" />
                </code></pre>
        <h4>Output</h4>
        </section>
        </section>
    </article>

    <article class="sdk-special-body">
        <section>
            <div class="output">
                <gisc-ui-dropdowntree params="options:items,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parentNode',
                                    optionsChildren:'childNodes',
                                    value:selectedItem2,
                                    onBuildNode:onBuildNode.bind($data)" />

                <div data-bind="text:selectedText2"></div>
            </div>
        </section>
    </article>-->
</gisc-ui-component>