﻿<gisc-ui-component>
    <!-- Code -->
    <gisc-ui-label params="for:'adasCode',text:i18n('Code'),isRequired:true" />
    <gisc-ui-textbox params="id:'adasCode', value:code " />

    <!-- Brand -->
    <gisc-ui-label params="for:'adasBrand',isRequired:true,text:i18n('Brand')" />
    <gisc-ui-dropdown params="options:brandOptions,
                               optionsText:'name',
                               value:selectedBrand,
                               optionsCaption:''
                               " />

    <!-- Model -->
    <gisc-ui-label params="for:'adasModel',text:i18n('Model'),isRequired:true" />
    <gisc-ui-textbox params="id:'adasModel', value:model" />

    <!-- Enable -->
    <gisc-ui-label params="text:i18n('Enable'),isRequired:true" />
    <gisc-ui-dropdown params="options:enableOptions,
                                optionsText:'title',
                                value:selectedEnable,
                                " />

    <!-- Description -->
    <gisc-ui-label params="for:'adasDesc',text:i18n('Description')" />
    <gisc-ui-textarea params="id:'adasDesc', value:description" />

</gisc-ui-component>