﻿<gisc-ui-component>
    <!-- Business Unit -->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Common_BusinessUnit')"></gisc-ui-label>
    <gisc-ui-dropdowntree params="options:businessUnits,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:selectedBusinessUnit" />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />
</gisc-ui-component>