﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtName', text:i18n('Subscriptions_SubscriptionName'), isRequired:true"/>
    <gisc-ui-textbox params="id: 'txtName', value:name"></gisc-ui-textbox> 

    <!-- Description -->
    <gisc-ui-label params="for: 'txtDescription', text:i18n('Common_Description')" />
    <gisc-ui-textarea params="id: 'txtDescription', value:description"></gisc-ui-textarea>

    <!-- Enable -->
    <gisc-ui-label params="for: 'ddEnable', text:i18n('Common_Enable'), isRequired:true"/>
    <gisc-ui-dropdown params="id: 'ddEnable', options:enableOptions, optionsText:'title', value:enableSelected"></gisc-ui-dropdown>

    <!-- Maxinum POI -->
    <gisc-ui-label params="for: 'txtMaxinumPOI', text:i18n('Common_MaxinumPOI'), isRequired:true"/>
    <gisc-ui-textbox params="id: 'txtMaxinumPOI', value:maxPoi, filter:{type :'numeric' ,numericType:'int'}"></gisc-ui-textbox>

    <!-- Maximum Areas -->
    <gisc-ui-label params="for: 'txtMaximumAreas', text:i18n('Common_MaximumAreas'), isRequired:true"/>
    <gisc-ui-textbox params="id: 'txtMaximumAreas', value:maxArea, filter:{type :'numeric' ,numericType:'int'}"></gisc-ui-textbox>

    <!-- Maximum Routes -->
    <gisc-ui-label params="for: 'txtMaximumRoutes', text:i18n('Common_MaximumRoutes'), isRequired:true"/>
    <gisc-ui-textbox params="id: 'txtMaximumRoutes', value:maxRoute, filter:{type :'numeric' ,numericType:'int'}"></gisc-ui-textbox>

    <!-- Alert Expiration (hours) -->
    <gisc-ui-label params="for: 'txtAlertExpiration', text:i18n('Common_AlertExpiration'), isRequired:true"/>
    <gisc-ui-textbox params="id: 'txtAlertExpiration', value:alertExpiration, filter:{type :'numeric' ,numericType:'int' ,min:1}"></gisc-ui-textbox>

    <!-- Data Expiration (days) -->
    <gisc-ui-label params="for: 'txtDataExpiration', text:i18n('Common_DataExpiration'), isRequired:true"/>
    <gisc-ui-textbox params="id: 'txtDataExpiration', value:dataExpiration, filter:{type :'numeric' ,numericType:'int' ,min:1}"></gisc-ui-textbox>
</gisc-ui-component>