﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="for: 'txtName', text: i18n('BU_Name'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtName', value: name" />

    <!--Code-->
    <gisc-ui-label params="for: 'txtCode', text:i18n('BU_Code'), isRequired: true" />
    <gisc-ui-tooltip params="text: i18n('I011')"></gisc-ui-tooltip>
    <gisc-ui-textbox params="id: 'txtCode', value: code, filter:{type: 'alphanumeric'}, maxlength: '10'" />

    <!--Description-->
    <gisc-ui-label params="for: 'txtDescription', text:i18n('Common_Description')" />
    <gisc-ui-textarea params="id: 'txtDescription', value: description" />

    <!--Parent-->
    <gisc-ui-label params="for: 'ddlParent', text:i18n('BU_Parent')" />
    <gisc-ui-dropdowntree params="options:parentOptions,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:parent" />

    <!--Manager-->
    <gisc-ui-label params="for: 'ddlManager', text:i18n('BU_Manager')" />
    <gisc-ui-dropdown params="options:managerOptions,
                            optionsText:'fullName',
                            value: manager,
                            optionsCaption: ''" />

    <!--Authorized Persons-->
    <div class="field-wrapper"> 

        <div class="field-table-title">
            <gisc-ui-label params="for: 'ddtAuthorizedPersons', text: i18n('BU_AuthorizedPersons') " />
        </div>

        <div class="field-table-content">
            <gisc-ui-datatable params="
                id: 'ddtAuthorizedPersons',
                ordering: false,
                datasource: authorizedPersons,
                columns: [
                    { type: 'label', title: 'i18n:BU_AuthorizedPersonsName', data: 'fullName', orderable: false}
                ],
                rowId: 'id',
                removable: true,
                selectable: true,
            " />

        </div>

        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addAuthorizedPersonName">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('BU_Add')"></span>
            </a>
        </div>

    </div>
</gisc-ui-component>