<gisc-ui-component>
    <!--Level-->
    <gisc-ui-label params="for: 'txtLevel', text: i18n('BU_Level')" />
    <div style="margin-left: 15px ; margin-right: 15px;">
        <gisc-ui-textbox params="id: 'txtLevel', value: level, enable:false" />
    </div>
    <!--Name Title-->
    <gisc-ui-label params="text: i18n('BU_NameTitle')" /><br>
    <div style="margin-left: 15px ; margin-right: 15px;">
        <gisc-ui-label params="for: 'txtNameTitleEnglish', text: i18n('BU_NameTitleEnglish'), isRequired: true" />
        <gisc-ui-textbox params="id: 'txtNameTitleEnglish', value: nameTitleEng, max: 100" />

        <gisc-ui-label params="for: 'txtNameTitleLocal', text: i18n('BU_NameTitleLocal'), isRequired: true" />
        <gisc-ui-textbox params="id: 'txtNameTitleLocal', value: nameTitleLocal, max: 100" />
    </div>

    <!--Name-->
    <gisc-ui-label params="text: i18n('BU_NameLevel')" /><br>
    <div style="margin-left: 15px ; margin-right: 15px;">
        <gisc-ui-label params="for: 'txtNameEnglish', text: i18n('BU_NameEnglish'), isRequired: true" />
        <gisc-ui-textbox params="id: 'txtNameEnglish', value: nameEng, max: 100" />

        <gisc-ui-label params="for: 'txtNameLocal', text: i18n('BU_NameLocal'), isRequired: true" />
        <gisc-ui-textbox params="id: 'txtNameLocal', value: nameLocal, max: 100" />
    </div>
</gisc-ui-component>