<gisc-ui-component>
    <!--<gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelecting:_selectingRowHandler.bind($data)">
        <item params="text: i18n('Ticket_AssetMonitoring'), extras: { id: 'bo-ticket-manage-asset-find'}" />
        <item params="text: i18n('Ticket_Dashboard'), extras: { id: 'bo-ticket-dashboard'}" />
        <item params="text: i18n('Ticket_Installation'), extras: { id: 'bo-ticket-manage-installation'}" />
        <item params="text: i18n('Ticket_Appointments'), extras: { id: 'bo-ticket-manage-appointments'}" />
        <item params="text: i18n('Ticket_MailManagement'), extras: { id: 'bo-ticket-manage-mail'}" />
        <item params="text: i18n('Ticket_SimManagement'), extras: { id: 'bo-ticket-manage-sim'}" />
        <item params="text: i18n('Assets_OperatorPackages'), extras: { id: 'bo-ticket-manage-package'}" />
    </gisc-ui-listview>-->
    <gisc-ui-listview params="
        selectedIndex: selectedIndex,
        onItemSelecting: _selectingRowHandler.bind($data),
        datasource: items,
        dataTextfield: 'text',
        isShowNavIcon: true">
    </gisc-ui-listview>
</gisc-ui-component>