﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text: i18n('BU_Name'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!--Code-->
    <gisc-ui-label params="text: i18n('BU_Code'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: code"></gisc-ui-field>

    <!--Description-->
    <gisc-ui-label params="text: i18n('Common_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!--Parent-->
    <gisc-ui-label params="text: i18n('BU_Parent')"></gisc-ui-label>
    <gisc-ui-field params="value: parent"></gisc-ui-field>

    <!--Manager-->
    <gisc-ui-label params="text: i18n('BU_Manager')"></gisc-ui-label>
    <gisc-ui-field params="value: managerName"></gisc-ui-field>

    <!--Authorized Persons-->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('BU_AuthorizedPersons')"></gisc-ui-label>
        </div>
        <div class="field-table-content">
                <gisc-ui-datatable params="
                ordering: false,
                datasource: listAuthorizedPersons,
                columns: [
                    { type: 'label', title: 'i18n:BU_AuthorizedPersonsName', data: 'authorizedPersonName' }
                ],
                rowId: 'authorizedPersonId'
                " />
        </div>
    </div>
    
    <!--Resources-->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('BU_Resources')"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <gisc-ui-datatable params="
                ordering: false,
                datasource: resources,
                columns: [
                    { type: 'label', title: 'i18n:BU_ResourceType', data: 'resourceType' },
                    { type: 'label', title: 'i18n:BU_Total', data: 'total' }
                ],
                rowId: 'id',
                selectable: true,
                onSelectingRow: _selectingRowHandler
                " />
        </div>
    </div>
</gisc-ui-component>