﻿<gisc-ui-component>
    <!--File-->
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>                 
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        accept: mimeType,
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        onRemoveFile: onRemoveFile.bind($data),
        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="html: importError"></div>

    <section data-bind="visible: previewDataVisible">
        <!--Preview Data -->  
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datatable params="
            id: 'dtDriverPreviewList',
            datasource: previewData,
            columns: [
                { type: 'label', title: 'i18n:Common_EmployeeID', data: 'employeeId' },
                { type: 'label', title: 'i18n:Assets_NationalID', data: 'citizenId' },
                { type: 'label', title: 'i18n:Assets_CardType', data: 'cardTypeDisplayName' },
                { type: 'label', title: 'i18n:Assets_CardID', data: 'cardId' },
                { type: 'label', title: 'i18n:Common_Gender', data: 'genderDisplayName' },
                { type: 'label', title: 'i18n:Assets_DriverTitle', data: 'title' },
                { type: 'label', title: 'i18n:Common_FirstName', data: 'firstName' },
                { type: 'label', title: 'i18n:Common_Lastname', data: 'lastName' },
                { type: 'label', title: 'i18n:Common_BusinessUnit', data: 'businessUnitName' },
                { type: 'label', title: 'i18n:Common_Enable', data: 'formatEnable' },
                { type: 'label', title: 'i18n:Common_Phone', data: 'phone' },
                { type: 'label', title: 'i18n:Assets_LicenseNo', data: 'licenseNo' },
                { type: 'label', title: 'i18n:Assets_LicenseType', data: 'licenseTypeDisplayName' },
                { type: 'label', title: 'i18n:Assets_MinimumRestTime', data: 'formatMinRestTime' }
                
            ],
            ordering: false,
            rowId: 'tempId'
            " />
    </section>
</gisc-ui-component>