﻿<gisc-ui-component>
	<!--Picture-->
	<gisc-ui-label params="text: i18n('Common_Picture')" />
	<gisc-ui-tooltip params="text: i18n('I018')" />
	<div class="app-img-wrap">
		<div class="app-img-manage-wrap">
			<img data-bind="attr: { src: pictureUrl, alt: '' }" />
		</div>
		<gisc-ui-fileupload params="
            fileName: pictureFileName,
            selectedFile: pictureSelectedFile,
            accept: pictureMimeTypes,
            onBeforeUpload: onBeforeUpload.bind($data),
            onUploadSuccess: onUploadSuccess.bind($data),
            onUploadFail: onUploadFail.bind($data),
            onRemoveFile: onRemoveFile.bind($data)
            " />
	</div>

	<!--Empolyee ID-->
	<gisc-ui-label params="for: 'txtEmployeeId', text: i18n('Common_EmployeeID'), isRequired: true" />
	<gisc-ui-textbox params="id: 'txtEmployeeId', value: employeeId, maxlength: 20" />


	<!--National ID-->
	<gisc-ui-label params="for: 'txtNationalId', text: i18n('Assets_NationalID') " />
	<gisc-ui-textbox params="id: 'txtNationalId', value: nationalId, maxlength: 20" />

	<!-- Gender -->
	<gisc-ui-label params="for: 'ddGender', text: i18n('Common_Gender'), isRequired: true"></gisc-ui-label>
	<gisc-ui-dropdown params="id: 'ddGendere',
                              options: genders,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              enable : enableGender ,
							  value: selectedGender">
	</gisc-ui-dropdown>

	<!--Title-->
	<gisc-ui-label params="for: 'txtTitle', text: i18n('Assets_DriverTitle')" />
	<gisc-ui-textbox params="id: 'txtTitle', value: title, maxlength: 20" />

	<!--First Name-->
	<gisc-ui-label params="for: 'txtFirstName', text: i18n('Common_FirstName'), isRequired: true" />
	<gisc-ui-textbox params="id: 'txtFirstName', value: firstName" />

	<!--Last Name-->
	<gisc-ui-label params="for: 'txtLastName', text: i18n('Common_Lastname'), isRequired: true" />
	<gisc-ui-textbox params="id: 'txtLastName', value: lastName" />

	<!-- Business Unit -->
	<gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
	<gisc-ui-dropdowntree params="options:businessUnits,
                            optionsID:'id',
                            optionsText:'displayName',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
							value:selectedBusinessUnit" />
	
	<!--Enable-->
	<gisc-ui-label params="for: 'ddlEnable', text: i18n('Common_Enable'), isRequired: true" />
	<gisc-ui-dropdown params="id: 'ddlEnable', 
							options: enableOptions, 
							optionsText: 'title', 
							optionsCaption: '',
							value: enable">
	</gisc-ui-dropdown>

	<!--Phone-->
	<gisc-ui-label params="for: 'txtPhone', text: i18n('Common_Phone')" />
	<gisc-ui-textbox params="id: 'txtPhone', value: phone, maxlength: 20 ,filter:{type:'regex',pattern:'[0-9+\-,]'}" />

	<!--Minimum Rest Time (minutes).-->
	<gisc-ui-label params="for: 'txtMinRestTime', text: i18n('Assets_MinimumRestTime')" />
	<gisc-ui-textbox params="id: 'txtMinRestTime', value: minRestTime, filter:{type :'numeric' ,numericType:'int', min:1 }" />

	<!--Description-->
	<gisc-ui-label params="for: 'txtDesc', text: i18n('Common_Description')" />
	<gisc-ui-textarea params="id: 'txtDesc', value: desc " />

	<!--Trainer-->
	<gisc-ui-label params="for: 'ddTrainerName', text: i18n('Assets_Trainer')" />
	<gisc-ui-dropdown params="options:ddTrainer,
                                 optionsText:'name',
                                 value:trainerName,
                                 optionsCaption:' '
                                 " />
	<!--Driver Card-->
	<div class="field-wrapper">
		<div class="field-table-title">
			<gisc-ui-label params="for: 'txtDesc', text: i18n('Assets_DriverCard') " />
		</div>
		<div class="field-table-content">
			<!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
			so we need to add duplicate hidden column and use that column to apply default order instead. -->
			<gisc-ui-datatable params="
                id: 'ca-assets-driver',
                ordering: true,
                datasource: driverCard,
                columns: [
                    { type: 'label', title: 'i18n:Assets_CardDetail', data: 'DisplaylicenseNo', orderable: false },
                    { type: 'label', title: 'i18n:Assets_CardDetail', data: 'DisplaylicenseNo', visible: false }
                ],
                rowId: 'id',
                order: orderDriver,
                removable: true,
                selectable: true,
                onSelectingRow: _selectingRowHandler,
                recentChangedRowIds: recentChangedRowIds
                " />
		</div>
		<!--<span data-bind="validationMessage: driverCard" class="ko-block-msg-err"></span>-->
		<div class="field-table-commands">
			<a class="inline-cmd" data-bind="click: addDriverCard">
				<i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
			</a>
		</div>
	</div>


</gisc-ui-component>