﻿<gisc-ui-component>
    <!-- Business Unit -->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Common_BusinessUnit')"></gisc-ui-label>
    <gisc-ui-dropdowntree params="options:businessUnits,
                            optionsID:'id',
                            optionsText:'name',
                            optionsParent:'parentBusinessUnitId',
                            optionsChildren:'childBusinessUnits',
                            value:selectedBusinessUnit" />
    <gisc-ui-checkbox
        params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />

    <!--Enable-->
    <gisc-ui-label params="for: 'ddlEnable', text:i18n('Common_Enable')" />
    <gisc-ui-dropdown params="id: 'ddlEnable',
                            options: enableOptions,
                            optionsText: 'title',
                            optionsCaption: '',
                            value: enable
                            ">
    </gisc-ui-dropdown>
</gisc-ui-component>