﻿<gisc-ui-component>
    <!-- Code -->
    <gisc-ui-label params="for:'dmsModelCode',text:'Code',isRequired:true" />
    <gisc-ui-textbox params="id:'dmsModelCode', value:code " />

    <!-- Brand -->
    <gisc-ui-label params="for:'dmsModelBrand',isRequired:true,text:'Brand'" />
    <gisc-ui-dropdown params="options:brandOptions,
                               optionsText:'name',
                               value:selectedBrand,
                               optionsCaption:''
                               " />

    <!-- Model -->
    <gisc-ui-label params="for:'dmsModelModel',text:'Model',isRequired:true" />
    <gisc-ui-textbox params="id:'dmsModelModel', value:model" />

    

    <!-- DMS Configuration -->
    <gisc-ui-label params="for:'dmsModelBrand',isRequired:true,text:'DMS Configuration'" />
    <gisc-ui-dropdown params="options:configOptions,
                               optionsText:'name',
                               value:selectedConfig,
                               optionsCaption:''
                               " />

    <!-- Enable -->
    <gisc-ui-label params="text:'Enable',isRequired:true" />
    <gisc-ui-dropdown params="options:enableOptions,
                                optionsText:'title',
                                value:selectedEnable,
                                " />

    <!-- Description -->
    <gisc-ui-label params="for:'dmsModelDesc',text:'Description'" />
    <gisc-ui-textarea params="id:'dmsModelDesc', value:description" />

</gisc-ui-component>