<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>
            <!-- BusinessUnit -->
            <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Common_BusinessUnit'), isRequired: true" />
            <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                            options: businessUnits,
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />
            <!-- Include Sub BusinessUnit -->
            <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU"/>
            <!-- User -->
            <gisc-ui-label params="for: 'ddUsers', text: i18n('Common_Username'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddUsers',
                                        options: users,
                                        optionsText: 'displayName',
                                        optionsCaption: selectedUsersBinding,
                                        value: selectedUsers" />
            <!-- User Groups -->
            <gisc-ui-label params="for: 'ddUserGroup', text: i18n('Common_GroupName'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddUserGroup',
                                        options: userGroups,
                                        optionsText: 'name',
                                        optionsCaption: '',
                                        value: selectedUserGroups" />
            <!-- Enable -->
            <gisc-ui-label params="for: 'ddUserEnabled', text: i18n('Common_Enable'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddUserEnabled',
                                    options: userEnables,
                                    optionsText: 'title',
                                    optionsCaption: '',
                                    value: selectedUserEnables"></gisc-ui-dropdown>

            <div style="width:100%;float:left;">
                <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
            </div>
            <div style="width:100%">
                <div style="width:55%;float:left;">
                    <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet" />
                </div>
                <div style="width:40%;float:right;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:startTime, attr: { id:id, class:'app-input'} ">
                    </div>
                </div>
            </div>
            <div style="width:100%;float:left;">
                <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
            </div>
            <div style="width:100%">
                <div style="width:55%;float:left;">
                    <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />
                </div>
                <div style="width:40%;float:right;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:endTime, attr: { id:id, class:'app-input'} ">
                    </div>
                </div>
            </div>

            <gisc-ui-label params="text: i18n('Report_GroupByType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddGroupByType',
                                        options: groupByTypes,
                                        optionsText: 'displayName',
                                        value: selectedGroupByType" />
        </section>
    </article>
</gisc-ui-component>