﻿<gisc-ui-component>
    <!-- <gisc-ui-checkbox params="text:txtRefresh, checked: isAutoRefresh"></gisc-ui-checkbox> -->
    <!--- onDatasourceRequestRead: onDatasourceRequestRead -->
    <gisc-ui-datagrid params="source:apiDataSource,
        onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        onDetailInit:onDetailInit.bind($data),
        detailInitOnClickColumns:onDetailClickColumns,
        id: 'dgShipmentLst',
        pageSizeOptions: false,
        columns : [
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_No', data: 'no', searchable: false, sortable: true, className: 'dg-body-right', sortable: false },
                    { type: 'text', title: 'i18n:Common_Delete', data: 'shipmentStatusId', searchable: false, sortable: true, template: 'renderShipmentTemplateDeleteIcon',onClick: onDeleteShipmentTemplate, className: 'dg-body-center dg-svg-column', sortable: false,hidden: !isPermissionDelete},
                    { type: 'text', title: 'i18n:Common_Update', data: 'shipmentStatusIdUpdate', searchable: false, sortable: true, template: 'renderShipmentTemplateUpdateIcon',onClick: onUpdateShipmentTemplate, className: 'dg-body-center dg-svg-column', sortable: false,hidden: !isPermissionUpdate},
                    { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_ViewOnMap', data: 'imgSearch', template: 'renderVendorLogColumn', className: 'dg-body-center dg-svg-column', searchable: false, sortable: false, onClick: clickViewOnMap },                   
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_TemplateCode', data: 'templateCode', searchable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Template_Template_Name', data: 'name', searchable: false, className:'dg-body-left'  },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Name', data: 'jobName', searchable: false, className:'dg-body-left'  },

                    { type: 'text', title: 'i18n:Transportation_Mngm_Vehicle_Licence', data: 'vehicleLicense', width:'135px', searchable: false ,className:'dg-body-left'},
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Template_Waypoint', data: 'waypoint', searchable: false , className:'dg-body-right' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_BusinessUnits', data: 'businessUnitName', searchable: false , className:'dg-body-left'},
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Driver', data: 'driverName', searchable: false ,className:'dg-body-left'},
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_DeliveryMan', data: 'deliveryManName', searchable: false ,className:'dg-body-left'},
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_CreateDate', data: 'formatCreateDate', searchable: false, sortable: false, className: 'dg-body-center' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_CreateBy', data: 'createBy', searchable: false, sortable: false,className: 'dg-body-left' }  
                ],
        rowId: 'id'" />

</gisc-ui-component>

