﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text:i18n('CustomRoutes_CreateCustomArea_Name'), isRequired:true" />
    <gisc-ui-textbox params="value:name"></gisc-ui-textbox>

    <!--Type-->
    <gisc-ui-label params="text:i18n('CustomRoutes_CreateCustomArea_Type'), isRequired:true" />
    <gisc-ui-dropdown params="options:typeOptions,optionsText:'displayName',value:areaType"></gisc-ui-dropdown>

    <!-- Poi Type  -->
    <gisc-ui-label params="for: 'ddAreaType', text: i18n('CustomArea_PoiType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddAreaType',
                              options: poiTypeOptions,
                              optionsText: 'displayName',
                              value: poiType,
                              enable : enablePoiType"></gisc-ui-dropdown>

    <!--Description-->
    <gisc-ui-label params="text:i18n('CustomRoutes_CreateCustomArea_Description')" />
    <gisc-ui-textarea params="value:areaDescription"></gisc-ui-textarea>

    <!--Buffer-->
    <gisc-ui-label params="text:i18n('CustomRoutes_CreateCustomArea_Buffer'), isRequired:true" />
    <gisc-ui-textbox params="value:areaBuffer, filter:{type :'numeric', numericType:'int'}" />

    <!--generalize-->
    <gisc-ui-label params="text:i18n('CustomRoutes_CreateCustomArea_Generalize'), isRequired:true" />
    <gisc-ui-textbox params="value:generalize,filter:{type :'numeric' ,numericType:'int'}" />

    <gisc-ui-button params="text:i18n('CustomRoutes_CreateCustomArea_RefreshMap'), onclick: refreshMap.bind($data)" />

</gisc-ui-component>
