﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Name'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!--Description-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!--Category-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Category')"></gisc-ui-label>
    <gisc-ui-field params="value: category"></gisc-ui-field>

    <!--Icon-->
    <gisc-ui-label params="text:i18n('CustomRoutes_POIDetail_Icon')" />
    <div class="field-wrapper">
        <img data-bind="attr: { src: icon(),width: '25px', height: '25px'}" />
    </div>
    <!--Accessible Bu-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Accessible_BU'), isRequired: true"></gisc-ui-label>
    <div class="field-table-content">
        <gisc-ui-datatable params="datasource:accessibleBU,
                                  columns:[{type:'label',title: 'i18n:CustomRoutes_POIDetail_Name',data: 'businessUnitName', orderable: false}],ordering: false" />
    </div>

    <!--CreateDate-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_CreatedDate')"></gisc-ui-label>
    <gisc-ui-field params="value: createdDate"></gisc-ui-field>

    <!--CreateBy-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Created_By')"></gisc-ui-label>
    <gisc-ui-field params="value: createdBy"></gisc-ui-field>

    <!--Last Update Date-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_LastUpdatedDate')"></gisc-ui-label>
    <gisc-ui-field params="value: lastUpdatedDate"></gisc-ui-field>

    <!--Last Update By-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_LastUpdatedBy')"></gisc-ui-label>
    <gisc-ui-field params="value: lastUpdatedBy"></gisc-ui-field>

    <!--Location-->
    <div class="field-wrapper">
        <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Location')"></gisc-ui-label>
    </div>
    <hr />
    <!--Latitude-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Latitude'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: latitude"></gisc-ui-field>

    <!--Longitude-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_longitude'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: longitude"></gisc-ui-field>

    <!--Radius-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Radius')"></gisc-ui-label>
    <gisc-ui-field params="value: radius"></gisc-ui-field>

    <!--Subdistrict-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Subdistrict')"></gisc-ui-label>
    <gisc-ui-field params="value: subdistrict"></gisc-ui-field>

    <!--District-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_District')"></gisc-ui-label>
    <gisc-ui-field params="value: district"></gisc-ui-field>


    <!--Province-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Province')"></gisc-ui-label>
    <gisc-ui-field params="value: province"></gisc-ui-field>

    <!--Country-->
    <gisc-ui-label params="text: i18n('CustomRoutes_POIDetail_Country')"></gisc-ui-label>
    <gisc-ui-field params="value: country"></gisc-ui-field>
</gisc-ui-component>