﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text:i18n('CustomRoutes_Name'), isRequired:true" />
    <gisc-ui-textbox params="value:name"></gisc-ui-textbox>
    <!--Code-->
    <gisc-ui-label params="text:i18n('CustomRoutes_Code')" />
    <gisc-ui-textbox params="id: 'txtCode', value: code, filter: { type: 'alphanumeric'}" />

    <!--Description-->
    <gisc-ui-label params="text:i18n('CustomRoutes_Description')" />
    <gisc-ui-textarea params="value:description"></gisc-ui-textarea>

    <!--Color-->
    <gisc-ui-label params="text:i18n('CustomRoutes_Color'), isRequired:true" />
    <gisc-ui-colorpicker params="value:routeColor"> </gisc-ui-colorpicker>

    <!--Category-->
    <gisc-ui-label params="text:i18n('CustomRoutes_Category')" />
    <gisc-ui-dropdown params="options:categoryOptions,optionsText:'name',value:category,optionsCaption: ''"></gisc-ui-dropdown>

    <!-- Poi Type  -->
    <gisc-ui-label params="for: 'ddRouteType', text: i18n('CustomRoutes_PoiType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddRouteType',
                              options: poiTypeOptions,
                              optionsText: 'displayName',
                              value: poiType,
                              enable : enablePoiType"></gisc-ui-dropdown>

    <!-- Accessible Business Units -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('User_AccessibleBusinessUnits'), isRequired: true"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!-- if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="id:'cw-accessible' ,
                            ordering: true,
                            datasource: accessibleBusinessUnits,
                            columns: [
                            { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'businessUnitName' , cellTitle: 'businessUnitPath' , orderable: false },
                            { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'businessUnitName' , visible: false }
                            ],
                            rowId: 'id' ,
                            order: orderAccessibleBusinessUnits,
                            removable: true" />
        </div>
        <span data-bind="validationMessage: accessibleBusinessUnits" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addAccessibleBusinessUnit">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>

    <!--Tab-->
    <section>
        <gisc-ui-tab params="id: 'poiTab', selectedIndex: selectedTabIndex" data-bind="click:onClickTab.bind($data)">
            <item params="text: i18n('CustomRoutes_POI'), id:'POI' ">
                <!-- POI -->
                <div style="display:table;width:100%">
                    <div style="display:table-cell">
                        <div class="img-custom-geofencing" data-bind="click:enableClickMap.bind($data)">
                            <a data-bind="attr:{title:txtClickOnMap}">
                                <!-- ko component: 'svg-icon-customroute-clickonmap' --><!-- /ko -->
                            </a>

                        </div>
                    </div>
                    <div style="display:table-cell">
                        <div class="img-custom-geofencing" data-bind="click:selectedPOI.bind($data)">
                            <a data-bind="attr:{title:txtSelectPoi}">
                                <!-- ko component: 'svg-icon-customroute-selectpoi' --><!-- /ko -->
                            </a>
                        </div>
                    </div>
                    <div style="display:table-cell">
                        <div class="img-custom-geofencing" data-bind="click:reverseViaPoint.bind($data)">
                            <a data-bind="attr:{title:txtReverse}">
                                <!-- ko component: 'svg-icon-customroute-reverse' --><!-- /ko -->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="field-table-content">
                    <!-- NOTE :: Add Flag Property : preventRefreshEvtAggr for avoid refresh event -->
                    <gisc-ui-datatable params="datasource:customRouteViaPoint, preventRefreshEvtAggr: true,
                                  columns:[
                                  {type:'label',title: 'i18n:Transportation_Mngm_Shipment_No',data: 'order', orderable: false},
                                  {type:'label',title: 'i18n:CustomRoutes_Name',data: 'name', orderable: false}
                                  ],
                                  removable: true,moveable:true,rowId: 'id',ordering: false,selectable:true,onSelectingRow: _selectingRowHandler,onDataSourceChanged:_dataSourceChangedHandler" />

                    <span data-bind="validationMessage: customRouteViaPoint" class="ko-block-msg-err"></span>
                </div>
            </item>
            <item params="text: i18n('CustomRoutes_Directions'),id:'Direction' ">
                <!--Direction-->
                <div class="field-wrapper">
                    <div style="display:table;width:100%">
                        <div style="display:table-cell">
                            <!-- ko if: customRouteViaPoint().length>=2 -->
                            <div class="img-custom-geofencing" title="createcustomroute" data-bind="click:solveRoute.bind($data)">
                                <a data-bind="attr:{title:txtCreateCustomRoutes}">
                                    <!-- ko component: 'svg-icon-customroute-createcustomroute' --><!-- /ko -->
                                </a>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div style="display:table-cell">
                            <!-- ko if: isSolveRoute() && hasCreateCustomAreaPermission() -->
                            <div class="img-custom-geofencing" data-bind="click:createAreaByRoute.bind($data)">
                                <a data-bind="attr:{title:txtCreateCustomArea}">
                                    <!-- ko component: 'svg-icon-customroute-createcustomarea' --><!-- /ko -->
                                </a>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div style="display:table-cell">
                            <!-- ko if: isSolveRoute() -->
                            <div class="img-custom-geofencing" data-bind="click:viewOnMap.bind($data)">
                                <a data-bind="attr:{title:txtViewOnMap}">
                                    <!-- ko component: 'svg-icon-customroute-viewonmap' --><!-- /ko -->
                                </a>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div style="display:table-cell">
                            <div class="img-custom-geofencing" data-bind="click:printMapAndDirection.bind($data)">
                                <a data-bind="attr:{title:txtPrintMap}">
                                    <!-- ko component: 'svg-icon-customroute-print' --><!-- /ko -->
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ko if: isSolveRoute() -->
                <table style="width:100%">
                    <tr><td><gisc-ui-label params="text:i18n('CustomRoutes_Directions_Distance')" /></td><td><gisc-ui-label params="text:displayDistance()" /></td><td><gisc-ui-label params="text:i18n('CustomRoutes_Directions_Duration')" /></td><td><gisc-ui-label params="text:displayDuration()" /></td></tr>
                </table>
                <!-- /ko -->


                <gisc-ui-datatable params="datasource:routeDirection,
                                  columns:[{type:'label',title: 'i18n:CustomRoutes_Order',data: 'order', orderable: false},
                                          {type:'label',title: 'i18n:CustomRoutes_Directions',data: 'text', orderable: false}],ordering: false,rowId: 'order'
                                  " />
            </item>

        </gisc-ui-tab>

    </section>
    <section>
        <!--Sub Menu Settings-->
        <ul id="sub-menu-items" class="gisc-ui-listview gisc-ui-listview-bordered">
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 1), css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-link-inherit" title="Setting" href="#">
                            <span data-bind="text: i18n('CustomRoutes_Settings',null,'Settings')"></span><span class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: settings" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</gisc-ui-component>
