﻿<gisc-ui-component>

    <!-- Poi Type  -->
    <gisc-ui-label params="for: 'ddRouteType', text: i18n('CustomRoutes_PoiType')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddRouteType',
                              options: poiTypeOptions,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: poiType"></gisc-ui-dropdown>

    <div class="field-wrapper">
        <gisc-ui-label params="text: i18n('CustomRoutes_Filters_CreateDate')"></gisc-ui-label>
    </div>
    <table>
        <tr>
            <td>
                <gisc-ui-label params="for: 'dtCreateDateFrom', text: i18n('CustomRoutes_Filters_CreateDate_From')"></gisc-ui-label>
                <gisc-ui-datetime params="id: 'dtCreateDateFrom',
                              value: createDateFrom,
                              mode: 'date',
                              dateFormat: dateFormat"></gisc-ui-datetime>
            </td>
            <td>
                <gisc-ui-label params="for: 'dtCreateDateTo', text: i18n('CustomRoutes_Filters_CreateDate_To')"></gisc-ui-label>
                <gisc-ui-datetime params="id: 'dtCreateDateTo',
                              value: createDateTo,
                              mode: 'date',
                              dateFormat: dateFormat,
                              minDate:createDateFrom"></gisc-ui-datetime>
            </td>
        </tr>
    </table>

    <gisc-ui-label params="for: 'txtCreateBy', text: i18n('CustomRoutes_Filters_CreateBy')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtCreateBy', value: createBy"></gisc-ui-textbox>
</gisc-ui-component>