 <!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'compact'
    }
} -->
 <!-- ko if: visible() -->
 <div class="app-checkBox-contain">
        <label class="app-checkBox-control control-radio" >
                <span data-bind="text:text"></span>
                <input type="radio" data-bind="hasFocus:isRadioFocus, attr: {id:id}, checked:checked, enable:enable, value:value" />
                <div class="app-control-indicator app-input" data-bind="css: cssFocusClass">
                    <!-- ko component: 'svg-control-checkbox-checked' --><!-- /ko -->
                </div>
	</label>
</div>
<!-- /ko -->
<!-- /ko -->