﻿<gisc-ui-component>
    <gisc-ui-datagrid params="
                      id:'Ticket-Appointment',
                      source:apiDataSource,
                      columns:[
                      { type: 'text' , title: 'Code' ,data: 'ticketId' , width:'105px', onClick: detailTicket, template:'<u>#=ticketCode#</u>'},
                        { type: 'text' , title: 'Service Type' , data: 'serviceTypeName',width:'125px' },
                        { type: 'text' , title: 'i18n:Common_Company' , data: 'companyName',width:'125px' },
                        { type: 'text' , title: 'i18n:Common_BusinessUnit' , data: 'businessUnitName',width:'125px' },
                        { type: 'text' , title: 'i18n:Common_License' , data: 'vehicleLicense',width:'100px' },
                        { type: 'text' , title: 'Vehicle Description' , data: 'vehicleDescription',width:'200px' },
                        { type: 'text' , title: 'Box Template' , data: 'boxTemplate',width:'160px' },
                        { type: 'text' , title: 'Contract No.' , data: 'contractNo',width:'160px' },
                        { type: 'text' , title: 'i18n:Ticket_AppointmentDate' , data: 'formatAppointDate',width:'160px' },
                        { type: 'text' , title: 'i18n:Ticket_AppointmentDescription' , data: 'appointmentDescription',width:'200px'   },
                        { type: 'text' , title: 'i18n:Common_Status' , data: 'statusDisplayName' ,width:'105px'  },
                        { type: 'text' , title: 'GPS Last Update' , data: 'formatGpsLastUpdate' ,width:'160px'},
                        { type: 'text' , title: 'i18n:Companies_Province' , data: 'provinceName' ,width:'140px' },
                        { type: 'text' , title: 'i18n:Ticket_TechnicianTeam' , data: 'technicianName',width:'140px' },
                        { type: 'text' , title: 'i18n:Ticket_Mobile' , data: 'technicianPhone' ,width:'120px'},
                    ],
                    rowId: 'id',
                    showfilterable : false,
                    filterable:false,
                    columnMenu: true,
                    rememberDataGridState: ['columns']
    " />
</gisc-ui-component>