﻿<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <h4>Last Update : 20/02/2017 12:00:00</h4>
        <h4>Test Service Status</h4>
        <section>
            <div class="output">
                <table>
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Url</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Business Unit</td>
                            <td>[POST] api/businessUnit/summary/list</td>
                            <!-- ko if : isBuSuccess -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isBuSuccess -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>Shipment Staus</td>
                            <td>[POST] api/enumResource/list</td>
                            <!-- ko if : isShipmentStatusSuccess -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isShipmentStatusSuccess -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>Vehicle License</td>
                            <td>[POST] api/vehicle/summary/list</td>
                            <!-- ko if : isVehicleLicenseSuccess -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isVehicleLicenseSuccess -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>Shipment Code - Auto Complate</td>
                            <td>[POST] api/shipment/autocomplete/shipmentCode</td>
                            <!-- ko if : isShipmentCodeSuccess -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isShipmentCodeSuccess -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>Shipment Name - Auto Complate</td>
                            <td>[POST] api/shipment/autocomplete/shipmentName</td>
                            <!-- ko if : isShipmentNameSuccess -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isShipmentNameSuccess -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>Do Code - Auto Complate</td>
                            <td>[POST] api/shipment/autocomplete/doCode</td>
                            <!-- ko if : isDOCodeSuccess -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isDOCodeSuccess -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>Do Name - Auto Complate</td>
                            <td>[POST] api/shipment/autocomplete/doName</td>
                            <!-- ko if : isDONameSuccess -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isDONameSuccess -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>Create By - Auto Complate</td>
                            <td>[POST] api/shipment/autocomplete/createby</td>
                            <!-- ko if : isCreateBySuccess -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isCreateBySuccess -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>

            </div>
        </section>
        <h4>Check Properties Structure</h4>
        <section>
            <div class="output">
                <table>
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Field</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>api/businessUnit/summary/list</td>
                            <td>["childBusinessUnits", "code", "companyId", "createBy", "createDate", "fullCode", "fullPath", "id", "infoStatus",
                    "isAccessible", "name", "pageProperty", "parentBusinessUnitId", "parentBusinessUnitPath", "updateBy", "updateDate"]</td>
                            <!-- ko if : isBUFieldValid -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isBUFieldValid -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>api/enumResource/list</td>
                            <td>["createBy", "createDate", "displayName", "id", "infoStatus", "name", "nameResourceKey", "order",
                "pageProperty", "resourceType", "type", "updateBy", "updateDate", "value"]</td>
                            <!-- ko if : isShipmentStatusFieldValid -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isShipmentStatusFieldValid -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>api/vehicle/summary/list</td>
                            <td>["boxId", "brand", "businessUnitId", "businessUnitName", "createBy", "createDate", "enable", "formatEnable", "iconId", "id", "infoStatus",
                    "license", "model", "pageProperty", "referenceNo", "updateBy", "updateDate", "vahicleCategoryId", "vehicleType", "vehicleTypeDisplayName"]</td>
                            <!-- ko if : isVehicleLicenseFieldValid -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isVehicleLicenseFieldValid -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>api/shipment/autocomplete/shipmentCode</td>
                            <td>["createBy", "createDate", "doCode", "doId", "doName", "id", "infoStatus", "pageProperty", "poNumber",
                        "shipmentCode", "shipmentId", "shipmentName", "updateBy", "updateDate"]</td>
                            <!-- ko if : isShipmentCodeFieldValid -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isShipmentCodeFieldValid -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>api/shipment/autocomplete/shipmentName</td>
                            <td>["createBy", "createDate", "doCode", "doId", "doName", "id", "infoStatus", "pageProperty", "poNumber",
                        "shipmentCode", "shipmentId", "shipmentName", "updateBy", "updateDate"]</td>
                            <!-- ko if : isShipmentNameFieldValid -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isShipmentNameFieldValid -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>api/shipment/autocomplete/doCode</td>
                            <td></td>
                            <!-- ko if : isDOCodeFieldValid -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isDOCodeFieldValid -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>api/shipment/autocomplete/doName</td>
                            <td></td>
                            <!-- ko if : isDONameFieldValid -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isDONameFieldValid -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td>api/shipment/autocomplete/createby</td>
                            <td></td>
                            <!-- ko if : isCreateByFieldValid -->
                            <td style="background-color:#00ff00">
                                Pass
                            </td>
                            <!-- /ko -->
                            <!-- ko ifnot : isCreateByFieldValid -->
                            <td style="background-color:#ff0000">
                                Fail
                            </td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </article>
</gisc-ui-component>