<svg viewBox="0 0 16 16" class="msportalfx-svg-placeholder" role="img" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M11,5H2v9h9V5z M4,12V7h5v5H4z"></path><path d="M8,6V3h5v5h-3v2h5V1H6v5H8z"></path></svg>