<svg viewBox="0 0 16 16" class="msportalfx-svg-placeholder" role="img" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect x="2" y="12" width="12" height="2"></rect></svg>