<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 26">
  <defs>
    <style>
      .back-1 {
        fill: #b7d9c8;
      }

      .back-2 {
        fill: #fff;
      }
    </style>
  </defs>
  <g id="btn_back" transform="translate(-1636 -506.495)">
    <g id="Group_15" data-name="Group 15" transform="translate(1636 506.495)">
      <path id="Path_19" data-name="Path 19" class="back-1" d="M3.8,26H34.2A3.742,3.742,0,0,0,38,22.218V3.782A3.742,3.742,0,0,0,34.2,0H3.8A3.742,3.742,0,0,0,0,3.782V22.218A3.742,3.742,0,0,0,3.8,26Z"/>
      <path id="Path_20" data-name="Path 20" class="back-2" d="M12.413,15.091,6,8.945,12.413,2.8,13.6,3.982,8.612,8.945,13.6,13.909Z" transform="translate(8.25 3.818)"/>
    </g>
  </g>
</svg>
