<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
  <defs>
    <clipPath id="clip-path">
      <rect width="24" height="24" fill="none"/>
    </clipPath>
  </defs>
  <g id="btn_live_norrmal" clip-path="url(#clip-path)">
    <circle id="Ellipse_15" data-name="Ellipse 15" cx="12" cy="12" r="12" fill="#676767"/>
    <path id="Path_203" class="cls-3" data-name="Path 203" d="M2929.116-205.1a.632.632,0,0,0-.848-.283l-2.913,1.448V-205.4a1.267,1.267,0,0,0-1.265-1.265h-.775a2.524,2.524,0,0,0-2.5-2.242h-4.849a.632.632,0,0,0-.632.632.632.632,0,0,0,.632.633h4.849a1.264,1.264,0,0,1,1.228.977h-10.012a1.267,1.267,0,0,0-1.265,1.265v8.063a1.267,1.267,0,0,0,1.265,1.265h12.06a1.266,1.266,0,0,0,1.265-1.265v-1.469l2.913,1.449a.639.639,0,0,0,.282.066h0a.641.641,0,0,0,.333-.094.632.632,0,0,0,.3-.539v-6.891A.628.628,0,0,0,2929.116-205.1Zm-14.1,5.832a.462.462,0,0,1-.249.247.446.446,0,0,1-.178.036h-.007l-1.718,0a.435.435,0,0,1-.207-.041.558.558,0,0,1-.168-.114.549.549,0,0,1-.115-.169.536.536,0,0,1-.041-.21V-202.8a.524.524,0,0,1,.04-.2.483.483,0,0,1,.111-.167.465.465,0,0,1,.168-.106.543.543,0,0,1,.39,0,.467.467,0,0,1,.167.106.51.51,0,0,1,.112.161.541.541,0,0,1,.041.211v2.881h1.224a.432.432,0,0,1,.186.038.459.459,0,0,1,.146.1h0a.462.462,0,0,1,.1.148.455.455,0,0,1,.037.186A.453.453,0,0,1,2915.016-199.265Zm1.542-.192a.512.512,0,0,1-.04.206.5.5,0,0,1-.11.164.481.481,0,0,1-.169.108.547.547,0,0,1-.192.036.536.536,0,0,1-.2-.037.453.453,0,0,1-.167-.106.491.491,0,0,1-.113-.163.527.527,0,0,1-.04-.211v-3.34a.522.522,0,0,1,.04-.209.5.5,0,0,1,.113-.163.469.469,0,0,1,.17-.106.537.537,0,0,1,.385,0,.476.476,0,0,1,.166.105h0a.516.516,0,0,1,.11.163.525.525,0,0,1,.04.21Zm3.855-3.192-.971,3.246a.749.749,0,0,1-.093.2.573.573,0,0,1-.148.151.543.543,0,0,1-.188.082.866.866,0,0,1-.182.02h-.017a.76.76,0,0,1-.184-.023.549.549,0,0,1-.184-.086.554.554,0,0,1-.144-.148.747.747,0,0,1-.094-.2l-.97-3.257a.5.5,0,0,1-.017-.21.482.482,0,0,1,.068-.191.521.521,0,0,1,.128-.145.547.547,0,0,1,.187-.091.666.666,0,0,1,.192-.017.488.488,0,0,1,.192.056.5.5,0,0,1,.155.13.567.567,0,0,1,.094.2l.579,2.145.584-2.143a.544.544,0,0,1,.1-.2.526.526,0,0,1,.154-.132.5.5,0,0,1,.2-.057.58.58,0,0,1,.193.017.554.554,0,0,1,.189.092h0a.543.543,0,0,1,.132.148.53.53,0,0,1,.069.191A.518.518,0,0,1,2920.414-202.649Zm3.344,3.377a.444.444,0,0,1-.095.15.443.443,0,0,1-.15.1.478.478,0,0,1-.192.037h-1.7a.516.516,0,0,1-.2-.041.559.559,0,0,1-.169-.113.551.551,0,0,1-.115-.171.518.518,0,0,1-.041-.21v-3.226a.5.5,0,0,1,.041-.205.518.518,0,0,1,.115-.171.557.557,0,0,1,.168-.114.522.522,0,0,1,.206-.043h1.688a.48.48,0,0,1,.183.036.469.469,0,0,1,.149.1.449.449,0,0,1,.1.155.492.492,0,0,1,0,.356.434.434,0,0,1-.094.15.478.478,0,0,1-.152.1.55.55,0,0,1-.19.037h-1.185v.675h1.093a.5.5,0,0,1,.184.034.451.451,0,0,1,.152.1.457.457,0,0,1,.1.153.506.506,0,0,1,0,.353.45.45,0,0,1-.248.255.349.349,0,0,1-.189.036l-1.089,0v.816h1.2a.568.568,0,0,1,.189.036.452.452,0,0,1,.148.1.449.449,0,0,1,.1.155.494.494,0,0,1,.032.18A.486.486,0,0,1,2923.757-199.272Zm4.161.328-2.2-1.094h0V-202.7l2.2-1.092Z" transform="translate(-2907.766 213.826)" fill="#fff"/>
  </g>
</svg>
