<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
  <defs>
    <style>
      .zoomout-1 {
        fill: #b7d9c8;
      }

      .zoomout-2 {
        fill: #757575;
      }
    </style>
  </defs>
  <g id="btn_zoomout" transform="translate(-1562.996 -474.495)">
    <path id="Path_21" data-name="Path 21" class="zoomout-1" d="M20.7,3.611V22.389A3.7,3.7,0,0,0,24.311,26H43.089A3.7,3.7,0,0,0,46.7,22.389V3.611A3.7,3.7,0,0,0,43.089,0H24.311A3.545,3.545,0,0,0,20.7,3.611Zm23.593,0V22.389a1.137,1.137,0,0,1-1.2,1.2H24.311a1.137,1.137,0,0,1-1.2-1.2V3.611a1.137,1.137,0,0,1,1.2-1.2H43.089A1.137,1.137,0,0,1,44.293,3.611Z" transform="translate(1542.296 474.495)"/>
    <rect id="Rectangle_25" data-name="Rectangle 25" class="zoomout-2" width="14.204" height="2.407" transform="translate(1568.773 486.291)"/>
  </g>
</svg>
