<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="17px" height="17px" viewBox="2.5 2.5 17 17" enable-background="new 2.5 2.5 17 17" xml:space="preserve">
<polygon fill-rule="evenodd" clip-rule="evenodd" fill="none" points="2.5,2.5 19.5,2.5 19.5,19.5 2.5,19.5 2.5,2.5 " />
<path class="cls-1" fill="none" d="M17,7.2l-7.5,8.7c-0.1,0.1-0.2,0.1-0.2,0L5,12.5c-0.1-0.1-0.1-0.2,0-0.2L6,11C6,11,6.1,11,6.2,11l3.2,2.6
	l6.3-7.5c0.1-0.1,0.2-0.1,0.2,0L17,7C17.1,7.1,17.1,7.2,17,7.2L17,7.2z" />
</svg>

