<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
<g>
	<rect x="8.2" y="4" transform="matrix(-0.7071 -0.7072 0.7072 -0.7071 10.1164 26.0272)" class="st0" width="4.5" height="13.9"/>
	<rect x="15.7" y="2.1" transform="matrix(0.707 -0.7072 0.7072 0.707 1.8619 13.2895)" class="st0" width="2.5" height="4.5"/>
	<polygon class="st0" points="3.2,14.9 2.5,18.8 6.4,18.1 3.3,14.9 	"/>
</g>
</svg>
