<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="22px" height="22px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
<g>
	<path class="st0" d="M11,5.9v2.6L14.5,5L11,1.6v2.6c-3.9,0-7,3.1-7,6.8c0,1.3,0.4,2.6,1.1,3.6l1.3-1.2c-0.4-0.7-0.6-1.5-0.6-2.4
		C5.7,8.2,8.1,5.9,11,5.9z"/>
	<path class="st0" d="M17,7.4l-1.3,1.2c0.4,0.7,0.6,1.5,0.6,2.4c0,2.8-2.4,5.1-5.3,5.1v-2.6L7.5,17l3.5,3.4v-2.6c3.9,0,7-3.1,7-6.8
		C18,9.7,17.6,8.4,17,7.4z"/>
</g>
</svg>
