<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
<g>
	<polygon points="17.771,8.686 15.651,6.568 12.813,9.159 12.813,2.632 12.553,2.632 9.445,2.632 9.188,2.632 
		9.188,9.161 6.346,6.568 4.228,8.686 10.999,14.459 	"/>
	<rect x="4.145" y="16.127" width="13.711" height="3.24"/>
</g>
</svg>
