<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="22px" height="22px" viewBox="1 1 22 22" style="enable-background:new 1 1 22 22;" xml:space="preserve">
<g>
	<path class="st0" d="M6.3,18.4c0,1,0.8,1.9,1.9,1.9h7.5c1,0,1.9-0.8,1.9-1.9V8H6.3V18.4z M14.3,9.7H16v8.5h-1.6V9.7z M11.2,9.7h1.6
		v8.5h-1.6V9.7z M8,9.7h1.6v8.5H8V9.7z"/>
	<path class="st0" d="M17.2,5.2h-3.5l0-0.5c-0.1-0.6-0.5-1-1.1-1h-1.1c-0.6,0-1,0.4-1.1,1l0,0.5H6.8c-0.5,0-0.9,0.4-0.9,0.9
		s0.4,0.9,0.9,0.9h10.4c0.5,0,0.9-0.4,0.9-0.9C18.1,5.6,17.7,5.2,17.2,5.2z"/>
</g>
</svg>
