<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    
    <path class="cls-1" d="M9.73,11.06H1a1,1,0,0,1-1-1V1.33a1,1,0,0,1,1-1H9.73a1,1,0,0,1,1,1v8.76a1,1,0,0,1-1,1ZM1.94,9.12H8.76V2.3H1.94V9.12Z"
    />
    <path class="cls-1" d="M21.72,11.06H13a1,1,0,0,1-1-1V1.33a1,1,0,0,1,1-1h8.76a1,1,0,0,1,1,1v8.76a1,1,0,0,1-1,1ZM13.93,9.12h6.82V2.3H13.93V9.12Z"
    />
    <path class="cls-1" d="M9.73,23H1a1,1,0,0,1-1-1V13.32a1,1,0,0,1,1-1H9.73a1,1,0,0,1,1,1v8.75a1,1,0,0,1-1,1ZM1.94,21.1H8.76V14.29H1.94V21.1Z"
    />
    <polygon class="cls-1" points="17.48 13.46 17.48 19.29 14.87 16.65 13.24 18.26 18.57 23.64 24 18.27 22.39 16.64 19.77 19.24 19.77 13.46 17.48 13.46"
    />
</svg>