<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    
    <polygon class="cls-1" points="21.38 17.2 18.93 19.63 18.93 12.85 16.79 12.85 16.79 19.68 14.34 17.2 12.82 18.71 17.8 23.75 22.89 18.72 21.38 17.2"
    />
    <path class="cls-1" d="M5.81,2.17H16.64a.27.27,0,0,1,.27.26V8.76h1.91V2.43A2.19,2.19,0,0,0,16.64.25H3.29A2.19,2.19,0,0,0,1.11,2.43V20.34c0,.06,0,.1,0,.15s0,.2,0,.3a3,3,0,0,0,3,3h7V21.83h-7a1,1,0,0,1,0-2.09h7V17.83H5.81Zm-1,15.66H4.07A2.75,2.75,0,0,0,3,18V2.43a.26.26,0,0,1,.26-.26H4.85Z"
    />
</svg>