<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">

    <path class="cls-1" d="M16.71,21.17,19,19.92l2.59-1.43c.62-.34.61-.9,0-1.24L19,15.82l-2.25-1.25-2.59-1.43C13.51,12.8,13,13,13,13.59v8.56c0,.59.51.79,1.12.45Z"
    />
    <path class="cls-1" d="M9.73,11.06H1a1,1,0,0,1-1-1V1.33a1,1,0,0,1,1-1H9.73a1,1,0,0,1,1,1v8.76a1,1,0,0,1-1,1ZM1.94,9.12H8.76V2.3H1.94V9.12Z"
    />
    <path class="cls-1" d="M21.72,11.06H13a1,1,0,0,1-1-1V1.33a1,1,0,0,1,1-1h8.76a1,1,0,0,1,1,1v8.76a1,1,0,0,1-1,1ZM13.93,9.12h6.82V2.3H13.93V9.12Z"
    />
    <path class="cls-1" d="M9.73,23H1a1,1,0,0,1-1-1V13.32a1,1,0,0,1,1-1H9.73a1,1,0,0,1,1,1v8.75a1,1,0,0,1-1,1ZM1.94,21.1H8.76V14.29H1.94V21.1Z"
    />
</svg>