<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
  <g id="ic_vehicle_over4">
    <g id="Group_62" data-name="Group 62" transform="translate(-1927 -193)">
      <path id="Path_112" data-name="Path 112" d="M827.617,403.111a2.4,2.4,0,1,0,2.4,2.4,2.407,2.407,0,0,0-2.4-2.4Zm-.057,3.737a1.274,1.274,0,1,1,1.273-1.275,1.276,1.276,0,0,1-1.273,1.275Zm.057-.626" transform="translate(1105.552 -187.052)" fill="#00d32d"/>
      <path id="Path_114" data-name="Path 114" d="M841.119,403.111a2.4,2.4,0,1,0,2.4,2.4,2.407,2.407,0,0,0-2.4-2.4Zm-.059,3.737a1.274,1.274,0,1,1,1.275-1.275,1.275,1.275,0,0,1-1.275,1.275Zm.059-.626" transform="translate(1111.435 -187.052)" fill="#00d32d"/>
      <path id="Path_116" data-name="Path 116" d="M828.645,395.705a.585.585,0,0,0-.449.21l-4.771,5.7a.582.582,0,0,0-.136.376v5.7a.585.585,0,0,0,.584.586h.62a.582.582,0,0,0,.583-.5,3.371,3.371,0,0,1,6.66,0,.583.583,0,0,0,.583.5h.622a.585.585,0,0,0,.584-.586V396.289a.584.584,0,0,0-.584-.584Zm3.71,4.679a.584.584,0,0,1-.584.586h-5.015a.585.585,0,0,1-.449-.959l2.438-2.926a.583.583,0,0,1,.449-.21h2.577a.584.584,0,0,1,.584.584v2.925Zm0,0" transform="translate(1104.712 -190.279)" fill="#00d32d"/>
      <path id="Path_118" data-name="Path 118" d="M849.362,409.638a.585.585,0,0,0,.584-.584V393.177a.584.584,0,0,0-.584-.584H832.69a.585.585,0,0,0-.586.584v15.877a.586.586,0,0,0,.586.584h7.347a.582.582,0,0,0,.583-.5,3.371,3.371,0,0,1,6.661,0,.583.583,0,0,0,.583.5Zm0,0" transform="translate(1108.554 -191.635)" fill="#00d32d"/>
      <g id="Group_57" data-name="Group 57" transform="translate(1941.868 194.978)">
        <g id="Group_40" data-name="Group 40" transform="translate(0 0)">
          <g id="Group_37" data-name="Group 37" transform="translate(0 0)">
            <g id="Group_32" data-name="Group 32" transform="translate(0 4.667)">
              <g id="Group_30" data-name="Group 30" transform="translate(0 5.387)">
                <path id="Path_75" data-name="Path 75" d="M387.379,204.593a.337.337,0,1,0,0-.674h-9.092a.337.337,0,0,0,0,.674Z" transform="translate(-376.198 -202.167)" fill="#ff0731"/>
                <path id="Path_76" data-name="Path 76" d="M385.54,204.506h-9.092a2.089,2.089,0,0,1,0-4.177h9.092a2.089,2.089,0,1,1,0,4.177Z" transform="translate(-374.36 -200.329)" fill="#ff0731"/>
              </g>
              <g id="Group_31" data-name="Group 31" transform="translate(0.263)">
                <path id="Path_77" data-name="Path 77" d="M388.932,193.663a1.37,1.37,0,0,0-1.458.057,5.371,5.371,0,0,0-.125-.841h-8.685a5.183,5.183,0,0,0,.992,4.63v.4h6.594v-.4a3.815,3.815,0,0,0,.507-.613,2.048,2.048,0,0,0,2.175-3.232Zm-.321,2.133a1.141,1.141,0,0,1-1.479.538c-.017-.011-.032-.023-.047-.035a5.094,5.094,0,0,0,.408-1.967.94.94,0,0,1,1.062-.108A1.141,1.141,0,0,1,388.611,195.8Z" transform="translate(-376.736 -191.127)" fill="#ff0731"/>
                <path id="Path_78" data-name="Path 78" d="M384.414,197.821H377.82a1.752,1.752,0,0,1-1.739-1.541,7.019,7.019,0,0,1-.946-5.687,1.752,1.752,0,0,1,1.693-1.3h8.685a1.752,1.752,0,0,1,1.344.628,2.812,2.812,0,0,1,1.219.456,2.994,2.994,0,0,1,1.283,2.423,4.112,4.112,0,0,1-.724,2.416,3.909,3.909,0,0,1-2.719,1.761A1.751,1.751,0,0,1,384.414,197.821Zm-5.426-3.5h4.3a2.225,2.225,0,0,0,.18-.232.692.692,0,0,0,.184-.336,3.077,3.077,0,0,0,.239-.958h-5.461A3.5,3.5,0,0,0,378.988,194.318Z" transform="translate(-374.9 -189.288)" fill="#ff0731"/>
              </g>
            </g>
            <g id="Group_33" data-name="Group 33" transform="translate(0.656 10.239)">
              <path id="Path_79" data-name="Path 79" d="M386.526,205.476h-6.01a1.094,1.094,0,0,1-1.007-.668l-.215-.509h8.455l-.215.509A1.094,1.094,0,0,1,386.526,205.476Z" transform="translate(-377.543 -202.548)" fill="#ff0731"/>
              <path id="Path_80" data-name="Path 80" d="M384.688,205.389h-6.01a2.84,2.84,0,0,1-2.621-1.738l-.215-.508a1.751,1.751,0,0,1,1.613-2.434h8.455a1.751,1.751,0,0,1,1.613,2.434l-.215.509A2.84,2.84,0,0,1,384.688,205.389Z" transform="translate(-375.704 -200.709)" fill="#ff0731"/>
            </g>
            <g id="Group_34" data-name="Group 34" transform="translate(4.338)">
              <path id="Path_81" data-name="Path 81" d="M387.438,187.056s-.011-.017-.032-.045a.536.536,0,0,1,.012-.573,1.916,1.916,0,0,1,.325-.392,2.909,2.909,0,0,0,.7-.972,1.442,1.442,0,0,0-.008-1.063,1.127,1.127,0,0,0-.839-.69c-.036,0-.056-.005-.056-.005l.026.049a1.54,1.54,0,0,1,.221.793,1.622,1.622,0,0,1-.28.778c-.147.236-.322.455-.458.7a1.367,1.367,0,0,0-.2.8c.027.243.237.651.535.626Z" transform="translate(-385.091 -181.562)" fill="#ff0731"/>
              <path id="Path_82" data-name="Path 82" d="M385.513,186.971a2.391,2.391,0,0,1-2.244-2.188,3.056,3.056,0,0,1,.411-1.841c.108-.193.231-.376.357-.557.031-.045.063-.091.094-.137a1.752,1.752,0,0,1,1.664-2.523c.04,0,.137.011.177.016a2.844,2.844,0,0,1,2.236,1.741,3.2,3.2,0,0,1,.037,2.366,4.171,4.171,0,0,1-.892,1.378,1.752,1.752,0,0,1-1.63,1.736l-.1,0C385.588,186.969,385.55,186.971,385.513,186.971Z" transform="translate(-383.252 -179.722)" fill="#ff0731"/>
            </g>
            <g id="Group_35" data-name="Group 35" transform="translate(6.444 0.697)">
              <path id="Path_83" data-name="Path 83" d="M391.645,187.786l-.026-.037a.437.437,0,0,1,.01-.466,1.562,1.562,0,0,1,.265-.319,2.373,2.373,0,0,0,.569-.792,1.175,1.175,0,0,0-.006-.865.919.919,0,0,0-.683-.562c-.03,0-.045,0-.045,0s.007.015.021.04a1.256,1.256,0,0,1,.18.646,1.317,1.317,0,0,1-.228.633c-.12.192-.263.371-.373.569a1.111,1.111,0,0,0-.163.649c.021.2.192.53.435.51Z" transform="translate(-389.407 -182.989)" fill="#ff0731"/>
              <path id="Path_84" data-name="Path 84" d="M389.733,187.7a2.275,2.275,0,0,1-2.15-2.07,2.807,2.807,0,0,1,.373-1.692c.087-.156.184-.3.283-.447a1.758,1.758,0,0,1,1.724-2.34c.041,0,.128.009.169.014a2.653,2.653,0,0,1,2.093,1.613,2.94,2.94,0,0,1,.036,2.171,3.638,3.638,0,0,1-.711,1.139,1.752,1.752,0,0,1-1.634,1.608l-.085,0Zm.027-3.5.008.308.023-.307Z" transform="translate(-387.568 -181.15)" fill="#ff0731"/>
            </g>
            <g id="Group_36" data-name="Group 36" transform="translate(2.138 0.697)">
              <path id="Path_85" data-name="Path 85" d="M382.818,187.786l-.026-.037a.438.438,0,0,1,.01-.466,1.576,1.576,0,0,1,.265-.319,2.374,2.374,0,0,0,.569-.792,1.175,1.175,0,0,0-.007-.865.919.919,0,0,0-.683-.562c-.029,0-.045,0-.045,0l.021.04a1.257,1.257,0,0,1,.18.646,1.321,1.321,0,0,1-.228.633c-.12.192-.262.371-.373.569a1.111,1.111,0,0,0-.163.649c.022.2.193.53.436.51Z" transform="translate(-380.581 -182.989)" fill="#ff0731"/>
              <path id="Path_86" data-name="Path 86" d="M380.907,187.7a2.275,2.275,0,0,1-2.15-2.07,2.8,2.8,0,0,1,.374-1.694c.086-.154.182-.3.282-.444a1.757,1.757,0,0,1,.179-1.537,1.776,1.776,0,0,1,1.545-.8c.042,0,.13.009.171.014a2.651,2.651,0,0,1,2.092,1.613,2.943,2.943,0,0,1,.036,2.171,3.662,3.662,0,0,1-.711,1.139,1.754,1.754,0,0,1-1.635,1.608l-.084,0Zm.027-3.5.008.305.023-.3Z" transform="translate(-378.742 -181.151)" fill="#ff0731"/>
            </g>
          </g>
          <g id="Group_39" data-name="Group 39" transform="translate(1.882 1.753)">
            <g id="Group_38" data-name="Group 38" transform="translate(0 4.666)">
              <path id="Path_87" data-name="Path 87" d="M387.646,204.593a.337.337,0,0,0,0-.674h-9.092a.337.337,0,1,0,0,.674Z" transform="translate(-378.217 -198.533)" fill="#fff"/>
              <path id="Path_88" data-name="Path 88" d="M389.2,193.663a1.37,1.37,0,0,0-1.458.057,5.371,5.371,0,0,0-.125-.841h-8.685a5.183,5.183,0,0,0,.992,4.63v.4h6.594v-.4a3.825,3.825,0,0,0,.507-.613,2.048,2.048,0,0,0,2.175-3.232Zm-.321,2.133a1.141,1.141,0,0,1-1.479.538c-.017-.011-.032-.023-.047-.035a5.1,5.1,0,0,0,.408-1.967.939.939,0,0,1,1.062-.108A1.141,1.141,0,0,1,388.878,195.8Z" transform="translate(-378.491 -192.879)" fill="#fff"/>
            </g>
            <path id="Path_89" data-name="Path 89" d="M386.794,205.476h-6.01a1.094,1.094,0,0,1-1.007-.668l-.215-.509h8.455l-.215.509A1.094,1.094,0,0,1,386.794,205.476Z" transform="translate(-378.906 -194.061)" fill="#fff"/>
            <path id="Path_90" data-name="Path 90" d="M387.706,187.056s-.011-.017-.033-.045a.537.537,0,0,1,.012-.573,1.918,1.918,0,0,1,.325-.392,2.907,2.907,0,0,0,.7-.972,1.442,1.442,0,0,0-.008-1.063,1.127,1.127,0,0,0-.839-.69c-.036,0-.056-.005-.056-.005l.026.049a1.539,1.539,0,0,1,.221.793,1.622,1.622,0,0,1-.28.778c-.147.236-.322.455-.458.7a1.363,1.363,0,0,0-.2.8c.026.243.236.651.535.626Z" transform="translate(-382.771 -183.315)" fill="#fff"/>
            <path id="Path_91" data-name="Path 91" d="M391.912,187.786l-.026-.037a.437.437,0,0,1,.01-.466,1.56,1.56,0,0,1,.265-.319,2.38,2.38,0,0,0,.569-.792,1.175,1.175,0,0,0-.007-.865.919.919,0,0,0-.683-.562c-.029,0-.045,0-.045,0s.007.015.021.04a1.257,1.257,0,0,1,.18.646,1.321,1.321,0,0,1-.228.633c-.12.192-.263.371-.373.569a1.111,1.111,0,0,0-.163.649c.022.2.193.53.436.51Z" transform="translate(-384.982 -184.045)" fill="#fff"/>
            <path id="Path_92" data-name="Path 92" d="M383.085,187.786l-.026-.037a.437.437,0,0,1,.01-.466,1.557,1.557,0,0,1,.264-.319,2.372,2.372,0,0,0,.569-.792,1.173,1.173,0,0,0-.007-.865.917.917,0,0,0-.683-.562c-.029,0-.045,0-.045,0l.021.04a1.252,1.252,0,0,1,.18.646,1.322,1.322,0,0,1-.228.633c-.12.192-.263.371-.373.569a1.107,1.107,0,0,0-.164.649c.022.2.193.53.436.51Z" transform="translate(-380.461 -184.045)" fill="#fff"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
