<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 28 28">
  <g id="ic_vehicle" transform="translate(-1886.259 -160.509)">
    <g id="Group_20" data-name="Group 20" transform="translate(1886.259 160.509)">
      <g id="Ellipse_7" data-name="Ellipse 7" class="cls-1">
        <circle class="cls-3" cx="14" cy="14" r="14"/>
        <circle class="cls-4" cx="14" cy="14" r="13.75"/>
      </g>
    </g>
    <g class="cls-5" transform="matrix(1, 0, 0, 1, 1886.26, 160.51)">
      <path id="Path_24-2" data-name="Path 24" class="cls-2" d="M15.733,13.653h-.425V10.732a1.136,1.136,0,0,0-1.137-1.137h-.3V3.171a1.29,1.29,0,0,0-1.289-1.289h0L12.368,1.3A1.98,1.98,0,0,0,10.505,0H5.537A1.982,1.982,0,0,0,3.67,1.308l-.208.568h0A1.29,1.29,0,0,0,2.172,3.166V9.59h-.3A1.136,1.136,0,0,0,.739,10.727v2.921H.282A.283.283,0,0,0,0,13.93V15.5a.283.283,0,0,0,.282.282h1.2v.753a.568.568,0,0,0,.568.568H3.554a.568.568,0,0,0,.568-.568v-.753h7.8v.753a.568.568,0,0,0,.568.568H14a.568.568,0,0,0,.568-.568v-.753h1.165a.283.283,0,0,0,.282-.282V13.93A.279.279,0,0,0,15.733,13.653ZM3.836,3.462h8.37v2.8H3.836Zm.347,8.855a.537.537,0,0,1-.536.536H2.676a.537.537,0,0,1-.536-.536V12.3a.537.537,0,0,1,.536-.536h.971a.537.537,0,0,1,.536.536Zm6.341.129a.568.568,0,0,1-.568.568H6.092a.568.568,0,0,1-.568-.568v-3.6a.568.568,0,0,1,.568-.568H9.955a.568.568,0,0,1,.568.568Zm3.383-.129a.537.537,0,0,1-.536.536H12.4a.537.537,0,0,1-.536-.536V12.3a.537.537,0,0,1,.536-.536h.971a.537.537,0,0,1,.536.536Z" transform="translate(6.32 4.74)"/>
    </g>
  </g>
</svg>
