<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <polygon class="cls-1" points="18.99 6.46 18.99 12.68 22.16 15.87 23.53 14.5 20.92 11.89 20.92 6.46 18.99 6.46"
    />
    <path class="cls-1" d="M19.55,24.57H19v-3.7a1,1,0,0,0-1-1h-.68l-.06-3.16,0-5.68-.13-.73a2.57,2.57,0,0,0-2.36-1.49H7a3.53,3.53,0,0,0-.56.05A2.6,2.6,0,0,0,4.1,10.39L4,11.13l0,5.51-.06,3.22H3.2a1,1,0,0,0-1,1v3.7H1.68a.32.32,0,0,0-.32.32v1.8a.32.32,0,0,0,.32.33H3.09v.86a.66.66,0,0,0,.65.66H5.47a.66.66,0,0,0,.65-.66V27h5.93s0,0,0,.05h3.08v.87a.65.65,0,0,0,.65.65h1.73a.65.65,0,0,0,.65-.65V27h1.41a.32.32,0,0,0,.33-.32V24.89A.32.32,0,0,0,19.55,24.57ZM6,11.79h9.25V16H6ZM5.21,24.26a1.65,1.65,0,1,1,1.65-1.65A1.65,1.65,0,0,1,5.21,24.26Zm2.52-1.13V19a.65.65,0,0,1,.65-.65h3.29l1.18,0a.65.65,0,0,1,.65.65v4.14a.64.64,0,0,1-.39.59H8.38A.65.65,0,0,1,7.73,23.13ZM16,24.31a1.65,1.65,0,1,1,1.65-1.65A1.65,1.65,0,0,1,16,24.31Z"
    />
    <rect class="cls-1" x="8.44" y="19.41" width="4.31" height="0.54" rx="0.27" ry="0.27" />
    <rect class="cls-1" x="8.44" y="20.78" width="4.31" height="0.54" rx="0.27" ry="0.27" />
    <rect class="cls-1" x="8.44" y="22.14" width="4.31" height="0.54" rx="0.27" ry="0.27" />
    <path class="cls-1" d="M25.31,17.81a7.68,7.68,0,0,1-5.24,2.11v1.93a9.61,9.61,0,0,0,6.57-2.64A9.91,9.91,0,0,0,27.7,18l-1.54-1.16A8.3,8.3,0,0,1,25.31,17.81Z"
    />
    <path class="cls-1" d="M29.62,11.21A9.67,9.67,0,0,0,11.37,7.79h2.24a7.74,7.74,0,0,1,14.06,3.42h-2l3,3.86,3-3.86Z" />
</svg>