<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><rect class="cls-1" x="15.38" y="3.69" width="4.2" height="14.62"/><rect class="cls-1" x="8.72" y="7.35" width="4.2" height="10.96"/><rect class="cls-1" x="2.41" y="12.55" width="4.2" height="5.75"/></svg>