<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 66 66" enable-background="new 0 0 66 66" xml:space="preserve">
<g id="Layer_3">
	<path d="M39.7,37.5C48.2,40,57,34.9,59.4,26.4c0.7-2.8,0.9-5.8,0-8.6l-9.1,9.1l-8.9-2.4L39,15.6l9.1-9.1
		c-8.6-2.3-17.3,2.8-19.5,11.3c-0.9,3-0.7,6.1,0.2,9.1l0,0l-18.9,19c-3.7,2.3-4.9,7-2.6,10.5c2.3,3.5,7,4.9,10.5,2.6
		c1-0.7,1.9-1.6,2.6-2.4L39.7,37.5z"/>
</g>
</svg>
