<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
    <path class="cls-1" d="M13.14,9.27V8.64A.11.11,0,0,0,13,8.52h-4A.11.11,0,0,0,9,8.64v.62a.11.11,0,0,0,.09.12h4A.11.11,0,0,0,13.14,9.27Z" />
    <path class="cls-1" d="M9,14a.11.11,0,0,0,.09.12h4a.11.11,0,0,0,.09-.12v-.62a.11.11,0,0,0-.09-.12h-4a.11.11,0,0,0-.09.12Z" />
    <path class="cls-1" d="M9.75,10.87a.11.11,0,0,0-.09.12v.62a.11.11,0,0,0,.09.12h2.63a.11.11,0,0,0,.09-.12V11a.11.11,0,0,0-.09-.12Z" />
    <path class="cls-1" d="M14.53,15.57H7.6a.11.11,0,0,0-.09.12v.62a.11.11,0,0,0,.09.12h6.93a.11.11,0,0,0,.09-.12v-.62A.11.11,0,0,0,14.53,15.57Z" />
    <path class="cls-1" d="M14.53,5.77H7.6a.11.11,0,0,0-.09.12v.62a.11.11,0,0,0,.09.12h6.93a.11.11,0,0,0,.09-.12V5.89A.11.11,0,0,0,14.53,5.77Z" />
    <path class="cls-1" d="M17.31,8.67,14.4,10.92a.24.24,0,0,0,0,.37l2.91,2.24a.22.22,0,0,0,.35-.18V8.86A.22.22,0,0,0,17.31,8.67Z" />
    <path class="cls-1" d="M4.81,8.67a.22.22,0,0,0-.35.18v4.49a.22.22,0,0,0,.35.18l2.91-2.24a.24.24,0,0,0,0-.37Z" />
    <path class="cls-1" d="M11.06,22A10.72,10.72,0,0,1,.55,11.1,10.72,10.72,0,0,1,11.06.2,10.72,10.72,0,0,1,21.58,11.1,10.72,10.72,0,0,1,11.06,22Zm0-19.73A8.66,8.66,0,0,0,2.61,11.1a8.66,8.66,0,0,0,8.45,8.84,8.66,8.66,0,0,0,8.45-8.84A8.66,8.66,0,0,0,11.06,2.27Z" />
</svg>
