<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
    <path class="cls-1" d="M10.51,3.81a.6.6,0,0,0-.26-.19,1.11,1.11,0,0,0-.4-.06H9.44v2H10l.18,0a.8.8,0,0,0,.19-.1.65.65,0,0,0,.17-.18A1,1,0,0,0,10.65,5a1.58,1.58,0,0,0,0-.42,2,2,0,0,0,0-.43A.79.79,0,0,0,10.51,3.81Z" />
    <path class="cls-1" d="M16.56,1.82h-9A2.76,2.76,0,0,0,4.77,4.57h0A2.76,2.76,0,0,0,7.52,7.33h9a2.76,2.76,0,0,0,2.75-2.75h0A2.76,2.76,0,0,0,16.56,1.82ZM11.4,5.25a1.39,1.39,0,0,1-.31.54,1.3,1.3,0,0,1-.52.33,2.18,2.18,0,0,1-.73.11H8.62V2.91H9.84a2.39,2.39,0,0,1,.69.09,1.36,1.36,0,0,1,.52.29,1.26,1.26,0,0,1,.33.49,2,2,0,0,1,.12.71A2.52,2.52,0,0,1,11.4,5.25Zm2.73,1H11.87V2.91h.82V5.54h1.44ZM16.6,3.58h-.86V6.23h-.82V3.58h-.85V2.91H16.6Z" />
    <path class="cls-1" d="M16.66,6.92h-.18V17.54H4.4V4.72H6.53c0-.06,0-.12,0-.18a2.36,2.36,0,0,1,.38-1.28h-4V19h15V6.54A2.36,2.36,0,0,1,16.66,6.92Z" />
    <path class="cls-1" d="M14.61,10.54H6.51a.37.37,0,0,1,0-.73h8.1a.37.37,0,1,1,0,.73Z" />
    <path class="cls-1" d="M14.61,13.1H6.51a.37.37,0,0,1,0-.73h8.1a.37.37,0,1,1,0,.73Z" />
    <path class="cls-1" d="M14.61,15.66H6.51a.37.37,0,0,1,0-.73h8.1a.37.37,0,1,1,0,.73Z" />
</svg>
