<svg viewBox="0 0 12 12" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg" class="msportalfx-svg-placeholder" focusable="false"><polygon points="11,3.9 10.3,3.1 6,7.4 1.7,3.1 1,3.9 6,8.9"></polygon></svg>