<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<g>
	<path fill-rule="evenodd" clip-rule="evenodd"  d="M24,9.501h-6.001V8.357c0-0.475-0.384-0.858-0.855-0.858h-2.286
		c-0.473,0-0.859,0.383-0.859,0.858v1.144H8V11.5h1.001v9.999c0,1.658,1.342,3.003,2.999,3.003h8c1.657,0,3-1.345,3-3.003V11.5h1
		V9.501z M15.498,8.999h1.001v0.502h-1.001V8.999z M21.5,21.498c0,0.829-0.674,1.503-1.5,1.503h-8c-0.828,0-1.5-0.674-1.5-1.503
		v-9.5h11V21.498z"/>
	<rect x="12" y="13.501" fill-rule="evenodd" clip-rule="evenodd"  width="1.557" height="7.997"/>
	<rect x="15.223" y="13.501" fill-rule="evenodd" clip-rule="evenodd"  width="1.556" height="7.997"/>
	<rect x="18.444" y="13.501" fill-rule="evenodd" clip-rule="evenodd"  width="1.556" height="7.997"/>
</g>
</svg>
