<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<g>
	<path d="M16,8.331c-7.46,0-13.509,7.67-13.509,7.671c0,0,6.049,7.667,13.509,7.667s13.509-7.668,13.509-7.667
		C29.509,16.002,23.46,8.331,16,8.331z M16,21.67c-4.68,0-8.889-3.682-10.822-5.668c1.931-1.99,6.143-5.673,10.822-5.673
		c4.704,0,8.9,3.68,10.824,5.669C24.895,17.984,20.684,21.67,16,21.67z"/>
	<path  d="M16,10.521c-3.109,0-5.628,2.453-5.628,5.48c0,3.022,2.519,5.476,5.628,5.476s5.627-2.453,5.627-5.476
		C21.627,12.975,19.109,10.521,16,10.521z M16,19.479c-2.002,0-3.629-1.563-3.629-3.477c0-1.919,1.627-3.48,3.629-3.48
		s3.629,1.562,3.629,3.48C19.629,17.916,18.002,19.479,16,19.479z"/>
</g>
</svg>
