﻿<gisc-ui-component>
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Menu_BusinessUnits'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                                    options:businessUnitList,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parentBusinessUnitId',
                                    optionsChildren:'childBusinessUnits',
                                    value:businessUnit,
                                    mode:'update'" />
</gisc-ui-component>