﻿<gisc-ui-component>
    <!-- Alert Type -->
    <gisc-ui-label params="for: 'ddAlertType', text: i18n('Common_AlertType')" />
    <gisc-ui-dropdown params="
        id: 'ddAlertType',
        options: alertTypes,
        optionsText: 'displayName',
        optionsCaption: '',
        value: selectedAlertType" />
    <!-- Enable -->
    <gisc-ui-label params="for: 'ddEnable', text: i18n('Common_Enable')" />
    <gisc-ui-dropdown params="
        id: 'ddEnable',
        options: enableOptions,
        optionsText: 'title',
        optionsCaption: '',
        value: selectedEnable" />
 
</gisc-ui-component>