﻿<gisc-ui-component>
    <!--Type-->
    <gisc-ui-label params="text: i18n('Configurations_Type'), isRequired: true" />
    <gisc-ui-field params="value: alertType" />

    <!--Turn Option-->
    <div data-bind="visible:visibleTurnOption">
        <gisc-ui-label params="text:i18n('Configurations_Direction')" />
        <gisc-ui-field params="value: typeOption" />
    </div>

    <!-- //////////////////////////////////// -->
    <div data-bind="if: visibleUnauthorizedStop">
        <!-- ///Allow/// -->
        <div class="field-table-title">
            <gisc-ui-label params="for: 'bo-config-alert-allow-view',text: i18n('Unathorized_Allow')"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <gisc-ui-datatable params="
                    id: 'bo-config-alert-allow-view',
                    datasource: allowList,
                    columns: [
                        
                        { type: 'label', title: 'i18n:Unathorized_Stop_Name',  data: 'conditionForDisplay', orderable: false },
                        { type: 'label', title: '', data: 'categoryTypeName', orderable: false },
                        { type: 'label', title: '', data: 'categoryNameLst', orderable: false },
                        { type: 'label', title: '', data: 'parkingDurationForDisplay', orderable: false },
                        
                    ],
                    order: false,
                    rowId: 'dataId'
                    " />
        </div>

        <!-- /////Not Allow/////    -->
        <div class="field-table-title">
            <gisc-ui-label params="for: 'bo-config-alert-not-allow-view',text: i18n('Unathorized_Not_Allow')">
            </gisc-ui-label>
        </div>
        <div class="field-table-content">

            <gisc-ui-datatable params="
                        id: 'bo-config-alert-not-allow-view',
                        
                        datasource: notAllowList,
                        columns: [
                            
                        { type: 'label', title: 'i18n:Unathorized_Stop_Name',  data: 'conditionForDisplay', orderable: false },
                        { type: 'label', title: '', data: 'categoryTypeName', orderable: false },
                        { type: 'label', title: '', data: 'categoryNameLst', orderable: false },
                        { type: 'label', title: '', data: 'speedTypeForDisplay', orderable: false },
                            
                        ],
                        order: false,
                        rowId: 'dataId'
   
                        " />
        </div>


        <!-- ////// Stop Over Time ///// -->
        <div class="field-table-title">
            <gisc-ui-label
                params="for: 'bo-config-alert-stop-over-time-view',text: i18n('Unathorized_Stop_Overtime_Province')">
            </gisc-ui-label>
        </div>
        <div class="field-table-content">

            <gisc-ui-datatable params="
                        id: 'bo-config-alert-stop-over-time-view',
                        
                        datasource: stopOvertimeList,
                        columns: [
                            
                            { type: 'label', title: 'i18n:Unathorized_Stop_Name',  data: 'provinceGroupName',searchable: false, orderable: false },
                            { type: 'label', title: '', data: 'selectedProvinceForDisplay', orderable: false },
                            { type: 'label', title: '', data: 'stopDuration', orderable: false },
                          
                            
                        ],
                        order: false,
                        rowId: 'dataId'
                        " />
        </div>

    </div>

    <!-- //////////////////////////////////////// -->
    <div style="padding-bottom: 10px;" data-bind="visible: visibleMinSpeed() || visibleMaxSpeed()">
        <fieldset style="border: 0.5px solid #a3a5a8; padding: 0 10px 0 10px;">
            <legend>
                <gisc-ui-label params="text: i18n('Configurations_ActivationSpeed')" />
            </legend>
            <div data-bind="visible: visibleMinSpeed">
                <gisc-ui-label params="text: i18n('Configurations_MinSpeed'), isRequired: true" />
                <gisc-ui-field params="value: inputMinSpeed" />
            </div>

            <div data-bind="visible: visibleMaxSpeed">
                <gisc-ui-label params="text: i18n('Configurations_MaxSpeed'), isRequired: true" />
                <gisc-ui-field params="value: inputMaxSpeed" />
            </div>
        </fieldset>
    </div>

    <div style="padding-bottom: 10px;" data-bind="visible: visibleMinRPM() || visibleMaxRPM()">
        <fieldset style="border: 0.5px solid #a3a5a8; padding: 0 10px 0 10px;">
            <legend>
                <gisc-ui-label params="text: i18n('Configurations_AuthorizedRPM')" />
            </legend>
            <div data-bind="visible: visibleMinRPM">
                <gisc-ui-label params="text: i18n('Configurations_MinRPM'), isRequired: true" />
                <gisc-ui-field params="value: inputMinRPM" />
            </div>

            <div data-bind="visible: visibleMaxRPM">
                <gisc-ui-label params="text: i18n('Configurations_MaxRPM'), isRequired: true" />
                <gisc-ui-field params="value: inputMaxRPM" />
            </div>
        </fieldset>
    </div>

    <!--ManeuverLevel-->
    <div data-bind="visible:visibleManeuverLevel">
        <gisc-ui-label params="text:i18n('Configurations_ManeuverLevel')" />
        <gisc-ui-field params="value: maneuverLevel" />
    </div>

    <!--Min Duration-->
    <div data-bind="visible:isVisibleMinDuration">
        <gisc-ui-label params="text:i18n('Configurations_MinimumDuration')" />
        <gisc-ui-field params="value: minimumDuration" />
    </div>

    <!-- Custom Fields -->
    <div data-bind="visible: visibleFeatureUnit">
        <gisc-ui-label params="text: i18n('Common_Feature'), isRequired: true"></gisc-ui-label>
        <gisc-ui-field params="value: featureUnit" />
    </div>
    <div data-bind="visible: visibleDecimal">
        <gisc-ui-label params="text:labelDecimal, isRequired: true" />
        <gisc-ui-field params="value: inputDecimal" />
    </div>

    <div data-bind="visible:visibleInfoOverSpeed">
        <gisc-ui-label params="text:i18n('Configurations_OverSpeedDelay')" />
        <gisc-ui-field params="value: overspeedDelay" />

        <gisc-ui-label params="text:i18n('Configurations_AlertRepeating')" />
        <gisc-ui-field params="value: enableRepeatAlert" />
    </div>

    <div data-bind="visible: visibleInteger">
        <gisc-ui-label params="text:labelInteger, isRequired: true" />
        <gisc-ui-field params="value: inputInteger" />
    </div>

    <div data-bind="visible: visibleParkingTime">
        <gisc-ui-label params="text:i18n('Configurations_ParkingTime'), isRequired: true" />
        <gisc-ui-field params="value: parkingTime" />
    </div>

    <div data-bind="visible: visibleDecimalAllowNegative">
        <gisc-ui-label params="text:labelDecimalAllowNegative, isRequired: true" />
        <gisc-ui-field params="value: inputDecimalAllowNegative" />
    </div>
    <div data-bind="visible: visibleDecimalLessThan100">
        <gisc-ui-label params="text:labelDecimalLessThan100, isRequired: true" />
        <gisc-ui-field params="value: inputDecimalLessThan100" />
    </div>
    <div data-bind="visible: visibleMoveDurationUnusualFuelView">
        <gisc-ui-label params="text:labelMoveDurationUnsFuelDec" />
        <gisc-ui-field params="value: inputMoveDurationUnusualFuel" />
    </div>
    <div data-bind="visible: visibleCustomPoi">
        <gisc-ui-label params="text: i18n('Configurations_CustomPOI')"></gisc-ui-label>
        <gisc-ui-field params="value: customPoi" />
    </div>
    <div data-bind="visible: visibleCustomPoiCategory">
        <gisc-ui-label params="text: i18n('Configurations_CustomPOICategory')"></gisc-ui-label>
        <gisc-ui-field params="value: customPoiCategory" />
    </div>
    <div data-bind="visible: visibleAlertParkingType">
        <gisc-ui-label params="text:i18n('Common_ParkingType'), isRequired: true" />
        <gisc-ui-field params="value: alertParkingType" />
        <div data-bind="visible: visibleOverTimeParkLimit">
            <gisc-ui-label params="text:i18n('Common_Duration'), isRequired: true" />
            <gisc-ui-field params="value: overTimeParkLimit" />
        </div>
    </div>
    <div data-bind="visible: visibleCustomArea">
        <gisc-ui-label params="text: i18n('Configurations_CustomArea')"></gisc-ui-label>
        <gisc-ui-field params="value: customArea" />
        <gisc-ui-label params="text: i18n('Common_CustomAreaType')"></gisc-ui-label>
        <gisc-ui-field params="value: customAreaType" />
    </div>
    <div data-bind="visible: visibleCustomAreaCategory">
        <gisc-ui-label params="text: i18n('Configurations_CustomAreaCategory')"></gisc-ui-label>
        <gisc-ui-field params="value: customAreaCategory" />
    </div>
    <div data-bind="visible: visibleAreaParkingType">
        <gisc-ui-label params="text: i18n('Configurations_StopType'), isRequired: true"></gisc-ui-label>
        <gisc-ui-field params="value: areaParkingType" />
    </div>
    <div data-bind="visible: visibleDrivingType">
        <gisc-ui-label params="text: i18n('Common_Movement'), isRequired: true"></gisc-ui-label>
        <gisc-ui-field params="value: drivingType" />
    </div>
    <div data-bind="visible: visibleTime">
        <gisc-ui-label params="text: i18n('Configurations_WorkingPeriodForm'), isRequired: true"></gisc-ui-label>
        <gisc-ui-field params="value: workingPeriodFrom" />
        <gisc-ui-label params="text: i18n('Configurations_WorkingPeriodTo'), isRequired: true"></gisc-ui-label>
        <gisc-ui-field params="value: workingPeriodTo" />
    </div>
    <div data-bind="visible: visibleCustomAlert">
        <gisc-ui-label params="text:i18n('Configurations_CustomMessage'), isRequired: true" />
        <gisc-ui-field params="value: customMessage" />
        <gisc-ui-label params="text: i18n('Common_Feature'), isRequired: true"></gisc-ui-label>
        <gisc-ui-field params="value: feature" />
        <div data-bind="visible: visibleInputDigital">
            <gisc-ui-label params="text:i18n('Configurations_MatchValue')" />
            <gisc-ui-field params="value: inputDigital" />
        </div>
        <div data-bind="visible: visibleInputAnalog">
            <gisc-ui-label params="text:i18n('Configurations_MinValue')" />
            <gisc-ui-field params="value: inputMinValue" />
            <gisc-ui-label params="text:i18n('Configurations_MaxValue')" />
            <gisc-ui-field params="value: inputMaxValue" />
        </div>
        <div data-bind="visible: visibleInputText">
            <gisc-ui-label params="text:i18n('Configurations_MatchValue')" />
            <gisc-ui-field params="value: inputText" />
        </div>
    </div>

    <!-- AlertCategory -->
    <gisc-ui-label params="text:i18n('Configurations_AlertCategory')" />
    <gisc-ui-field params="value: alertCategory" />

    <!-- Priority -->
    <gisc-ui-label params="text:i18n('Configurations_Priority'), isRequired: true" />
    <gisc-ui-field params="value: priority" />

    <!-- Enable -->
    <gisc-ui-label params="text: i18n('Common_Enable'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: enable" />
    <!-- Ticket -->
    <gisc-ui-label params="text: i18n('FleetMonitoring_Alert_Ticket')"></gisc-ui-label>
    <gisc-ui-field params="value: ticket" />
    <!-- MDVR -->
    <gisc-ui-label params="text: i18n('Configurations_MDVR')"></gisc-ui-label>
    <gisc-ui-field params="value: mdvr" />
    <!-- MailTo -->
    <gisc-ui-label params="text: i18n('Common_MailTo')"></gisc-ui-label>
    <gisc-ui-field params="value: mailTo" />
    <!-- Alert Via -->
    <gisc-ui-label params="text:i18n('Common_AlertVia')" />
    <gisc-ui-field params="value: enableVia" />
    <!-- Website Notification Sound -->
    <div data-bind="visible: visibleNotificationSound">
        <gisc-ui-label params="text:i18n('Common_WebsiteNotificationSound')" />
        <div class="row">
            <div class="col-11">
                <gisc-ui-field params="value : notification" />
            </div>
            <div data-bind="component: iconAlertSound,click: playAlertSound,
                    style:{cursor:'pointer', padding: '0',marginLeft: '-20px',marginTop: '-10px'},css: 'col-1'" />
            <audio data-bind="attr:{id: soundId,src: soundUrl,type: 'audio/mpeg'}" />
            <audio data-bind="attr:{id: soundId2,src: soundUrl2,type: 'audio/mpeg'}" />
        </div>
    </div>
    <!-- Description -->
    <gisc-ui-label params="text:i18n('Common_Description')" />
    <gisc-ui-field params="value: description" />

    <!-- InsideArea -->
    <!-- ko if:visibleArea-->
    <gisc-ui-label params="text:i18n('Configurations_InsideArea')" />
    <gisc-ui-field params="value: insideArea" />
    <!-- /ko-->

    <!-- InsideAreaType -->
    <!-- ko if:visibleAreaType-->
    <gisc-ui-label params="text:i18n('Configurations_InsideAreaType')" />
    <gisc-ui-field params="value: insideAreaType" />
    <!-- /ko -->

    <!-- InsideAreaCate -->
    <!--ko if:visibleAreaCate-->
    <gisc-ui-label params="text:i18n('Configurations_InsideAreaCategory')" />
    <gisc-ui-field params="value: insideAreaCate" />
    <!-- /ko-->
    <section>
        <!--Vehicle-->
        <div data-bind="visible: visibleVehicle">
            <gisc-ui-label params="text:i18n('Common_Vehicle')" />
            <gisc-ui-datatable params="
                datasource: vehicles,
                columns: [
                    { type: 'label', title: 'i18n:Common_License', data: 'license', visible: false },
                    { type: 'label', title: 'i18n:Common_License', data: 'license', orderable: false,width:'80px',className:'wrap-text' },
                    { type: 'label', title: 'i18n:Assets_SerialNo', data: 'serialNo', visible: false },
                    { type: 'label', title: 'i18n:Assets_SerialNo', data: 'serialNo', orderable: false,width:'80px',className:'wrap-text' },
                    { type: 'label', title: 'i18n:Assets_DefaultOverSpeedLimit', data: 'formatDefaultOverSpeed', visible: false },
                    { type: 'label', title: 'i18n:Assets_DefaultOverSpeedLimit', data: 'formatDefaultOverSpeed', orderable: false,width:'10px' }
                ],
                order: orderVehicles,
                rowId: 'id',
                showFilter: false,
                ordering: true,
                readonly: true
                " />

        </div>
        <!--Delivery Men-->
        <div data-bind="visible: visibleDeliveryMen">
            <gisc-ui-label params="text:i18n('Common_DeliveryMen')" />
            <gisc-ui-datatable params="
                datasource: users,
                columns: [
                    { type: 'label', title: 'i18n:Common_Username', data: 'username', visible: false },
                    { type: 'label', title: 'i18n:Common_Username', data: 'username', orderable: false }
                ],
                order: orderUsers,
                rowId: 'id',
                showFilter: false,
                ordering: true,
                readonly: true
                " />
        </div>
    </section>
</gisc-ui-component>