﻿<gisc-ui-component>
    <!--Datatable-->
    <gisc-ui-datatable params="
                       datasource:dt,
                       columns:[
                       { type:'label' , title:'i18n:Common_License' , data:'license' ,width:'30px' },
                       { type:'label' , title:'i18n:Ticket_TicketNo' , data:'ticketId',width:'30px' }
                       ]
                       " />
    <span data-bind="validationMessage: dt" class="ko-block-msg-err"></span>

    <!--Status-->
    <gisc-ui-label params="for:'txtstatus',text:i18n('Common_Status') " />
    <gisc-ui-dropdown params="options :status,
                      optionsText:'name',
                       optionsCaption: '',
                      value:selectedStatus,
                      enable: isEnable
                      ">
    </gisc-ui-dropdown>

    <div class="sdk-body" style="padding-bottom: 15px">
        <div class="output">
            <!--Cause-->
            <gisc-ui-label params="text:i18n('Close Cause') ,isRequired:true" />
            <gisc-ui-dropdown params="
                                      options: closeCause,
                                      optionsText: 'name',
                                      value: selectedClose,
                                      optionsCaption: '',
                                      " />
            <!--SubCause-->
            <gisc-ui-label params="text:i18n('Close Sub Cause')" />
            <gisc-ui-dropdown params="
                                      options: closeSubCause,
                                      optionsText: 'name' ,
                                      value: selectedSubClose,
                                      optionsCaption: '',
                                      " />

            <!--Remark-->
            <gisc-ui-label params="text:i18n('Ticket_Remark') ,isRequired:true" />
            <gisc-ui-textarea params="value:closeRemark" />
        </div>
    </div>

    <!--AppointmentMaintenanceType-->
    <gisc-ui-label params="for:'txtmaintenance',text:i18n('Ticket_MaintenanceType'),isRequired:true" />
    <gisc-ui-dropdown params="options :MaintenanceType,
                    optionsText:'name',
                    optionsCaption: '' ,
                    value:selectedMaintenanceType
                    ">
    </gisc-ui-dropdown>

    <!--Remark-->
    <gisc-ui-label params="for:'txtRemark',text:i18n('Ticket_Remark')" />
    <gisc-ui-textarea params="value:remark" />
</gisc-ui-component>