<gisc-ui-component>
    <!--Company-->
    <gisc-ui-label params="text:i18n('Common_Company')" />
    <gisc-ui-dropdown params="options: listCompany,
                                   optionsText: 'name',
                                   value: selectedCompany,
                                   optionsCaption: '' " />
    <!--Status-->
    <gisc-ui-label params="for:'txtstatus',text:i18n('Common_Status')" />
    <gisc-ui-dropdown params="options :listTicketStatus,
                                optionsText:'name',
                                optionsCaption: '',
                                value:selectedTicketStatus" />

    <!--DateTimeFromTo-->
    <gisc-ui-label params="for:'from' ,text: i18n('Start Date'), isRequired: true" />
    <gisc-ui-datetime params="id:'from' ,value:startDate ,mode:'date' ,minDate:'-12m',maxDate: maxStartDate,dateFormat:formatSet" />

    <gisc-ui-label params="for:'to' ,text: i18n('End Date'), isRequired: true" />
    <gisc-ui-datetime params="id:'to' ,value:endDate  ,mode:'date' ,maxDate:periodDay ,minDate:minStartDate ,dateFormat:formatSet" />

</gisc-ui-component>