﻿<gisc-ui-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <!-- Promotion -->
                <!--<gisc-ui-label params="for: 'ddPromotion', text: i18n('Assets_OperatorPackage'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddPromotion',
                                        options: promotions,
                                        optionsText: 'operator',
                                        value: selectedPromotion"></gisc-ui-dropdown>-->

                
                <!--Mobile Number-->
                <!--<gisc-ui-label params="for: 'txtMobile', text: i18n('Assets_MobileNumber'), isRequired: true" />
                <gisc-ui-dropdown params="id: 'ddMobile',
                                        options: mobileArray,
                                        optionsText: 'mobileNo',
                                        type: 'filter',
                                        value: selectedMobile"></gisc-ui-dropdown>
                                        <div style="height:5px;"></div>-->
                
                <!-- Business Unit -->
                <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdowntree params="options:businessUnits,
                                        optionsID:'id',
                                        optionsText:'name',
                                        optionsParent:'parentBusinessUnitId',
                                        optionsChildren:'childBusinessUnits',
                                        value:selectedBusinessUnit" />
                .
                <!-- Box -->
                <gisc-ui-label params="for: 'ddBox', text: i18n('Assets_Box'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddBox',
                                        options: boxes,
                                        optionsText: 'serialNo',
                                        value: selectedBox,
                                        type: 'filter'"></gisc-ui-dropdown>
                                        <div style="height:5px;"></div>
                
                <!-- Vehicle -->
                <gisc-ui-label params="for: 'ddVehicle', text: i18n('Common_Vehicle'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="
                                        options: vehicles,
                                        optionsText: 'license',
                                        value: selectedVehicle,
                                        type: 'filter',
                                        enable:isVehicle"></gisc-ui-dropdown>
                                        <div style="height:5px;"></div>
                    
                <!-- New License -->
                <!-- <div data-bind="visible:newLicenseVisible"> -->
                <gisc-ui-label params="for: 'txtNewLicense', text: i18n('Ticket_NewLicense')" />
                <gisc-ui-textbox params="id: 'txtNewLicense', value: newLicense, maxlength: 100, enable:isNewVehicle" />
                <!-- </div> -->
            </div>

            <div class="col-6">
                <!-- Enable DLT Interface -->
                <gisc-ui-label params="for: 'ddEnableDltInterface', text:i18n('Assets_EnableDLTInterface'), isRequired:true" />
                <gisc-ui-dropdown params="id: 'ddEnableDltInterface',
                                        options:enableOptions,
                                        optionsText:'title',
                                        value:enableDltInterface"></gisc-ui-dropdown>

                <!-- เอา filter ออก เพราะ ไม่สามาร subscribe Model จาก Vehicle ได้-->
                <gisc-ui-label params="for: 'ddModel', text:i18n('Assets_Model'), isRequired:true" />
                <gisc-ui-dropdown params="id: 'ddModel',
                                        options:vehicleModelOptions,
                                        optionsText:'displayText',
                                        value:selectedVehicleModel, 
                                        enable:isDLT"></gisc-ui-dropdown>
                                        <div style="height:5px;"></div>
                
                <gisc-ui-label params="for: 'txtChassisNo', text: i18n('Assets_ChassisNo'), isRequired: true" />
                <gisc-ui-textbox params="id: 'txtChassisNo', value: chassisNo, enable:isDLT" />

                <gisc-ui-label params="for: 'txtLicensePlate', text: i18n('Assets_LicensePlate')" />
                <gisc-ui-textbox params="id: 'txtLicensePlate', value: licensePlate, enable:isDLT" />

                <gisc-ui-label params="for: 'txtLicenseProvince', text: i18n('Assets_LicenseProvince'), isRequired: true" />
                <gisc-ui-textbox params="id: 'txtLicenseProvince', value: licenseProvince, enable:isDLT" />

                <gisc-ui-label params="for: 'txtLicenseCountry', text: i18n('Assets_LicenseCountry'), isRequired: true" />
                <gisc-ui-textbox params="id: 'txtLicenseCountry', value: licenseCountry, enable:isDLT" />
                
            </div>
        </div>
    </div>
</gisc-ui-component>