﻿<gisc-ui-component>
    <div class="container" style="margin:0">
        <!--MailTemplate-->
        <div data-bind="visible:IsVisible">
            <div class="row">
                <div class="col-lg-2 col-sm-3">
                    <gisc-ui-label params="for: 'ddCompany', text: i18n('Ticket_MailTemplate'), isRequired: true"></gisc-ui-label>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <gisc-ui-dropdown params="options :mailtemplate ,
                    optionsText:'templateName',
                    value: selectedtemplate,
                    optionsCaption: ''
                    ">
                    </gisc-ui-dropdown>
                </div>
                <div class="col-5">
                </div>
            </div>
        </div>
            

            <!--mailto-->
            <div class="row">
                <div class="col-lg-2 col-sm-3">
                    <gisc-ui-label params="text: i18n('Ticket_To'), isRequired: true"></gisc-ui-label>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <gisc-ui-textbox params="id:'txtMailTo', value:mailTo, enable:IsVisible,maxlength: 2000" />
                </div>
                <div class="col-5">
                    <gisc-ui-tooltip params="text: i18n('I012')" />
                </div>
            </div>

            <!--CC-->
            <div class="row">
                <div class="col-lg-2 col-sm-3">
                    <gisc-ui-label params="text: i18n('Ticket_CC')"></gisc-ui-label>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <gisc-ui-textbox params="id:'txtMailcc', value:mailcc, enable:IsVisible,maxlength: 2000" />
                </div>
                <div class="col-5">
                    <gisc-ui-tooltip params="text: i18n('I012')" />
                </div>
            </div>

            <!--Subject-->
            <div class="row">
                <div class="col-lg-2 col-sm-3">
                    <gisc-ui-label params="text: i18n('Ticket_Subject'), isRequired: true"></gisc-ui-label>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <gisc-ui-textbox params="id:'txtSubject', value:subject,enable:IsVisible" />
                </div>
                <div class="col-5"></div>
            </div>
        </div>

    <!--Body-->
    <div data-bind="visible:IsVisible">
        <gisc-ui-editor params="
                        id: 'edSendMail' ,
                        value: textSendMail,
                        " />
    </div>
    <div data-bind="visible:IsVisibleMailDetail">
        
        <gisc-ui-editor params="
                        id: 'edViewMail' ,
                        value: textBody,
                        tools:[],
                        enable: false
                        " />
    </div>
   
</gisc-ui-component>