﻿<gisc-ui-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!--Status-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Common_Status') " />
                <gisc-ui-dropdown params="options :statusTicket,
                                optionsText:'name',
                                value:selectedStatus
                                ">
                </gisc-ui-dropdown>
            </div>
            <div class="col">
                <!--Owner-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_Owner') " />
                <gisc-ui-dropdown params="options :assignTo,
                                optionsText:'displayName',
                                optionsCaption: '',
                                value:selectedOwner
                                ">
                </gisc-ui-dropdown>
            </div>
            <div class="col">
                <!--AssignTo-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_AssignTo') " />
                <gisc-ui-dropdown params="options :assignTo,
                                optionsText:'displayName',
                                optionsCaption: '',
                                value:selectedAssign
                                ">
                </gisc-ui-dropdown>
            </div>
            <div class="col">
                <!--ContractNo-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_ContractNo') " />
                <gisc-ui-textbox params=" value: contract" />
            </div>
            <div class="col">
                <!--ServiceType-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_ServiceType') " />
                <gisc-ui-dropdown params="options :serviceType,
                                optionsText:'name',
                                optionsCaption: '',
                                value:selectedService
                                ">
                </gisc-ui-dropdown>
            </div>
            <div class="col">
                <!--Duration-->
                <gisc-ui-label params="for:'txtstatus',text:i18n('Ticket_Duration') " />
                <gisc-ui-dropdown params="options :durationTicket,
                                optionsText:'name',
                                optionsCaption: '',
                                value:selectedDuration
                                ">
                </gisc-ui-dropdown>

            </div>
            <div class="col">
                <br />
                <gisc-ui-button params="text:i18n('Common_Search') , onclick:viewSearch " />
            </div>
        </div>
    </div>
    <gisc-ui-datagrid params="
        id:'Ticket-Inprogress',
        source:apiDataSource,
        columns: [
            { type: 'text', title: 'i18n:Ticket_TicketDate', data: 'formatTicketDate',width:'115px',filterable : false},
            { type: 'text', title: 'i18n:Ticket_TicketNo', data: 'ticketId',width:'105px', onClick: testClick ,template:'<u>#=ticketId#</u>'},
            { type: 'text', title: 'i18n:Ticket_AssignTo', data: 'assignTo', width:'110px' },
            { type: 'text', title: 'i18n:Ticket_AssignDate', data: 'formatInprogressDate', filterable : false, width:'115px'},
            { type: 'text', title: 'i18n:Ticket_Owner', data: 'owner', width:'90px'},
            { type: 'text', title: 'i18n:Ticket_ContractNo', data: 'contractNo', width:'120px'},
            { type: 'text', title: 'i18n:Common_Company', data: 'companyName', width:'125px'},
            { type: 'text', title: 'i18n:Common_BusinessUnit', data: 'businessUnitName', width:'125px' },
            { type: 'text', title: 'i18n:Common_License', data: 'license', onClick: viewLicense ,template:'<u>#=license#</u>', width:'95px'},
            { type: 'text', title: 'i18n:Ticket_AssetId', data: 'serialNo', onClick: boxSerialNoClick, template:'<u>#=serialNo#<u/>', width:'105px' },
            { type: 'number', title: 'i18n:Ticket_MobileNo', data: 'mobile', width:'110px'},
            { type: 'text', title: 'i18n:Ticket_BoxTemplate', data: 'boxTemplate', width:'125x'},
            { type: 'text', title: 'i18n:Ticket_GPS', data: 'gpsStatus', headerTemplate:headerTemplateGPS, template: 'renderGpsColumn', filterable : false, sortable:false, width:'45px'},
            { type :'text' , title: 'i18n:Ticket_GPSLastupdate' ,data: 'formatLastLocationDate', width:'140px',filterable : false},
            { type: 'text' ,title: 'i18n:Common_Status' , data: 'status' , width:'90px', editable: true,template:templateTicketStatus,editor:editorTicketStatus },
            { type: 'text' ,title: 'i18n:Ticket_UpdateDate' ,data: 'formatUpdateDate', width:'140px',filterable : false},
            { type: 'text', title: 'i18n:Ticket_TargetDate', data: 'formatTargetDate', editable: true, width:'115px',filterable : false},
            { type: 'text', title: 'i18n:Ticket_ServiceType', data: 'serviceType', editable: true, width:'120px',template:templateServiceType,editor:editorServiceType},
            { type: 'text', title: 'i18n:Ticket_LastSendMailDate', data: 'formatLastSendMailDate', width:'150px',sortable: false},
            { type: 'text', title: 'i18n:Ticket_Remark', data: 'remark', editable: true, width:'200px',sortable: false}
        ],
        rowId: 'id',
        showFilter: true,
        editable: true,
        showRowSelector: true,
        toolbar: ['save', 'cancel'],
        selectedRows: selectedItems,
        filterable:true,
        columnMenu: true,
        rememberDataGridState: ['columns']
    "/>

        </gisc-ui-component>