﻿<gisc-ui-component>

    
    <!--ErrorMessage-->
    <style>
        .app-form-labelcontainer label {
            word-break: break-all;
        }
    </style>
    <gisc-ui-label params="text:errorMsg , width:'20px'"/>
    
   
</gisc-ui-component>