<gisc-ui-component params="additionalCssClasses: 'compact'">
    <!-- ko if: shouldDisplayTopPane -->
    <div class="dt-top-pane">
        <div class="dt-page-size">
            <div  class="app-dropdown">
                <div class="app-dropdown-container app-dropdown-wrapper app-input">
                    <span class="app-dropdown-current" data-bind="text: pageSizeInternal"></span>
                    <span class="app-dropdown-arrow-normal"></span>
                    <select class="app-dropdown-select" data-bind="options: availablePageSizes, value: pageSizeInternal"></select>
                </div>
            </div>
        </div>
        <div class="dt-info" data-bind="text: formatRecordCount"></div>
    </div>
    <!-- /ko -->

    <input type="hidden" class="dt-storage" data-bind="attr: { value: id}" />
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%" class="gisc hover compact" data-bind="attr: {id: id}"></table>

    <!-- ko if: loadMore -->
    <div class="dt-load-more">
        <button tabindex="0" class="fxc-actionBarBase fxc-actionBarBase-button fxc-button azc-button azc-button default dt-load-more-btn"
                data-bind="click: onLoadMoreClick.bind($data), visible: shouldDisplayLoadMore">
            <span data-bind="text: i18n('Common_LoadMore')"></span>
        </button>
    </div>
    <!-- /ko -->
</gisc-ui-component>