﻿<gisc-ui-component>
    <!-- Code -->
    <gisc-ui-label params="for:'txtShmZoneCode', text:i18n('ShipmentZone_Code'), isRequired:true" />
    <gisc-ui-textbox params="id:'txtShmZoneCode', value:code , maxlength:50" />

    <!-- Name -->
    <gisc-ui-label params="for:'txtShmZoneName', text:i18n('ShipmentZone_Name'), isRequired:true" />
    <gisc-ui-textbox params="id:'txtShmZoneName', value:name " />

    <!-- Enable Zone -->
    <gisc-ui-label params="for: 'ddShmZoneEnable', text:i18n('Common_Enable'), isRequired:true" />
    <gisc-ui-dropdown params="id: 'ddShmZoneEnable',
                            options:enableOptions,
                            optionsText:'title',
                            value:enableJobZone"></gisc-ui-dropdown>

</gisc-ui-component>