﻿<gisc-ui-component>
    <!-- Code -->
    <gisc-ui-label params="for:'txtShmCategoryCode', text:i18n('ShipmentCategory_Code'), isRequired:true" />
    <gisc-ui-field params="value: code"></gisc-ui-field>

    <!-- Name -->
    <gisc-ui-label params="for:'txtShmCategoryName', text:i18n('ShipmentCategory_Name'), isRequired:true" />
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!-- Enable Category -->
    <gisc-ui-label params="for: 'ddShmCategoryEnable', text:i18n('Common_Enable'), isRequired:true" />
    <gisc-ui-field params="value: enableJobZone"></gisc-ui-field>

    <!-- LastUpdate Date -->
    <gisc-ui-label params="for: 'ddShmCategoryEnable', text:i18n('Common_LastUpdatedDate')" />
    <gisc-ui-field params="value: updateDate"></gisc-ui-field>

    <!--  LastUpdate By -->
    <gisc-ui-label params="for: 'ddShmCategoryEnable', text:i18n('Common_LastUpdatedBy')" />
    <gisc-ui-field params="value: updateBy"></gisc-ui-field>

</gisc-ui-component>