<!-- ko component: 'gisc-ui-component' -->
    <!-- ko if: visible -->
    <div class="app-topbar-searchbox">
        <form class="search">
        <input type="text" class="search rounded" data-bind="attr: {placeholder: i18n('label_locationSearch')}">
        </form>
    </div>
    <!-- /ko -->
<!-- /ko -->