<gisc-ui-component params="additionalCssClasses: 'compact'">
    <div data-bind="attr: {id: id}" style="padding: 0;">
        <!-- Content -->
        <!-- <span data-bind="text:isBusy"></span> -->
        <!-- ko component: { name: componentName, params: {widget: $data, componentOptions: componentOptions} } --><!-- /ko -->
    </div>
</gisc-ui-component>