<!-- ko ifnot: isError -->
<div data-bind="template: { afterRender: afterRender.bind($data, $element, $parent)}, attr: { 'class': cssClasses } ">
    <!-- ko if: isLoaded -->
        <!-- ko template: { nodes: $data.contentTemplateNodes, data: $data.viewModel, parent: $data, afterRender: domReady.bind($data, $element, $parents) } --><!--/ko-->
    <!--/ko-->
    <!-- ko ifnot: isLoaded -->
        <div class="app-blade-progress-translucent"><div></div><div></div><div></div><div></div><div></div></div>
    <!--/ko-->
</div>
<!--/ko-->