﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">

    <style>
    div .k-window-content{
        overflow: hidden;
    }
    </style>

    <div style="padding:0px 20px 18px 20px;">
        <div style="word-break:break-all;margin-top:10px;float:left;width:100%">
            <gisc-ui-textarea params="value: mailTo,enable:false"></gisc-ui-textarea>
        </div>

        <div style="margin-top:10px;clear:both;font-weight:bold">
            <gisc-ui-label params="text: i18n('Report_NoteDialogTrackloc')"></gisc-ui-label>
        </div>

        <div style="width:100%;padding-left:110px;">
            <div style="width: 30%; float: left;">
                <button data-bind="click: onClickOK, attr:{ class: 'btn-dialog-ok' },text: i18n('Common_OK')" style="width:100px"></button>
            </div>
            <div style="width: 25%; float: left;">
                <button data-bind="click: onClickCancel, attr:{ class: 'btn-dialog-cancel'},text: i18n('Common_Cancel')" style="width:100px"></button>
            </div>
        </div>
    </div>

   
</gisc-ui-component>