<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>
            <!-- Required field on DropDown -->
            <!--<gisc-ui-label params="for: 'ddEnable', text: i18n('Report_Company'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdown params="options: company, optionsText:'CompanyName', value: selectedCompany"></gisc-ui-dropdown>-->
            <!--listEnumResource-->
            <!--ReportType-->
            <gisc-ui-label params="for: 'ddReportType', text: i18n('Report_ReportType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddReportType',
                                    options: reportTypes,
                                    optionsText: 'displayName',
                                    optionsCaption: '',
                                    value: selectedReportType" />
            <!--BusinessUnit-->
            <div data-bind="visible: businessUnitVisible">
                <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Report_BusinessUnit'), isRequired: true" />
                <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                                options: businessUnits,
                                optionsID: 'id',
                                optionsText: 'name',
                                optionsParent: 'parentBusinessUnitId',
                                optionsChildren: 'childBusinessUnits',
                                value: selectedBusinessUnit" />
            </div>

            <!-- BusinessUnit Multiselect -->
            <div data-bind="visible: businessUnitMultiselectVisible">
                <gisc-ui-label params="for: 'ddlBusinessUnitMultiselect', text:i18n('Report_BusinessUnit'), isRequired: true" />
                <gisc-ui-dropdowntree params="id: 'ddlBusinessUnitMultiselect',
                                options: businessUnitsMultiselectOption,
                                optionsID: 'id',
                                optionsText: 'name',
                                optionsParent: 'parentBusinessUnitId',
                                optionsChildren: 'childBusinessUnits',
                                value: selectedBusinessUnitMultiselect,
                                mode:'update'" />
            </div>


            <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU ,visible: isIncludeSubBUVisible " />

            <!--EntityType-->
            <gisc-ui-label params="for: 'ddEntityType', text: i18n('FleetMonitoring_EntityType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddEntityType',
                                    options: entityTypes,
                                    optionsText: 'displayName',
                                    value: selectedEntityType" />

            <div data-bind="visible: driverVisible" >
                <gisc-ui-checkbox params="text: i18n('ReportCriteria_FormerDriver'),checked:isIncludeFormerDriver"/>
                <gisc-ui-checkbox params="text: i18n('ReportCriteria_ResignedDriver'), checked:isIncludeResignedDriver"/>
            </div>
            
            <!--Category Vehicle-->
            <div data-bind="visible: categoryVehicleVisible">
                <gisc-ui-label params="for: 'ddCategoryVehicle', text: i18n('Report_CategoryVehicle')"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddCategoryVehicle',
                                        options: categoryVehicleOptions,
                                        optionsText: 'name',
                                        value: categoryVehicle" />
            </div>


            <!-- Vehicle Driver -->
            <gisc-ui-label params="for: 'ddSelectEntity', text: i18n('Report_SelectedEntity'), isRequired: isRequiredEntity"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddSelectEntity',
                                    options: selectEntity,
                                    optionsText: 'displayName',
                                    optionsCaption: selectedEntityBinding,
                                    value: selectedEntity,
                                    type: 'filter'" />

            <!-- Driver Perfomance Rule -->

            <div data-bind="visible: driverPerfomanceRuleVisible">
                <gisc-ui-label params="for: 'ddDriverPerformanceRule', text: i18n('DriverPerformanceRules_DriverPerformanceRules'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddDriverPerformanceRule',
                                            options: driverPerformancesRuleOption,
                                            optionsText: 'name',
                                            optionsCaption: '',
                                            value: selectedDriverPerformanceRule" />
            </div>

            <!-- include Deliquent Checkbox -->
            <div data-bind="visible: includeDeliquentVisible">
                <div class="row">
                    <div class="col-md-12">
                        <gisc-ui-checkbox params="text: i18n('Report_Include_Delinquent'), checked:isIncludeDelinquent" />
                    </div>
                </div>
            </div>


            <!-- <gisc-ui-label params="for: 'ddReportType2', text: i18n('Report_ReportType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddReportType2',
                                    options: reportTypes2,
                                    optionsID: 'id',
                                    optionsText: 'displayName',
                                    value: selectedReportType2" /> -->
            <!--ShipingType-->
            <div data-bind="visible: shippingTypeVisible">
                <gisc-ui-label params="for: 'ddShippingType', text: i18n('Report_ShippingType')"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddShippingType',
                                        options: shippingTypeOptions,
                                        optionsText: 'name',
                                        value: shippingType" />
            </div>

            <!--Duration-->
            <div data-bind="visible: durationVisible">
                <gisc-ui-label params="for:'txtDuration', text:i18n('Report_OverSpeedDuration')"></gisc-ui-label>
                <gisc-ui-textbox params="id:'txtDuration', placeholder:'', value: overSpeedDuration, filter: { type: 'numeric', numericType: 'int', min: 0 }"></gisc-ui-textbox>
            </div>

            <!-- Radio -->
            <div data-bind="visible: radioCriteria">

                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Today'),value:'Today',checked:valueRadio " />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:valueRadio " />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:valueRadio " />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:valueRadio" />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:valueRadio " />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:valueRadio " />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:valueRadio " />

            </div>

            <!-- ko if: visibleTruck -->
            <!--DateTimeFromTo-->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                            <!-- <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateShipment ,minDate:minDateShipment ,dateFormat:formatSet ,enable: isDateTimeEnabled" /> -->
                        </div>
                        <div class="col-5" style="padding-left: 5px;">
                            <div class="app-textBox-wrapper">
                                <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ,enable: isDateTimeEnabled ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                            <!-- <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:maxDateShipment ,minDate:minDateShipment ,dateFormat:formatSet ,enable: isDateTimeEnabled" /> -->
                        </div>
                        <div class="col-5" style="padding-left: 5px;">
                            <div class="app-textBox-wrapper">
                                <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ,enable: isDateTimeEnabled ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <!-- Group Park Status -->
            <div data-bind="visible: trackingVisibleGroupStatus">
                <gisc-ui-checkbox params="text: i18n('Report_GroupParkStatus'), checked:isGroupParkStatus" />
            </div>

            <!-- ko if: enableMailTo -->
            <gisc-ui-label params="text: i18n('Report_MailTo')"></gisc-ui-label>
            <gisc-ui-tooltip params="text: i18n('I035')" />
            <gisc-ui-textbox params="id:'txtMailTo', value:mailTo, enable:enableMailTo,maxlength:500" />
            <!-- /ko -->
            <!-- ko if: visibleAlertType -->
            <gisc-ui-label params="for: 'ddALertType', text: i18n('Common_AlertType')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddALertType',
                                    options: alertTypes,
                                    optionsText: 'displayName',
                                    value: selectedAlertType"></gisc-ui-dropdown>
            <!-- /ko -->
            <!--ParkingType-->
            <div data-bind="visible: parkingTypeVisible">
                <gisc-ui-label params="for: 'ddParkingType', text: i18n('Common_ParkingType')"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddParkingType',
                                    options: parkingTypes,
                                    optionsText: 'displayName',
                                    optionsCaption: '',
                                    value: selectedParkingType"></gisc-ui-dropdown>

                <gisc-ui-checkbox params="text: i18n('Report_LastParking'), checked:isLastParking" />
            </div>

            <!--CustomPOI-->
            <div data-bind="visible: customPoiVisible">
                <gisc-ui-label params="for:'txtCustomPoi', text:i18n('CustomPOI_CustomPOI')"></gisc-ui-label>
                <gisc-ui-textbox params="id:'txtCustomerPoi', placeholder:'', value: customPoiValue"></gisc-ui-textbox>
            </div>

            <!--TemperatureOptions-->
            <!-- ko if: temperatureVisible -->
            <gisc-ui-datatable params="
                        datasource: temperature,
                        columns: [
                            { type: 'checkbox', title: ' ', data: 'isChecked', enable: 'enable', redrawOnDataChange: false },
                            { type: 'label', title: 'i18n:Report_Temperature', data: 'name', render: renderItemColumn }
                        ],
                        order: orderTemp,
                        rowId: 'tempId',
                        selectedRow: selectedItemTemp
                        " />
            <!-- /ko -->
            <!--EventType-->
            <div data-bind="visible: eventTypeVisible">
                <gisc-ui-label params="for: 'ddEventType', text: i18n('Common_EventType'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddEventType',
                                    options: eventTypes,
                                    optionsText: 'displayName',
                                    optionsCaption: '',
                                    value: selectedEventType"></gisc-ui-dropdown>
            </div>

            <!-- ko if: gateVisible -->
            <gisc-ui-datatable params="
                        datasource: gate,
                        columns: [
                            { type: 'checkbox', title: ' ', data: 'isChecked', enable: 'enable', redrawOnDataChange: false },
                            { type: 'label', title: 'i18n:Report_Gate', data: 'name', render: renderItemColumn}
                        ],
                        order: orderGate,
                        rowId: 'gateId',
                        selectedRow: selectedItemGate,
                        onDataSourceChanged: itemsChanged
                        " />
            <div data-bind="visible: requiredGateVisible">
                <span class="ko-inline-msg-err" data-bind="text: i18n('M001')"></span>
            </div>
            <!-- /ko -->

            <div data-bind="visible: groupVisible">
                <div class="row">
                    <div class="col-md-12">
                        <gisc-ui-checkbox params="text: i18n('Report_Group'), checked:isGroup" />
                    </div>
                </div>
            </div>



            <!--TruckNotUpdateDuration-->
            <!-- ko ifnot:visibleTruck -->
            <gisc-ui-label params="for:'txtTrDuration', text:i18n('Report_TruckNotUpdateDuration'),isRequired:true"></gisc-ui-label>
            <gisc-ui-textbox params="id:'txtTrDuration', value: truckNotDuration, filter: { type: 'numeric', numericType: 'int', min: 0 }"></gisc-ui-textbox>
            <!--/ko-->

            <div data-bind="visible: graphicVisible">
                <table>
                    <tr>
                        <td>
                            <gisc-ui-checkbox params="text: i18n('Report_Graphic'), checked:isGraphic" />
                        </td>
                    </tr>
                </table>
            </div>

            <div data-bind="visible: limitedToSelectedTime">
                <!-- <div data-bind="visible: true" > -->
                <div class="row">
                    <div class="col-md-12">
                        <gisc-ui-checkbox params="text: i18n('Report_Limited_To_Selected_Time'), checked:isLimitedToSelectedTime" />
                    </div>
                </div>
            </div>

        </section>
    </article>
</gisc-ui-component>