<gisc-ui-component params="codeHighlight:true">
  <article class="markup-container sdk-body">
    <blockquote>ChartBar is stacked bar chart, used to show trend data.</blockquote>
    <section>
      <h2>Parameters</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Required</th>
            <th>Default Value</th>
            <th>Observable</th>
          </tr>
        </thead>
          <tbody>
                <tr>
                    <td><code>id</code></td>
                    <td>No</td>
                    <td>GUID</td>
                    <td>No</td>
                    </tr>
                <tr>
                    <td><code>data</code></td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><code>value</code></td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><code>color</code></td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>Yes</td>
                </tr>
          </tbody>
      </table>
    </section>
    <section>
      <h2>Parameters Details</h2>
      <ul>
        <li><strong>Required Parameters</strong>
            <ul>
                <li><code>data</code> Arraylist of dataset.</li>
                <li><code>value</code> Value of dataset that need to plot.</li>
                <li><code>color</code> The fill color of each segments.</li>
            </ul>
        </li>
        <li><strong>Optional Parameters</strong>
            <ul>
                <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
            </ul>
        </li>
      </ul>
    </section>
    <section>
      <h2>Examples</h2>
      <section id="exp1">
        <h3>Basic Example</h3>
        <h4>Source</h4>
        <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params="text:'Example'"/>
&lt;gisc-ui-chartbar params="data:items ,value:'value' ,color:'color'" />
        </code></pre>
        <pre><code class="hljs js">// View Model
this.items = [{
                value:2,
                color: "transparent",
            },{
                value: 10,
                color: "#33ff33",
            },{
                value:2,
                color: "transparent",
            },{
                value: 5,
                color: "#ff0000",
            },{
                value: 5,
                color: "#ff9900",
            }];
        </code></pre>
        <h4>Output</h4>
        <div class="output">
          <gisc-ui-label params="text:'Example'"/>
          <gisc-ui-chartbar params="data:items ,value:'value' ,color:'color'" />
        </div>
      </section>
    </section>
  </article>
</gisc-ui-component>