﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div style="padding: 10px">
        <gisc-ui-radio params="text:'Add new device to vehicle',value:'new', checked:isRadioADAS"/>
        <gisc-ui-radio params="text:'Remove current device and  add new device  to vehicle',value:'remove', checked:isRadioADAS"/>
    </div>
    <div style="width:100%">
        <div style="width: 50%; float: left;">
            <button data-bind="click: onClickOK, attr:{ class: 'btn-dialog-ok' }">OK</button>
        </div>
        <div style="width: 50%; float: left;">
            <button data-bind="click: onClickCancel, attr:{ class: 'btn-dialog-cancel' }">Cancel</button>
        </div>
    </div>
</gisc-ui-component>