﻿<gisc-ui-component>
    <!-- Model -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Model'),isRequired:true" />
    <gisc-ui-dropdown params="options:modelOptions,
                               optionsText:'model',
                               value:selectedModel,
                               optionsCaption:' '
                               " />

    <!-- DeviceId -->
    <gisc-ui-label params="for:'deviceId',isRequired:true,text:i18n('Assets_Mdvrs_Device_Id')" />
    <gisc-ui-textbox params="id:'deviceId', value:deviceId " />

    <!-- Serial No. -->
    <gisc-ui-label params="for:'serialNo',isRequired:true,text:i18n('Assets_Mdvrs_Serial_No')" />
    <gisc-ui-textbox params="id:'serialNo', value:serialNo" />

    <!-- Contract No. -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Contract_No'),isRequired:true" />
    <gisc-ui-dropdown params="options:contractNoOptions,
                               optionsText:'contractNo',
                               optionsCaption:' ',
                               type: 'filter' ,
                               value:selectedContractNo,
                               " />
    <!-- Sim -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Sim')" />
    <gisc-ui-dropdown params="options:simOptions,
                               optionsText:'mobileNo',
                               value:selectedSim,
                               type: 'filter',
                               optionsCaption:''
                               " />
    <!-- company -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Company')" />
    <gisc-ui-dropdown params="options:companyOptions,
                               optionsText:'name',
                               value:selectedCompany,
                               optionsCaption:' ',
                               type: 'filter'" />
    <!-- Business Unit -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Business_Unit'),isRequired:false" />
    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit' ,
                          options:buOptions,
                          optionsID:'id',
                          optionsText:'name',
                          optionsParent:'parentBusinessUnitId',
                          optionsChildren:'childBusinessUnits',
                          value:selectedBusinessUnit,
                          type: 'filter',
                          zIndex: '2' " />
    <!-- Vehicle -->
    <gisc-ui-label params="text:i18n('Assets_Mdvrs_Vehicle')" />
    <gisc-ui-dropdown params="options:vehicleOptions,
                               optionsText:'license',
                               value:selectedVehicle,
                               optionsCaption:'',
                               type: 'filter'" />

</gisc-ui-component>