﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtName', text: i18n('Common_GroupName'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtName', value: name"></gisc-ui-textbox>

    <!-- Description -->
    <gisc-ui-label params="text: i18n('Common_Description')"></gisc-ui-label>
    <gisc-ui-textarea params="value: description"></gisc-ui-textarea>

    <!-- Permission -->
    <gisc-ui-label params="text: i18n('Common_Permission')"></gisc-ui-label>
    <div class="field-wrapper inline-table-container">
        <table class="gisc-ui-datatable">
            <tbody>
                <tr data-bind="visible: permissionMap.hasVisibilityPermissions">
                    <td class="category" colspan="2" data-bind="text: permissionMap.getVisibilityCategoryName"></td>
                </tr>
                <!-- ko foreach: permissionMap.visibilityPermissions -->
                    <tr>
                        <td data-bind="text: permissionName, attr: { class: tdCssClass }"></td>
                        <td>
                            <gisc-ui-checkbox params="checked: selected">
                        </td>
                    </tr>
                    <!-- ko foreach: $data.child2 -->
                        <tr>
                            <td data-bind="text: permissionName, attr: { class: 'child2' }"></td>
                            <td>
                                <gisc-ui-checkbox params="checked: selected">
                            </td>
                        </tr>
                    <!-- /ko -->
                <!-- /ko -->

                <tr data-bind="visible: permissionMap.hasFunctionalityPermissions">
                    <td class="category" colspan="2" data-bind="text: permissionMap.getFunctionalityCategoryName"></td>
                </tr>
                <!-- ko foreach: permissionMap.functionalityPermissions -->
                    <tr>
                        <td data-bind="text: permissionName, attr: { class: tdCssClass }"></td>
                        <td>
                            <gisc-ui-checkbox params="checked: selected">
                        </td>
                    </tr>
                    <!-- ko foreach: $data.child2 -->
                        <tr>
                            <td data-bind="text: permissionName, attr: { class: 'child2' }"></td>
                            <td>
                                <gisc-ui-checkbox params="checked: selected">
                            </td>
                        </tr>
                    <!-- /ko -->
                <!-- /ko -->

                <tr data-bind="visible: permissionMap.hasAlertPermissions">
                    <td class="category" colspan="2" data-bind="text: permissionMap.getAlertCategoryName"></td>
                </tr>
                <!-- ko foreach: permissionMap.alertPermissions -->
                    <tr>
                        <td data-bind="text: permissionName, attr: { class: tdCssClass }"></td>
                        <td>
                            <gisc-ui-checkbox params="checked: selected">
                        </td>
                    </tr>
                    <!-- ko foreach: $data.child2 -->
                        <tr>
                            <td data-bind="text: permissionName, attr: { class: 'child2' }"></td>
                            <td>
                                <gisc-ui-checkbox params="checked: selected">
                            </td>
                        </tr>
                    <!-- /ko -->
                <!-- /ko -->
                
            </tbody>
        </table>
    </div>

</gisc-ui-component>