﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="text: i18n('Common_GroupName'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!-- Description -->
    <gisc-ui-label params="text: i18n('Common_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!-- Permission -->
    <gisc-ui-label params="text: i18n('Common_Permission')"></gisc-ui-label>
    <!-- ko if: permissionMap().hasAnyPermission -->
    <div class="field-wrapper inline-table-container">
        <table class="gisc-ui-datatable">
            <tbody>
                <tr data-bind="visible: permissionMap().hasVisibilityPermissions">
                    <td class="category" data-bind="text: permissionMap().getVisibilityCategoryName"></td>
                </tr>
                <!-- ko foreach: permissionMap().visibilityPermissions -->
                    <tr class="no-highlight">
                        <td data-bind="text: permissionName, attr: { class: tdCssClass }"></td>
                    </tr>
                    <!-- ko foreach: $data.child2 -->
                        <!-- ko if: $data.id -->
                            <tr class="no-highlight">
                                <td data-bind="text: permissionName, attr: { class: 'child2' }"></td>
                            </tr>
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->

                <tr data-bind="visible: permissionMap().hasFunctionalityPermissions">
                    <td class="category" data-bind="text: permissionMap().getFunctionalityCategoryName"></td>
                </tr>
                <!-- ko foreach: permissionMap().functionalityPermissions -->
                    <tr class="no-highlight">
                        <td data-bind="text: permissionName, attr: { class: tdCssClass }"></td>
                    </tr>
                    <!-- ko foreach: $data.child2 -->
                        <!-- ko if: $data.id -->
                            <tr class="no-highlight">
                                <td data-bind="text: permissionName, attr: { class: 'child2' }"></td>
                            </tr>
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->

                <tr data-bind="visible: permissionMap().hasAlertPermissions">
                    <td class="category" data-bind="text: permissionMap().getAlertCategoryName"></td>
                </tr>
                <!-- ko foreach: permissionMap().alertPermissions -->
                    <tr class="no-highlight">
                        <td data-bind="text: permissionName, attr: { class: tdCssClass }"></td>
                    </tr>
                    <!-- ko foreach: $data.child2 -->
                        <!-- ko if: $data.id -->
                            <tr class="no-highlight">
                                <td data-bind="text: permissionName, attr: { class: 'child2' }"></td>
                            </tr>
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
                
            </tbody>
        </table>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: permissionMap().hasAnyPermission -->
    <gisc-ui-field></gisc-ui-field>
    <!-- /ko -->
    
</gisc-ui-component>