<!-- ko if: visible() -->
<div class="app-image-combobox">
    <div data-bind="value: value,
                       attr: { id:id },
                       template: { afterRender: afterRender.bind($data, $element,$parent)}" class="app-dropdown-container app-dropdown-wrapper app-input">

    </div>
</div>
<!-- /ko -->
