﻿<gisc-ui-component>

    <gisc-ui-label params="text:i18n('CustomRouteCategory_Name'), isRequired:true" />
    <gisc-ui-textbox params="value:name"></gisc-ui-textbox>

    <gisc-ui-label params="text:i18n('CustomRouteCategory_Description')" />
    <gisc-ui-textarea params="value:description"></gisc-ui-textarea>

    <gisc-ui-label params="text:i18n('CustomRouteCategory_Code')" />
    <gisc-ui-textbox params="value:code,filter: { type: 'alphanumeric'}"></gisc-ui-textbox>

    <gisc-ui-label params="text:i18n('CustomRouteCategory_Color'), isRequired:true" />
    <gisc-ui-colorpicker params="value:color"></gisc-ui-colorpicker>

</gisc-ui-component>