﻿<gisc-ui-component>
    <!-- Vehicle -->
    <gisc-ui-label params="text: i18n('Common_Vehicle')" />
    <gisc-ui-field params="value: vehicleDisplayName" />

    <!--Maintanace Type-->
    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Maintenance_Type')" />
    <gisc-ui-field params="value: maintenanceTypeName" />

    <!--Maintanace SubType-->
    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Maintenance_SubType')" />
    <gisc-ui-field params="value: maintenanceSubTypeName" />

    <!-- Title -->
    <gisc-ui-label params="text: i18n('Assets_MaintanancePlanTitle')" />
    <gisc-ui-field params="value: title" />

    <!-- Description -->
    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-field params="value: description" />

    <!-- MaintenanceDate -->
    <gisc-ui-label params="text: i18n('Common_MaintenanceDate')" />
    <gisc-ui-field params="value: formatMaintenanceDate" />

    <!-- ReminderBeforeMaintenanceDate -->
    <gisc-ui-label params="text: i18n('Common_ReminderBeforeMaintenanceDate')" />
    <gisc-ui-field params="value: dayRemind" />

    <!-- RemainingBeforeMaintenanceDate -->
    <gisc-ui-label params="text: i18n('Common_RemainingDayBeforeMaintenanceDate')" />
    <gisc-ui-field params="value: remainingMaintenanceDay" />

    <!-- CurrentDistance -->
    <gisc-ui-label params="text: i18n('Common_CurrentDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: displayCurrentDistance" />

    <!-- MaintenanceDistance -->
    <gisc-ui-label params="text: i18n('Common_MaintenanceDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: maintenanceDistance" />

    <!-- ReminderBeforeMaintenanceDistance -->
    <gisc-ui-label params="text: i18n('Common_ReminderBeforeMaintenanceDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: distanceRemind" />

    <!-- RemainingDistanceBeforeMaintenanceDistance -->
    <gisc-ui-label params="text: i18n('Common_RemainingDistanceBeforeMaintenanceDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: remainingDistance" />

    <!-- Common_EstimateCost -->
    <gisc-ui-label params="text: i18n('Common_EstimateCost', [currency()])" />
    <gisc-ui-field params="value: estimateCost" />

    <!--Alert Via-->
    <gisc-ui-label params="text: i18n('Common_AlertVia')" />
    <gisc-ui-field params="value: formatAlertVia" />

    <!-- Common_Status -->
    <gisc-ui-label params="text: i18n('Common_Status')" />
    <gisc-ui-field params="value: maintenanceStatusDisplayName" />

</gisc-ui-component>