/* Font Setting */
/* Safari, Android, iOS */
/* Safari, Android, iOS */
/* Safari, Android, iOS */
/* Color Setting */
/* Font Family Creator */
/* Favorite */
.wg-favorite svg .cls-1 {
  fill: #20AF80; }

.wg-favorite svg .cls-2 {
  fill: #FFFFFF; }

.wg-favorite .wg-list-item-delete-icon .cls-1 {
  fill: #1E7358; }

/* Goto XY */
.goto-xy-content {
  width: 95%;
  margin-left: auto;
  padding-top: 2em;
  padding-bottom: 10em; }

.content-xy {
  border-bottom: 1px solid #A3A5A8;
  border-top: 1px solid #A3A5A8;
  font-family: "DB-Bold"; }

.label-error {
  color: #FF0000;
  font-family: "DB-Regular"; }

.divTextBox {
  margin-top: 5px; }

.divBtn {
  margin-top: 5px; }

.txtXY {
  width: calc(100% - 10px); }

/* Location Info */
.content-info {
  /*height:10em;*/
  border-bottom: 1px solid #A3A5A8;
  border-top: 1px solid #A3A5A8;
  position: relative;
  padding-bottom: 10px; }

.divLocation {
  margin-top: 5px;
  width: 95%;
  margin-left: auto; }

.info {
  margin-top: 10px;
  /* width: 95%; */
  margin-left: 15px;
  padding-right: 45px; }

.favorite-icon {
  /* margin-top: 1em; */
  /* float: right; */
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px; }

.favorite-icon svg .cls-1 {
  fill: #A3A5A8; }

.favorite-icon svg .cls-2 {
  fill: #FFFFFF; }

.favorite-icon.added svg .cls-1 {
  fill: #20AF80; }

.favorite-icon.added svg .cls-2 {
  fill: #FFFFFF; }

.favorite-icon:hover {
  cursor: pointer; }

.info {
  font-family: "DB-Regular"; }

/* Playback Control */
.wg-playback {
  height: calc(100%); }

.wg-playback .playback-control-section {
  width: 100%;
  height: 40px;
  /*margin-top:10px;*/
  background-color: #B7D9C8; }

.wg-playback .range-timer {
  /*width: calc(100% - 100px);
    height:25px;
    margin-left: 10px;
    float:left;*/
  height: 30px;
  margin-left: 10px;
  padding-top: 12px;
  float: left;
  box-sizing: border-box; }

.wg-playback .button-control {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 10px;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  /*background-color:#e0e0e0;
    border:1px solid #555;*/ }

.wg-playback .button-control img {
  width: 30px;
  height: 30px; }

.wg-playback .button-control.hide {
  display: none; }

.playback-control-timer {
  height: 30px;
  float: left;
  width: 50px;
  margin-left: 20px;
  font-family: "DB-Regular";
  font-size: 20px;
  line-height: 30px;
  color: #323B3A; }

.div-stat-item {
  clear: both;
  width: 100%;
  /*height:100px;*/
  box-sizing: border-box;
  /*border-bottom:1px solid #aaa;*/
  padding-left: 10px;
  padding-top: 5px; }

.div-asset-pb-color {
  width: 30px;
  height: 30px;
  float: left; }

.div-attr-asset-id {
  font-family: "DB-Bold";
  font-size: 22px;
  line-height: 30px;
  padding-left: 5px;
  margin-left: 35px; }

.div-lst-attr .div-status-blog {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding-left: 10px; }

.div-lst-attr .div-icon-container {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding-top: 0px; }

.div-attr-item {
  float: left;
  width: 50%; }

.div-svg-icon {
  width: 30px;
  height: 30px; }

.playback-status-section {
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden; }

.wg-playback .global-widget-content {
  height: calc(100%); }

.wg-playback .button-control svg .cls-1 {
  fill: #20AF80; }

.wg-playback .button-control svg .cls-2 {
  fill: #FFFFFF; }

.wg-playback .button-control svg .cls-3 {
  fill: #FFFFFF; }

/* Polygon Editor */
.wg-polygon-editor {
  width: 100%;
  height: 100%; }

.wg-polygon-editor .global-widget-content {
  width: 100%;
  height: calc(100% - 80px); }

.wg-polygon-editor .drawing-control {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 35px; }

.wg-polygon-editor .div-btn {
  cursor: pointer;
  width: 50px;
  height: 35px;
  /*border-left:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;*/
  box-sizing: border-box;
  float: left;
  /*background-color:#acacac;*/
  padding-right: 10px;
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

.wg-polygon-editor .div-btn svg {
  display: table-cell;
  width: 35px;
  height: 35px; }

/*.wg-polygon-editor .div-btn:active svg .cls-1 {
    
    background-color:rgba(50,59,58,1);
}*/
.wg-polygon-editor .div-btn:last-child {
  /*border-right:1px solid black;*/ }

.wg-polygon-editor svg .cls-1 {
  /*color:#888;*/
  fill: #20AF80; }

.wg-polygon-editor svg .cls-2 {
  /*color:#888;*/
  fill: #FFFFFF; }

.wg-polygon-editor .disabled-btn svg .cls-1 {
  /*color:#888;*/
  fill: #A3A5A8 !important; }

.wg-polygon-editor .div-point-collection {
  margin-left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 70px - 40px - 100px - 20px - 50px);
  /*border:1px solid black;*/
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #1C211A;
  border-bottom: 1px solid #1C211A;
  border-right: 1px solid #1C211A; }

.wg-polygon-editor .div-point-collection-item {
  cursor: default;
  width: 100%;
  height: 50px;
  color: #1C211A;
  font-family: "DB-Regular";
  font-size: 20px;
  line-height: 50px;
  text-indent: 10px;
  /*border-right:1px solid black;*/
  border-top: 1px solid #1C211A;
  /*border-left:1px solid black;*/
  box-sizing: border-box; }

.wg-polygon-editor .div-point-collection-item:last-child {
  border-bottom: 1px solid #1C211A; }

.wg-polygon-editor .div-point-collection-item-header {
  width: calc(100% - 20px);
  height: 50px;
  background-color: #323b3a;
  color: #FFFFFF;
  font-family: "DB-Bold";
  font-size: 20px;
  line-height: 50px;
  text-indent: 10px;
  border: 0 none;
  margin-left: 10px; }

.wg-polygon-editor .div-point-collection-item-header::after {
  content: "Points"; }

.wg-polygon-editor .div-polygon-meta-data {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  box-sizing: border-box; }

.wg-polygon-editor .div-polygon-meta-data div {
  width: 100%;
  height: 25px;
  text-indent: 10px;
  font-family: "DB-Regular";
  line-height: 25px;
  font-size: 18px;
  cursor: default; }

.wg-polygon-editor .div-polygon-meta-data div.bold {
  font-family: "DB-Bold"; }

.wg-polygon-editor .div-button-control {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  box-sizing: border-box; }

.wg-polygon-editor .div-btn-container:last-child .div-btn {
  /*border-right:1px solid black;*/ }

.wg-polygon-editor .tooltip {
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #A3A5A8;
  padding: 6px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
  top: -31px;
  left: -50px;
  font-family: "DB-Regular";
  font-size: 16px; }

.wg-polygon-editor .tooltip::after {
  content: " ";
  position: absolute;
  top: calc(100% + 4px);
  left: 16px;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent transparent; }

.div-btn-container {
  position: relative;
  display: inline; }

.div-btn-container:hover .tooltip {
  visibility: visible; }

/* Tools */
.wg-tools {
  font-family: "DB-Regular";
  font-size: 20px; }

/* Vehicle */
.wg-vehicle .wg-list-item-icon svg .cls-1 {
  fill: #A3A5A8 !important; }

.wg-vehicle .wg-list-item.selected .wg-list-item-icon svg .cls-1 {
  fill: #FFFFFF !important; }

/* Vehicle Info */
.wg-vehicle-info .global-widget-header {
  height: 100px; }

.wg-vehicle-info .text {
  font-family: 'DB-Regular';
  font-size: 20px;
  color: #323B3A; }

.wg-vehicle-info .div-text-container {
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #1C211A;
  height: auto; }

.div-time-container {
  width: 100%; }

.wg-vehicle-info .div-department {
  color: #20AF80;
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
  overflow: hidden; }

.wg-vehicle-info .div-date {
  color: #20AF80; }

.wg-vehicle-info .div-park-time {
  color: #FF0000; }

.wg-vehicle-info .div-idle-time {
  color: #FF0000; }

/* Measurement */
.measurement-icon-function {
  /*background-color:#2b2b2b;*/
  background-color: #FFFFFF; }

.list-function {
  height: 40px;
  width: calc(100% - 30px);
  box-sizing: border-box;
  border-bottom: 2px solid #A3A5A8;
  margin-left: 15px; }

.measurement-btn-container {
  width: calc(33.33% - 50px);
  height: calc(100% - 1px);
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  /*box-sizing: border-box;*/ }

.label-measurement {
  padding-top: 10px;
  width: 100%;
  padding-left: 30px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  height: 180px; }

.measurement-icon {
  cursor: pointer;
  width: 100%;
  height: 100%; }

.measurement-icon svg {
  display: block;
  margin: auto;
  width: 35px;
  height: 35px; }

.measurement-icon svg .cls-1 {
  fill: #A3A5A8; }

.measurement-btn-container.active {
  border-bottom: 4px solid #20AF80 !important; }

.measurement-btn-container.active .measurement-icon svg .cls-1 {
  fill: #20AF80 !important; }

.custom-line-list {
  border-top: none;
  border-bottom: 1px solid #A3A5A8; }

.view-on-map-general-info, .view-on-map-pin-info {
  font-family: "DB-Regular";
  font-size: 18px;
  margin: 10px; }

.view-on-map-vehicleName {
  font-weight: bold;
  font-size: 24px; }

.view-on-map-info-header {
  color: #1dc793; }

.view-on-map-pinitem > img {
  width: 18px;
  height: 26px;
  margin-right: 10px; }

.view-on-map-pinitem > span {
  position: relative;
  bottom: 10px; }
