/* Font Setting */
/* Safari, Android, iOS */
/* Safari, Android, iOS */
/* Safari, Android, iOS */
/* Color Setting */
/* Font Family Creator */
body, html {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto; }

div.page {
  /*width:calc(100%);
    height:calc(100%);*/
  width: 700px; }

div.page:first-child {
  width: calc(100%);
  height: calc(100%); }

#divMap {
  width: 700px;
  height: 600px;
  position: relative !important;
  /*margin:0 auto;*/
  border: 1px solid black;
  box-sizing: border-box; }

@media print {
  body, html {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    overflow-x: hidden;
    overflow-y: auto; }
  div.page {
    page-break-after: always; }
  div.page:first-child {
    page-break-before: always; }
  #divMap {
    width: 700px;
    height: 600px;
    position: relative !important;
    margin: 0 auto;
    border: 1px solid #1C211A;
    box-sizing: border-box; }
  table {
    page-break-inside: auto;
    box-sizing: border-box; }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
    box-sizing: border-box; } }

#divDist {
  float: left;
  width: calc(50%);
  box-sizing: border-box;
  padding-left: 10px;
  font-family: "DB-Regular";
  font-size: 20px; }

#divTime {
  text-align: right;
  float: left;
  width: calc(50%);
  box-sizing: border-box;
  font-family: "DB-Regular";
  font-size: 20px; }

#divTable {
  clear: both; }

.div-details {
  width: 100%; }

table {
  border-collapse: collapse;
  width: 700px;
  /*margin:0 auto;*/ }

tr, td, th {
  border: 1px solid #1C211A;
  box-sizing: border-box; }

th {
  font-family: "DB-Bold";
  font-size: 24px; }

td.td-order {
  text-align: center;
  font-family: "DB-Regular";
  font-size: 20px; }

td.td-direction {
  padding-left: 5px;
  box-sizing: border-box;
  font-family: "DB-Regular";
  font-size: 20px; }
