﻿<gisc-ui-component>

        <!--operator-->
        <gisc-ui-label params="for:'txtAssetsOperator', isRequired:true, text:i18n('Assets_Operator')"/>
        <gisc-ui-textbox params="id:'txtAssetsOperator', value: operator"/>

        <!--promotion-->
        <gisc-ui-label params="for:'txtAssetsPromotion', isRequired:true, text:i18n('Assets_Promotion')"/>
        <gisc-ui-textbox params="id:'txtAssetsPromotion', value: promotion"/>

         <!--startDate-->
        <gisc-ui-label params="for:'dtAssetsStartDate', isRequired:true, text:i18n('Assets_StartDate')"/>
        <gisc-ui-datetime params=" id:'dtAssetsStartDate',
                                   value:startDate, 
                                   mode:'date', 
                                   maxDate:endDate,
                                   dateFormat: dateFormat" />

         <!--endDate-->
        <gisc-ui-label params="for:'dtAssetsEndDate', isRequired:true, text:i18n('Assets_EndDate')"/>
        <gisc-ui-datetime params="id:'dtAssetsEndDate',
                                  value:endDate, 
                                  mode:'date', 
                                  minDate:startDate,
                                  dateFormat: dateFormat" />

        <!--APN-->
        <gisc-ui-label params="for:'txtAssetsAPN', isRequired:true, text:i18n('Assets_APN')"/>
        <gisc-ui-textbox params="id:'txtAssetsAPN', value: apn"/>

        <!--APN Username-->
        <gisc-ui-label params="for:'txtAssetsAPNUsername', text:i18n('Assets_APNUsername')"/>
        <gisc-ui-textbox params="id:'txtAssetsAPNUsername', value: apnUsername"/>

        <!--APN Password-->
        <gisc-ui-label params="for:'txtAssetsAPNPassword', text:i18n('Assets_APNPassword')"/>
        <gisc-ui-textbox params="id:'txtAssetsAPNPassword', value: apnPassword"/>
</gisc-ui-component>
