﻿.content-info {
    /*height:10em;*/
    border-bottom:1px solid #808080;
    border-top:1px solid #808080;
    position:relative;
    padding-bottom:10px;
}

.divLocation {
    margin-top:5px;
    width:95%;
    margin-left:auto;
}

.info {
    margin-top: 10px;
    /* width: 95%; */
    margin-left: 15px;
    padding-right: 45px;
}

.favorite-icon {
    /* margin-top: 1em; */
    /* float: right; */
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.favorite-icon svg .cls-1{fill:#20af80;}
.favorite-icon svg .cls-2{fill:#fff;}

.favorite-icon:hover {
    cursor:pointer;    
}

.info {
    font-family:'DB-Regular';
}