﻿.wg-polygon-editor {
    width: 100%;
    height: 100%;
}

.wg-polygon-editor .global-widget-content {
    width: 100%;
    height: calc(100% - 80px);
}

.wg-polygon-editor .drawing-control {
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    width:250px;
    height:35px;
}

.wg-polygon-editor .div-btn {
    cursor:pointer;
    width:50px;
    height:35px;
    /*border-left:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;*/
    box-sizing:border-box;
    float:left;
    /*background-color:#acacac;*/
    padding-right:10px;

    text-align:center;
    display:table-cell;
    vertical-align:middle;
}

    .wg-polygon-editor .div-btn svg {
        display:table-cell;
        width:35px;
        height:35px;
    }

/*.wg-polygon-editor .div-btn:active svg .cls-1 {
    
    background-color:rgba(50,59,58,1);
}*/

.wg-polygon-editor .div-btn:last-child {
    
    /*border-right:1px solid black;*/
}

.wg-polygon-editor .div-btn.finish-drawing {
    background-image:url(../../images/menu/tool.png);
    background-size: 30px 30px;
    background-position:center center;
    background-repeat:no-repeat;
}
.wg-polygon-editor .div-btn.delete-drawing {
    background-image:url(../../images/menu/tool.png);
    background-size: 30px 30px;
    background-position:center center;
    background-repeat:no-repeat;
}
.wg-polygon-editor .div-btn.undo-drawing {
    background-image:url(../../images/menu/tool.png);
    background-size: 30px 30px;
    background-position:center center;
    background-repeat:no-repeat;
}
.wg-polygon-editor .div-btn.redo-drawing {
    background-image:url(../../images/menu/tool.png);
    background-size: 30px 30px;
    background-position:center center;
    background-repeat:no-repeat;
}
.wg-polygon-editor .div-btn.start-drawing {
    background-image:url(../../images/menu/tool.png);
    background-size: 30px 30px;
    background-position:center center;
    background-repeat:no-repeat;
}

 .wg-polygon-editor svg .cls-1 {
    /*color:#888;*/
    fill:#20af80;
}

.wg-polygon-editor svg .cls-2 {
    /*color:#888;*/
    fill:#fff;
}

.wg-polygon-editor .disabled-btn svg .cls-1 {
    /*color:#888;*/
    fill:#58595b !important;
}

.wg-polygon-editor .div-point-collection
{
    margin-left:10px;
    width:calc(100% - 20px);
    height:calc(100% - 70px - 40px - 100px - 20px - 50px);
    /*border:1px solid black;*/
    box-sizing:border-box;
    overflow-y:auto;
    overflow-x:hidden;
    border-left:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
}

.wg-polygon-editor .div-point-collection-item {
    cursor:default;
    width:100%;
    height:50px;
    color:#000;
    font-family:DB-Regular;
    font-size:20px;
    line-height:50px;
    text-indent:10px;
    border-right:1px solid black;
    border-top:1px solid black;
    /*border-left:1px solid black;*/
    box-sizing:border-box;
}

.wg-polygon-editor .div-point-collection-item:last-child {
    border-bottom:1px solid black;
}

.wg-polygon-editor .div-point-collection-item-header
{
    width:calc(100% - 20px);
    height:50px;
    background-color:rgba(50,59,58,1);
    color:#fff;
    font-family:DB-Bold;
    font-size:20px;
    line-height:50px;
    text-indent:10px;
    border:0 none;
    margin-left:10px;
}
.wg-polygon-editor .div-point-collection-item-header::after {
    content:"Points";
}

.wg-polygon-editor .div-polygon-meta-data {
    margin-top:10px;
    width:100%;
    height:100px;
    box-sizing:border-box;
}

.wg-polygon-editor .div-polygon-meta-data div {
    width:100%;
    height:25px;
    text-indent:10px;
    font-family:DB-Regular;
    line-height:25px;
    font-size:18px;
    cursor:default;
}

.wg-polygon-editor .div-polygon-meta-data div.bold {
    font-family:DB-Bold;
}

.wg-polygon-editor .div-button-control {
    margin-left:10px;
    margin-top:10px;
    width:100%;
    height:30px;
    box-sizing:border-box;
}

.wg-polygon-editor .div-btn-container:last-child .div-btn {
    /*border-right:1px solid black;*/
}

.wg-polygon-editor .tooltip {
    background-color: #fff;
    border-radius: 4px;
    color: #808080;
    padding: 6px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    z-index: 1;
    top: -31px;
    left: -50px;
    font-family: 'DB-Regular';
    font-size: 16px;
}


.wg-polygon-editor .tooltip::after {
    content: " ";
    position: absolute;
    top: calc(100% + 4px);
    left: 16px;
    margin-top: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.div-btn-container {
    position:relative;
    display: inline;
}

.div-btn-container:hover .tooltip {
   visibility: visible;
}