﻿.wg-vehicle-info .global-widget-header {
    height:100px;
}

.wg-vehicle-info .text {
    font-family: 'DB-Regular';
    font-size: 20px;
    color:#323b3a;
}

.wg-vehicle-info .div-text-container {
    padding-left:10px;
    box-sizing:border-box;
    border-bottom:1px solid #000;
    height:auto;
}

.div-time-container {
    height:40px;
    width:100%;
}

.wg-vehicle-info .div-department {
    color:#20af80;
}

.wg-vehicle-info .div-driver-name {

}

.wg-vehicle-info .div-location {
}

.wg-vehicle-info .div-date {
    color:#20af80;
}

.wg-vehicle-info .div-park-time {
    width:50%;
    color:red;
    float:left;
    line-height:40px;
}

.wg-vehicle-info .div-idle-time {
    width:50%;
    color:red;
    float:left;
    line-height:40px;
}