<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Use Label for displaying label associated with other controls.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>enable</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>text</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>isRequired</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>isHtmlEncode</code></td>
                        <td>No</td>
                        <td>Yes</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>for</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>type</code></td>
                        <td>No</td>
                        <td>field</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>text</code> Display text.</li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>enable</code> Flag to determine whether this control is enabled or not. If set to false the control is not interactable.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                        <li><code>isHtmlEncode</code> Flag to determine whether this control support html in text or not.</li>
                        <li><code>isRequired</code> Flag to determine whether this control render <code>*</code> as indicator the associated field is required.</li>
                        <li><code>for</code> Specify the associated control's <code>id</code>, once set user able to click on Label to focus on associated controls. </li>
                        <li><code>type</code> Default type is <code>field</code> which is main label and set to <code>group</code> when needed to be a sub label.</li>

                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;gisc-ui-label params="text: 'Static Label Not Required'"/&gt;</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text: 'Static Label Not Required'"/>
                </div>
            </section>
            <section id="exp2">
                <h3>Set <code>isRequired</code></h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;gisc-ui-label params="text: 'Static Label Required', isRequired: true"/&gt;</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text: 'Static Label Required', isRequired:true"/>
                </div>
            </section>

            <section id="exp3">
                <h3>Set <code>type</code></h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;gisc-ui-label params="text: 'Static Label Required', type:'group'"/&gt;</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text: 'Using for group layout styles', type:'group'"/>
                </div>
            </section>

            <section id="exp4">
                <h3>Set <code>isHtmlEncode</code></h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;gisc-ui-label params="text: 'KM&lt;sup&gt;2&lt;/sup&gt;', isHtmlEncode: false" /&gt;</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text: 'KM<sup>2</sup>', isHtmlEncode: false" />
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>