﻿<gisc-ui-component>
    <gisc-ui-listview params="selectedIndex: selectedIndex, onItemSelected:goto.bind($data)">
        <item params="text: i18n('Report_OverspeedMonth'), extras: { id: 'cw-report-standard-overspeedmonth'}" />
        <item params="text: i18n('Report_Overspeed'), extras: { id: 'cw-report-standard-overspeed'}" />
        <item params="text: i18n('Report_OverspeedMinute'), extras: { id: 'cw-report-standard-overspeedminute'}" />
        <item params="text: i18n('Report_ParkingEngine'), extras: { id: 'cw-report-standard-parkingengine'}" />
        <item params="text: i18n('Report_General'), extras: { id: 'cw-report-standard-general'}" />
        <item params="text: i18n('Report_Delinquent'), extras: { id: 'cw-report-standard-delinquent'}" />
    </gisc-ui-listview>
</gisc-ui-component>