<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>ReportViewer is Telerik's Reporting integration, which used for display generated report.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>serviceUrl</code></td>
                        <td>Yes</td>
                        <td></td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>reportSource</code></td>
                        <td>Yes</td>
                        <td>Object</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li><strong>Required Parameters</strong>
                    <ul>
                        <li><code>serviceUrl</code> report server endpoint.</li>
                        <li><code>reportSource</code> report reference option which contains below properties.
                            <ul>
                                <li><code>report</code> Full report class reference for example Telerik.Reporting.Examples.CSharp.Choropleth.PopulationDensity,CSharp.ReportLibrary</li>
                                <li><code>parameters</code> Report parameter if no parameter please use empty class {}.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-reportviewer params=&quot;serviceUrl: reportUrl, reportSource: reportSource&quot; &#x2F;&gt;</code></pre>
                <pre><code class="hljs js">// View Model
class ReportViewerHelpScreen extends ScreenBase {
    constructor(params) {
        super(params);

        this.bladeTitle(this.i18n("Report Viewer")());
        this.bladeSize = BladeSize.Large;

        this.reportUrl = "http://localhost:40067/api/reports/";
        this.reportSource = {
            report: 'Telerik.Reporting.Examples.CSharp.Choropleth.PopulationDensity,CSharp.ReportLibrary',
            parameters: {}
        };
    }
}</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <div style="display:flex; flex-direction: column; width: 100%; height: 300px; position: relative;">
                        <gisc-ui-reportviewer params="serviceUrl: reportUrl, reportSource: reportSource" />
                    </div>
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>