﻿
<gisc-ui-component>
    <!--<gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelecting:_selectingRowHandler.bind($data)">
        <item params="text: i18n('Email Log'), extras: { id: 'bo-report-email-log'}" />
        <item params="text: i18n('DLT Report'), extras: { id: 'bo-report-dlt-report-search'}" />
    </gisc-ui-listview>-->
    <gisc-ui-listview params="
        datasource: items,
        dataTextfield: 'text',
        selectedIndex: selectedIndex,
        onItemSelecting:_selectingRowHandler.bind($data)" />
</gisc-ui-component>