﻿<gisc-ui-component>
     <!-- Name -->
     <gisc-ui-label params="for: 'txtName', text:i18n('Technician_Name'), isRequired:true"/>
     <gisc-ui-textbox params="id: 'txtName', value:name"></gisc-ui-textbox> 
 
     <!-- Description -->
     <gisc-ui-label params="for: 'txtDescription', text:i18n('Common_Description')" />
     <gisc-ui-textarea params="id: 'txtDescription', value:description"></gisc-ui-textarea>
 
     <!-- Enable -->
     <gisc-ui-label params="for: 'ddEnable', text:i18n('Common_Enable'), isRequired:true"/>
     <gisc-ui-dropdown params="id: 'ddEnable', options:enableOptions, optionsText:'title', value:enableSelected"></gisc-ui-dropdown>

     <!-- Team Leader -->
     <gisc-ui-label params="for: 'ddTeamLeader', text:i18n('Technician_Team_Leader'), isRequired:true"/>
     <gisc-ui-dropdown params="id: 'ddTeamLeader', options:teamLeaderOptions, optionsText:'name',optionsCaption:' ', value:teamLeader"></gisc-ui-dropdown>

     
     <!-- Accessible Company -->

      
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="for: 'bo-user-accessible-users',text: i18n('User_AccessibleUsers'),isRequired:true"></gisc-ui-label>
        </div>

        <!-- <div class="field-table-content">
           
            <gisc-ui-datatable params="
                id: 'bo-user-accessible-users',
                ordering: true,
                datasource: accessibleUsers,
                columns: [
                    { type: 'label', title: 'i18n:Common_AccessibleCompaniesName', data: 'userName', orderable: false },
                    { type: 'label', title: 'i18n:Common_AccessibleCompaniesName', data: 'userName', visible: false }
                ],
                order: order,
                rowId: 'userId',
                removable: { visible: 'canManage' }
                " />
        </div> -->

        <div class="field-table-content">
           
            <gisc-ui-datatable params="
                id: 'bo-user-accessible-users',
                ordering: true,
                datasource: accessibleUsers,
                columns: [
                    { type: 'label', title: 'i18n:Common_AccessibleCompaniesName', data: 'name', orderable: false },
                    { type: 'label', title: 'i18n:Common_AccessibleCompaniesName', data: 'name', visible: false }
                ],
                order: order,
                rowId: 'id',
                removable: { visible: 'canManage' }
                " />
        </div>

        <span data-bind="validationMessage: accessibleUsers" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addAccessibleUsers">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>
    


 
 
    
</gisc-ui-component>