<gisc-ui-component params="codeHighlight:true">
    <article>
        <section>
            <div class="output">
                <gisc-ui-datatable params="
                    id: 'advance-datatable', 
                    datasource: items,
                    columns: [
                        { type: 'label', title: 'ชื่อ', data: 'name', searchable: true, orderable: true, className: 'test-custom-cell' },
                        { type: 'textbox', title: 'ตำแหน่ง', data: 'position', orderable: false },
                        { type: 'label', title: 'อายุ', data: 'age' },
                        { type: 'checkbox', title: 'ลงทะเบียนแล้ว', data: 'isRegistered', enable: 'enable', redrawOnDataChange: false },
                        { type: 'custom', title: 'custom', data: 'isRegistered', render: renderCustomColumn }
                    ],
                    order: order,
                    rowId: 'tempId',
                    removable: true,
                    selectable: true,
                    selectedRow: selectedItem,
                    showFilter: true,
                    filter: searchText,
                    filterPlaceholder: 'ค้นหาด้วยชื่อ',
                    onDataSourceChanged: itemsChanged,
                    onSelectingRow: _selectingRowHandler,
                    recentChangedRowIds: recentChangedRowIds
                    " />
                <div class="more-features">
                    <gisc-ui-button params="text: 'Add New Item', onclick: addNewItem.bind($data)"></gisc-ui-button>
                    <gisc-ui-button params="text: 'Refresh', onclick: refreshTable.bind($data)"></gisc-ui-button>
                    <gisc-ui-button params="text: 'Refresh with new DataSet', onclick: refreshTableWithNewDataSet.bind($data)"></gisc-ui-button>
                </div>
            </div>
        </section>
    </article>
    <article class="markup-container sdk-body">
        <section>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-datatable params=&quot;
    id: &#x27;advance-datatable&#x27;, 
    datasource: items,
    columns: [
        { type: &#x27;label&#x27;, title: &#x27;ID&#x27;, data: &#x27;id&#x27;, visible: false },
        { type: &#x27;label&#x27;, title: &#x27;ชื่อ&#x27;, data: &#x27;name&#x27;, searchable: true },
        { type: &#x27;textbox&#x27;, title: &#x27;ตำแหน่ง&#x27;, data: &#x27;position&#x27;, orderable: false },
        { type: &#x27;label&#x27;, title: &#x27;อายุ&#x27;, data: &#x27;age&#x27; },
        { type: &#x27;checkbox&#x27;, title: &#x27;ลงทะเบียนแล้ว&#x27;, data: &#x27;isRegistered&#x27;, redrawOnDataChange: false },
        { type: &#x27;custom&#x27;, title: &#x27;custom&#x27;, data: &#x27;isRegistered&#x27;, render: renderCustomColumn }
    ],
    order: order,
    rowId: &#x27;tempId&#x27;,
    removable: true,
    selectable: true,
    selectedRow: selectedItem,
    showFilter: true,
    filter: searchText,
    filterPlaceholder: &#x27;ค้นหาด้วยชื่อ&#x27;,
    onDataSourceChanged: itemsChanged,
    onSelectingRow: _selectingRowHandler,
    recentChangedRowIds: recentChangedRowIds
    &quot; &#x2F;&gt;
&lt;div class=&quot;more-features&quot;&gt;
    &lt;gisc-ui-button params=&quot;text: &#x27;Add New Item&#x27;, onclick: addNewItem.bind($data)&quot;&gt;&lt;&#x2F;gisc-ui-button&gt;
&lt;&#x2F;div&gt;
            </code></pre>
            <pre><code class="hljs js">// View Model
this.items = ko.observableArray([
    { id: 1, tempId: 4, name: "Victor", position: "Software Engineer", age: 22, isRegistered: true },
    { id: 2, tempId: 5, name: "Tiger", position: "System Architect", age: 33, isRegistered: false },
    { id: 3, tempId: 6, name: "Satou", position: "Accountant", age: 31, isRegistered: false }
]);

// To preserve state when journey is inactive.
this.selectedItem = ko.observable(); 
this.searchText = ko.observable("");
this.order = ko.observable([[ 0, "asc" ]]);

// Observe changes in DataTable.selectedRow 
this.selectedItem.subscribe(function(newValue) {
    console.log("Change selected row: ", newValue);
});

// Determine if selecting action is legal, return false to cancel selecting event.
this._selectingRowHandler = (user) => {
    // Test ignore second row
    if(user && (user.id !== 2)) {
        return self.navigate("datatableEndPoint", { 
            previousScreenName: self.bladeTitle(),
            person: user 
        });
    }
    return false;
};

this.renderCustomColumn = (data, type, row) => {
    if(data) {
        return 'Yes';
    }
    return 'No';
};

// Observe changes in datasource when changed come from EditableColumns
this.itemsChanged = (newValue) => { 
    console.log("adv.js: itemsChanged: ", newValue);
}

// Set recent change rows
this.recentChangedRowIds = ko.observableArray([4]);</code></pre>
        </section>
    </article>
</gisc-ui-component>