<gisc-ui-component>
    <gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelected:goto.bind($data)">
        <item params="text: 'README', extras: { id: 'datatableReadme'}" />
        <item params="text: 'API', extras: { id: 'datatableAPI'}" />
        <item params="text: 'Simple Example', extras: { id: 'datatableSimple'}" />
        <item params="text: 'Advance Example', extras: { id: 'datatableAdvance'}" />
        <item params="text: 'Other Columns', extras: { id: 'datatableOthers'}" />
        <item params="text: 'Using Row Selector', extras: { id: 'datatableRowSelector'}" />
        <item params="text: 'Using only DataTable Style', extras: { id: 'datatableStyle'}" />
        <item params="text: 'Experimental', extras: { id: 'datatableEXP'}" />
    </gisc-ui-listview>
</gisc-ui-component>