<gisc-ui-component params="codeHighlight:true">
    <style>
        input[type=text].sm-text-input {
            width: 15px;
        }
    </style>
    <article>
        <section>
            <table class="gisc-ui-datatable">
                <thead>
                    <tr>
                        <th>Alert Configuration</th>
                        <th>F</th>
                        <th>D</th>
                        <th>C</th>
                        <th>B</th>
                        <th>A</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Overspeed</td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                    </tr>
                    <tr>
                        <td>Harsh Braking</td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                    </tr>
                    <tr>
                        <td>Rapid Accelerator</td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                        <td>
                            <input type="text" class="sm-text-input" /> - <input type="text" class="sm-text-input" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>
    <article class="markup-container sdk-body">
        <section style="margin-top: 30px;">
            <p>Demonstrate how to apply <code>gisc-ui-datatable</code> style to html table, by use css class 
            <code>gisc-ui-datatable</code> on target table.</p>

            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;table class=&quot;gisc-ui-datatable&quot;&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Alert Configuration&lt;&#x2F;th&gt;
            &lt;th&gt;F&lt;&#x2F;th&gt;
            &lt;th&gt;D&lt;&#x2F;th&gt;
            &lt;th&gt;C&lt;&#x2F;th&gt;
            &lt;th&gt;B&lt;&#x2F;th&gt;
            &lt;th&gt;A&lt;&#x2F;th&gt;
        &lt;&#x2F;tr&gt;
    &lt;&#x2F;thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;Overspeed&lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
        &lt;&#x2F;tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Harsh Braking&lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
        &lt;&#x2F;tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Rapid Accelerator&lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
            &lt;td&gt;
                &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt; - &lt;input type=&quot;text&quot; class=&quot;sm-text-input&quot; &#x2F;&gt;
            &lt;&#x2F;td&gt;
        &lt;&#x2F;tr&gt;
    &lt;&#x2F;tbody&gt;
&lt;&#x2F;table&gt;</code></pre>
        </section>
    </article>
</gisc-ui-component>