<gisc-ui-component params="viewModel: $data">
    <p>Previous screen is: <strong data-bind="text: previousScreenName"></strong></p>
    <div data-bind="template: { name: 'person-template', data: person }"></div>


</gisc-ui-component>

<script type="text/html" id="person-template">
    <h3 data-bind="text: name"></h3>
    
    <p>ID: <span data-bind="text: id"></span></p>
    <p>Name: <span data-bind="text: name"></span></p>
    <p>Position: <span data-bind="text: position"></span></p>
    <p>Age: <span data-bind="text: age"></span></p>
    
</script>