<gisc-ui-component params="codeHighlight:true">
    <article>
        <section class="markup-container sdk-body" style="padding: 15px 10px 0;">
            <div class="boxed-group">
                <h3>Choose Datasource Size</h3>
                <div class="boxed-group-inner">
                    <div class="form-group">
                        <label for="dszInput">No of Records</label>
                        <input type="text" id="dszInput" placeholder="100" class="form-control" data-bind="value: dsSize" />
                    </div>
                </div>
            </div>
        </section>
        <section>
            <gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelected:goto.bind($data)">
                <item params="text: 'EXP: Load More (Client)', extras: { id: 'datatableLoadMore'}" />
                <item params="text: 'EXP: Load More (Server)', extras: { id: 'datatableServerside'}" />
            </gisc-ui-listview>
        </section>
    </article>
</gisc-ui-component>