<gisc-ui-component params="codeHighlight:true">
    <article>
        <section>
            <h4>Single Row Selector</h4>
            <div class="output">
                <gisc-ui-datatable params="
                    datasource: items,
                    columns: [
                        { type: 'label', title: 'ชื่อ', data: 'name', searchable: true },
                        { type: 'label', title: 'ตำแหน่ง', data: 'position' },
                        { type: 'label', title: 'อายุ', data: 'age' }
                    ],
                    order: order,
                    rowId: 'id',
                    showRowSelector: true,
                    rowSelectorType: 'single',
                    selectedRows: selectedItems
                    " />
            </div>
            <h4>Multiple Row Selector</h4>
            <div class="output">
                <gisc-ui-datatable params="
                    datasource: items,
                    columns: [
                        { type: 'label', title: 'ชื่อ', data: 'name', searchable: true },
                        { type: 'label', title: 'ตำแหน่ง', data: 'position' },
                        { type: 'label', title: 'อายุ', data: 'age' }
                    ],
                    order: order,
                    rowId: 'id',
                    showRowSelector: true,
                    rowSelectorType: 'multiple',
                    selectedRows: selectedItems
                    " />
            </div>
        </section>
    </article>
    <article class="markup-container sdk-body">
        <section>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;!-- Single --&gt;
&lt;gisc-ui-datatable params=&quot;
    datasource: items,
    columns: [
        { type: &#x27;label&#x27;, title: &#x27;ชื่อ&#x27;, data: &#x27;name&#x27;, searchable: true },
        { type: &#x27;label&#x27;, title: &#x27;ตำแหน่ง&#x27;, data: &#x27;position&#x27; },
        { type: &#x27;label&#x27;, title: &#x27;อายุ&#x27;, data: &#x27;age&#x27; }
    ],
    order: order,
    rowId: &#x27;id&#x27;,
    showRowSelector: true,
    rowSelectorType: &#x27;single&#x27;,
    selectedRows: selectedItems
    &quot; &#x2F;&gt;
&lt;!-- Multiple --&gt;
&lt;gisc-ui-datatable params=&quot;
    datasource: items,
    columns: [
        { type: &#x27;label&#x27;, title: &#x27;ชื่อ&#x27;, data: &#x27;name&#x27;, searchable: true },
        { type: &#x27;label&#x27;, title: &#x27;ตำแหน่ง&#x27;, data: &#x27;position&#x27; },
        { type: &#x27;label&#x27;, title: &#x27;อายุ&#x27;, data: &#x27;age&#x27; }
    ],
    order: order,
    rowId: &#x27;id&#x27;,
    showRowSelector: true,
    selectedRows: selectedItems
    &quot; &#x2F;&gt;</code></pre>
            <pre><code class="hljs js">// View Model
this.items = ko.observableArray([
    { id: 1, name: "Victor", position: "Software Engineer", age: 22 },
    { id: 2, name: "Tiger", position: "System Architect", age: 33 },
    { id: 3, name: "Satou", position: "Accountant", age: 31 }
]);

this.selectedItems = ko.observableArray([]);
this.order = ko.observable([[ 0, "asc" ]]);

this.selectedItems.subscribe(function(value) {
    console.log(this.selectedItems());
}.bind(this));
            </code></pre>
        </section>
    </article>
</gisc-ui-component>