<gisc-ui-component params="codeHighlight:true">
    <article>
        <section>
            <div class="output">
                <gisc-ui-datatable params="
                    datasource: items,
                    columns: [
                        { type: 'label', title: 'ชื่อ', data: 'name', searchable: true },
                        { type: 'label', title: 'ตำแหน่ง', data: 'position' },
                        { type: 'label', title: 'อายุ', data: 'age' }
                    ],
                    order: order
                    " />
            </div>
        </section>
    </article>
    <article class="markup-container sdk-body">
        <section>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-datatable params=&quot;
    datasource: items,
    columns: [
        { type: &#x27;label&#x27;, title: &#x27;ชื่อ&#x27;, data: &#x27;name&#x27;, searchable: true },
        { type: &#x27;label&#x27;, title: &#x27;ตำแหน่ง&#x27;, data: &#x27;position&#x27; },
        { type: &#x27;label&#x27;, title: &#x27;อายุ&#x27;, data: &#x27;age&#x27; }
    ]
    &quot; &#x2F;&gt;
            </code></pre>
            <pre><code class="hljs js">// View Model
this.items = ko.observableArray([
    { id: 1, name: "Victor", position: "Software Engineer", age: 22 },
    { id: 2, name: "Tiger", position: "System Architect", age: 33 },
    { id: 3, name: "Satou", position: "Accountant", age: 31 }
]);</code></pre>
        </section>
    </article>
</gisc-ui-component>