﻿<gisc-ui-component>
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Assets_Destination')"></h3>   

        <!--Company-->
        <gisc-ui-label params="for: 'ddlCompany', text:i18n('Common_Company'), isRequired: true" />
        <gisc-ui-dropdown params="id: 'ddlCompany',
            options: companyOptions,
            optionsText: 'name',
            optionsCaption: '',
            value: company
            ">
        </gisc-ui-dropdown>

        <!--Business Unit-->
        <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Common_BusinessUnit'), isRequired: true" />
        <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                                options: businessUnitOptions,
                                optionsID: 'id',
                                optionsText: 'name',
                                optionsParent: 'parentBusinessUnitId',
                                optionsChildren: 'childBusinessUnits',
                                value: businessUnit" />

    </section>
    <section>
        <h3 class="gisc-section-header" data-bind="text: i18n('Assets_AvailableBoxes')"></h3>   

        <gisc-ui-datatable params="
            datasource: availableBoxes,
            columns: [
                { type: 'label',title: 'i18n:Assets_SerialNo', data: 'serialNo', searchable: true },
                { type: 'label',title: 'i18n:Assets_Stock', data: 'boxStockName' }
            ],
            order: order,
            rowId: 'id',
            showRowSelector: true,
            selectedRows: selectedBoxes,
            showFilter: true,
            filter: filterText,
            filterPlaceholder: 'i18n:PHSearchBy003'
            " />
        <span data-bind="validationMessage: selectedBoxes" class="ko-block-msg-err"></span>
    </section>
</gisc-ui-component>