﻿<gisc-ui-component>
    <!--Date Time-->
    <gisc-ui-label params="for:'dtDateTime', isRequired:true, text:i18n('Assets_DateTime')"/>
    <gisc-ui-datetime params="id:'dtDateTime', 
                              value:dateTime,
                              dateFormat: dateFormat,
                              timeFormat: timeFormat"/>

    <!--Description-->
    <gisc-ui-label params="for:'txtDescription', isRequired:true, text:i18n('Common_Description')"/>
    <gisc-ui-textarea params="id:'txtDescription', value: description"/>

    <!--Author-->
    <gisc-ui-label params="for:'txtAuthor', isRequired:true, text:i18n('Assets_Author')"/>
    <gisc-ui-textbox params="id:'txtAuthor', value: author"/>
</gisc-ui-component>