﻿<gisc-ui-component>
    <!--Date Time-->
    <gisc-ui-label params="text: i18n('Assets_DateTime'), isRequired: true" />
    <gisc-ui-field params="value: formatDateTime" />

    <!--Description-->
    <gisc-ui-label params="text: i18n('Common_Description'), isRequired: true" />
    <gisc-ui-field params="value: description" />

    <!--Author-->
    <gisc-ui-label params="text: i18n('Assets_Author'), isRequired: true" />
    <gisc-ui-field params="value: author" />
</gisc-ui-component>