﻿<gisc-ui-component>
    <span class="hidden" data-bind="text: boxId"></span>
    <gisc-ui-datatable params="
        id: 'dtCABoxMaintenanceList',
        datasource: boxMaintenances,
        columns: [
            { type: 'label', title: 'i18n:Assets_DateTime', data: 'formatDateTime', orderData: 1 },
            { type: 'label', data: 'dateTime', visible: false },
            { type: 'label',title: 'i18n:Common_Description', data: 'description', orderable: false, className: 'dt-body-text-preserve' },
            { type: 'label',title: 'i18n:Assets_Author', data: 'author' }
        ],
        order: order,
        rowId: 'id',
        selectable: true,
        selectedRow: selectedBoxMaintenance,
        onSelectingRow: _selectingRowHandler, 
        recentChangedRowIds: recentChangedRowIds,
        retainSelectedRowAfterReplaceDataSource: true
        " />
</gisc-ui-component>