﻿<gisc-ui-component>
    <!--Vendor-->
    <gisc-ui-label params="for: 'ddlVendor', text:i18n('Assets_Vendor')" />
    <gisc-ui-dropdown params="id: 'ddlVendor',
        options: vendorOptions,
        optionsText: 'name',
        optionsCaption: '',
        value: vendor
        ">
    </gisc-ui-dropdown>

    <!--Business Unit-->
    <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Common_BusinessUnit')" />
    <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
        options: businessUnitOptions,
        optionsID: 'id',
        optionsText: 'name',
        optionsParent: 'parentBusinessUnitId',
        optionsChildren: 'childBusinessUnits',
        value: businessUnitId
        " />
    <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked: includeSubBusinessUnit, enable: includeSubBusinessUnitEnable" />
    <!--Status-->
    <gisc-ui-label params="for: 'ddlStatus', text:i18n('Common_Status')" />
    <gisc-ui-dropdown params="id: 'ddlStatus',
        options: statusOptions,
        optionsText: 'displayName',
        optionsCaption: '',
        value: status
        ">
    </gisc-ui-dropdown>

    <!--Template-->
    <gisc-ui-label params="for: 'ddlTemplate', text:i18n('Assets_Template')" />
    <gisc-ui-dropdown params="id: 'ddlTemplate',
        options: templateOptions,
        optionsText: 'name',
        optionsCaption: '',
        value: template
        ">
    </gisc-ui-dropdown>

    <!--Is For Rent-->
    <gisc-ui-label params="for: 'ddlIsForRent', text:i18n('Assets_IsForRent')" />
    <gisc-ui-dropdown params="id: 'ddlIsForRent',
        options: isForRentOptions,
        optionsText: 'title',
        optionsCaption: '',
        value: isForRent
        ">
    </gisc-ui-dropdown>
</gisc-ui-component>