﻿<gisc-ui-component>
    <!-- IMEI -->
    <gisc-ui-label params="text: i18n('Assets_IMEI')"></gisc-ui-label>
    <gisc-ui-field params="value: imei"></gisc-ui-field>

    <!--Serial No.-->
    <gisc-ui-label params="text: i18n('Assets_SerialNo')"></gisc-ui-label>
    <gisc-ui-field params="value: serialNo"></gisc-ui-field>

    <!--Vendor-->
    <gisc-ui-label params="text: i18n('Assets_Vendor')"></gisc-ui-label>
    <gisc-ui-field params="value: vendor"></gisc-ui-field>

    <!--Is For Rent-->
    <gisc-ui-label params="text: i18n('Assets_IsForRent')"></gisc-ui-label>
    <gisc-ui-field params="value: isForRent"></gisc-ui-field>

    <!--Business Unit-->
    <gisc-ui-label params="text: i18n('Common_BusinessUnit')"></gisc-ui-label>
    <gisc-ui-field params="value: businessUnit"></gisc-ui-field>

    <!--Status-->
    <gisc-ui-label params="text: i18n('Common_Status')"></gisc-ui-label>
    <gisc-ui-field params="value: status"></gisc-ui-field>

    <!--Installed Date/Time-->
    <div data-bind="visible: installedDateTimeVisible">
        <gisc-ui-label params="text: i18n('Assets_InstalledDateTime')"></gisc-ui-label>
        <gisc-ui-field params="value: installedDateTime"></gisc-ui-field>
    </div>

    <!--Track Interval-->
    <gisc-ui-label params="text: i18n('Assets_TrackInterval')"></gisc-ui-label>
    <gisc-ui-field params="value: trackInterval"></gisc-ui-field>

    <!--Adjust Temperature-->
    <gisc-ui-label params="text:i18n('Assets_AdjustTemperature')"/>
    <gisc-ui-field params="value: adjustTemperature"></gisc-ui-field>

    <!--Calculate Distance by Mileage-->
    <gisc-ui-label params="text:i18n('Assets_CalculateDistanceByMileage')" />
    <gisc-ui-field params="value: isCalculateDistanceByMileage"></gisc-ui-field>

    <!--MultiPath-->
    <gisc-ui-label params="text: i18n('Assets_MultiPath')" />
    <gisc-ui-field params="value: enableMultipath" />

    <!--Template-->
    <gisc-ui-label params="text: i18n('Assets_Template')"></gisc-ui-label>
    <gisc-ui-field params="value: template"></gisc-ui-field>

    <!--Input Events-->
    <gisc-ui-label params="text: i18n('Assets_InputEvents')"></gisc-ui-label>
    <gisc-ui-datatable params="
        ordering: false,
        datasource: inputEvents,
        columns: [
            { type: 'label', title: i18n('Assets_Event')(), data: 'event' },
            { type: 'label', title: i18n('Common_Feature')(), data: 'featureName' },
            { type: 'label', title: i18n('Assets_Notes')(), data: 'note' }
        ],
        rowId: 'id',
        readonly: true
        " />

    <!--Output Events-->
    <gisc-ui-label params="text: i18n('Assets_OutputEvents')"></gisc-ui-label>
    <gisc-ui-datatable params="
        ordering: false,
        datasource: outputEvents,
        columns: [
            { type: 'label', title: i18n('Assets_Event')(), data: 'event' },
            { type: 'label', title: i18n('Common_Feature')(), data: 'featureName' },
            { type: 'label', title: i18n('Assets_Notes')(), data: 'note' }
        ],
        rowId: 'id',
        readonly: true
        " />

    <!--Input Accessories-->
    <gisc-ui-label params="text: i18n('Assets_InputAccessories')"></gisc-ui-label>
    <gisc-ui-datatable params=" 
        ordering: false,
        datasource: inputAccessories,
        columns: [
            { type: 'label', title: i18n('Assets_Event')(), data: 'event' },
            { type: 'label', title: i18n('Common_Feature')(), data: 'featureName' },
            { type: 'label', title: i18n('Assets_Notes')(), data: 'note' }
        ],
        rowId: 'id',
        readonly: true
        " />

    <!--Output Accessories-->
    <gisc-ui-label params="text: i18n('Assets_OutputAccessories')"></gisc-ui-label>
    <gisc-ui-datatable params="
        ordering: false,
        datasource: outputAccessories,
        columns: [
            { type: 'label', title: i18n('Assets_Event')(), data: 'event' },
            { type: 'label', title: i18n('Common_Feature')(), data: 'featureName' },
            { type: 'label', title: i18n('Assets_Notes')(), data: 'note' }
        ],
        rowId: 'id',
        readonly: true
        " />
</gisc-ui-component>