﻿<gisc-ui-component>
    <!-- Language -->
    <gisc-ui-label params="for: 'ddLanguage', text: i18n('Common_Language'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddLanguage',
                              options: languages,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedLanguage"></gisc-ui-dropdown>
</gisc-ui-component>