﻿<gisc-ui-component>
    <!-- Language -->
    <gisc-ui-label params="for: 'ddLanguageList', text: i18n('Common_Language'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddLanguageList',
                              options: languages,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: selectedLanguage"></gisc-ui-dropdown>

    <!-- Category -->
    <gisc-ui-label params="for: 'ddCategoryList', text: i18n('Configurations_Category'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddCategoryList',
                              options: categories,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: selectedCategory"></gisc-ui-dropdown>
    <!-- Find Button -->                     
    <gisc-ui-button params="text: i18n('Common_Find'), onclick: onFindButtonClick.bind($data)"/>

    <gisc-ui-datatable data-bind="visible: showDataTable()" params="
        id: 'dtTranslationList',
        datasource: stringResources,
        columns: [
            { type: 'label', title: 'i18n:Configurations_Key', data: 'resourceKey', searchable: true },
            { type: 'label', title: 'i18n:Configurations_DefaultLanguage', data: 'defaultLanguageValue', searchable: true },
            { type: 'label', title: 'i18n:Configurations_TranslatedLanguage', data: 'translatedLanguageValue', searchable: true  }
        ],
        order: order,
        rowId: 'id',
        selectable: false,
        showFilter: true,
        filter: filterText,
        filterPlaceholder: 'i18n:PHSearchBy008',
        loadMore: true
        " />

</gisc-ui-component>