﻿<gisc-ui-component>
    <!-- Code -->
    <gisc-ui-label params="for:'txtShmCategoryCode', text:i18n('ShipmentCategory_Code'), isRequired:true" />
    <gisc-ui-field params="value: code"></gisc-ui-field>

    <!-- Name -->
    <gisc-ui-label params="for:'txtShmCategoryName', text:i18n('ShipmentCategory_Name'), isRequired:true" />
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!-- Enable Category -->
    <gisc-ui-label params="for: 'ddShmCategoryEnable', text:i18n('ShipmentCategory_Enable'), isRequired:true" />
    <gisc-ui-field params="value: enableJobCate"></gisc-ui-field>


    <!-- Accessible Business Units -->
    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('User_AccessibleBusinessUnits'), isRequired: true"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
            so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="id:'cw-shipment-category-accessible-view' ,
                               ordering: true,
                               datasource: accessibleBusinessUnits,
                               columns: [
                               { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'name'  , orderable: false },
                               { type: 'label' , title: 'i18n:User_AccessibleBusinessUnitsName' , data: 'name' , visible: false }
                               ],
                               rowId: 'id' ,
                               order: orderAccessibleBusinessUnits
                               " />
        </div>
    </div>

    <!-- Description -->
    <gisc-ui-label params="for:'txtShmCategoryName', text:i18n('ShipmentCategory_Description')" />
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!-- Update Date -->
    <gisc-ui-label params="for:'txtShmCategoryName', text:i18n('Common_LastUpdatedDate')" />
    <gisc-ui-field params="value: updateDate"></gisc-ui-field>

    <!-- Update By -->
    <gisc-ui-label params="for:'txtShmCategoryName', text:i18n('Common_LastUpdatedBy')" />
    <gisc-ui-field params="value: updateBy"></gisc-ui-field>


</gisc-ui-component>