﻿<gisc-ui-component>

 <!--Business Unit-->
 <gisc-ui-label params="for: 'ddlBusinessUnitIdDefaultDriver', text: i18n('Common_BusinessUnit')" />
 <gisc-ui-dropdowntree params="id: 'ddlBusinessUnitIdDefaultDriver',
     options: businessUnitOptions,
     optionsID: 'id',
     optionsText: 'displayText',
     optionsParent: 'parentBusinessUnitId',
     optionsChildren: 'childBusinessUnits',
     value: businessUnitId,
     enable: enableDropdown" />

    <!--Driver-->
    <gisc-ui-label params="for: 'ddlDriver', text: i18n('Common_Driver')" />
    <gisc-ui-dropdown params="id: 'ddlDriver', 
        options: driverOptions, 
        optionsText: 'displayText', 
        optionsCaption: '',
        value: defaultDriver,
        enable: enableDropdown ">
    </gisc-ui-dropdown>

    <!--Co-Driver 1-->
    <gisc-ui-label params="for: 'ddlCoDriver1', text: i18n('Assets_CoDriver1')" />
    <gisc-ui-dropdown params="id: 'ddlCoDriver1', 
        options: driverOptions, 
        optionsText: 'displayText', 
        optionsCaption: '',
        value: coDriver1,
        enable: enableDropdown">
    </gisc-ui-dropdown>

    <!--Co-Driver 2-->
    <gisc-ui-label params="for: 'ddlCoDriver2', text: i18n('Assets_CoDriver2')" />
    <gisc-ui-dropdown params="id: 'ddlCoDriver2', 
        options: driverOptions, 
        optionsText: 'displayText', 
        optionsCaption: '',
        value: coDriver2,
        enable: enableDropdown">
    </gisc-ui-dropdown>
</gisc-ui-component>