﻿<gisc-ui-component>
    <!-- DMS Model-->
    <gisc-ui-label params="for: 'ddDMSModel', text: i18n('Assets_DMSModel')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddDMSModel',
                                    options: dmsModelOptions,
                                    optionsText: 'model',
                                    optionsCaption: '',
                                    value: selectedDMSModel" />
    <!-- DMS Device-->
    <gisc-ui-label params="for: 'ddDMSDevice', text: i18n('Assets_ReferenceID')"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddDMSDevice',
                                    options: dmsDeviceOptions,
                                    optionsText: 'referenceId',
                                    optionsCaption: '',
                                    value: selectedDMSDevice" />

</gisc-ui-component>