﻿<gisc-ui-component>

    <!--Maintanace Type-->
    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Maintenance_Type'), isRequired: true" />
    <gisc-ui-field params="value: maintenanceTypeName" />

    <!--Maintanace SubType-->
    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Maintenance_SubType'), isRequired: true" />
    <gisc-ui-field params="value: maintenanceSubTypeName" />

    <!--Title-->
    <gisc-ui-label params="text: i18n('Assets_MaintanancePlanTitle'), isRequired: true" />
    <gisc-ui-field params="value: title" />

    <!--Description-->
    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-field params="value: description" />

    <!--Maintenance Date-->
    <gisc-ui-label params="text: i18n('Common_MaintenanceDate')" />
    <gisc-ui-field params="value: formatMaintenanceDate" />

    <!--Reminder before Maintenance Date (day)-->
    <gisc-ui-label params="text: i18n('Common_ReminderBeforeMaintenanceDate')" />
    <gisc-ui-field params="value: dayRemind" />

    <!--Remaining Day before Maintenance Date (day)-->
    <gisc-ui-label params="text: i18n('Common_RemainingDayBeforeMaintenanceDate')" />
    <gisc-ui-field params="value: remainingMaintenanceDay" />

    <!--Current Distance (Distance Unit)-->
    <gisc-ui-label params="text: i18n('Common_CurrentDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: displayCurrentDistance" />

    <!--Maintenance Distance (Distance Unit)-->
    <gisc-ui-label params="text: i18n('Common_MaintenanceDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: maintenanceDistance" />

    <!--Reminder before Maintenance Distance (Distance Unit)-->
    <gisc-ui-label params="text: i18n('Common_ReminderBeforeMaintenanceDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: distanceRemind" />

    <!--Remaining Distance before Maintenance Distance (Distance Unit)-->
    <gisc-ui-label params="text: i18n('Common_RemainingDistanceBeforeMaintenanceDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: remainingDistance" />

    <!--Estimate Cost (Currency)-->
    <gisc-ui-label params="text: i18n('Common_EstimateCost', [currency()])" />
    <gisc-ui-field params="value: estimateCost" />

    <!--Alert Via-->
    <gisc-ui-label params="text: i18n('Common_AlertVia')" />
    <gisc-ui-field params="value: formatAlertVia" />

    <!--Status-->
    <gisc-ui-label params="text: i18n('Common_Status')" />
    <gisc-ui-field params="value: maintenanceStatusDisplayName" />

  

    <!--ko ifnot: isCompleted -->
    <!--Remark-->
    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Remark')" />
    <gisc-ui-field params="value: remark" />

    <!--ko ifnot: isCancelled -->




    <gisc-ui-datatable params="datasource:items
                       ,columns: [
                       { type:'label' ,title:'i18n:Vehicle_MA_ViewMA_CheckList', data: 'listName',orderable: false },
                       { type: 'checkbox',data:'status',id:'id', redrawOnDataChange: true,orderable: false } ],
                       selectable: true,
                       onDataSourceChanged: itemsChanged,
                       selectedRows: selectedItems,                   
                        rowId: 'id',
                        ordering:false" />
    <gisc-ui-checkbox params="text:i18n('Common_CheckAll'), checked:isChecked" />

    <!--title:'i18n:Vehicle_MA_ViewMA_CheckList'-->

    <!-- /ko -->

    <!-- /ko -->


    <!--ko if: isCancelled -->
    <!--ko ifnot: haveRows -->
    <gisc-ui-datatable params="datasource:items
                       ,columns: [
                       { type:'label' ,title:'i18n:Vehicle_MA_ViewMA_CheckList', data: 'listName' ,orderable: false },
                       { type: 'checkbox',data:'status',id:'id', redrawOnDataChange: true, enable: 'cancel' } ],
                       selectable: true,
                       onDataSourceChanged: itemsChanged,
                       selectedRows: selectedItems,
                        rowId: 'id',
                        ordering:false" />
    <!-- /ko -->

    <!-- /ko -->


        <!--{ type:'label' , title:'Position' , data:'position' },-->
        <div data-bind="visible: isCompleted">


           <!--ko ifnot:  isPending -->
            <!--Perform By-->
            <gisc-ui-label params="text: i18n('Assets_PerformBy')" />
            <gisc-ui-field params="value: performBy" />

            <!--Actual Date-->
            <gisc-ui-label params="text: i18n('Assets_ActualDate')" />
            <gisc-ui-field params="value: formatActualDate" />

            <!--Actual Distance (Distance Unit)-->
            <gisc-ui-label params="text: i18n('Assets_ActualDistance', [distanceUnit()])" />
            <gisc-ui-field params="value: actualDistance" />

            <!--Actual Cost (Currency)-->
            <gisc-ui-label params="text: i18n('Assets_ActualCost', [currency()])" />
            <gisc-ui-field params="value: actualCost" />

            <!-- Remark-->
            <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Remark')" />
            <gisc-ui-field params="value: remark" />

            <!-- /ko -->
            <!--Table Checklist-->
            <!--ko ifnot: haveRows -->
            <gisc-ui-datatable params="datasource:tblChecklist
                       ,columns: [
                       { type:'label' ,title:'i18n:Vehicle_MA_ViewMA_CheckList', data: 'ListName' }
                       ],
                       ordering:false"/>
            <!-- /ko -->
        </div>
</gisc-ui-component>