﻿<gisc-ui-component>
    <!--Maintenance Type-->
    <gisc-ui-label params="for: 'ddMaintenanceType', text: i18n('Vehicle_MA_Common_Maintenance_Type'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMaintenanceType',
                              options: maintenanceType,
                              optionsText: 'name',
                              optionsCaption: '',
                              visible: shouldDisplayDDL,
                              value: maType"></gisc-ui-dropdown>

    <gisc-ui-field params="value: maTypeUpdateText, visible: shouldDisplayMATypeLabel"></gisc-ui-field>

    <!--Maintenance Subtype-->
    <gisc-ui-label params="for: 'ddMaintenanceSubtype', text: i18n('Vehicle_MA_Common_Maintenance_SubType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMaintenanceSubtype',
                              options: maintenanceSubtype,
                              optionsText: 'name',
                              optionsCaption: '',
                              visible: shouldDisplayDDL,
                              value: maSubType"></gisc-ui-dropdown>
    <gisc-ui-field params="value: maSubTypeUpdateText, visible: shouldDisplayMATypeLabel"></gisc-ui-field>

    <!--Title-->
    <gisc-ui-label params="for: 'txtTitle', text: i18n('Assets_MaintanancePlanTitle'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtTitle', value: title" />
    
    <!--Description-->
    <gisc-ui-label params="for: 'txtDescription', text: i18n('Common_Description')" />
    <gisc-ui-textarea params="id: 'txtDescription', value: description" />

    <!--Maintenance Date-->
    <gisc-ui-label params="for:'dtMaintenanceDate', text:i18n('Common_MaintenanceDate')"/>
    <gisc-ui-datetime params="id:'dtMaintenanceDate', 
                              value: maintenanceDate,
                              mode: 'date',
                              minDate: allowedDate,
                              dateFormat: dateFormat" />

    <!--Reminder before Maintenance Date (day)-->
    <gisc-ui-label params="for: 'txtDayRemind', text: i18n('Common_ReminderBeforeMaintenanceDate')" />
    <gisc-ui-textbox params="id: 'txtDayRemind', value: dayRemind, filter: { type: 'numeric', numericType: 'int', min: 1 }" />

    <!--Current Distance (Distance Unit)-->
    <gisc-ui-label params="text: i18n('Common_CurrentDistance', [distanceUnit()])" />
    <gisc-ui-field params="value: displayCurrentDistance" />

    <!--Maintenance Distance (Distance Unit)-->
    <gisc-ui-label params="for: 'txtMaintenanceDistance', text: i18n('Common_MaintenanceDistance', [distanceUnit()])" />
    <gisc-ui-tooltip params="text: i18n('I010')" />
    <gisc-ui-textbox params="id: 'txtMaintenanceDistance', value: maintenanceDistance, filter: { type: 'numeric', numericType: 'int', min: 1 ,max: 9999999 }" />

    <!--Reminder before Maintenance Distance (Distance Unit)-->
    <gisc-ui-label params="for: 'txtDistanceRemind', text: i18n('Common_ReminderBeforeMaintenanceDistance', [distanceUnit()])" />
    <gisc-ui-textbox params="id: 'txtDistanceRemind', value: distanceRemind, filter: { type: 'numeric', numericType: 'int', min: 1 }" />

    <!--Estimate Cost (Currency)-->
    <gisc-ui-label params="for: 'txtEstimateCost', text: i18n('Common_EstimateCost', [currency()])" />
    <gisc-ui-textbox params="id: 'txtEstimateCost', value: estimateCost, filter: { type: 'numeric', numericType: 'float', min: 0, maxDecimalPlaces: 2 }" />

    <!--Alert Via-->
    <gisc-ui-label params="text: i18n('Common_AlertVia')" />
    <gisc-ui-checkbox params="text:i18n('Common_Website'), checked: enableWebsiteAlert"></gisc-ui-checkbox>
    <gisc-ui-checkbox params="text:i18n('Common_Email'), checked: enableEmailAlert"></gisc-ui-checkbox>
    <gisc-ui-checkbox params="text:i18n('Common_SMS'), checked: enableSmsAlert"></gisc-ui-checkbox>
</gisc-ui-component>