﻿<gisc-ui-component>
    <gisc-ui-label params="for:'remark', text: i18n('Vehicle_MA_Common_Remark'),isRequired:true"></gisc-ui-label>
    <gisc-ui-textarea params="id:'remark', value:remark,maxlength:1000"></gisc-ui-textarea>
</gisc-ui-component>