﻿<gisc-ui-component>
    <section>
        <!--Picture-->
        <gisc-ui-label params="text: i18n('Common_Picture')" />
        <gisc-ui-tooltip params="text: i18n('I018')"></gisc-ui-tooltip>
        <div class="app-img-wrap app-multiple-img-wrap">
            <div class="app-img-manage-wrap">
                <img data-bind="attr: { src: image0Url, alt: '' }" />
                <div class="file-upload-name" data-bind="visible: image0RemoveIconVisible">
                    <span data-bind="text: image0FileName"></span>
                    <span class="close" data-bind="click: onRemoveFile.bind($data, 0)">
                         <!-- ko component: 'svg-blade-close' -->
                        <!-- /ko -->
                    </span>
                </div>
            </div>
            <div class="app-img-manage-wrap">
                <img data-bind="attr: { src: image1Url, alt: '' }" />
                <div class="file-upload-name" data-bind="visible: image1RemoveIconVisible">
                    <span data-bind="text: image1FileName"></span>
                    <span class="close" data-bind="click: onRemoveFile.bind($data, 1)">
                        <!-- ko component: 'svg-blade-close' -->
                        <!-- /ko -->
                    </span>
                </div>
            </div>
            <div class="app-img-manage-wrap">
                <img data-bind="attr: { src: image2Url, alt: '' }" />
                <div class="file-upload-name" data-bind="visible: image2RemoveIconVisible">
                    <span data-bind="text: image2FileName"></span>
                    <span class="close" data-bind="click: onRemoveFile.bind($data, 2)">
                        <!-- ko component: 'svg-blade-close' -->
                        <!-- /ko -->
                    </span>
                </div>
            </div>
            <div class="app-img-manage-wrap">
                <img data-bind="attr: { src: image3Url, alt: '' }" />
                <div class="file-upload-name" data-bind="visible: image3RemoveIconVisible">
                    <span data-bind="text: image3FileName"></span>
                    <span class="close" data-bind="click: onRemoveFile.bind($data, 3)">
                         <!-- ko component: 'svg-blade-close' -->
                        <!-- /ko -->
                    </span>
                </div>
            </div>
            
            <gisc-ui-fileupload params="
                fileNameVisible: false,
                enable: imageSelectedFileEnable,
                selectedFile: imageSelectedFile,
                accept: imageMimeType,
                onBeforeUpload: onBeforeUpload.bind($data),
                onUploadSuccess: onUploadSuccess.bind($data),
                onUploadFail: onUploadFail.bind($data)
                " />
        </div>

        <!--Type-->
        <gisc-ui-label params="for: 'ddlType', text: i18n('Assets_Type'), isRequired: true" />
        <gisc-ui-dropdown params="id: 'ddlType', 
            options: typeOptions, 
            optionsText: 'displayText', 
            optionsCaption: '',
            value: type">
        </gisc-ui-dropdown>

        <!--ERM Vehicle Type-->
        <gisc-ui-label params="for: 'ermType', text: i18n('Assets_ERMVehicleType')" />
        <gisc-ui-dropdown params="id: 'ermType', 
            options: ermTypeOptions, 
            optionsText: 'displayText', 
            optionsCaption: '',
            value: ermType">
        </gisc-ui-dropdown>

        <!--Model-->
        <gisc-ui-label params="for: 'ddlModel', text: i18n('Common_VehicleModel'), isRequired: true" />
        <gisc-ui-dropdown params="id: 'ddlModel', 
            options: modelOptions, 
            optionsText: 'displayText', 
            optionsCaption: '',
            value: model">
        </gisc-ui-dropdown>

        <!--Icon-->
        <gisc-ui-label params="for: 'cboIcon', text: i18n('Common_Icon'), isRequired: true" />
        <gisc-ui-image-combobox params="id: 'cboIcon',
            options: iconOptions,
            value: icon">
        </gisc-ui-image-combobox>

        <!--Business Unit-->
        <gisc-ui-label params="for: 'ddlBusinessUnitId', text: i18n('Common_BusinessUnit'), isRequired: true" />
        <gisc-ui-dropdowntree params="id: 'ddlBusinessUnitId',
            options: businessUnitOptions,
            optionsID: 'id',
            optionsText: 'displayText',
            optionsParent: 'parentBusinessUnitId',
            optionsChildren: 'childBusinessUnits',
            value: businessUnitId" />

        <!--Enable-->
        <gisc-ui-label params="for: 'ddlEnable', text: i18n('Common_Enable'), isRequired: true" />
        <gisc-ui-dropdown params="id: 'ddlEnable', 
            options: enableOptions, 
            optionsText: 'title', 
            optionsCaption: '',
            value: enable">
        </gisc-ui-dropdown>

        <!--Category-->
        <div data-bind="visible: categoryVisible" >
            <gisc-ui-label params="for: 'ddlCategory', text: i18n('Assets_Category')" />
            <gisc-ui-dropdown params="id: 'ddlCategory',
                options: CategoryOptions,
                optionsText: 'name',
                optionsCaption: '',
                value: Category">
            </gisc-ui-dropdown>
        </div>

        <!--FleetType-->
        <div data-bind="visible: fleetTypeVisible" >
            <gisc-ui-label params="for: 'ddFleetType', text: i18n('Assets_FleetType')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddFleetType',
                                    options: fleetTypeOptions,
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    value: fleetType" />
        </div>


        <!--Chassis No.-->
        <gisc-ui-label params="for: 'txtChassisNo', text: i18n('Assets_ChassisNo')" />
        <gisc-ui-textbox params="id: 'txtChassisNo', value: chassisNo, maxlength: 20" />

        <!--Seat-->
        <div data-bind="visible: isNotTrail">    
            <gisc-ui-label params="for: 'txtSeat', text: i18n('Assets_Seat')" />
            <gisc-ui-textbox params="id: 'txtSeat', value: seat, filter: { type: 'numeric', numericType: 'int', min: 1 },maxlength: 7" />
        </div>

        <!--Volume-->
        <gisc-ui-label params="for: 'txtVolume', text: i18n('Assets_Volume', [volumeUnit()])" />
        <gisc-ui-textbox params="id: 'txtVolume', value: volume, filter: { type: 'numeric', numericType: 'float', min: 0.01, maxDecimalPlaces: 2 },maxlength: 7" />

        <!--Description-->
        <gisc-ui-label params="for: 'txtDescription', text: i18n('Common_Description')" />
        <gisc-ui-textarea params="id: 'txtDescription', value: description" />

        <!--Reference No.-->
        <gisc-ui-label params="for: 'txtReferenceNo', text: i18n('Common_ReferenceNo')" />
        <gisc-ui-textbox params="id: 'txtReferenceNo', value: referenceNo, maxlength: 20" />

        <!--Fuel Rate-->
        <div data-bind="visible: isNotTrail">
            <gisc-ui-label params="for: 'txtFuelRate', text: i18n('Assets_FuelRate')" />
            <gisc-ui-textbox params="id: 'txtFuelRate', value: fuelRate, filter: { type: 'numeric', numericType: 'float', min: 0.01, maxDecimalPlaces: 2 },maxlength: 7" />
        </div>

        <!--Stop Duration-->
        <gisc-ui-label params="for: 'txtStopDuration', text: i18n('Assets_StopDuration'), isRequired: true" />
        <gisc-ui-textbox params="id: 'txtStopDuration', value: stopDuration, filter: { type: 'numeric', numericType: 'int', min: 1 },maxlength: 7" />

        <!--Registered Type-->
        <div data-bind="visible: registeredTypeVisible">
            <gisc-ui-label params="for: 'ddlRegisteredType', text: i18n('Assets_RegisteredType')" />
            <gisc-ui-dropdown params="id: 'ddlRegisteredType', 
                options: registeredTypeOptions, 
                optionsText: 'displayText', 
                optionsCaption: '',
                value: registeredType">
            </gisc-ui-dropdown>
        </div>

        <!--Trail-->
        <div data-bind="visible: isTrailer">
            <gisc-ui-label params="for: 'ddlTrail', text: i18n('Assets_Trail')" />
            <gisc-ui-dropdown params="id: 'ddlTrail', 
                options: trailOptions, 
                optionsText: 'displayText', 
                optionsCaption: '',
                value: trail">
            </gisc-ui-dropdown>
        </div>

        <!--Over Speed Delay-->
        <gisc-ui-label params="for: 'txtOverSpeedDelay', text: i18n('Assets_OverSpeedDelay'), isRequired: true" />
        <gisc-ui-textbox params="id: 'txtOverSpeedDelay', value: overSpeedDelay, filter: { type: 'numeric', numericType: 'int', min: 0 },maxlength: 7" />

        <!--Park Engine On Limit-->
        <gisc-ui-label params="for: 'txtParkEngineOnLimit', text: i18n('Assets_ParkEngineOnLimit')" />
        <gisc-ui-textbox params="id: 'txtParkEngineOnLimit', value: parkEngineOnLimit, filter: { type: 'numeric', numericType: 'int', min: 1 },maxlength: 7" />

        <!--Default Over Speed Limit (km./hr.)-->
        <gisc-ui-label params="for: 'txtDefaultOverSpeedLimit', text: i18n('Assets_DefaultOverSpeedLimit')" />
        <gisc-ui-textbox params="id: 'txtDefaultOverSpeedLimit', value: defaultOverSpeedLimit, filter: { type: 'numeric', numericType: 'float', min: 0.01, maxDecimalPlaces: 2 },maxlength: 7" />
        
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <gisc-ui-label params="for:'dateInstall' ,text: i18n('Assets_InstalledDate')" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <gisc-ui-datetime params="id:'dateInstall' ,value:installDate ,mode:'date',maxDate:maxDate ,dateFormat:'dd/MM/yyyy'" />
                    </div>
                    <div class="col-5" style="padding-left: 5px;">
                        <div class="app-textBox-wrapper">
                            <input type="time" data-bind="value:installTime, attr: { id:id, class:'app-input'} ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <gisc-ui-label params="for: 'ddlDcCustomPOI', text: i18n('Assets_DC_Custom_POI')" />
            <gisc-ui-dropdown params="id: 'ddlDcCustomPOI', 
                options: optionDcCustomPOIs, 
                optionsText: 'name', 
                optionsCaption: '',
                value: dcCustomPOI">
            </gisc-ui-dropdown>

        <gisc-ui-label params="for: 'ddlMDVRModel', text: i18n('Assets_Mdvr_Models')" />
            <gisc-ui-dropdown params="id: 'ddlMDVRModel', 
                options: optionMDVRModels, 
                optionsText: 'model', 
                optionsCaption: '',
                value: mdvrModel">
            </gisc-ui-dropdown>

            <gisc-ui-label params="for: 'ddlMDVRDeviceId', text: i18n('Assets_Mdvr_Device_Id')" />
            <gisc-ui-dropdown params="id: 'ddlMDVRDeviceId', 
                options: optionMDVRs, 
                optionsText: 'deviceId', 
                optionsCaption: '',
                value: mdvrDeviceId">
            </gisc-ui-dropdown>

        <!--DMS-->
	    <div class="field-wrapper">
		    <div class="field-table-title">
			    <gisc-ui-label params="for: 'txtDescDMS', text: i18n('Assets_DMS') " />
		    </div>
		    <div class="field-table-content">
			    <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
			    so we need to add duplicate hidden column and use that column to apply default order instead. -->
			    <gisc-ui-datatable params="
                    id: 'ca-assets-dms-manage',
                    ordering: true,
                    datasource: dmsItem,
                    columns: [
                        { type: 'label', title: 'i18n:Assets_DMSModel', data: 'dmsModelName',orderable: false},
                        { type: 'label', title: 'i18n:Assets_DMSModel', data: 'dmsModelName',visible: false},
                        { type: 'label', title: 'i18n:Assets_ReferenceID', data: 'referenceId',orderable: false},
                        { type: 'label', title: 'i18n:Assets_ReferenceID', data: 'referenceId',visible: false}
                    ],
                    rowId: 'rowId',
                    order: orderDms,
                    removable: true,
                    selectable: true,
                    onSelectingRow: _selectingRowHandler,
                    recentChangedRowIds: recentChangedRowIds
                    " />
		    </div>
		    <!--<span data-bind="validationMessage: driverCard" class="ko-block-msg-err"></span>-->
		    <div class="field-table-commands">
			    <a class="inline-cmd" data-bind="click: addDms">
				    <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
			    </a>
		    </div>
	    </div>

        <!--ADAS-->
	    <div class="field-wrapper">
		    <div class="field-table-title">
			    <gisc-ui-label params="for: 'txtDescADAS', text: i18n('Assets_ADAS') " />
		    </div>
		    <div class="field-table-content">
			    <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
			    so we need to add duplicate hidden column and use that column to apply default order instead. -->
			    <gisc-ui-datatable params="
                    id: 'ca-assets-adas-manage',
                    ordering: true,
                    datasource: adsItem,
                    columns: [
                        { type: 'label', title: 'i18n:Assets_ADASModel', data: 'adasModelName',orderable: false},
                        { type: 'label', title: 'i18n:Assets_ADASModel', data: 'adasModelName',visible: false},
                        { type: 'label', title: 'i18n:Assets_DeviceID', data: 'deviceId',orderable: false},
                        { type: 'label', title: 'i18n:Assets_DeviceID', data: 'deviceId',visible: false}
                    ],
                    rowId: 'rowId',
                    order: orderAds,
                    removable: true,
                    selectable: true,
                    onSelectingRow: _selectingRowAdsHandler,
                    recentChangedRowIds: recentChangedRowAdsIds
                    " />
		    </div>
		    <!--<span data-bind="validationMessage: driverCard" class="ko-block-msg-err"></span>-->
		    <div class="field-table-commands">
			    <a class="inline-cmd" data-bind="click: addAds">
				    <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
			    </a>
		    </div>
	    </div>

    </section>
    <!--Sub Menu-->
    <section>
        <ul id="sub-menu-items" class="gisc-ui-listview gisc-ui-listview-bordered">
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 1), css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-link-inherit" title="Subscriptions" href="#">
                            <span data-bind="text: i18n('Assets_LicenseDetails')"></span><span class='gisc-ui-required'>*</span>
                            <span data-bind="validationMessage: license" class="ko-block-msg-err"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li data-bind="visible: isNotTrail">
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 2), css: { 'selected': selectedSubMenuItem() == 2 }" class="gisc-ui-link-inherit" title="Contacts" href="#">
                            <span data-bind="text: i18n('Assets_DefaultDrivers')"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 2 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 3), css: { 'selected': selectedSubMenuItem() == 3 }" class="gisc-ui-link-inherit" title="Regional" href="#">
                            <span data-bind="text: i18n('Common_Alerts')"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 3 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="gisc-ui-button">
                    <div class="gisc-ui-button-text">
                        <a data-bind="click: onSelectSubMenuItem.bind($data, 4), css: { 'selected': selectedSubMenuItem() == 4 }" class="gisc-ui-link-inherit" title="Regional" href="#">
                            <span data-bind="text: i18n('Common_InverseSensors')"></span>
                            <i data-bind="css: { 'selected': selectedSubMenuItem() == 4 }" class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --><!-- /ko --></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</gisc-ui-component>