<gisc-ui-component>
    <!-- Odometer Fixing Value -->
    <gisc-ui-label params="text: i18n('Assets_OdometerFixingValue')" />
    <gisc-ui-tooltip params="text:i18n('I044')" />

    <!-- System Calculation -->
    <div class="row">
        <div class="col-5">
            <gisc-ui-radio params="text:i18n('Assets_SystemCalculation'), value: false, checked:isFixVal" />
        </div>
        <div class="col-7" style="padding-left: 0">
            <span>
                <!-- <gisc-ui-label params="text: valSystem" /> -->
                <div data-bind="text: valSystem"></div>
            </span>
        </div>
    </div>

    <!-- Manual -->
    <div class="row">
        <div class="col-5">
            <gisc-ui-radio params="text:i18n('Assets_Manual'), value: true, checked:isFixVal" />
        </div>
        <div class="col-7" style="padding-left: 0">
            <div style="width: 100%">
                <div style="width: 30%; float: left;">
                    <gisc-ui-textbox params="id: 'txtValManual', value: valManual, filter:{type :'numeric', numericType:'float',max:999.99,maxDecimalPlaces:2}
                                                                ,enable: isEnableManual" />
                </div>
                <div style="width: 65%;float: right;">
                    <span>%</span>
                </div>
            </div>

        </div>
    </div>

    <gisc-ui-datatable params="
            id: 'dtChangeHistory',
            datasource: changeHistoryItems,
            columns: [
                { type: 'label',title: 'i18n:Assets_ChangeDateTime', data: 'formatUpdateDate', searchable: true , width: '100px'},
                { type: 'label',title: 'i18n:Assets_Mode', data: 'mode', orderData: 2 },
                { type: 'label',title: 'i18n:Assets_NewValueFixing', data: 'formatFixingValue' },
                { type: 'label',title: 'i18n:Assets_Gps_Devices_Update_By', data: 'updateBy' },
                { type: 'label',title: 'i18n:Assets_ProcessDateTime', data: 'formatActivateDate' }
            ],  
            ordering: false" />

</gisc-ui-component>