﻿<gisc-ui-component>
    <!--Picture-->
    <gisc-ui-label params="text: i18n('Common_Picture')"></gisc-ui-label>
    <div class="app-img-wrap" data-bind="visible: images().length > 0 ,foreach: images">
        <div class="app-img-manage-wrap">
            <img data-bind="attr: { src: fileUrl }" />
            <div class="file-upload-name">
                <span data-bind="text: fileName"></span>
            </div>
        </div>
    </div>
    <gisc-ui-field params="visible: images().length == 0"></gisc-ui-field>

    <!--Type-->
    <gisc-ui-label params="text: i18n('Assets_Type'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: typeDisplayName"></gisc-ui-field>

    <!--ERM Vehicle Type-->
    <gisc-ui-label params="text: i18n('Assets_ERMVehicleType')"></gisc-ui-label>
    <gisc-ui-field params="value: ermTypeDisplayName"></gisc-ui-field>

    <!--Model-->
    <gisc-ui-label params="text: i18n('Common_VehicleModel'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: model"></gisc-ui-field>

    <!--Icon-->
    <gisc-ui-label params="text: i18n('Common_Icon'), isRequired: true"></gisc-ui-label>
    <div class="app-img-wrap">
        <div class="app-img-manage-wrap">
            <img data-bind="attr: { src: icon }" />
        </div>
    </div>

    <!--Business Unit-->
    <gisc-ui-label params="text: i18n('Common_BusinessUnit'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: businessUnit"></gisc-ui-field>

    <!--Enable-->
    <gisc-ui-label params="text: i18n('Common_Enable'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: enable"></gisc-ui-field>

    <!--Category-->
    <gisc-ui-label params="text: i18n('Assets_Category')"></gisc-ui-label>
    <gisc-ui-field params="value: category"></gisc-ui-field>

    <!--Category-->
    <gisc-ui-label params="text: i18n('Assets_FleetType')"></gisc-ui-label>
    <gisc-ui-field params="value: fleetType"></gisc-ui-field>

    <!--Chassis No.-->
    <gisc-ui-label params="text: i18n('Assets_ChassisNo')"></gisc-ui-label>
    <gisc-ui-field params="value: chassisNo"></gisc-ui-field>
    
    <!--Seat-->
    <div data-bind="visible: isNotTrail">
        <gisc-ui-label params="text: i18n('Assets_Seat')"></gisc-ui-label>
        <gisc-ui-field params="value: seat"></gisc-ui-field>
    </div>

    <!--Volume-->
    <gisc-ui-label params="text: i18n('Assets_Volume', [volumeUnit()])"></gisc-ui-label>
    <gisc-ui-field params="value: volume"></gisc-ui-field>

    <!--Description-->
    <gisc-ui-label params="text: i18n('Common_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!--Reference No.-->
    <gisc-ui-label params="text: i18n('Common_ReferenceNo')"></gisc-ui-label>
    <gisc-ui-field params="value: referenceNo"></gisc-ui-field>

    <!--Stop Duration-->
    <gisc-ui-label params="text: i18n('Assets_StopDuration'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: stopDuration"></gisc-ui-field>

    <!--Fuel Rate-->
    <div data-bind="visible: isNotTrail">
        <gisc-ui-label params="text: i18n('Assets_FuelRate')"></gisc-ui-label>
        <gisc-ui-field params="value: fuelRate"></gisc-ui-field>
    </div>

    <!--Registered Type-->
    <div data-bind="visible: registeredTypeVisible">
        <gisc-ui-label params="text: i18n('Assets_RegisteredType')"></gisc-ui-label>
        <gisc-ui-field params="value: registeredType"></gisc-ui-field>
    </div>

    <!--Trail-->
    <div data-bind="visible: isTrailer">
        <gisc-ui-label params="text: i18n('Assets_Trail')"></gisc-ui-label>
        <gisc-ui-field params="value: trail"></gisc-ui-field>
    </div>

    <!--Over Speed Delay-->
    <gisc-ui-label params="text: i18n('Assets_OverSpeedDelay'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: overSpeedDelay"></gisc-ui-field>

    <!--Park Engine On Limit-->
    <gisc-ui-label params="text: i18n('Assets_ParkEngineOnLimit')"></gisc-ui-label>
    <gisc-ui-field params="value: parkEngineOnLimit"></gisc-ui-field>

    <!--Default Over Speed Limit (km./hr.)-->
    <gisc-ui-label params="text: i18n('Assets_DefaultOverSpeedLimit')"></gisc-ui-label>
    <gisc-ui-field params="value: defaultOverSpeedLimit"></gisc-ui-field>

    <!-- Install Date -->
    <gisc-ui-label params="text: i18n('Assets_InstalledDate')"></gisc-ui-label>
    <gisc-ui-field params="value: installedDate"></gisc-ui-field>

    <!--MDVR Model-->
    <gisc-ui-label params="text: i18n('Assets_Mdvr_Models')"></gisc-ui-label>
    <gisc-ui-field params="value: defaultMDVRModel"></gisc-ui-field>

    <!--DC Custom POI-->
    <gisc-ui-label params="text: i18n('Assets_DC_Custom_POI')"></gisc-ui-label>
    <gisc-ui-field params="value: dcpoiName"></gisc-ui-field>

    <!--MDVR -->
    <gisc-ui-label params="text: i18n('Assets_Mdvr_Device_Id')"></gisc-ui-label>
    <gisc-ui-field params="value: defaultMDVR"></gisc-ui-field>

    <!--DMS-->
	    <div class="field-wrapper">
		    <div class="field-table-title">
			    <gisc-ui-label params="for: 'txtDesc', text: i18n('Assets_DMS') " />
		    </div>
		    <div class="field-table-content">
			    <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
			    so we need to add duplicate hidden column and use that column to apply default order instead. -->
			    <gisc-ui-datatable params="
                    id: 'ca-assets-dms-view',
                    ordering: true,
                    datasource: dmsItem,
                    columns: [
                        { type: 'label', title: 'i18n:Assets_DMSModel', data: 'dmsModelName',orderable: false},
                        { type: 'label', title: 'i18n:Assets_DMSModel', data: 'dmsModelName',visible: false},
                        { type: 'label', title: 'i18n:Assets_ReferenceID', data: 'referenceId',orderable: false},
                        { type: 'label', title: 'i18n:Assets_ReferenceID', data: 'referenceId',visible: false}
                    ],
                    rowId: 'id',
                    order: orderDms,
                    " />
		    </div>
	    </div>

    <!--ADAS-->
	    <div class="field-wrapper">
		    <div class="field-table-title">
			    <gisc-ui-label params="for: 'txtDesc', text: i18n('Assets_ADAS') " />
		    </div>
		    <div class="field-table-content">
			    <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.)
			    so we need to add duplicate hidden column and use that column to apply default order instead. -->
			    <gisc-ui-datatable params="
                    id: 'ca-assets-adas-view',
                    ordering: true,
                    datasource: adsItem,
                    columns: [
                        { type: 'label', title: 'i18n:Assets_ADASModel', data: 'adasModelName',orderable: false},
                        { type: 'label', title: 'i18n:Assets_ADASModel', data: 'adasModelName',visible: false},
                        { type: 'label', title: 'i18n:Assets_DeviceID', data: 'deviceId',orderable: false},
                        { type: 'label', title: 'i18n:Assets_DeviceID', data: 'deviceId',visible: false}
                    ],
                    rowId: 'id',
                    order: orderAds,
                    " />
		    </div>
	    </div>

    <gisc-ui-tab params="selectedIndex: selectedTabIndex">
        <item params="text: i18n('Assets_LicenseDetails')">
            <!--License-->
            <gisc-ui-label params="text: i18n('Common_License'), isRequired: true"></gisc-ui-label>
            <gisc-ui-field params="value: license"></gisc-ui-field>

            <!--License Plate-->
            <gisc-ui-label params="text: i18n('Assets_LicensePlate')"></gisc-ui-label>
            <gisc-ui-field params="value: licensePlate"></gisc-ui-field>

            <!--License Province-->
            <gisc-ui-label params="text: i18n('Assets_LicenseCity')"></gisc-ui-label>
            <gisc-ui-field params="value: licenseProvince"></gisc-ui-field>

            <!--License Country-->
            <gisc-ui-label params="text: i18n('Assets_LicenseCountry')"></gisc-ui-label>
            <gisc-ui-field params="value: licenseCountry"></gisc-ui-field>

        </item>
        <item params="text: i18n('Assets_DefaultDrivers'), visible: isNotTrail">
            <!--Driver-->
            <gisc-ui-label params="text: i18n('Common_Driver')"></gisc-ui-label>
            <gisc-ui-field params="value: defaultDriverName"></gisc-ui-field>

            <!--Co Driver 1-->
            <gisc-ui-label params="text: i18n('Assets_CoDriver1')"></gisc-ui-label>
            <gisc-ui-field params="value: coDriver1Name"></gisc-ui-field>
            
            <!--Co Driver 2-->
            <gisc-ui-label params="text: i18n('Assets_CoDriver2')"></gisc-ui-label>
            <gisc-ui-field params="value: coDriver2Name"></gisc-ui-field>
        </item>
        <item params="text: i18n('Common_Alerts')">
            <!--SMS Alert-->
            <gisc-ui-label params="text: i18n('Assets_SMSAlert')"></gisc-ui-label>
            <gisc-ui-field params="value: smsAlert"></gisc-ui-field>

            <!--Email Alert-->
            <gisc-ui-label params="text: i18n('Assets_EmailAlert')"></gisc-ui-label>
            <gisc-ui-field params="value: emailAlert"></gisc-ui-field>

            <!--Alert Configurations-->
            <gisc-ui-datatable params="
                ordering: false,
                datasource: alertConfigurations,
                columns: [
                    { type: 'label', title: i18n('Common_AlertType')(), data: 'alertTypeDisplayName' },
                    { type: 'label', title: i18n('Common_Description')(), data: 'description', className: 'dt-body-text-preserve' },
                    { type: 'label', title: i18n('Configurations_Priority')(), data: 'priority' }
                ],
                rowId: 'id',
                readonly: true
                " />
        </item>
    </gisc-ui-tab>
    <gisc-ui-label params="for: 'txtDesc', text: i18n('Common_InverseSensors') " />
    <gisc-ui-datatable params="
                    id: 'ca-assets-inverse-features-view',
                    ordering: true,
                    datasource: inverseFeaturesItems,
                    columns: [
                        { type: 'label', title: 'i18n:Assets_BoxModelName', data: 'name', orderable: false },
                        { type: 'label', title: 'i18n:Assets_BoxModelName', data: 'name', visible: false }
                    ],
                    rowId: 'id',
                    order: orderinverseFeatures,
                    " />
</gisc-ui-component>