<!-- ko if: visible() -->
<div data-bind="template: { afterRender: afterRender.bind($data, $element)}">
    <select data-bind="enable: enable,
                       options: options, 
                       value: value, 
                       optionsText: optionsText,
                       optionsValue: optionsValue,
                       optionsCaption: optionsCaption,
                       attr: { 'data-input-placeholder': optionsCaption ,id:id }">
    </select>
</div>
<!-- /ko -->