$app-topbar-height: 58px; // Using in final theme.
$app-topbar-content-height: 35px; // content height within topbar
$app-sidebar-width: 60px;
$app-sidebar-width-max: 180px;
$app-portal-height: calc(100% - 58px); //portal-main height - topbar height
$app-blade-content-busy-container-height: calc(100% - 68px); // app-bladecontent-height - blade-actionbar-height
$app-blade-statusbar-height: 20px;
$app-blade-header-min-height: 75px;
img {
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app-splashscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    >div {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .app-splashscreen-logo {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

.app-splashscreen-loader-container {
    width: 585px;
    margin-top: 16px;

    >div {
        opacity: 0;
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        -webkit-animation: loading 3s cubic-bezier(0, .95, 1, .05) infinite, loading-opacity 1.5s ease-in-out infinite alternate;
        animation: loading 3s cubic-bezier(0, .95, 1, .05) infinite, loading-opacity 1.5s ease-in-out infinite alternate;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    >div:nth-child(1) {
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
    }

    >div:nth-child(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }

    >div:nth-child(3) {
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
    }
    >div:nth-child(4) {
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
    }
}

@keyframes loading {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(535px/2);
        transform: translateX(535px/2);
    }
    55% {
        -webkit-transform: translateX(535px/2);
        transform: translateX(535px/2);
    }
    90% {
        -webkit-transform: translateX(535px);
        transform: translateX(535px);
    }
    100% {
        -webkit-transform: translateX(535px);
        transform: translateX(535px);
    }
}

@keyframes loading-opacity {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

//top bar height size
.app-portal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: background .25s ease;
    overflow: hidden;

    .app-topbar {
        height: $app-topbar-height; // As designed
        position: relative;
        z-index: 202;

        .app-topbar-content {
            height: $app-topbar-height;
            display: -webkit-flex;
            display: flex;
            -webkit-align-content: center;
            align-content: center;
            -webkit-align-items: center;
            align-items: center;
            padding-right: 5px;

            .app-topbar-home {
                height: 100%;
                width: $app-sidebar-width;
                min-width: $app-sidebar-width;
                text-align: center;
                display: flex;
                display: -webkit-flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;

                svg {
                    height: $app-topbar-content-height;
                }
            }

            .app-topbar-logo {
                display: -webkit-flex;
                display: flex;
                -webkit-flex: 0 0 auto;
                flex: 0 0 auto;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                margin-left: 25px;

                .app-topbar-logo-image {
                    height: $app-topbar-content-height;
                    width: $app-topbar-content-height;
                    border: 0;
                    border-radius: $app-topbar-content-height;
                    -webkit-flex: 0 0 auto;
                    flex: 0 0 auto;

                    &.no-logo {
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1.6em;
                        line-height: $app-topbar-content-height;
                    }
                }
            }

            .app-topbar-notifications {
                position: relative;

                .app-notificationmenu-menu {
                    .app-dropmenu {
                        .app-dropmenu-content {
                            &:after {
                                bottom: 100%;
                                right: 12px;
                                content: " ";
                                height: 0;
                                width: 0;
                                position: absolute;
                                pointer-events: none;
                                margin-left: -8px;
                            }
                            .app-notificationmenu-dropdown {
                                width: 390px;

                                .app-notificationmenu-dropdown-title {
                                    height: 38px;
                                    padding: 3px 2px 3px 10px;
                                    box-sizing: border-box;
                                    
                                    .app-notificationmenu-dropdown-title-text {
                                        @extend .truncate;
                                        float: left;
                                        font-size: 1.2em;
                                        line-height: 32px;
                                        max-width: 345px; // 390 - 32 (icon-width) - 10 (padding-left)
                                    }

                                    .app-notificationmenu-dropdown-title-icon {
                                        float: right;
                                        margin: 0;
                                        width: 32px;
                                        height: 32px;
                                    }
                                }

                                .app-notificationmenu-notification-nodata {
                                    display: flex;
                                    display: -webkit-flex;
                                    align-items: center;
                                    -webkit-align-items: center;
                                    height: 130px;
                                    width: 100%;

                                    .app-notificationmenu-notification-nodata-content {
                                        text-align: center;
                                        margin: auto;
                                        padding: 15px 40px;
                                    }
                                }

                                .app-notificationmenu-list-system {
                                    ul.app-notificationmenu-list {
                                        max-height: 310px;
                                        overflow-y: auto;
                                        overflow-x: hidden;

                                        > li.app-notificationmenu-items-list {
                                            &:last-child {
                                                > a.app-notificationmenu-notificationclick {
                                                    border-bottom: none;
                                                }
                                            }

                                            > a.app-notificationmenu-notificationclick {
                                                display: block;
                                                padding: 10px;

                                                .app-notificationmenu-notification {
                                                    .app-notificationmenu-notification-title {
                                                        display: -webkit-flex;
                                                        display: flex;
                                                        -webkit-align-items: center;
                                                        align-items: center;

                                                        &.nodescription {
                                                            min-height: 57px;
                                                        }

                                                        .app-notificationmenu-notification-title-icon-left{
                                                            width: 18px;
                                                            height: 18px;
                                                            line-height: 18px;
                                                            display: block;
                                                            flex: 0 0 18px;
                                                        }
                                                         .app-notificationmenu-notification-title-icon-right {
                                                            width: 14px;
                                                            height: 14px;
                                                            line-height: 14px;
                                                            display: block;
                                                            flex: 0 0 14px;
                                                        }

                                                        .app-notificationmenu-notification-title-icon-left {
                                                            margin-right: 5px;
                                                        }

                                                        .app-notificationmenu-notification-title-text,
                                                        .app-notificationmenu-notification-title-description {
                                                            @extend .truncate;
                                                            -webkit-flex: 1;
                                                            flex: 1;
                                                            font-size: 1.1em;
                                                            line-height: 90%;
                                                        }

                                                        .app-notificationmenu-notification-title-description {
                                                            font-size: 0.8em;
                                                        }
                                                    }

                                                    .app-notificationmenu-notification-subtitle,
                                                    .app-notificationmenu-notification-description {
                                                        @extend .truncate;
                                                        font-size: 0.8em;
                                                        padding-left: 24px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &.app-notification-announcement {
                                        .nodescription {
                                            min-height: 30px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .app-topbar-notifications,
            .app-topbar-companyswitcher {
                .app-notificationmenu-button {
                    margin: 0 3px;
                    .app-notificationmenu-icon {
                        width: $app-topbar-content-height;
                        height: $app-topbar-content-height; 
                    }
                }
            }
        }

        .app-topbar-journey-icon {
            width: 40px; 
            svg {
                height: 16px;
                width: 16px;
                margin-top: 4px;
            }
        }
    }

    .app-portal-main {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-align-items: stretch;
        align-items: stretch;
        height: $app-portal-height;
        position: relative;
        z-index: 1;
    }

    .app-portal-content {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        transition: margin .2s ease;
        z-index: 1;
    }

    .app-contextMenu {
        display: none;
        position: fixed;
        width: 225px;
        //padding: 10px 0;
        //box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 300;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        border-style: solid;
        border-width: 1px;

        &.app-contextMenu-active {
            display: block;
        }

        .app-contextMenu-itemList {
            list-style-type: none;
            margin: 0;
            padding: 0;
            .app-contextMenu-item {
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                height: 30px;
                padding: 5px 25px;
                //box-sizing: border-box;
                line-height: normal;
                cursor: pointer;

                &:last-child {
                    border-bottom: none;
                }

                .app-contextMenu-text {
                    -webkit-flex: 1 1 auto;
                    flex: 1 1 auto;
                    height: 30px;
                    line-height: 30px;
                }
            }
        }
    }
}

.app-notificationmenu-button-unreadcount {
    font-size: 0.6em;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 4px;
    border-radius: 100%;
    text-align: center;
    line-height: 15px;
}

.app-notificationmenu-button-unreadcount-circle {
    height: 15px;
    width: 15px;
}



.app-dropmenu-hidden {
    display: none;
}

.app-dropmenu {
    height: $app-topbar-content-height;
    position: relative;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    box-sizing: border-box;
    z-index: 200;
}

.app-dropmenu-button {
    display: -webkit-flex;
    display: flex;
    position: relative;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.app-topbar-button {
    display: -webkit-flex;
    display: flex;
    height: auto;
    width: auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.app-dropmenu-content {
    position: absolute;
    top: 46px;

    ol, ul {
        list-style: none;
        padding: 0;
        margin: 0;
        outline: 0;
    }
    li {
        white-space: nowrap;

        .app-journeysmenu-list {
            height: 37px;
        }

        a {
            -webkit-align-items: center;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px 10px;
        }

        button.app-journeysMenu-discardButton {
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
            background: 0 0;
            cursor: pointer;
            border: 0;
            margin-right: 5px;
            -webkit-align-items: center;
            align-items: center;

            svg, a svg {
                opacity: .2;
                height: 15px;
                width: 15px;
            }
        }
    }

    .app-journeysmenu-journey {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        margin-right: auto;
    }

    .app-journeysmenu-journey-content {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.app-topbar-journeysmenu {
    outline: 0
}

.app-journeysmenu-content {
    min-width: 450px;
}

.app-dropmenu-right {
    left: 0;
}

.app-journeysmenu-list {
    display: -webkit-flex;
    display: flex;
}

.fx-dropmenu-dropdown {
    height: 50%;
    .app-dropmenu-list-system {
        ul {
            max-height: 310px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        a {
            display: -webkit-flex;
            display: flex;
        }
    }

    .app-journeysmenu-journey-nodata {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        height: 130px;
        width: 100%;

        .app-journeysmenu-journey-nodata-content {
            text-align: center;
            margin: auto;
            padding: 15px 40px;
        }
    }
}

.app-breadcrumb-divider {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;

    svg {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        height: 14px;
        width: 14px;
        margin-top: 3px;
    }
}

.app-journeysmenu-journey-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.app-mode-light {
    .app-popup {
        .app-journeysMenu-discardButton {
            svg {
                width: 15px;
                opacity: .2;
            }
        }
    }
}


// Bread crumb.
.app-breadcrumb {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
}

.app-breadcrumb-dropmenu {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 30px;
}

.app-breadcrumb-wrapper {
    display: none;
    height: $app-topbar-height; // Fix for Safari < 9.1
}

.app-breadcrumb-crumb {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 7px;
}

.app-breadcrumb-divider {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;

    svg {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        height: 14px;
        width: 14px;
        margin-top: 3px;
    }

    &:last-child {
        display: none;
    }
}

/*This control doesn't used in current release*/
.app-topbar-searchbox {
    margin: 0 10px;
    .search::-webkit-input-placeholder {
        font-style: italic;
    }
    .search:-moz-placeholder {
        font-style: italic;
    }
    .search::-moz-placeholder {
        font-style: italic;
    }
    .search:-ms-input-placeholder {
        font-style: italic;
    }
    .search {
        input {
            height: 32px;
            width: 200px;
            padding: 0 15px;
            box-shadow: none;
            outline: 0;
            border-radius: 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:focus {
                outline: none;
            }
        }
    }
}

// User
.app-avatarmenu {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    box-sizing: border-box;
    z-index: 200;
}

.app-avatarmenu-header {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 20px;
}

.app-avatarmenu-tenant-container {
    text-align: right;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.app-avatarmenu-dropdown .app-avatarmenu-tenant-uri,
.app-avatarmenu-tenant,
.app-avatarmenu-username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-avatarmenu-username {
    line-height: 0.7em;
    max-width: 146px;
}

.app-avatarmenu-dropdown .app-avatarmenu-dropdown-title,
.app-avatarmenu-tenant {
    font-size: 0.8em;
}

.app-avatarmenu-tenant {
    line-height: normal;
    opacity: .9;
    max-width: 146px;
}

.app-avatarmenu-tenant-image {
    height: 35px;
    width: 35px;
    border: 0;
    border-radius: 35px;
    margin-left: 11px;
    margin-right: 5px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.app-dropmenu-left {
    right: 0;
}

// Main content.
.app-sidebar {
    z-index: 201;
    position: relative;

     button {
        border: none;
        background: 0 0;
        margin: 0;
        padding: 0;
        cursor: pointer;

        &.app-sidebar-collapse-button {
            display: -webkit-flex;
            display: flex;
            height: 60px;
            width: 100%;
            -webkit-align-items: center;
            align-items: center;
            padding-left: 15px;
            svg {
                height: 30px;
                width: 30px;
            }
        }
    }

     ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.app-sidebar,
.app-sidebar-bar {
    height: 100%;
    box-sizing: border-box;
}

.app-sidebar-bar {
    width: $app-sidebar-width-max;
    overflow: hidden;
}

.app-sidebar-favorites {
    height: 100%;
    overflow: hidden;
    outline: 0;
    &:hover {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .app-sidebar-item {
        display: -webkit-flex;
        display: flex;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-items: center;
        align-items: center;
        height: $app-sidebar-width;
        cursor: pointer;

        .app-sidebar-item-link {
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
            -webkit-align-items: center;
            align-items: center;
            width: 100%;
            height: 60px;
            -webkit-user-drag: none;

            .app-sidebar-icon {
                margin-left: 15px;

                -webkit-flex: 0 0 30px;
                flex: 0 0 30px;
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                height: 30px;

                img, svg {
                    height: 30px;
                    width: 30px;
                }
            }

            .app-sidebar-label {
                -webkit-flex: 1 1 auto;
                flex: 1 1 auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 10px;
            }
        }
    }
}

.app-text-default {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.app-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-text-default {
    text-align: center;
}

.app-sidebar-show-if-expanded {
    display: block;
}

.app-sidebar-is-collapsed {
    .app-sidebar-show-if-expanded {
        display: none;
    }

    /*.app-sidebar-icon {
        margin-right: 18px;
    }*/

    .app-sidebar,
    .app-sidebar-bar {
        width: $app-sidebar-width;
    }
}

.app-panorama {
    position: relative;
    -ms-scroll-chaining: none;
    .app-journey-target,
    .app-startboard-target {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.app-journey-target,
.app-show-journey .app-startboard-target {
    opacity: 0;
    height: 0;
    width: 0;
    transition: opacity 125ms ease, height .01ms ease 125ms, width .01ms ease 125ms;
}

.app-show-journey {
    .app-breadcrumb-wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .app-journey-target {
        opacity: 1;
        height: 100%;
        width: 100%;
        transition: opacity 125ms ease;
    }
}

.app-stacklayout {
    display: -webkit-flex;
    display: flex;
    &.app-stacklayout-horizontal {
        -webkit-flex-direction: row;
        flex-direction: row;
        height: 100%;

        >.app-stacklayout-child {
            height: 100%;
        }
    }
    &.app-stacklayout-vertical {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.app-stacklayout-child {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.app-blade {
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: width .1s ease-out, opacity .2s ease;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    .app-blade-stacklayout {
        position: absolute;
        -ms-overflow-style: auto;
        box-sizing: border-box;
        bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;
        top: 10px;
    }

    &.app-blade-maximized {
        width: 100%;
    }

    &.app-bladesize-xlarge-report {
        width: calc(100% - 80px);
    }

    &.app-blade-minimized {
        width: 40px!important;
        min-width: 40px!important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        .app-blade-header {
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            .app-blade-title {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
                .app-blade-maximized {
                    width: 100%;
                }
            }
        }
    }

    &.app-blade-paired.app-blade-pairmaster,
    &.app-blade-paired.app-blade-pairmaster .app-blade-stacklayout,
    &.app-blade-paired.app-blade-pairmaster.app-blade-paired-smallmaster,
    &.app-blade-paired.app-blade-pairmaster.app-blade-paired-smallmaster .app-blade-stacklayout {
        width: 315px;
    }

    .app-blade-actionBar,
    .app-blade-header {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .app-blade-header {
        min-height: $app-blade-header-min-height;

        .app-blade-title-content {
            padding: 0 10px;
            position: absolute;
            left: 0;
            right: 0;
        }

        .app-blade-title-text-container {
            height: 1.5em;
        }

        .app-blade-title {
            margin: 0 5px;
            height: inherit;

            h2, h3 {
                float: left;
                clear: both;
                max-width: 100%;
                margin: 0;
                padding: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
            }

            h2 {
                font-size: 1.2em;
            }

            h3 {
                font-size: 0.8em;
            }
        }
    }

    .app-blade-actions {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        position: absolute;
        right: 1px;
        height: $app-blade-statusbar-height;
        button {
            cursor: pointer;
            outline: 0;
            border: 0;
            margin: 0;
            padding: 0;
            transition: opacity .2s ease-out;
            height: $app-blade-statusbar-height;
            width: $app-blade-statusbar-height;
            &.app-blade-collapse {
                >svg {
                    margin-left: -2px;
                }
            }
            svg {
                height: $app-blade-statusbar-height;
                width: $app-blade-statusbar-height;
            }
        }
    }

    .app-blade-content {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        outline: 0;
        padding-top: 10px;
        height: auto;
    }
}

.app-lens {
    position: relative;
    padding-bottom: 10px;
}

.app-blade-locked .app-stacklayout-child:last-child.app-lens {
    padding-bottom: 0;
}

.app-blade-actionBar,
.app-blade-content,
.app-blade-header,
.app-blade-progress,
.app-blade-status-container,
.app-blade-summary-container {
    border-left-width: 2px;
    border-color: inherit;
}

// Blade header loading.
.app-blade-progress-translucent {
    position: absolute;
    width: 85px;
    height: 12px;
    left: calc(50% - 85px/2);
    z-index: 198;
    div {
        display: inline-block;
        margin: 4px 2px;
        width: 4px;
        height: 4px;
        top: 2px;
        border-radius: 100%;
        position: relative;
        left: 20px;
        vertical-align: top;
        -webkit-animation: app-blade-progress-translucent-keyframes 3s cubic-bezier(.030, .615, .995, .415) infinite;
        animation: app-blade-progress-translucent-keyframes 3s cubic-bezier(.030, .615, .995, .415) infinite;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    div:nth-child(1) {
        -webkit-animation-delay: .8s;
        animation-delay: .8s;
    }
    div:nth-child(2) {
        -webkit-animation-delay: .6s;
        animation-delay: .6s;
    }
    div:nth-child(3) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }
    div:nth-child(4) {
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
    }
    div:nth-child(5) {
        -webkit-animation-delay: .0s;
        animation-delay: .0s;
    }
}

@keyframes app-blade-progress-translucent-keyframes {
    0% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

// Blade header minimize bar.
.app-blade-statusbar-wrapper {
    height: $app-blade-statusbar-height;

    .app-blade-statusbar {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        border: 1px dotted transparent;
        height: $app-blade-statusbar-height;
        transition: opacity .2s, background-color .2s;
    }
}

.app-blade-loaded .app-blade-actions button {
    visibility: visible;
}

// Blade title content
.app-blade.app-blade-minimized {
    .app-blade-header .app-blade-title h2 {
        -webkit-transform: rotate(90deg) translateX(50%) translateX(25px);
        transform: rotate(90deg) translateX(50%) translateX(25px);
        line-height: 0.6em;
        text-transform: uppercase;
        overflow: visible;
        padding-left: 0;
    }

    .app-blade-actionBar,
    .app-blade-actions,
    .app-blade-commandBarContainer,
    .app-blade-content,
    .app-blade-header .app-blade-title .app-blade-header-icon-holder,
    .app-blade-header .app-blade-title h3,
    .app-blade-status-container,
    .app-blade-statusbar-wrapper,
    .app-blade-summary-container,
    .app-blade-title-description,
    .app-bladestyle-info.app-blade-header .app-blade-title-image,
    .app-bladestyle-resourcesetting.app-blade-header .app-blade-title-image {
        display: none;
    }
}

.app-commandBar>ul.app-commandBar-itemList {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    height: 50px;
    transition: height 90ms ease-in;
}


.app-commandBar>ul.app-commandBar-itemList>li {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 5px;
}

.app-commandBar {
    .app-commandBar-item {
        line-height: normal;
        display: block;
        padding: 0 8px 0 8px;
        height: 50px;
        box-sizing: border-box;
        text-align: center;
        -webkit-user-drag: none;
        position: relative;
        .app-commandBar-item-icon {
            height: 26px;
            img, svg {
                height: 16px;
                width: 16px;
                margin-top: 8px;

                &.cmd-rectangle-shape{
                    height: 16px;
                    width: 18px;
                }
            }
        }

        .app-commandBar-item-text {
            transition: opacity 70ms ease-in;
            margin: 1px 5px 0;
            font-size: 1em;
            line-height: 15px;
            background-color: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 24px;
            font-weight: 500;
            position: relative;
        }
        &.app-commandBar-itemDisabled:not(.app-commandBar-itemDisabledTemporarily) {
            opacity: 0.5;
            cursor: default !important;
        }
    }
}

// Blade content.
.app-blade-content-container {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    .component-container {
        padding-bottom: 40px;
        .compact {
            padding-bottom: 0;
        }
    }

    >div {
        display: none;
        width: 585px;

        .app-blade-stacklayout {
            width: 585px;
        }

        &.app-bladesize-xsmall,
        &.app-bladesize-xsmall .app-blade-stacklayout {
            width: 200px;
        }

        &.app-bladesize-small,
        &.app-bladesize-small .app-blade-stacklayout {
            width: 315px;
        }

        &.app-bladesize-medium,
        &.app-bladesize-medium .app-blade-stacklayout {
            width: 585px;
        }

        &.app-bladesize-xmedium,
        &.app-bladesize-xmedium .app-blade-stacklayout {
            width: 720px;
        }

        &.app-bladesize-large,
        &.app-bladesize-large .app-blade-stacklayout {
            width: 855px;
        }

        &.app-bladesize-xlarge,
        &.app-bladesize-xlarge .app-blade-stacklayout {
            width: 1125px;
        }

        &.app-bladesize-xlarge-a0,
        &.app-bladesize-xlarge-a0 .app-blade-stacklayout {
            width: 1395px;
        }

        &.app-bladesize-xlarge-a1,
        &.app-bladesize-xlarge-a1 .app-blade-stacklayout {
            width: 1665px;
        }

        &.app-bladesize-xlarge-a2,
        &.app-bladesize-xlarge-a2 .app-blade-stacklayout {
            width: 3000px;
        }

        &.app-bladesize-xlarge-report,
        &.app-bladesize-xlarge-report .app-blade-stacklayout {
            width: 100%;
        }

        &.app-blade-maximized,
        &.app-blade-maximized .app-blade-stacklayout {
            min-width: 585px;
            width: 100%;
        }

        &.app-blade-maximized.app-bladesize-xsmall,
        &.app-blade-maximized.app-bladesize-xsmall .app-blade-stacklayout {
            min-width: 200px;
        }

        &.app-blade-maximized.app-bladesize-small,
        &.app-blade-maximized.app-bladesize-small .app-blade-stacklayout {
            min-width: 315px;
        }

        &.app-blade-maximized.app-bladesize-medium,
        &.app-blade-maximized.app-bladesize-medium .app-blade-stacklayout {
            min-width: 315px;
        }

        &.app-blade-maximized.app-bladesize-xmedium,
        &.app-blade-maximized.app-bladesize-xmedium .app-blade-stacklayout {
            min-width: 720px;
        }

        &.app-blade-maximized.app-bladesize-large,
        &.app-blade-maximized.app-bladesize-large .app-blade-stacklayout {
            min-width: 855px;
        }

        &.app-blade-maximized.app-bladesize-xlarge,
        &.app-blade-maximized.app-bladesize-xlarge .app-blade-stacklayout {
            min-width: 1125px;
        }
    }
    .app-bladecontent {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        position: relative;

        &:first-child {
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
        }
    }
    .app-bladestyle-default{
        .app-blade-stacklayout {
            top: 10px;
        }
    }
}

.app-blade-margin-narrow {
    .app-blade-stacklayout {
        padding-left: 0;
        padding-right: 0;
    }
    .app-blade-content {
        padding-top: 0;
    }
    .app-blade-content-container {
        .app-bladestyle-default {
            .app-blade-stacklayout {
                top: 0;
            }
        }
    }
}

.app-journey-layout {
    .app-stacklayout-child:first-child {
        .app-blade-actionBar,
        .app-blade-content,
        .app-blade-header,
        .app-blade-progress,
        .app-blade-status-container,
        .app-blade-summary-container {
            border-left-width: 0;
        }
    }
}

.app-bladeActionBar {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: inherit;
    padding: 20px 25px;
    overflow: hidden;
    position: relative;
}

.fxc-button.azc-button {
    span {
        width: 100%; // Fix for Safari < 9.1
    }
}

.fxc-actionBarBase .fxc-actionBarBase-button {
    position: relative;
    min-width: 90px;
    margin: 0 4px 0 0;
}

.app-messagebox .app-portalfx-form div.azc-button {
    padding: 0 27px;
    height: 26px;
}

.azc-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 60px;
    font-weight: 400;
    font-size: 0.9em;
    padding: 2px 22px 3px;
    height: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0 5px 0 0;
    outline: 0;
    &:disabled {
        cursor: default
    }
}

.app-tile-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 196;
}

.app-tile-progress-transparent {
    position: absolute;
    width: 85px;
    top: 1px;
    height: 12px;
    left: calc(50% - 85px/2);
    z-index: 196;

    div {
        display: inline-block;
        margin: 4px 2px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        position: relative;
        left: 20px;
        vertical-align: top;
        -webkit-animation: app-tile-progress-transparent-keyframes 3s cubic-bezier(.030, .615, .995, .415) infinite;
        animation: app-tile-progress-transparent-keyframes 3s cubic-bezier(.030, .615, .995, .415) infinite;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    div:nth-child(1) {
        -webkit-animation-delay: .8s;
        animation-delay: .8s;
    }

    div:nth-child(2) {
        -webkit-animation-delay: .6s;
        animation-delay: .6s;
    }

    div:nth-child(3) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }

    div:nth-child(4) {
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
    }

    div:nth-child(5) {
        -webkit-animation-delay: .0s;
        animation-delay: .0s;
    }
}

.fxc-base {
    .app-tile-progress {
        background-color: inherit;

        .app-tile-progress-transparent {
            height: 100%;
            width: 100%;
            left: auto;
            top: auto;

            >div {
                margin: 0;
                left: 0;
                vertical-align: baseline;
            }
        }
    }
}

@keyframes app-tile-progress-transparent-keyframes {
    0% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*Crumbtail*/

.app-breadcrumb-dropmenu {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 30px;
    .app-dropmenu-content {
        width: 200px;
    }
    .app-dropmenu-button {
        border: none;
        padding: 0;
        margin: 0;
        background: 0 0;
        cursor: pointer;
        display: -webkit-flex;
        display: flex;
        position: relative;
        height: 100%;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .app-breadcrumb-overflow {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        li {
            a {
                -webkit-align-items: center;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 10px 20px;
            }
        }
    }
}

.app-breadcrumb-crumb {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 7px;
    cursor: default;
}

/* -- User Menu -- */

.app-avatarmenu-dropdown {
    width: 220px;
    .app-avatarmenu-list-system {
        li {
            a {
                display: -webkit-flex;
                display: flex;
                height: 40px;
                padding-left: 20px;
            }
        }
    }
}


/*-- MISC element which does not belong to controls --*/

.field-wrapper {
    padding-bottom: 15px;
    width: 100%;
    &.inline-table-container {
        margin-top: 4px;
    }
    &.inline-checkbox-container {
        margin-top: 8px;
    }
    &.last {
        padding-bottom: 0;
    }
}
 
.field-table-title {
    margin-bottom: -12px;
}

.field-table-content {
    margin-bottom: -6px;
}

.field-table-commands {
    margin-top: 12px;
}

.app-blade-content-busy-container {
    position: absolute;
    width: 100%;
    height: $app-blade-content-busy-container-height;
    z-index: 101;
    top: 0;
    cursor: wait;

    + .app-blade-layout-static {
        overflow: hidden;
    }

    > .app-blade-progress-translucent {
        bottom: 10px;
    }
}

.msportalfx-tooltip-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Grabbing*/
.app-header.app-panning-cursor {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.app-panning-cursor {
    cursor: ew-resize!important;
    cursor: -webkit-grabbing!important;
    cursor: -moz-grabbing!important;
    cursor: grabbing!important;
}

.fc-view-container {
width: 99%;
}

.fc-view-container .fc-view {
/*overflow-x: scroll;*/
}

.fc-view-container .fc-view > table {
width: 700px;

}

.toast-custom-icon
{
    width:40px;
    height: 30px;
    position: absolute;
    left: 9px;
    top: 9px;
    fill: #fff;
}

.toast-error-custom{
    background-color: #BD362F !important;
}
.toast-info-custom{
    background-color: #2F96B4 !important;
}
.toast-success-custom{
    background-color: #51A351 !important;
}
.toast-warning-custom {
    background-color: #F89406 !important;
}