// This file is using for system font registration.
// http://stackoverflow.com/questions/1567184/sass-and-font-face
@mixin font-face($family, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$path}.eot');
    src: url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$family}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

// All available fonts registration.
@include font-face('dbhx', '../fonts/dbhelvethaicax-regular');
@include font-face('dbhx', '../fonts/dbhelvethaicax-bold', bold, normal);
@include font-face('dbhx', '../fonts/dbhelvethaicax-italic', normal, italic);

// Default fonts for undefined language.
/* Input element focus styles! */
/* set new font size 16(20) by Thanadet.s */
html, body, input, textarea, keygen, select, button {
  font: 16px dbhx, sans-serif;
}

// @mixin font-map($lang, $family) {
//     html[lang='#{$lang}'] body {
//         font-family: #{$family};
//     }
// }

// // Language specific fonts (current version using same font)
// @include font-map('en-US', $default_font);
// @include font-map('th-TH', $default_font);