/* Report Viewer */
.report-viewer {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden; }


.app-blade.app-blade-type-compact {
    .app-blade-header {
        min-height: 41px;
    }
    .app-blade-content {
        padding: 0px;

        .app-blade-stacklayout {
            top: 0px;
            bottom: 0px;
            padding: 0px;

            .app-stacklayout-child {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.k-menu .k-item>.k-link {
  padding: .28em 1.1em .25em !important; }

/*.trv-content {
  top: 1.9em !important; }*/

.trv-nav {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important; }

.trv-document-map.hidden~.trv-pages-area {
    left: .02em !important; }

.trv-parameters-area.hidden~.trv-pages-area {
    right: .02em !important; }

.trv-nav input {
    width: 1.4em !important;
    height: 1.1em !important;
}

// input[type="time"]::-webkit-clear-button {
//     display: none;
// }

span.k-link > input[type="checkbox"] {
    -webkit-appearance: checkbox;
}