/*------- FromTo Datepicker --------*/

.datetpicker-group-body {
    width: 100%;

    .section {
        display: inline-block;

        &.left {
            width: 48%;
        }

        &.right {
            float: right;
            width: 48%;
        }
    }
}

/*------- FromTo Datepicker --------*/

/*------- Begin Image uploader in blades --------*/

.app-img-wrap {
    padding-bottom: 15px;
    padding-top: 5px;

    .app-img-manage-wrap {
        display: inline-block;
        margin-right: 10px;

        img {
            max-width: 100px;
            max-height: 100px;
        }

        .file-upload-name {
            width: 100px;

            span:first-child {
                max-width: 80px;
            }
        }

        &:hover {
            .close {
                opacity: 1;
            }
        }
    }
}

.app-multiple-img-wrap {
    .app-img-manage-wrap {
        vertical-align: top;
    }
}

/*------- End Image uploader in blades --------*/

.scrollable-container-h {
    overflow-x: auto;
    overflow-y: hidden;
}

/*-------- Track Monitoring, Alert Monitoring, Nearest Assets Table---------*/

.table-asset table.dataTable,
.k-grid {

    div[class^="icon-"],
    img[class^="icon-"] {
        width: 24px;
        height: 24px;
    }

    tbody {
        tr {
            td {
                >div {
                    &.col-s {
                        width: 75px;
                    }

                    &.col-m {
                        width: 150px;
                    }

                    &.col-l {
                        width: 200px;
                    }

                    &.col-xl {
                        width: 300px;
                    }
                }
            }
        }
    }
}

.k-grid {

    div[class^="icon-"],
    img[class^="icon-"] {
        width: 18px;
        height: 18px;
    }

    tbody {
        tr {
            td {
                >div {
                    &.col-s {
                        width: 75px;
                    }

                    &.col-m {
                        width: 150px;
                    }

                    &.col-l {
                        width: 200px;
                    }

                    &.col-xl {
                        width: 300px;
                    }
                }
            }
        }
    }
}

.table-grid-asset {

    div[class^="icon-"],
    img[class^="icon-"] {
        display: inline;
        text-align: center;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    .text-center {
        text-align: center;
    }
}

.k-grid {

    div[class^="icon-"],
    img[class^="icon-"] {
        display: inline;
        text-align: center;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    .text-center {
        text-align: center;
    }
}

/*-------------- Track Monitoring ---------------------------*/

.dt-img-button[data-column-id=icon-tracklocation-remove] {
    width: 24px;
    height: 24px;
}

/*-------------- Alert Monitoring ---------------------------*/

.alert-dashboard-ticket {
    >.header {
        margin: 10px 0;
    }

    >.content {
        width: 100%;

        >div {
            width: 20%;
            box-sizing: border-box;
            float: left;
            cursor: pointer;
            margin: 0 2.5%;
            margin-bottom: 3%;
            padding: 5px;
            height: 100px;
            border: 1px solid #000000;

            >label {
                cursor: pointer;
                text-align: center;
                font-size: 1.1em;
                display: block;
                padding-top: 5px;
            }

            >label:last-child {
                font-size: 2.5em;
            }
        }
    }
}

.alert-ticket-list-div-btn {
    text-align: right;
}

.alert-dashboard-items {
    width: 100%;

    .alert-dashboard-item {
        width: 20%;
        float: left;
        box-sizing: border-box;
        margin: 0 2.5%;
        padding: 5px;

        .alert-dashboard-total {
            text-align: center;
            font-size: 2.5em;
            display: block;
        }

        .alert-dashboard-name {
            display: block;
            text-align: center;
            font-size: 1.1em;
        }
    }
}

.div-alert-ticket-action-log {
    .div-alert-ticket-action-log-detail {
        margin: 5px 0 10px 0;

        .div-alert-ticket-action-log-notelist:last-child {
            margin-bottom: 10px;
        }
    }
}

/*-------------- FleetMonitoring -------------------------*/

.app-fleetMonitoring-timeline-wrap {
    padding-bottom: 15px;

    .header {
        .title {
            float: left;
            width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-sizing: border-box;

            .app-form-labelcontainer {
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }

            .app-fleetMonitoring-vehicle {
                float: left;

                .vehicleLicense,
                .vehicleBrand {
                    font-weight: bold;
                }

                .vehicleLicense {
                    font-size: 30px;
                }
            }

            .app-fleetMonitoring-icon {
                float: left;
                box-sizing: border-box;
                width: 30px;
                height: 30px;
                margin-left: 10px;

                svg {
                    width: 30px;
                    height: 30px;
                }

                .icon-map {
                    cursor: pointer;
                }

                .icon-loading {
                    &.animated {
                        -webkit-animation-name: spin;
                        -webkit-animation-duration: 1s;
                        -webkit-animation-iteration-count: infinite;
                        -webkit-animation-timing-function: linear;
                        -moz-animation-name: spin;
                        -moz-animation-duration: 1s;
                        -moz-animation-iteration-count: infinite;
                        -moz-animation-timing-function: linear;
                        -ms-animation-name: spin;
                        -ms-animation-duration: 1s;
                        -ms-animation-iteration-count: infinite;
                        -ms-animation-timing-function: linear;
                        animation-name: spin;
                        animation-duration: 1s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        display: inline-flex;
                        cursor: auto;
                    }
                }
            }
        }
    }

    .header-summary {
        width: 100%;
        height: auto;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        margin-bottom: 10px;

        .details {
            flex-grow: 1;

            .detail-header,
            .detail-data,
            .detail-description {
                padding-left: 10px;
                padding-right: 10px;
            }

            .detail-header {
                img {
                    width: 15px;
                    height: 15px;
                }

                gisc-ui-label {
                    position: absolute;
                    margin-left: 5px;
                }
            }

            .detail-data {
                font-size: 30px;
                font-weight: bold;
            }

            .sub-detail {
                flex-grow: 1;
            }

            .sub-detail:last-child {
                border-left: 1px #d1d4d5 dashed;
                padding-left: 5px;
            }
        }

        .details:first-child {
            border-left: 0px;
        }

        .details:last-child {
            display: flex;

            .div-detail {
                flex-grow: 1;
            }

            .div-sub-detail {
                flex-grow: 1;
                display: flex;
            }
        }
    }

    .app-fleetMonitoring-legend {
        display: flex;
        justify-content: center;

        .legend-detail {
            display: inline-flex;
            margin: 0 50px;
        }

        .legend-move,
        .legend-park,
        .legend-stop {
            width: 12px;
            height: 12px;
            background-color: red;
            margin: 3px;
        }
    }

    .app-fleetMonitoring-description {
        .icon-description {
            width: 20px;
            height: 20px;
            text-align: center;
            display: inline-block;
            border-radius: 100%;
        }
    }

    &.with-pat {
        .header, .section-summary, .timeline-chart-wrapper, .app-fleetMonitoring-description {
            // padding-left: 85px;
        }
    }

    &.no-bottom {
        bottom: 0;
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*-------------- Alert Detail Features -------------------------*/

.feature-container {
    width: 260px;

    .feature-item {
        float: left;
        height: 30px;
        width: 50%;
        margin-top: 10px;

        .feature-icon {
            float: left;
            width: 30px;
            height: 30px;
        }

        .feature-value {
            float: left;
            text-indent: 15px;
            width: calc(100% - 30px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

/*---------------------Display Field in 2 column----------------------*/

.display-2-col {
    display: -webkit-flex;
    /* Safari */
    display: flex;

    .display-col {
        -webkit-flex: 1;
        /* Safari 6.1+ */
        -ms-flex: 1;
        /* IE 10 */
        flex: 1;

        &.first {
            padding-right: 3px;
        }

        &.last {
            padding-left: 3px;
        }
    }
}

/*--------------------- Global Search ----------------------*/

.global-search-find {
    padding: 10px;

    .form-container {
        padding-right: 90px;
        position: relative;

        .find-button {
            position: absolute;
            right: 0px;
            top: 0px;

            button {
                height: 32px;
            }
        }
    }

    ul {
        li {
            list-style: none;
            width: 98px;
            height: 80px;
            float: left;
            text-align: center;
            cursor: pointer;

            span {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            svg {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.global-search-result {
    ul {
        li {
            display: block;
            position: relative;
            padding: 10px;
            min-height: 40px;

            .search-category {
                width: 40px;
                height: 40px;
                position: absolute;
                left: 5px;
            }

            .search-title {
                margin-left: 40px;
                margin-right: 35px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 1.1em;
            }

            .search-context {
                width: 16px;
                height: 16px;
                cursor: pointer;
                position: absolute;
                right: 20px;
            }

            .sub-header,
            .description {
                margin-left: 40px;
                font-size: 0.8em;
            }
        }
    }

    .no-result {
        text-align: center;
        padding: 8px 10px;
    }

    .load-more {
        margin-top: 15px;
        text-align: center;
    }
}

/*-------------- Transportation -------------------------*/

.transportation {
    .transportation-assign-additional {
        margin: 25px;

        .co-driver,
        .porter {
            margin-bottom: 50px;
        }
    }

    table.assign-additional-tbl {
        thead {
            th {
                padding: 5px;
            }
        }

        tbody {

            td.k-state-selected,
            tr.k-state-selected,
            td.k-state-selected:hover,
            tr.k-state-selected:hover {
                background-image: none;
            }

            td:first-child,
            th:first-child {
                border-left: 0px;
            }

            td,
            th {
                padding: 5px;
            }
        }
    }
}

.textCenter {
    text-align: center;

    .app-form-field-container {
        padding-bottom: 0px;
    }
}

.transportation {
    margin-bottom: 25px;
}

// .tdSize > th {
//     width: 170px;
// }

.transportation {
    .titleTable {
        font-size: 1.2em;
        font-weight: bold;
    }

    .tdSize td {
        width: 70px;
    }

    .tdSize th {
        width: 200px;
        padding: 5px;
    }

    .box_summary {
        .box_item {
            display: inline-block;
            width: 150px;
        }

        .box_desc {
            display: inline-block;
        }
    }
}

/*-------------- Dashboard -------------------------*/

.dashboard-lastsync {
    margin: 5px;

    .bold {
        font-weight: bold;
    }
}

.dash-board {
    width: 100%;
    display: flex;

    .dashboard-row-1 {
        width: 25%;
        flex-grow: 1;
    }

    .dashboard-row-2 {
        width: 25%;
        flex-grow: 1;
    }

    .dashboard-row-3 {
        width: 50%;
        flex-grow: 2;
    }
}

.dashboard-row-1 {
    margin: 5px;
}

.dash_sub {
    margin: 10px;
    padding-left: 10px;
}

.dash_item {
    margin: 5px;
    padding: 10px;
}

.dashboard-row-3>.dash_item {
    margin-left: 0px;
}

.box_status {
    width: 50%;
    height: 100px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.box_status:last-child {
    margin-right: 0px;
}

.box_Vehicle {
    width: 25%;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;

    .fontIssues {
        font-size: 30px;
    }
}

.box_MTDAndAlerts {
    padding: 5px;
    font-weight: bold;
    display: flex;

    div {
        width: 150px;
    }

    div:first-child {
        width: 80px;
    }
}

.fontIssues {
    font-size: 50px;
    font-weight: bold;
}

.fontTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fontPrecent {
    font-size: 20px;
    margin-top: -10px;
}

.font_50 {
    font-size: 50px;
}

.font_Tag_B {
    font-weight: bold;
}

.Text_Vehicle {
    font-size: 30px;

    span {
        margin-right: 10px;
    }

    .fontIssues {
        font-size: 30px;
    }
}

.size80 {
    font-size: 70px;
}

.text-top {
    margin-top: -15px;
}

.black {
    color: black;
    margin-top: -10px;
}

.col-flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.height_460 {
    height: 460px;
}

.height_300 {
    height: 300px;
}

.height_555 {
    height: 555px;
}

.scrollbar {
    overflow-x: hidden;
    //margin-top: -15px;
}

.box_item {
    display: inline-block;
    width: 130px;
    margin-right: 20px;
    vertical-align: top;
}

.width_Date {
    width: 200px;
}

.box_desc {
    display: inline-block;
    width: 500px;
}

//assign
.tablePorter {
    display: table;
}

.tablePorter-tr {
    display: table-row;
}

.tablePorter-th {
    display: table-row;
    color: black;
}

.tablePorter-td {
    width: 150px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px;

    img {
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
}

/*====================== Waypoint Delivery Order  ===================*/

.do-waypoint-main {
    width: 850px;
}

.do-waypoint-wp-icon-container {
    display: inline-block;
    width: 30px;
}

.do-waypoint-icon {
    width: 32px;
    height: 32px;
    position: relative;
    top: 10px;
}

.do-waypoint-svg-icon {
    position: relative;
    top: 8px;
}

.do-waypoint-name {
    font-size: 24px;
    font-weight: bold;
}

.do-waypoint-docount {
    font-size: 24px;
    font-weight: bold;
}

.do-waypoint-word-wrap {
    word-wrap: break-word;
}

.do-waypoint-wp-name {
    // width: 200px;
    // display: inline-block;
    // margin-right: -5px;
    vertical-align: middle;
    text-align: center;
}

.do-waypoint-wp-detail {
    width: 600px;
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
}

.do-waypoint-wp-detail-row {
    width: 600px;
}

.do-waypoint-wp-detail-row-item {
    width: 200px;
    margin-right: -5px;
    display: inline-block;
    vertical-align: top;
}

.divControlTbl {
    clear: both;

    >.controlTbl {
        float: left;
        margin-right: 10px;
    }
}

.divControlBtn {
    margin: 15px 0;
    clear: both;
}

.tblCreateShipment {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .divHeader,
    .divRow {
        width: fit-content;
        display: flex;

        >.tblHeader,
        >.tblRow {
            width: 120px;
            padding: 5px;
            float: left;
            word-break: break-all;

            >img {
                cursor: pointer;
                width: 18px;
                height: 18px;
            }
        }

        .tblHeader.shipGrid-center,
        .tblRow.shipGrid-center {
            text-align: center;
        }
    }

    >.divHeader {
        >.tblHeader {}

        .tblHeader:last-child {}
    }
}

.myBt {
    display: none;
    /* Hidden by default */
    position: absolute;
    padding: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    font-size: 20px;
    font-weight: bolder;
    bottom: 3%;
    right: 8%;
    z-index: 99;
}

/* dashboard-overall-allGraph */

.div-dashboard-overall-legend {
    width: 1100px;//100%;
    height: auto;
    text-align: center;

    .legend {
        margin: 0 20px;

        span:first-child {
            margin-right: 5px;
            padding: 1px 20px;
        }

        span:last-child {
            font-size: 18px;
        }
    }

    .legend:first-child {
        span:first-child {
            background-color: #01B2A0;
        }
    }

    .legend:last-child {
        span:first-child {
            background-color: #F8A662;
        }
    }
}

.div-dashboard-overall-allGraph {
    width: 100%;

    .div-graph-list {
        width: 25%;
        height: 100%;
        float: left;
        padding: 0 20px;
    }
}

// .div-stackbar-height {
// }
.div-barstackamchart {
    width: 100%; // height: 500px;
    // height: 100%;
}

/* End dashboard-overall-allGraph */

/* dashboard-department */

.div-dashboard-department {
    width: 100%;
    display: flex;

    .graph-col {
        width: 33%;
        height: 100%;

        .chart-list {
            width: 100%;
            height: 45%;
        }
    }

    .graph-col:first-child {
        .chart-list {
            height: 90%;
        }
    }

    .graph-col:first-child,
    .graph-col:last-child {
        //width: 30%;
    }
}

/* End dashboard-department */

/* truck-detail */

.div-truck-detail {
    .div-truck-detail-title {
        text-align: center;

        >label {
            font-size: 24px;
            font-weight: bold;
        }
    }
}

/* End truck-detail */

.font_11 {
    font-size: 15px;
}

.avg-line-driverperformance-legend {
    background-color: rgb(204, 0, 0);
    width: 50px;
    height: 10px;
    display: inline-block;
}

.graph-safety-dashboard {
    border: 1px solid;
    float: left;
    height: 200px;
    margin: 5px;
    width: 250px;//calc(20% - 10px); //20%;
    padding: 0 20px;
}

.graph-safety-dashboard-donuts {
    height: 150px;
    width: 100%;
    float: inherit;
}

//Shipment Timeline
.ovalBase {
    border-radius: 50px;
    width: 48px;
    height: 13px;
    margin: 10px;
}

.circleBase {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 5px;
    // margin: 5px;
}

.green {
    background: #8CCD46;
}

.yellow {
    background: #FFFF00;
}

.red {
    background: #FF0000;
}

.gray {
    background: #E7E6E6;
}



.plan {
    background: #E7E6E6;
}

.waiting {
    background: #FFFF00;
}

.onTime {
    background: #8CCD46;
}

.maybeDelay {
    background: #FF9900;
}

.delay {
    background: #FF0000;
}

.finished {
    background: #333F50;
}

.timeline-pre-post-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.timeline-zoom-in-out-button {
    width: 27px;
    height: 27px;
    margin-right: 15px;
    cursor: pointer;
}

.verticalLine {
    border-left: 1px solid #a3a5a8;
    height: 100%;
}

.timeline-hr {
    height: 7px;
    width: 1920px;
    margin-left: -25px;
    /* background-color:#E7E6E6;border:none; */
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
}





// shipment timeline form
.timeline-form {
    width: 50%;
    text-align: left;
    float: left;

    .timeline-form-div {
        width: 30%;
        text-align: left;
        float: left;
        margin-right: 30px;
    }
}

.disabled-zoom {
    opacity: 0.5;
    cursor: default !important;
}



.vieo-on-map {

    position: relative;
    left: 20px;

    #viewonmap {
        width: 20px;
        fill: #a3a5a8;
    }
}

.debrief-container {
    width: 100%;

    .debrief-head {
        width: 100%;
    }

    .debrief-hr {
        border-style: solid;
        border-width: 1px;
    }

    .head-container {
        display: flex;
        flex-direction: column;

        .date-box {
            flex-grow: 1;
        }

        .license-box {
            flex-grow: 1;
        }

        .relate-shipment-box {
            flex-grow: 2;
        }
    }

    .summary-container {
        border: 2px #d1d4d5 solid;
        display: flex;
        flex-direction: column;
        background-color: #ffff;

        .summary-hr {
            width: 100%;
            border: 1px #d1d4d5 solid;
            margin: 0px;
            border-bottom-width: thin;
        }

        .header-summary2 {
            width: 100%;
            height: auto;
            display: flex;
            padding-top: 5px;
            padding-bottom: 5px;
            // padding-left: 5px;
            // margin-bottom: 10px;

            #first-moveduration-box{
                width: 22%;
            }
            #second-moveduration-box{
                width: 22%;
                display: inline;
            }

            .details2 {
               
                // flex-grow: 1;
                width: 20%;
                border-left: 2px #d1d4d5 solid;

            

                .detail-header,
                .detail-data,
                .detail-description {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                .detail-header {
                    img {
                        width: 15px;
                        height: 15px;
                        vertical-align: middle;
                    }

                    label {
                        vertical-align: middle;
                    }

                    // gisc-ui-label {
                    //     position: absolute;
                    //     margin-left: 5px;
                    // }
                }

                .detail-data {
                    font-size: 20px;
                    // font-weight: bold;

                    .driver-movement-box {
                        img {
                            width: 15px;
                            vertical-align: middle;
                        }

                        display: flex;
                        justify-content: space-between;
                    }

                }

                .sub-detail {
                    flex-grow: 1;
                }

                .sub-detail:last-child {
                    border-left: 1px #d1d4d5 dashed;
                    padding-left: 5px;
                }


            }


            .details2:first-child {
                border-left: 0px;
            }

            .details2:last-child {
                display: flex;

                .div-detail {
                    flex-grow: 0;
                }

                .div-sub-detail {
                    font-size: 11px;
                    flex-grow: 1;
                    display: flex;
                }
            }

            

        }

    }

    .working-map-area {
        width: 100%;
        height: 600px;
    }

    .event-container {
        display: flex;
        flex-flow: row wrap;
    }

    .event-box {

        flex: 0 0 calc(25% - 10px);
        // text-align: center;
        // box-shadow: 0 0 0 1px blue;
        // background-color: steelblue;
        margin: 5px;
    }

    .icon-container {
        display: flex;
        flex-flow: row wrap;
    }

    .icon-box {
        display: flex;
        flex: 0 0 calc(16% - 10px);
        align-items: center;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-top: 10px;
        // margin: 5px;

        img {
            height: 20px;
            width: 20px;

        }

        .icon-img {
            .icon-destination {
                height: 25px;
                width: 20px;
            }
        }

        .icon-description {
            font-size: 14px;
            padding-left: 5px;
        }
    }

    .debrief-table {

        font-family: dbhx, sans-serif;
        border-collapse: collapse;
        width: 100%;

        // vertical-align: top;
        thead {
            .datetime-width {
                width: 10%;
            }

            .duration-width {
                width: 8%;
            }

            .relateshipment-width {
                width: 12%;
            }

            .drivername-employeeid-width {
                width: 12%;
            }

            .event-width {
                width: 10%;
            }

            .description-width {
                width: 14%;
            }

            .latlong-width {
                width: 9%;
            }
            .location-width{
                width: 21%;
            }

            tr {
                th {
                    vertical-align: top;
                }
            }

        }

        tbody {
            td {
                vertical-align: top;
            }
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            font-size: 16px;
        }

        th {

            background-color: rgba(128, 128, 128, 0.69);
            font-weight: bold;
        }

        td {

            background-color: #ffff;
            word-wrap: break-word;
        }
    }



}


.debrief-container-newtab {

    width: 100%;

    .debrief-head {
        width: 100%;
    }

    .debrief-hr {
        border-style: solid;
        border-width: 1px;
    }

    .head-container {
        display: flex;
        flex-direction: column;

        .date-box {
            flex-grow: 1;
        }

        .license-box {
            flex-grow: 1;
        }

        .relate-shipment-box {
            flex-grow: 2;
        }
    }

    .summary-container {
        border: 2px #d1d4d5 solid;
        display: flex;
        flex-direction: column;
        background-color: #ffff;

        .summary-hr {
            width: 100%;
            border: 1px #d1d4d5 solid;
            margin: 0px;
            border-bottom-width: thin;


        }

        .header-summary2 {
            width: 100%;
            height: auto;
            display: flex;
            padding-top: 5px;
            padding-bottom: 5px;
            // padding-left: 5px;
            // margin-bottom: 10px;
            #first-moveduration-box{
                width: 22%;
            }
            #second-moveduration-box{
                width: 22%;
                display: inline;
            }
            .details2 {

                // flex-grow: 1;
                width: 20%;
                border-left: 2px #d1d4d5 solid;

                .detail-header,
                .detail-data,
                .detail-description {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                .detail-header {
                    img {
                        width: 15px;
                        height: 15px;
                        vertical-align: middle;
                    }

                    label {
                        vertical-align: middle;
                    }

                    // gisc-ui-label {
                    //     position: absolute;
                    //     margin-left: 5px;
                    // }
                }

                .detail-data {
                    font-size: 20px;
                    // font-weight: bold;

                    .driver-movement-box {
                        img {
                            width: 15px;
                            vertical-align: middle;
                        }

                        display: flex;
                        justify-content: space-between;
                    }

                }

                .sub-detail {
                    flex-grow: 1;
                }

                .sub-detail:last-child {
                    border-left: 1px #d1d4d5 dashed;
                    padding-left: 5px;
                }

            }


            .details2:first-child {
                border-left: 0px;
            }

            .details2:last-child {
                display: flex;

                .div-detail {
                    flex-grow: 0;
                }

                .div-sub-detail {
                    font-size: 11px;
                    flex-grow: 1;
                    display: flex;
                }
            }


        }

    }





    .working-map-area {
        width: 100%;
        height: 600px;
    }

    .event-container {
        display: flex;
        flex-flow: row wrap;
    }

    .event-box {

        flex: 0 0 calc(25% - 10px);
        // text-align: center;
        // box-shadow: 0 0 0 1px blue;
        // background-color: steelblue;
        font-size: 12px;
        margin: 5px;
    }

    .icon-container {
        display: flex;
        flex-flow: row wrap;
    }

    .icon-box {
        display: flex;
        flex: 0 0 calc(16% - 10px);
        align-items: center;
        // padding-bottom: 10px;
        padding-right: 10px;
        padding-top: 5px;
        // margin: 5px;

        img {
            height: 20px;
            width: 20px;


        }

        .icon-img {
            .icon-destination {
                height: 25px;
                width: 20px;
            }
        }

        .icon-description {
            font-size: 12px;
            padding-left: 5px;
        }
    }

    .debrief-table {

        font-family: dbhx, sans-serif;
        border-collapse: collapse;
        width: 100%;

        // vertical-align: top;
        thead {
            .datetime-width {
                width: 10%;
            }

            .duration-width {
                width: 8%;
            }

            .relateshipment-width {
                width: 12%;
            }

            .drivername-employeeid-width {
                width: 12%;
            }

            .event-width {
                width: 10%;
            }

            .description-width {
                width: 14%;
            }

            .latlong-width {
                width: 9%;
            }
            .location-width{
                width: 21%;
            }

            tr {
                th {
                    vertical-align: top;
                }
            }

        }

        tbody {
            td {
                vertical-align: top;
            }
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            font-size: 16px;
        }

        th {

            background-color: rgba(128, 128, 128, 0.69);
            font-weight: bold;
        }

        td {

            background-color: #ffff;
            word-wrap: break-word;
        }
    }

    .sign-area {
        //  margin-top: 100px;
    }
}


.font_18 {
    font-size: 18px !important;
}

.font_28 {
    font-size: 28px !important;
}

.icon-map-playback>svg {

    vertical-align: bottom;

}

#printOnly {
    display: none;
}

@media print {
    #printOnly {
        display: block;
    }

    html,
    body {
        width: 210mm;
        height: 297mm;
    }

    /* .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    } */
}

.testA4 {
    width: 210mm;
    /* height: 297mm; */
    /* border: solid red; */
    margin: auto;
    page-break-after: always;
}

//Asset DMS
.btn-dialog-ok {
    width: 148px;
    height: 38px;
    background: #20af80;
    border: 0;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}

.btn-dialog-cancel {
    width: 148px;
    height: 38px;
    background: #a3a5a8;
    border: 0;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}

//Video-js
.video-js-gis {
    padding-top: 56.25% !important;
}

//BOMs - Real Time Passenger 
.number-of-bus-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // justify-content: space-around;
    // border: solid black 1px;
    & .content-head-txt {
        // margin-left: 35px;
        font-size: 12px;
        font-weight: bold;
    }
    & #allBox {
        color: black;
    }
    & .number-of-bus-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        & .number-of-bus-box {
            width: 12%;
            & .number-of-bus-box-status{
                text-align: center;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 5px;
                color: white;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;

                &.all{
                    color: rgb(50, 59, 58);
                    border: solid rgb(50, 59, 58);
                    padding: 2.5px;
                }
            }
            // -moz-box-shadow:
            //     0px 1px 1px rgba(000,000,000,0.5),
            //     inset 1px 2px 0px rgba(255,255,255,0.4);
            // -webkit-box-shadow:
            //     0px 1px 1px rgba(000,000,000,0.5),
            //     inset 1px 2px 0px rgba(255,255,255,0.4);
            // box-shadow:
            //     0px 1px 1px rgba(000,000,000,0.5),
            //     inset 1px 2px 0px rgba(255,255,255,0.4);
            // text-shadow:
            //     1px 1px 2px rgba(000,000,000,0.7),
            //     0px 1px 0px rgba(255,255,255,0.4);
            & .detail-box{
                font-size: 20px;
            }
            & .box-value-container {
                display: flex;
                justify-content: space-evenly;
                font-size: 20px;
                & .bus-box {
                    display: flex; 
                    flex-direction: column;
                    > div.box-font {
                        font-size: 35px;
                        margin-top: -10px;
                        margin-bottom: -10px;
                    }
                }
                & .pipe-box {
                    display: flex; 
                    flex-direction: column;
                    background-color: white;
                    width: 2px;
                    & .white-space {
                        white-space: pre;
                        height: 30px;
                    }
                    & .pipe-space {
                        margin-top: -3px;
                        margin-bottom: -5px;
                        > label {
                            font-size: 35px;
                        }
                    }
                    &.all{
                        background-color: rgb(50, 59, 58);
                    }
                }
                & .user-box {
                    display: flex; 
                    flex-direction: column;
                    > div.box-font {
                        font-size: 35px;
                        margin-top: -10px;
                        margin-bottom: -10px;
                    }
                }
                & img {
                    width: 25px; 
                    height: 30px;
                }
            }
        }
        & .bus-icon-container {
            display: flex; 
            justify-content: space-evenly;
            & img{
                width: 25px; 
                height: 30px;
            }
        }
        & div.box-div {
            margin-bottom: -5px;
            > .box-label {
                font-size: 20px;
            }
        }
        
    }
}
.content-txt{
    font-size: 12px;
}

.realtime-dashboard-label {
    > span {
        float: left;
    }
    & .app-form-field-container {
            margin-top: 0;
    }
    & .margin-right-10 {
        margin-right: 10px;
    }
    & .margin-right-20 {
        margin-right: 20px;
    }
}


/* begin reset style dropdown in css select2 */

.select2-container--default {
    & .select2-selection--single {
      background-color: unset !important;
      border: unset !important;
      border-radius: unset !important;
    }
    & .select2-results {
        >.select2-results__options{
            overflow-x: hidden;
        }
    }
  }
  
  .select2-dropdown {
    border-radius: unset !important;
  }
  
  .app-treeview-dropdown-list {
    & input.app-treeview-dropdown-wrapper {
      cursor: unset !important;
    }
  }
  
  .select2-search--dropdown {
    & .select2-search__field {
      padding: unset !important;
      width: unset !important;
      box-sizing: unset !important;
      position: relative !important;
      width: 100% !important;
      height: 32px !important;
      box-sizing: border-box !important;
      padding: 4px 8px !important;
      margin: 0 auto !important;
      outline: none !important;
      cursor: pointer !important;
      z-index: 1 !important;
    }
  }
  
  .select2-container--open {
    & .select2-dropdown--below {
      border-top: 1px solid #aaa !important;
    }
  }

  .select2-search--dropdown {
    padding: 0 !important;
  }
  
  .select2-results__option {
    padding: 0px 2px 1px !important;
    min-height: 20px;
  }

  /* end reset style dropdown in css select2 */

  /* kendo tab */
  .k-tabstrip-items {
    & .k-item {
        background-color: #f2f2f2 !important;
        &.k-state-hover {
            background: #20af80 !important;
            border-color: #20af80 !important;
        }
    }
  }
  /* emd kendo tab */

// for advance driver rule box color 
.box-advance-driver-performance-rule-bad {
    border: 0 red solid;
    background: #FF0000;
    height: 30px;
    margin-left: 30px;
}

.box-advance-driver-performance-rule-fair {
    border: 0 red solid;
    background: #FFC000;
    height: 30px;
    margin-left: 30px;
}

.box-advance-driver-performance-rule-good {
    border: 0 red solid;
    background: #59D559;
    height: 30px;
    margin-left: 30px;
}
//
.advance-driver-rule-span-fair {
    max-width: 6% !important;
    padding-right: 0 !important;
    padding-left: 5% !important;
}

.advance-driver-rule-range-fair-begin {
    padding-left: 0 !important;
    max-width: 20% !important;
    padding-right: 0 !important;
}

.advance-driver-rule-range-end {
    margin-left: -28%;
    max-width: 21% !important;
    padding-left: 0 !important;
}

.advance-driver-rule-scale-span {
    margin-left: -10px;
    font-size: 20px
}

.advance-driver-rule-scale-span-fair {
    margin-left: -10px;
    font-size: 20px
}

.PlayVideoStatus{
    width:20px; 
    height: 20px; 
    padding-left:25%;
  }
  .PlayVideoStatus > svg{
    max-height: 20px;
  }
  .PlayVideoStatusDisable > svg{
    cursor: not-allowed !important;
  } 