$common-loading-bg:#CECECE;

.app-splashscreen {
    background-color: $common-loading-bg !important;
}

@mixin theme( $name, $gisc-darkgreen, $gisc-green, $gisc-lightgreen, $gisc-yellow, $gisc-black, $gisc-darkgray, $gisc-gray, $gisc-lightgray, $gisc-left-menu-bg, $gisc-modal-dialog-bg, $gisc-control-bg, $gisc-notification-bg, $gisc-control-error, $gisc-control-error-bg, $gisc-status-fail, $gisc-selected-item-bg, $gisc-control-focus, $gisc-control-disable, $gisc-top-bar-bg, $gisc-top-bar-text, $gisc-alert-icon-bg, $gisc-selected-tb-row, $gisc-selected-grid-row, $gisc-selected-svg, $gisc-selected-grid-dropdown, $gisc-ui-selected, $gisc-font, $gisc-sidebar-svg-color, $gisc-sidebar-selected-svg, $gisc-topbar-notification-font-color,$gisc-topbar-color-hover,$gisc-color-selected-treeview) {
    .#{$name} {
        background-color: $common-loading-bg;

        .app-splashscreen {
            background-color: $common-loading-bg;

            .app-splashscreen-logo > svg {
                fill: $gisc-lightgray;
            }
        }

        .app-splashscreen-loader-container {
            > div {
                background-color: $gisc-lightgray;
            }
        }

        .app-portal {
            background-color: $gisc-gray;

            .app-topbar {
                // background-color: $gisc-darkgray;
                background-color: $gisc-top-bar-bg;

                .app-topbar-content {
                    .app-topbar-home {
                        svg {
                            fill: $gisc-lightgray;
                        }
                    }

                    .app-topbar-logo {
                        .app-topbar-logo-image {
                            @if $name == app-theme-pea {
                                &.no-logo {
                                    background-color: #d593fb;
                                    color: $gisc-lightgray;
                                }
                            }
                            @else {
                                &.no-logo {
                                    background-color: $gisc-gray;
                                    color: $gisc-lightgray;
                                }
                            }
                        }
                    }

                    .app-topbar-notifications {
                        .app-notificationmenu-menu {
                            .app-dropmenu {
                                .app-dropmenu-content {
                                    &:after {
                                        border: solid 8px transparent;
                                        border-bottom-color: $gisc-lightgreen;
                                    }
                                }
                            }
                        }
                    }
                }

                .app-topbar-journey-icon {
                    svg {
                        fill: $gisc-gray;
                    }
                }
            }

            .app-accent,
            .app-popup {
                box-shadow: 0 10px 20px -5px $gisc-gray;
            }
        }

        .app-blade-progress-translucent {
            div {
                background: $gisc-lightgray;
            }
        }

        .app-blade-content {
            .app-blade-progress-translucent {
                div {
                    background: $gisc-green;
                }
            }
        }

        .app-blade-color-locked {
            .app-blade-content,
            .app-blade-actionBar {
                background-color: $gisc-lightgray;
                color: $gisc-darkgray;
                border-color: $gisc-gray;
            }
        }

        .app-journey {
            > .app-journey-layout {
                > .app-stacklayout-child {
                    &:first-child {
                        box-shadow: -5px 0 0 $gisc-darkgray;
                    }
                }
            }
        }
        /*----------------------------- TOP BAR -----------------------*/
        .app-breadcrumb-wrapper {
            .app-breadcrumb-crumb {
                // color: $gisc-lightgray;
                color: $gisc-top-bar-text;
            }

            .app-breadcrumb-divider {
                svg {
                    fill: $gisc-lightgray;
                }
            }

            .app-breadcrumb-dropmenu {
                .app-dropmenu-button {
                    color: $gisc-lightgray;
                }

                .app-breadcrumb-crumb {
                    color: $gisc-black;
                }
            }
        }
        // noti UnreadCount color style
        .app-notificationmenu-button-unreadcount {
            background-color: $gisc-alert-icon-bg;
            color: $gisc-topbar-notification-font-color;
            //color: $gisc-black;
        }
        /*@if $name == app-theme-pea {
            // noti UnreadCount color style
            .app-notificationmenu-button-unreadcount {
                background-color: $gisc-alert-icon-bg;
                color: $gisc-top-bar-text;
            }
        }
        @else {
        }*/
        // noti dropdown title color
        .app-notificationmenu-dropdown-title {
            background-color: $gisc-lightgreen;

            .app-notificationmenu-dropdown-title-icon {
                svg {
                    fill: $gisc-green;
                }
            }
        }
        // noti list icon svg
        .app-notificationmenu-list-system {
            .app-notificationmenu-list > li {
                .app-notificationmenu-notification-title-icon-right {
                    svg {
                        fill: $gisc-gray;
                    }
                }

                .app-notificationmenu-notificationclick {
                    text-decoration: none;
                    cursor: pointer;
                    border-bottom: 1px solid $gisc-gray;

                    &.unread {
                        padding-left: 4px !important;
                        border-left: 6px solid $gisc-lightgreen;
                        background-color: $gisc-lightgray;
                    }
                }
            }
        }
        /*-- Begin user menu control --*/
        .app-avatarmenu-dropdown {
            .app-avatarmenu-list-system {
                li {
                    border-bottom: solid 1px $gisc-gray;

                    &:last-child {
                        border-bottom: none;
                    }
                }

                .app-has-hover:hover {
                    background-color: $gisc-lightgreen;
                }
            }
        }
        /*
        -- End user menu control --*/
        /*----------------------------- SIDE BAR -----------------------*/
        .app-trim {
            background-color: $gisc-green;

            button {
                color: $gisc-lightgray;
            }
        }
        //side bar link font color
        .app-sidebar-bar {
            svg {
                fill: $gisc-sidebar-svg-color;

                .cls-1 {
                    fill: $gisc-sidebar-svg-color;
                }
            }

            button {
                &.app-sidebar-collapse-button {
                    border-bottom: solid 1px $gisc-darkgreen;
                }
                // prevent touch device :hover as :active by setting hover on svg instead of button.
                svg:hover {
                    .cls-1 {
                        fill: $gisc-yellow;
                    }
                }
            }

            .app-sidebar-item {
                a {
                    color: $gisc-sidebar-svg-color;

                    &:hover {
                        .app-sidebar-label {
                            color: $gisc-yellow;
                        }

                        .app-sidebar-icon svg {
                            fill: $gisc-yellow;

                            .cls-1 {
                                fill: $gisc-yellow;
                            }
                        }
                    }

                    &:focus,
                    &.active,
                    &:active {
                        background-color: $gisc-lightgray;

                        .app-sidebar-label {
                            color: $gisc-sidebar-selected-svg;
                        }

                        .app-sidebar-icon svg,
                        {
                            fill: $gisc-sidebar-selected-svg;

                            .cls-1 {
                                fill: $gisc-sidebar-selected-svg;
                            }
                        }
                    }
                }
            }
        }

        &.touch {
            .app-sidebar-bar {
                button {
                    &.app-sidebar-collapse-button {
                        // prevent touch device :hover as :active by setting hover on svg instead of button.
                        svg:hover {
                            .cls-1 {
                                fill: $gisc-lightgray;
                            }
                        }
                    }
                }
            }
        }
        /*----------------------------- BLADE -----------------------*/
        //Border Section
        .app-blade {
            border-right: 1px solid $gisc-gray;

            .app-blade-actions {
                button {
                    background-color: $gisc-lightgreen;

                    &:active {
                        background-color: $gisc-green;
                    }

                    > svg {
                        fill: $gisc-darkgreen;
                    }
                }
            }

            .app-blade-header {
                .app-blade-title {
                    color: $gisc-darkgray;
                }

                .app-text-title {
                    color: $gisc-gray;
                }
            }

            &.app-blade-minimized {
                border-right: 1px solid $gisc-gray;

                .app-blade-header {
                    background-color: $gisc-lightgray;

                    .app-blade-title h2 {
                        color: $gisc-darkgray;
                    }
                }
            }
        }
        //Blade header bg color
        .app-blade-header,
        .app-commandBar-item,
        .app-startboard-header.app-startboard-header-classic {
            background-color: $gisc-lightgreen;
        }
        //CommandBar icon color
        .app-commandBar {
            .app-commandBar-item {
                color: $gisc-darkgray;

                svg {
                    fill: $gisc-darkgray;
                }
            }
        }
        //CommandBar icon hover and active state
        .app-blade-header {
            .app-has-hover:hover .app-commandBar-item-text,
            .app-has-hover:active .app-commandBar-item-text,
            .app-has-hover.active .app-commandBar-item-text,
            .app-commandBar-itemActive .app-commandBar-item-text {
                color: $gisc-ui-selected;
            }

            .app-has-hover:hover .app-commandBar-item-icon svg,
            .app-has-hover:active .app-commandBar-item-icon svg,
            .app-has-hover.active .app-commandBar-item-icon svg,
            .app-commandBar-itemActive .app-commandBar-item-icon svg {
                fill: $gisc-ui-selected;
            }
        }
        //To disabled hover state on device.
        &.touch .app-blade-header {
            .app-has-hover:hover .app-commandBar-item-text,
            {
                color: $gisc-darkgray;
            }

            .app-has-hover:hover .app-commandBar-item-icon svg,
            {
                fill: $gisc-darkgray;
            }
        }
        //Blade ActionBar Border
        .app-blade-actionBar {
            .app-has-border {
                border-color: $gisc-gray;
            }
        }
        //action btn
        .button-default,
        .button-warning,
        .button-cancel {
            color: $gisc-gray;
        }

        .default {
            background: $gisc-green;
            border-color: $gisc-green;
        }

        .warning {
            background: $gisc-yellow;
            border-color: $gisc-yellow;
        }

        .cancel {
            background: $gisc-gray;
            border-color: $gisc-gray;
        }
        /*-----------------Control Theme----------------------*/
        /*-- All control Border -*/
        .app-bladecontent {
            .app-input,
            .app-textarea {
                color: $gisc-black;
                border-color: $gisc-gray;
                // http://stackoverflow.com/questions/22199047/placeholder-css-not-being-applied-in-ie-11
                &::-webkit-input-placeholder { /* Chrome, Safari, Opera */
                    color: $gisc-gray;
                }

                &::-moz-placeholder { /* Firefox */
                    color: $gisc-gray;
                }

                &:-ms-input-placeholder { /* IE10–11 */
                    color: $gisc-gray !important;
                }

                &::-ms-input-placeholder { /* Edge */
                    color: $gisc-gray;
                }

                &::placeholder { /* CSS Working Draft */
                    color: $gisc-gray;
                }
            }

            .app-dropdown .app-input {
                background-color: $gisc-control-bg;
            }

            .app-input[disabled],
            .app-textarea[disabled],
            .app-dropdown.disabled .app-input {
                background-color: $gisc-control-disable;
                cursor: not-allowed;
            }
        }
        /*-- All control Border -*/
        .app-form-labelcontainer {
            color: $gisc-font;
            // label {
            //     color: $gisc-gray;
            // }
            &.group label {
                color: $gisc-gray;
                font-weight: normal;
            }
        }

        .icon-map-playback > .font_18 {
            color: $gisc-gray;
        }
        /*-- begin tab control -*/
        .ext-hubs-tabssection {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $gisc-gray;

            a {
                border: solid 1px $gisc-gray;
                border-width: 1px 0 0 1px;
                color: $gisc-darkgray;
                background-color: $gisc-control-bg;
                text-decoration: none;
                min-width: 2.5em;

                &.ext-hubs-selectedtab {
                    border-bottom-color: $gisc-gray;
                    color: $gisc-control-bg;
                    background-color: $gisc-green;
                }

                &:last-child {
                    border-right-width: 1px;
                }
            }
        }
        /*-- end tab control --*/
        .app-popup {
            background-color: $gisc-lightgray;
            border-color: $gisc-gray;

            .app-has-hover:hover {
                background-color: $gisc-lightgray;
            }

            .app-fill-secondary {
                svg {
                    fill: $gisc-gray;
                }
            }
        }

        .app-popup-button.app-is-selected svg {
            fill: $gisc-lightgray;
        }

        .app-br-default {
            border-color: $gisc-gray;
        }

        .app-text-default {
            color: $gisc-gray;
        }
        /*-- Begin statusBar control --*/
        .app-blade-status-container {
            &.fail {
                background-color: $gisc-status-fail;

                svg {
                    .cls-2 {
                        fill: $gisc-status-fail;
                    }
                }
            }

            &.success {
                background-color: $gisc-green;

                svg {
                    .cls-2 {
                        fill: $gisc-green;
                    }
                }
            }
        }
        /*-- End statusBar control --*/
        /*-- Begin CheckBox control --*/
        .app-checkBox-control {
            input:checked ~ .app-control-indicator {
                background: $gisc-green;

                svg {
                    .cls-1 {
                        fill: $gisc-control-bg;
                    }
                }
            }

            input:disabled ~ .app-control-indicator {
                background-color: $gisc-left-menu-bg;

                svg {
                    .cls-1 {
                        fill: $gisc-gray;
                    }
                }
            }
        }
        //CheckBox dataTable
        .app-checkBox-control-dt {
            input:checked ~ .app-control-dt-indicator {
                background-color: $gisc-green;

                svg {
                    .cls-1 {
                        fill: $gisc-control-bg;
                    }
                }
            }

            input:disabled ~ .app-control-dt-indicator {
                background-color: $gisc-left-menu-bg;

                svg {
                    .cls-1 {
                        fill: $gisc-gray;
                    }
                }
            }
        }
        /*-- End CheckBox control --*/
        /*-- begin fileupload control -*/
        .file-upload-container {
            background-color: $gisc-green;
            border-color: $gisc-green;

            &.disable {
                span {
                    color: $gisc-lightgray;
                }
            }

            span {
                color: $gisc-lightgray;
            }
        }

        .progress {
            background-color: $gisc-gray;

            .bar {
                background: $gisc-gray;
            }
        }
        /*-- end fileupload control --*/
        .dataTables_wrapper {
            .gisc-ui-icon {
                svg {
                    fill: $gisc-gray;
                }
            }
        }
        /*-- Begin dataTable control --*/
        .dataTables_filter {
            input[type=text] {
                border: 1px solid $gisc-gray;
            }

            .dt-filter-clear {
                color: $gisc-gray;
            }
        }

        table.dataTable.gisc {
            thead {
                tr {
                    border-color: $gisc-gray;
                }

                th.sorting:after {
                    color: $gisc-gray;
                }

                th.sorting_asc:after {
                    color: $gisc-darkgray;
                }

                th.sorting_desc:after {
                    color: $gisc-darkgray;
                }

                th {
                    color: $gisc-black;
                    background-color: $gisc-lightgreen;
                }
            }

            tbody {
                tr {
                    border: 1px solid $gisc-gray;

                    td {
                        .dt-row-remover {
                            color: $gisc-gray;
                        }
                    }

                    &.recent-changed {
                        color: $gisc-green;
                    }

                    &:hover {
                        td {
                            &.dataTables_empty {
                                background-color: $gisc-control-bg;
                            }
                        }
                    }

                    &.no-highlight:hover {
                        background-color: $gisc-control-bg;
                    }

                    &.selected {
                        background-color: $gisc-selected-item-bg;

                        &.no-highlight {
                            background-color: inherit;
                            color: inherit;

                            &:hover {
                                background-color: $gisc-lightgray;
                            }
                        }

                        &.recent-changed {
                            color: $gisc-control-bg;
                        }

                        td {
                            color: $gisc-green;

                            &:first-child {
                                background-color: transparent;
                                background-image: url($gisc-selected-tb-row);
                                background-repeat: repeat-y;
                                background-attachment: scroll;
                                background-position: left;
                            }
                        }
                    }
                }
            }

            .dt-textbox,
            .dt-textboxone,
            .dt-rangebox,
            .dt-rangebox-advance-rule-fuel
            {
                border: solid 1px $gisc-gray;
            }

            .dt-textbox-range-readonly {
                border: solid 1px $gisc-gray;
                background-color: #dbdbdb;
                cursor: not-allowed;
                padding: 2px 8px 4px 8px;
                text-align: center;
            }
        }
        /*-- End dataTable control --*/
        /*-- Begin Messagbox control --*/
        .app-messagebox {
            .app-messagebox-buttons {
                border-top: 1px solid $gisc-gray;
            }
        }

        .app-portal-shield {
            background-color: $gisc-modal-dialog-bg;

            .app-blade-dialoghost {
                .app-messagebox {
                    background-color: $gisc-lightgray;
                }
            }
        }
        /*-- End Messagbox control --*/
        /*-- dataTable (manual) --*/
        table.gisc-ui-datatable {
            thead {
                tr {
                    border: 1px solid $gisc-gray;

                    th {
                        color: $gisc-black;
                        background-color: $gisc-lightgreen;
                    }
                }
            }

            tbody {
                tr {
                    border: 1px solid $gisc-gray;
                    background-color: $gisc-control-bg;

                    &:hover {
                        background-color: $gisc-lightgray;
                    }

                    &.no-highlight:hover {
                        background-color: $gisc-control-bg;
                    }
                }

                td {
                    &.category {
                        background-color: $gisc-lightgreen;
                        font-weight: bold;
                    }
                }
            }
        }

        .app-journeysmenu-list-container {
            li.app-journeysmenu-list {
                border-bottom: 1px solid $gisc-left-menu-bg;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .app-journeysmenu-list-container {
            li.app-journeysmenu-list {
                border-bottom: 1px solid $gisc-left-menu-bg;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .app-topbar-avatarmenu {
            a.app-menu-account {
                // color: $gisc-lightgray;
                color: $gisc-top-bar-text;

                &:hover {
                    color: $gisc-topbar-color-hover;
                }
            }
        }
        //To disabled hover state on device.
        &.touch .app-topbar-avatarmenu {
            a.app-menu-account {
                color: $gisc-lightgray;

                &:hover {
                    color: $gisc-lightgray;
                }
            }
        }
        /*-- Top Bar Notifications / Company Switcher --*/
        .app-notificationmenu-menu,
        .app-companyswitchermenu-menu {
            .app-dropmenu-button {
                .cls-1 {
                    fill: transparent;
                }

                .cls-2 {
                    fill: $gisc-notification-bg;
                }

                .cls-3 {
                    fill: $gisc-lightgray;
                }

                &:hover {
                    .cls-3 {
                        fill: $gisc-topbar-color-hover;
                    }
                }

                &.app-is-selected {
                    .cls-1 {
                        fill: $gisc-black;
                    }

                    .cls-2 {
                        fill: $gisc-green;
                    }
                }
            }
        }
        //Top Bar Test Drive
        .test-drive-widget {
            background-color: $gisc-notification-bg;
            padding: 3px;
            border-radius: 20px;
            width: 26px;
            height: 26px;
            margin-top: 5px;
            margin-left: 5px;

            > svg {
                fill: $gisc-lightgray
            }

            &:hover {
                > svg {
                    fill: $gisc-topbar-color-hover
                }
            }
        }
        // prevent touch device :hover as :active by setting hover on svg instead of button.
        &.touch {
            .app-companyswitchermenu-menu,
            .app-notificationmenu-menu {
                .app-dropmenu-button {
                    &:hover {
                        .cls-3 {
                            fill: $gisc-lightgray;
                        }
                    }
                }
            }
        }

        .app-popup {
            color: $gisc-darkgray;
            background-color: $gisc-lightgray;

            a {
                color: $gisc-darkgray;
            }

            svg {
                fill: $gisc-darkgray;
            }

            .app-journeysMenu-discardButton {
                svg {
                    fill: $gisc-darkgray;
                }
            }
        }

        .app-notificationmenu-list-system {
            .app-notificationmenu-list {
                > li {
                    .app-notificationmenu-notification-icon-right {
                        svg {
                            fill: $gisc-gray;
                        }
                    }
                }
            }
        }

        .gisc-section-header {
            color: $gisc-darkgray;
            font-weight: bold;
        }

        .gisc-ui-listview {
            .gisc-ui-button {
                a.gisc-ui-link-inherit {
                    color: $gisc-font;

                    &.selected {
                        background-color: $gisc-selected-item-bg;
                        color: $gisc-ui-selected;

                        .gisc-ui-required {
                            color: $gisc-lightgreen;
                        }
                    }
                }

                .gisc-ui-icon {
                    color: $gisc-gray;

                    &.selected {
                        color: $gisc-lightgray;
                    }

                    svg {
                        fill: $gisc-gray;
                    }
                }

                .gisc-ui-required {
                    color: $gisc-control-error;
                }
            }

            li {
                border-bottom: 1px solid $gisc-gray;

                &:first-child {
                    border-top: 1px solid $gisc-gray;
                }

                &:hover {
                    background-color: $gisc-left-menu-bg;
                }
            }
        }

        .app-image-combobox {
            .dd {
                background-color: $gisc-control-bg;

                &:focus {
                    border: 1px solid $gisc-control-focus;
                    box-shadow: 0px 0px 0px 1px $gisc-control-focus;
                }

                .ddTitle {
                    color: $gisc-darkgray;
                }

                .ddChild {
                    li {
                        background-color: $gisc-control-bg;

                        &.selected {
                            background-color: $gisc-control-bg;
                            color: $gisc-black;
                        }

                        &.hover {
                            background-color: $gisc-lightgray;
                        }
                    }
                }
            }
        }

        .jstree-default {
            & .jstree-clicked {
                background: $gisc-color-selected-treeview !important;
            }
        }


        .app-treeview-dropdown-wrapper {
            border: 1px solid $gisc-gray;
            background: $gisc-control-bg;

            &.enable {
                background-color: $gisc-left-menu-bg;
            }

            &.focus {
                border: 1px solid $gisc-control-focus;
                box-shadow: 0px 0px 0px 1px $gisc-control-focus;
            }

            .app-allow-icon {
                &:after {
                    border-top: 5px solid $gisc-gray;
                }
            }

            .app-remove-icon {
                svg {
                    fill: $gisc-gray;
                }
            }

            .app-treeview-dropdown-contain {
                background-color: $gisc-control-error-bg;
            }

            .app-treeview-dropdown-list {
                border: 1px solid $gisc-gray;
                background: $gisc-control-bg;
            }

            .jstree-default {
                .jstree-wholerow-hovered {
                    background: $gisc-green;
                }
            }
        }
        /* -- Visual Effect --*/
        .app-sidebar.has-shadow,
        .app-blade.has-shadow,
        .app-blade:last-child {
            box-shadow: 1px 0 5px $gisc-gray;
        }

        .fxc-button.azc-button {
            span {
                color: $gisc-sidebar-svg-color;
                font-weight: bold;
            }
        }

        .file-upload-container.disable,
        .fxc-actionBarBase:disabled {
            background-color: $gisc-control-disable;
            border-color: $gisc-control-disable;
            cursor: not-allowed;
        }

        .app-tile-progress {
            background-color: $gisc-lightgray;
        }

        .app-tile-progress-transparent {
            div {
                background: $gisc-black;
            }
        }

        .gisc-ui-listview-bordered {
            > li {
                border-left: 1px solid $gisc-gray;
                border-right: 1px solid $gisc-gray;
            }
        }

        .msportalfx-svg-c01,
        .msportalfx-svg-c15,
        .msportalfx-svg-c16 {
            fill: $gisc-lightgray;
        }

        .msportalfx-svg-c22 {
            fill: $gisc-status-fail;
        }
        /*Searchbox*/
        .app-topbar-searchbox {
            .search {
                input {
                    background: $gisc-lightgray url("../images/ic-search.svg") 160px -1px no-repeat;
                    border: 1px solid $gisc-gray;

                    &:focus {
                        background: $gisc-lightgray;
                    }
                }

                svg {
                    fill: $gisc-gray;
                }
            }
        }

        a.inline-cmd {
            color: $gisc-black;

            i {
                color: $gisc-gray;
                font-size: 14px;
            }
        }

        .minicolors-theme-default {
            .minicolors-input {
                background-color: $gisc-control-bg;
                height: inherit;
            }
        }

        .app-dockedballoon-requiredwidget {
            &.app-dockedballoon-required {
                fill: $gisc-control-error;
            }
        }

        .app-bladecontent .app-input:focus,
        .app-bladecontent .app-textarea:focus {
            border: solid 1px $gisc-control-focus;
            box-shadow: 0px 0px 0px 1px $gisc-control-focus;
        }

        .app-bladecontent .app-input.ko-input-err,
        .app-bladecontent .app-textarea.ko-input-err,
        .app-datetime-box .box.ko-input-err input {
            background-color: $gisc-control-error-bg !important;
            border: solid 1px $gisc-control-error !important;
        }
        /* watch change */
        .app-bladecontent .app-input.watch-change,
        .app-bladecontent .app-textarea.watch-change,
        .app-datetime-box .box.watch-change input {
            background-color: #fff;
            border: solid 1px $gisc-green;
        }

        .ko-inline-msg-err,
        .ko-block-msg-err {
            color: $gisc-control-error;
            font-size: 0.8em;
        }

        .app-treeview-dropdown-wrapper {
            &.ko-input-err {
                background-color: $gisc-control-error-bg;
                border: solid 1px $gisc-control-error;
            }
        }

        .app-checkBox-contain {
            .app-checkBox-control {
                input:disabled ~ {
                    .app-control-indicator {
                        &:after {
                            border-color: $gisc-gray;
                        }
                    }
                }
            }

            .app-input.focus {
                border: 1px solid $gisc-control-focus;
                box-shadow: 0px 0px 0px 1px $gisc-control-focus;
            }
        }

        .control-checkbox {
            .app-control-indicator {
                background: $gisc-control-bg;

                &:after {
                    border: solid $gisc-control-bg;
                    border-width: 0 2px 2px 0;
                }
            }
        }

        .app-control-dt-indicator {
            background: $gisc-control-bg;
        }

        .app-dropdown {
            .app-input.focus {
                border: 1px solid $gisc-control-focus;
                box-shadow: 0px 0px 0px 1px $gisc-control-focus;
            }
        }

        .app-dropdown-wrapper {
            .app-dropdown-arrow-normal:before {
                border-top: 5px solid $gisc-gray;
            }
        }

        .app-combobox-wrapper {
            .app-combobox-arrow-normal:before {
                border-top: 5px solid $gisc-gray;
            }
        }

        .app-balloon {
            .app-balloon-content {
                color: $gisc-control-bg;
            }

            .app-bg-content {
                background-color: $gisc-darkgray;
            }
        }

        .app-text-default {
            color: $gisc-green;
        }

        .app-blade-status-container {
            .app-blade-status {
                .app-blade-status-arrow {
                    fill: $gisc-control-bg;
                }
            }

            .app-blade-status,
            .app-blade-status-text-container {
                color: $gisc-control-bg;
            }

            .app-blade-status-icon {
                svg {
                    fill: $gisc-control-bg;
                }
            }
        }

        .app-blade-dialoghost {
            .app-accent {
                background-color: $gisc-control-bg;
                color: $gisc-darkgray;
                border-color: $gisc-gray;
                box-shadow: 0 10px 20px -5px $gisc-darkgray;
            }
        }

        .file-upload-name {
            .close {
                background-color: $gisc-gray;
            }
        }

        .progress {
            background-color: $gisc-gray;

            .bar {
                background: $gisc-green;
            }
        }

        .app-datetime-box {
            .box {
                input {
                    border: 1px solid $gisc-gray;
                }

                svg {
                    fill: $gisc-gray;
                }
            }
        }

        .ui-widget-header {
            background: $gisc-lightgreen;
            color: $gisc-control-bg;

            .ui-state-hover {
                color: $gisc-darkgray;
            }
        }

        .ui-datepicker {
            th {
                color: $gisc-green;
            }

            .ui-datepicker-buttonpane button {
                background: $gisc-green;
                color: $gisc-control-bg;

                &.ui-datepicker-current {
                    background-color: $gisc-lightgreen;
                    color: $gisc-darkgray;
                }
            }

            .ui-datepicker-title {
                select {
                    border: 1px solid $gisc-gray;
                    background: $gisc-control-bg;
                    color: $gisc-darkgray;
                }

                select:-moz-focusring {
                    color: transparent;
                    text-shadow: 0 0 0 $gisc-darkgray;
                }
            }
        }

        .ui-state-default,
        .ui-widget-content .ui-state-default {
            border: 1px solid $gisc-control-bg;
            background: $gisc-control-bg;
        }

        .ui-state-active,
        .ui-widget-content .ui-state-active {
            border: 1px solid $gisc-green;
            background: $gisc-green;
        }

        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight {
            background: $gisc-lightgreen;
            color: $gisc-darkgray;
        }

        .ui-timepicker-div {
            .ui_tpicker_time .ui_tpicker_time_input {
                border-bottom: solid 1px $gisc-gray;
            }

            .ui_tpicker_timezone .ui_tpicker_time_input {
                border-bottom: solid 1px $gisc-gray;
            }
        }

        .ui-timepicker-select.ui-state-default {
            border: 1px solid $gisc-gray;
            background: $gisc-lightgray;
        }

        .ui-datepicker-dropdown {
            .ui-datepicker-dropdown-arrow {
                &:before {
                    border-top: 5px solid $gisc-gray;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }
            }
        }

        .app-messagebox-buttons,
        .fxc-actionBarBase-button {
            &:focus {
                border: solid 1px $gisc-control-focus;
                box-shadow: 0px 0px 0px 1px $gisc-control-focus;
            }
        }

        .dt-load-more {
            button {
                &:focus {
                    border: solid 1px $gisc-control-focus;
                    box-shadow: 0px 0px 0px 1px $gisc-control-focus;
                }
            }
        }

        .img-custom-geofencing {
            width: 30px;
            height: 30px;
            cursor: pointer;
            text-align: center;

            svg {
                fill: $gisc-darkgray;

                .cls-1 {
                    fill: $gisc-darkgray;
                }
            }
        }

        .img-custom-geofencing:hover {
            svg {
                fill: $gisc-yellow;

                .cls-1 {
                    fill: $gisc-yellow;
                }
            }
        }

        .img-custom-geofencing:active {
            svg {
                fill: $gisc-green;

                .cls-1 {
                    fill: $gisc-green;
                }
            }
        }

        $icon-green: #19dd72;
        $icon-red: #ed1c24;
        $icon-blue: #2e3192;
        $icon-yellow: #eccc3c;

        .table-asset table.dataTable, .k-grid {
            $icon-yellow: #f4a61e;
            $icon-darkgray: #323b3a;
            $icon-gray: #a3a5a8;

            div[class^="icon-"],
            img[class^="icon-"] {
                //default icon color
                svg .cls-1 {
                    fill: $icon-darkgray;
                }

                &.icon-movement {


                    &.move svg .cls-1 {
                        fill: $icon-green;
                    }

                    &.stop svg .cls-1 {
                        fill: $icon-red;
                    }

                    &.park svg .cls-1 {
                        fill: $icon-blue;
                    }

                    &.parkEngineOn svg .cls-1 {
                        fill: $icon-yellow
                    }
                }

                &[class^="icon-direction"] svg .cls-1 {
                    fill: $icon-darkgray;
                }

                &.icon-gps {

                    &.bad svg .cls-1 {
                        fill: $icon-red;
                    }

                    &.medium svg .cls-1 {
                        fill: $icon-yellow;
                    }

                    &.good svg .cls-1 {
                        fill: $icon-green;
                    }
                }

                &.icon-gsm {

                    &.bad svg .cls-1 {
                        fill: $icon-red;
                    }

                    &.medium svg .cls-1 {
                        fill: $icon-yellow;
                    }

                    &.good svg .cls-1 {
                        fill: $icon-green;
                    }
                }

                &.icon-dltstatus {

                    &.success svg .cls-1 {
                        fill: $icon-green;
                    }

                    &.fail svg .cls-1 {
                        fill: $icon-red;
                    }
                }

                &.icon-engine {

                    &.on svg .cls-1 {
                        fill: $icon-green;
                    }

                    &.off svg .cls-1 {
                        fill: $icon-gray;
                    }
                }

                &.icon-sos {

                    &.on svg .cls-1 {
                        fill: $icon-green;
                    }

                    &.off svg .cls-1 {
                        fill: $icon-gray;
                    }
                }

                &.icon-power {

                    &.on svg .cls-1 {
                        fill: $icon-green;
                    }

                    &.off svg .cls-1 {
                        fill: $icon-gray;
                    }
                }

                &.icon-delay {
                    .cls-1 {
                        fill: #a7a9ac;
                    }

                    .cls-2 {
                        fill: #58595b;
                    }
                }
            }

            .over-fleet-delay-time {
                color: $icon-red;
            }

            .location.system-poi {
                color: $gisc-darkgray;
            }

            .location.system-poi-green {
                color: #008216;
            }

            .location.system-poi-blue {
                color: #0000FF
            }
        }
        //Fleet-Monitoring
        .app-fleetMonitoring-timeline-wrap {
            .header {
                .app-fleetMonitoring-icon {
                    svg {
                        fill: $gisc-gray;
                    }
                }
            }
        }

        .move {
            color: $icon-green;
        }

        .park {
            color: $icon-blue;
        }

        .stop {
            color: $icon-red;
        }
        //Chart bar border
        .app-chart-bar-container {
            canvas {
                border: 1px solid $gisc-gray;
            }
        }
        // widget playback go to top
        .myBt {
            background-color: $gisc-green;
            color: $gisc-lightgray;
        }
        /*-------------- Alert Detail Features -------------------------*/
        .feature-container {
            .feature-item {
                .feature-icon {
                    svg {
                        fill: $gisc-darkgray;
                    }
                }
            }
        }

        .global-search-find {
            ul {
                li {
                    span {
                        color: $gisc-darkgray;
                    }

                    svg {
                        fill: $gisc-darkgray;
                    }

                    &.selected {
                        span {
                            color: $gisc-selected-svg;
                        }

                        svg {
                            fill: $gisc-selected-svg;
                        }
                    }
                }
            }
        }

        .global-search-result {
            svg {
                fill: $gisc-darkgray;
            }

            li {
                border-bottom: solid 1px $gisc-gray;

                &.selected {
                    color: $gisc-green;

                    svg {
                        fill: $gisc-green;
                    }
                }
            }
        }
        /* Context Menu Style*/
        .app-contextMenu-item {
            border-bottom: solid 1px $gisc-gray;

            &.app-has-hover {
                &:hover {
                    background-color: $gisc-lightgreen;
                }
            }
        }

        .shipment-grid-view-on-map-svg {
            fill: $gisc-green;
        }

        .shipment-grid-best-sequence {
            fill: $gisc-green;

            &.disabled {
                fill: $gisc-gray;
            }
        }

        .app-dropdown .app-input.watch-change {
            border: 0 none !important;
        }
        /*-------------- FleetMonitoring -------------------------*/
        .app-fleetMonitoring-timeline-wrap {
            .header {
                .title {
                    .app-fleetMonitoring-vehicle {
                        .vehicleLicense,
                        .vehicleBrand {
                            color: $gisc-font;
                        }
                    }
                }
            }

            .header-summary {
                background: $gisc-control-bg;
            }

            .details {
                border-left: 2px $gisc-lightgray solid;
            }

            .app-fleetMonitoring-legend {
                .legend-move {
                    background: $icon-green;
                }

                .legend-park {
                    background: $icon-blue;
                }

                .legend-stop {
                    background: $icon-red;
                }
            }

            .app-fleetMonitoring-description {
                .icon-description {
                    border: 1px $gisc-black solid;
                }
            }
        }
        /*-------------- Transportation -------------------------*/
        .transportation {
            table.assign-additional-tbl {
                border: 1px solid $gisc-control-disable;

                thead {
                    th {
                        border-left: 1px solid $gisc-lightgray;
                        background: $gisc-lightgreen;
                    }

                    th:first-child {
                        border-left: 0px solid $gisc-lightgray;
                    }
                }

                tbody {
                    tr:hover {
                        background: $gisc-control-disable !important;
                    }

                    tr:nth-child(odd) {
                        background: $gisc-control-bg;
                    }

                    tr:nth-child(even) {
                        background: $gisc-lightgray;
                    }

                    td, th {
                        border-left: 1px solid $gisc-control-disable;
                    }

                    td:last-child, th:last-child {
                        border-right: 1px solid $gisc-control-disable;
                    }
                }
            }
        }
        /*-------------- Dashboard -------------------------*/
        .dash-board {
            background: $gisc-control-bg;
        }

        .dashboard-row-1 {
            background-color: $gisc-control-disable;
        }

        .dashboard-row-2, .dashboard-row-3 {
            background-color: $gisc-control-bg;
        }

        .dash_sub {
            background-color: $gisc-control-bg;
        }

        .dash_item {
            border: 1px solid $gisc-control-disable;
            background-color: $gisc-control-bg;
        }

        .box_status {
            color: $gisc-control-bg;
        }

        .box_status {
            div {
                color: $gisc-control-bg;
            }
        }

        .box_MTDAndAlerts {
            border-bottom: 1px solid $gisc-black;
        }

        .div_MTDAndAlerts:nth-child(2n) {
            background: $gisc-lightgray;
        }

        .white {
            color: $gisc-control-bg;
        }

        .tablePorter-th {
            background-color: $gisc-lightgreen;
            color: $gisc-black;
        }

        .tablePorter-td {
            border: 1px solid $gisc-control-disable;

            label {
                color: $gisc-black;
            }
        }
        /*====================== Waypoint Delivery Order  ===================*/
        .do-waypoint-name {
            color: $gisc-gray;
        }

        .do-waypoint-docount {
            color: $gisc-black;
        }

        .tblCreateShipment {
            .divHeader,
            .divRow {

                > .tblHeader,
                > .tblRow {
                    border-bottom: 1px $gisc-control-disable solid;
                    border-left: 1px $gisc-control-disable solid;
                }

                > .tblHeader {
                    border-top: 1px $gisc-control-disable solid;
                    border-bottom: 1px $gisc-control-disable solid;
                    background: $gisc-lightgreen;
                }

                .tblHeader:last-child,
                .tblRow:last-child {
                    border-right: 1px $gisc-control-disable solid;
                }
            }

            .divRow:nth-child(odd) {
                background: $gisc-control-bg;
            }

            .divRow:nth-child(even) {
                background: $gisc-lightgray;
            }
        }
        /*====================== Kendo UI ===================*/
        .k-grid-footer {
            background-color: $gisc-lightgreen !important;

            td {
                background-color: $gisc-lightgreen !important;
            }
        }

        .k-grid-header {
            background-color: $gisc-lightgreen !important;

            .k-header {
                background-color: $gisc-lightgreen !important;
            }

            .k-i-sort-asc-sm {
                color: $gisc-green !important;
            }

            .k-i-sort-desc-sm {
                color: $gisc-green !important;
            }
        }

        .k-pager-numbers .k-state-selected,
        .k-pager-wrap,
        .k-scheduler-header,
        .km-pane-wrapper .k-grid-header .k-header {
            background-color: $gisc-lightgreen !important;
        }

        .k-pager-numbers .k-state-selected {
            border-color: $gisc-selected-grid-row !important;
            background-color: $gisc-selected-grid-row !important;
        }

        .k-gantt .k-treelist {
            .k-alt.k-state-selected {
                background-color: $gisc-green !important;

                > td {
                    background-color: $gisc-green !important;
                }
            }

            .k-state-selected {
                background-color: $gisc-green !important;

                td {
                    background-color: $gisc-green !important;
                }
            }
        }

        .k-grid {
            td {
                &.k-state-selected {
                    background-color: $gisc-selected-grid-row !important;

                    &.k-state-focused {
                        background-color: $gisc-selected-grid-row !important;
                    }
                }

                &[data-grid="table-column-cell-onclick"] > svg:hover {
                    fill: $gisc-green;
                }
            }

            tr.k-state-selected {
                background-color: $gisc-selected-grid-row !important;
                color: $gisc-black !important;

                > td {
                    border-color: $gisc-selected-grid-row !important;
                }
            }

            ul.k-pager-numbers {
                &.k-reset {
                    &.k-state-expanded {
                        background-color: $gisc-lightgreen !important;
                    }
                }
            }
        }

        .k-listview > .k-state-selected, .k-marquee-color, .k-scheduler .k-today.k-state-selected, .k-scheduler-layout .k-state-selected, .k-state-selected.k-line {
            background-color: $gisc-selected-grid-row !important;
        }

        .k-state-selected {
            background-color: $gisc-selected-grid-row !important;
        }

        .k-flatcolorpicker.k-group,
        .k-menu {
            background-color: $gisc-lightgreen !important;
            border-color: $gisc-lightgreen !important;
        }

        .k-menu .k-state-active,
        .k-popup.k-context-menu.k-group .k-state-hover {
            background-color: $gisc-selected-grid-row !important;
            border-color: $gisc-selected-grid-row !important;
        }

        .k-popup.k-widget.k-context-menu {
            background-color: $gisc-lightgreen !important;
        }

        .k-dropdown {
            .k-state-focused {
                background-color: $gisc-selected-grid-dropdown !important;
            }
        }

        .k-filebrowser-dropzone {
            background-color: $gisc-green !important;
        }

        .k-list > {
            .k-state-hover, .k-state-focused {
                background-color: $gisc-selected-grid-dropdown !important;
                border-color: $gisc-selected-grid-row !important;
            }
        }

        .k-mobile-list {
            .k-edit-label.k-check:active {
                background-color: $gisc-green !important;
            }

            .k-item > {
                .k-label:active,
                .k-link:active {
                    background-color: $gisc-green !important;
                }
            }

            .k-recur-view .k-check:active {
                background-color: $gisc-green !important;
            }
        }

        .k-pager-wrap .k-link:hover,
        .k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
        .k-splitbar-horizontal-hover:hover,
        .k-splitbar-vertical-hover:hover {
            background-color: $gisc-selected-grid-row !important;
            border-color: $gisc-selected-grid-row !important;
        }

        .k-state-hover {
            background-color: $gisc-selected-grid-row !important;

            &:hover {
                background-color: $gisc-selected-grid-row !important;
            }
        }

        .k-widget.k-tooltip-validation {
            background-color: $gisc-green !important;
        }

        .k-menu .k-state-active,
        .k-popup.k-context-menu.k-group .k-state-hover {
            background-color: $gisc-selected-grid-row !important;
            border-color: $gisc-selected-grid-row !important;
        }

        .k-loading-image {
            background-image: url(../images/l2-loading.svg) !important;
        }

        .k-active-filter {
            background-color: $gisc-green !important;
        }

        .k-state-active {
            background-color: $gisc-selected-grid-row !important;

            &:hover {
                background-color: $gisc-selected-grid-row !important;
            }
        }

        .k-tabstrip .k-state-active {
            background-color: $gisc-green !important;
        }

        //active icon Font Awesome
        .k-widget {
            &.k-window{
                >.k-window-content{
                    i {
                        &.fa {
                            cursor: pointer;
                            &.active {
                                color: $gisc-green;
                            }
                            &:hover {
                                color: $gisc-green;
                            }
                        }
                    }
                    & .live-view-icon-list-video {
                        width: 20px;
                        cursor: pointer;
                        fill: $gisc-darkgray;
                        &:hover {
                            fill: $gisc-green; 
                        }
                        &.active {
                            fill: $gisc-green; 
                        }
                    }
                    & .live-view-view-on-map {
                        &:hover{
                            cursor: pointer;
                            >.live-view-svg {
                                & svg {
                                    fill: $gisc-green; 
                                }
                            }
                            & label {
                                cursor: pointer;
                                color: $gisc-green; 
                            }
                        }
                        &.active{
                            >.live-view-svg {
                                & svg {
                                    fill: $gisc-green; 
                                }
                            }
                            & label {
                                cursor: pointer;
                                color: $gisc-green; 
                            }
                        }
                        >.live-view-svg {
                            & svg {
                                margin-left: 8px;
                                width: 30px;
                                height: 30px;
                            }
                        }
                        
                    }
                }
            }
        }

        @media only screen and (max-width: 1024px) {
            .k-edge {
                .k-pager-numbers.k-state-expanded {
                    background-color: $gisc-lightgreen !important;
                }
            }

            .k-ff {
                .k-pager-numbers.k-state-expanded {
                    background-color: $gisc-lightgreen !important;
                }
            }

            .k-ie11 {
                .k-pager-numbers.k-state-expanded {
                    background-color: $gisc-lightgreen !important;
                }
            }

            .k-safari {
                .k-pager-numbers.k-state-expanded {
                    background-color: $gisc-lightgreen !important;
                }
            }

            .k-webkit {
                .k-pager-numbers.k-state-expanded {
                    background-color: $gisc-lightgreen !important;
                }
            }
        }
        /*====================== End Kendo UI ===================*/
        /* Route Drag Drop */
        .ui-route-option {
            table {
                td.active {
                    box-sizing: border-box;
                    border-bottom: 2px solid $gisc-green;

                    svg {
                        fill: $gisc-green;
                    }
                }
            }
        }

        .app-widget-component-vehicle-info {
            background: $gisc-selected-item-bg;

            .vehicle-info-row {

                .vehicle-info-col {
                    background: $gisc-control-bg
                }

                .vehicle-info-col.key {
                    border-bottom: 2px solid $gisc-selected-item-bg;
                    border-left: 2px solid $gisc-selected-item-bg;

                    label {
                        color: $gisc-green;
                    }
                }

                .vehicle-info-col.value {
                    border-bottom: 2px solid$gisc-selected-item-bg;
                    border-left: 2px solid $gisc-selected-item-bg;
                    border-right: 2px solid $gisc-selected-item-bg;

                    label {
                    }
                }
            }

            .vehicle-info-row:first-child {
                border-top: 2px solid $gisc-control-bg;
            }
        }
        /* quick search on blade */
        .app-textBox-wrapper {
            &.gb-search {
                input {
                    border-color: $gisc-green;
                    border-radius: 15px;
                    padding: 5px 8px 4px 15px;
                }
            }
        }
        /* quick search on widget*/
        .widget-quick-search {
            & .gb-search {
                padding-top: 0;
            }

            & button {
                position: absolute;
                right: -10px;
                cursor: pointer;
                outline: 0;
                border: 0;
                margin: 0;
                padding: 0;
                transition: opacity .2s ease-out;
                height: 20px;
                width: 20px;

                > svg {
                    fill: $gisc-darkgreen;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

@mixin layout($name, $layout-width, $layout-logo-height) {

    .#{$name} {
        .app-portal {
            .app-topbar {

                .app-topbar-content {

                    .app-topbar-home {
                        width: $layout-width;
                        min-width: $layout-width;

                        svg {
                            height: $layout-logo-height;
                        }
                    }
                }
            }
        }
    }
}

@include theme( 'app-theme-gis', 
#1e7358, // darkgreen
#20af80, // green
#b7d9c8, // lightgreen
#ffd100, // yellow
#1c211a, // black
#323b3a, // darkgray
#a3a5a8, // gray
#f2f2f2, // lightgray
#e2e3e4, // left-menu-bg
rgba(0, 0, 0, .7), // modal-dialog-bg
#ffffff, // control-bg
#666666, // notification-bg
#d34f4f, //control-error
#fff3f3, // control-error-bg
#d34f4f, // status-fail
#f1f2f2, // selected-item-bg
#a1c3fa, // control-focus
#dbdbdb, // control-disable

#323b3a,//top-bar bg,
#ffffff,//top-bar font color
#ffd100, //alert icon color,
'../images/dt-selected-row.png',
#f5e7a6, // seleced grid row,
#20af80, //selected svg,
#20af80, //selected dropdown datagrid
#20af80, //selected text ui Menu and CommandBar
#323B3A, //color font listview
#f2f2f2, // color svg item
#20af80, // color selected svg sidebar
#1c211a, //top-bar notification font color
#ffd100, //color mouse over on account name top bar
#b7d9c8 // color selected treeview
);

@include theme( 'app-theme-pea', 
#422f4f, // darkgreen
#373848, // green
#cccbdd, // lightgreen
#a35ecd, // yellow
#1c211a, // black
#422f4f, // darkgray
#a3a5a8, // gray
#f2f2f2, // lightgray
#e2e3e4, // left-menu-bg
rgba(0, 0, 0, .7), // modal-dialog-bg
#ffffff, // control-bg
#65257f, // notification-bg
#d34f4f, //control-error
#fff3f3, // control-error-bg
#d34f4f, // status-fail
#f1f2f2, // selected-item-bg
#a1c3fa, // control-focus
#dbdbdb, // control-disable
#8f49ab, //top-bar bg
#ffffff,//top-bar font color
#a35ecd, //alert icon color
'../images/pea-dt-selected-row.png',
#fac76f, // seleced grid row
#8f49ab, //selected svg
#8f49ab,// selected dropdown datagrid
#8f49ab, //selected text ui Menu and CommandBar
#323b3a, //color font listview
#f2f2f2, // color svg item
#373848, //  color selected svg sidebar
#ffffff, //top-bar notification font color
#a35ecd, //color mouse over on account name top bar
#b7d9c8 // color selected treeview
);

@include theme( 'app-theme-sccc', 
#9b0f06, // darkgreen
#E02214, // green
#999999, // lightgreen
#ffd100, // yellow
#1c211a, // black
#323b3a, // darkgray
#a3a5a8, // gray
#f2f2f2, // lightgray
#e2e3e4, // left-menu-bg
rgba(0, 0, 0, .7), // modal-dialog-bg
#ffffff, // control-bg
#666666, // notification-bg
#d34f4f, //control-error
#fff3f3, // control-error-bg
#d34f4f, // status-fail
#f1f2f2, // selected-item-bg
#a1c3fa, // control-focus
#dbdbdb, // control-disable

#ffffff, //top-bar bg
#323b3a,//top-bar font color
#E02214, //alert icon color
'../images/sccc-dt-selected-row.png',
#ffc2c2, // seleced grid row
#E02214, //selected svg
#E02214,  //selected dropdown datagrid
#E02214, //selected text ui Menu and CommandBar
#323b3a, //color font listview
#f2f2f2, // color svg item
#E02214, //  color selected svg sidebar
#1c211a, //top-bar notification font color
#ffd100, //color mouse over on account name top bar
#b7d9c8 // color selected treeview
);

@include theme( 'app-theme-kubota', 
#b2441a, // darkgreen
#F15A22, // green
#999999, // lightgreen
#ffd100, // yellow
#1c211a, // black
#323b3a, // darkgray
#a3a5a8, // gray
#f2f2f2, // lightgray
#e2e3e4, // left-menu-bg
rgba(0, 0, 0, .7), // modal-dialog-bg
#ffffff, // control-bg
#666666, // notification-bg
#d34f4f, //control-error
#fff3f3, // control-error-bg
#d34f4f, // status-fail
#f1f2f2, // selected-item-bg
#a1c3fa, // control-focus
#dbdbdb, // control-disable

#ffffff, //top-bar bg
#323b3a,//top-bar font color
#E02214, //alert icon color
'../images/kubota-dt-selected-row.png',
#f5b9a2, // seleced grid row
#F15A22, //selected svg
#F15A22, //selected dropdown datagrid
#F15A22, //selected text ui Menu and CommandBar
#323b3a, //color font listview
#f2f2f2, // color svg item
#F15A22, //  color selected svg sidebar
#1c211a, //top-bar notification font color
#ffd100, //color mouse over on account name top bar
#b7d9c8 // color selected treeview
);

@include theme( 'app-theme-boonrawd', #b2441a, // darkgreen
#ffc328, // green
#e6e6e6, // lightgreen
#ffffff, // yellow
#323B3A, // black
#323b3a, // darkgray  
#a3a5a8, // gray
#f2f2f2, // lightgray
#e2e3e4, // left-menu-bg
rgba(0, 0, 0, .7), // modal-dialog-bg
#ffffff, // control-bg
#666666, // notification-bg
#d34f4f, //control-error
#fff3f3, // control-error-bg
#d34f4f, // status-fail
#f1f2f2, // selected-item-bg
#a1c3fa, // control-focus
#dbdbdb, // control-disable
#f9f9f6, //top-bar bg
#666666, //top-bar font color
#E02214, //alert icon color
'../images/boonrawd-dt-selected-row.png', 
#FFC328, // seleced grid row
#FFC328, //selected svg
#FFC328, //selected dropdown datagrid
#FFC328, //selected text ui Menu and CommandBar
#323b3a, //color font listview
#805F14, // color svg item
#805F14, //  color selected svg sidebar
#ffffff, //top-bar notification font color
#ffc328, //color mouse over on account name top bar
#ffc328 // color selected treeview
);


@include layout('logo-layout-s', 60px, 35px);

@include layout('logo-layout-l', 120px, 58px);