﻿<div data-bind="template: { afterRender: afterRender.bind($data, $element)}">
    <div class="grid-stack" data-bind="attr:{id:id}, foreach: data ,  'data-gs-height': data().length + 1">
        <div class="grid-stack-item" data-gs-width="12" data-gs-height="1" data-bind="attr:{'data-gs-y':$index, id: 'gs-item-' + $index(), index:$index() }">
            <div class="grid-stack-item-content">
                <table border="0" style="width:100%;">
                    <tr>
                        <td style="width:40px;">
                            <img class="img-route-position" data-bind="attr: {src: $parent.getPin($index())}" alt="" title="" />
                        </td>
                        <!-- ko if: $parent.isDevice -->
                            <td style="width:calc(100% - 100px);">
                                <!--<gisc-ui-textbox data-bind="click:$parent.textClick.bind($data,$index())" params="value:name,placeholder:$parent.getWaterMarkText($index())" />-->
                                <gisc-ui-autocomplete params="onDatasourceRequest: $parent.onDatasourceRequestPOI,
                                                    type:'text', 
                                                    onSelectedItems: $parent.onSelectedItem.bind($data, $component, $index),
                                                    placeholder:$parent.getWaterMarkText($index()),
                                                    value:name" data-bind="click:$parent.textClick.bind($data,$index(),$element)" />
                            </td>
                            <td style="width:30px;">
                                <div style="margin-left:5px;width:20px;height:20px;" data-bind="click:$parent.stepUp.bind($parent, $index())">
                                    <svg-crumb-divider />
                                </div>
                                <div style="margin-left:5px;width:20px;height:20px;" data-bind="click:$parent.stepDown.bind($parent, $index())">
                                    <svg-journey />
                                </div>
                            </td>
                        <!-- /ko -->
                        <!-- ko ifnot: $parent.isDevice -->
                            <td style="width:calc(100% - 70px);">
                                <!--<gisc-ui-textbox data-bind="click:$parent.textClick.bind($data,$index())" params="value:name,placeholder:$parent.getWaterMarkText($index())" />-->
                                <gisc-ui-autocomplete params="onDatasourceRequest: $parent.onDatasourceRequestPOI,
                                                    type:'text', 
                                                    onSelectedItems: $parent.onSelectedItem.bind($data, $component, $index),
                                                    placeholder:$parent.getWaterMarkText($index()),
                                                    value:name" data-bind="click:$parent.textClick.bind($data,$index(),$element)" />
                            </td>
                        <!-- /ko -->
                        <td style="width:30px;cursor:pointer;">
                            <svg-blade-close data-bind="click:$parent.deleteNode.bind($parent, $index())" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
