﻿<div class="wg-goto-xy">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Goto XY</div>
    </div>
    <div class="global-widget-content content-xy">
        <div class="goto-xy-content">
            <div class="label">Lat,Lon</div>
            <div class="divTextBox">
                <input type="text" class="txtXY global-form-textbox" data-dojo-attach-point="txtLatLon"/>
            </div>
            <div class="divTextBox">
                <label class="label-error" data-dojo-attach-point="lblLatLonErrorMsg"></label>
            </div>
            <div class="divBtn">
                <div data-dojo-attach-point="btnPressOk" class="btnXY global-btn-submit">OK</div>
            </div>
        </div>
    </div>
</div>