<div class="wg-polygon-editor">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div class="global-widget-header-text">Polygon Editor Area</div>
    </div>
    <!-- <div class="div-button-control">
        <div data-dojo-attach-point="btnSubmit" class="global-btn-submit">OK</div>
        <div data-dojo-attach-point="btnCancel" class="global-btn-cancel">Cancel</div>
    </div> -->

    <div class="global-widget-content">
        <div class="drawing-control">
            <div class="div-btn-container">
                <div data-dojo-attach-point="btnFinishDrawingArea" class="div-btn disabled-btn"></div>
                <div class="tooltip">Finish Drawing</div>
            </div>
            <div class="div-btn-container">
                <div data-dojo-attach-point="btnDeleteGraphicsArea" class="div-btn disabled-btn"></div>
                <div class="tooltip">Delete</div>
            </div>
            <div class="div-btn-container">
                <div data-dojo-attach-point="btnUndoArea" class="div-btn disabled-btn"></div>
                <div class="tooltip">Undo</div>
            </div>
            <div class="div-btn-container">
                <div data-dojo-attach-point="btnRedoArea" class="div-btn disabled-btn"></div>
                <div class="tooltip">Redo</div>
            </div>
            <div class="div-btn-container">
                <div data-dojo-attach-point="btnStartDrawingArea" class="div-btn"></div>
                <div class="tooltip">Start Drawing</div>
            </div>
        </div>   
        <div class="div-point-collection-item-header"></div>
            <div data-dojo-attach-point="divPointCollectionArea" class="div-point-collection-area">
        </div>
        <div class="div-polygon-meta-data-area">
            <!--<div data-dojo-attach-point="divSizeUnitText" class="bold">Size (km<sup>2</sup>)</div>-->
            <div data-dojo-attach-point="divSizeUnitText" class="bold"></div>
            <div data-dojo-attach-point="divSizeValue">0</div>
            <div data-dojo-attach-point="divNumOfPointText" class="bold">Number of Area Points</div>
            <div data-dojo-attach-point="divNumValue">0</div>
            <div data-dojo-attach-point="divAlertText" class="boldalert" style="height: 50px"></div>
        </div>
        <div class="div-button-control">
            <div data-dojo-attach-point="btnSubmit" class="global-btn-submit">OK</div>
            <div data-dojo-attach-point="btnCancel" class="global-btn-cancel">Cancel</div>
        </div>
    </div>

</div>