﻿<div>
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div data-dojo-attach-point="divViewOnMapHeader" class="global-widget-header-text"></div>
    </div>
    <div class="global-widget-content">
        <div class="view-on-map-general-info">
            <!--<span class="view-on-map-vehicleName" data-dojo-attach-point="spnVehicleName"></span><br/>-->
            <span class="view-on-map-info-header"  data-dojo-attach-point="spnHeaderJobCode"></span><br />
            <span class="view-on-map-info-text" data-dojo-attach-point="spnJobCode"></span><br />
            <span class="view-on-map-info-header" data-dojo-attach-point="spnHeaderJobName"></span><br />
            <span class="view-on-map-info-text" data-dojo-attach-point="spnJobName"></span><br />
            <span class="view-on-map-info-header" data-dojo-attach-point="spnHeaderDriverName"></span><br />
            <span class="view-on-map-info-text" data-dojo-attach-point="spnDriverName"></span><br />
        </div>
        <div class="view-on-map-filter-route">
            <div data-dojo-attach-point="divList"></div>
        </div>
        <div class="view-on-map-pin-info">
            <span class="view-on-map-info-header" data-dojo-attach-point="spnHeaderShowWaypoint"></span><br />
            <div data-dojo-attach-point="divPinList" class="global-widget-pin">
                <!--<div class="view-on-map-pinitem">
                    <img src="./gis-js/images/waypoint/pin_wp_waiting.png" />
                    <span>Waiting</span>
                </div>
                <div class="view-on-map-pinitem">
                    <img src="./gis-js/images/waypoint/pin_wp_insidewaypoint.png" />
                    <span>Inside Waypoint</span>
                </div>-->
            </div>
        </div>
    </div>
</div>