﻿<div class="wg-vehicle-info">
    <div class="global-widget-header" data-dojo-attach-point="divHeader">
        <div data-dojo-attach-point="divVehicleHeader" class="global-widget-header-text">Vehicle Info</div>
        <div data-dojo-attach-point="divDepartment" class="text div-department"></div>
    </div>
    <div class="global-widget-content">
        <div class="div-text-container">
            <div data-dojo-attach-point="divDriverName" class="text div-driver-name"></div>
            <div data-dojo-attach-point="divLocation" class="text div-location"></div>
            <div data-dojo-attach-point="divDate" class="text div-date"></div>
            <div class="div-time-container">
                <div data-dojo-attach-point="divParkTime" class="text div-park-time"></div>
                <div data-dojo-attach-point="divIdleTime" class="text div-idle-time"></div>
            </div>
        </div>
        <div data-dojo-attach-point="divListStat" class="playback-status-section"></div>
    </div>
</div>