﻿<gisc-ui-component>
    <div style="width:100%;height:800px;">
        <gisc-chrome-working-map params="data: 'hello'" />
    </div>
    <gisc-ui-textbox params="placeholder:example, value:ex1" />
    <gisc-ui-textbox params="placeholder:example, value:ex1" />
</gisc-ui-component>