﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div class="app-widget-component-vehicle-info" data-bind="foreach: {  data :items, as: 'item' }">
        <div class="vehicle-info-row">
            <div class="vehicle-info-col key">
                <label data-bind="text:item.key"></label>
            </div>
            <div class="vehicle-info-col value">
                <label data-bind="text:item.value"></label>
            </div>
        </div>
    </div>
    <!-- ko if: isShipmentDesc -->
        <gisc-ui-label params="text: shipmentDesc"></gisc-ui-label>
    <!-- /ko -->
</gisc-ui-component>