﻿<gisc-ui-component>
     <!-- Code -->
     <gisc-ui-label params="for:'codeId',text:i18n('Assets_Mdvr_Models_Code'),isRequired:true" />
     <gisc-ui-textbox params="id:'codeId', value:codeMdvr "/>
 
     <!-- Brand -->
     <gisc-ui-label params="for:'brandId',isRequired:true,text:i18n('Assets_Mdvr_Models_Brand')" />
     <gisc-ui-dropdown params="options:brandOptions,
                               optionsText:'name',
                               value:brandMdvr,
                               optionsCaption:''
                               " />
 
     <!-- Model -->
     <gisc-ui-label params="for:'modelId',isRequired:true,text:i18n('Assets_Mdvr_Models_Model')" />
     <gisc-ui-textbox params="id:'modelId', value:modelMdvr" />
 
     <!-- Contract No. -->
     <gisc-ui-label params="text:i18n('Common_Enable'),isRequired:true" />
     <gisc-ui-dropdown params="options:enableOptions,
                                optionsText:'title',
                                value:optionMdvr,
                                " />
</gisc-ui-component>