<gisc-ui-component>
    <article>
        <!--<summary>Validation on ViewModel</summary>-->
        <section>

            <!-- Required field on DropDown -->
            <!--<gisc-ui-label params="for: 'ddEnable', text: i18n('Report_Company'), isRequired: false"></gisc-ui-label>
            <gisc-ui-dropdown params="options: company, optionsText:'CompanyName', value: selectedCompany"></gisc-ui-dropdown>-->
            <!--listEnumResource-->
            <gisc-ui-label params="for: 'ddReportType', text: i18n('Report_ReportType'), isRequired: true"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddReportType',
                                    options: reportTypes,
                                    optionsText: 'displayName',
                                    optionsCaption: '',
                                    value: selectedReportType" />


            <!-- ko if: sectionVisible -->

            <!--BusinessUnit-->
            <!-- ko if: !visibleRadio() -->  <!-- DropDown Selected Many Bu  Report RestLess 10 Hr Only --> 
            <gisc-ui-label params="for: 'ddlBusinessUnit2', text:i18n('Report_BusinessUnit'), isRequired: true" />
            <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit2',
                            options: businessUnits,
                            mode:'update',
                            optionsID: 'id',
                            optionsText: 'name',
                            optionsParent: 'parentBusinessUnitId',
                            optionsChildren: 'childBusinessUnits',
                            value: selectedBusinessUnit" />

            <!-- /ko-->
            <!-- ko if: visibleRadio --> <!-- DropDown Selected Bu -->
                <gisc-ui-label params="for: 'ddlBusinessUnit', text:i18n('Report_BusinessUnit'), isRequired: true" />
                <gisc-ui-dropdowntree params="id: 'ddlBusinessUnit',
                                options: businessUnits,
                                optionsID: 'id',
                                optionsText: 'name',
                                optionsParent: 'parentBusinessUnitId',
                                optionsChildren: 'childBusinessUnits',
                                value: selectedBusinessUnit" />

                <gisc-ui-checkbox params="text: i18n('Common_IncludeSubBusinessUnit'), checked:isIncludeSubBU" />
            <!-- /ko-->


                <div data-bind="visible: entityTypeVisible">
                    <gisc-ui-label params="for: 'ddEntityType', text: i18n('FleetMonitoring_EntityType'), isRequired: true"></gisc-ui-label>
                    <gisc-ui-dropdown params="id: 'ddEntityType',
                                        options: entityTypes,
                                        optionsText: 'displayName',
                                        value: selectedEntityType" />
                </div>

                <div data-bind="visible: driverVisible" >
                    <gisc-ui-checkbox params="text: i18n('ReportCriteria_FormerDriver'),checked:isIncludeFormerDriver"/>
                    <gisc-ui-checkbox params="text: i18n('ReportCriteria_ResignedDriver'), checked:isIncludeResignedDriver"/>
                </div>               

                <div data-bind="visible: categoryVehicleVisible">
                    <gisc-ui-label params="for: 'ddCategoryVehicle', text: i18n('Report_CategoryVehicle')"></gisc-ui-label>
                    <gisc-ui-dropdown params="id: 'ddCategoryVehicle',
                                        options: categoryVehicleOptions,
                                        optionsText: 'name',
                                        value: categoryVehicle" />
                </div>

                <!-- ko if: entityVisible -->
                    <!--FleetMonitoring_SelectedEntity-->
                    <gisc-ui-label params="for: 'ddSelectEntity', text: i18n('Report_SelectedEntity'), isRequired: true"></gisc-ui-label>
                    <gisc-ui-dropdown params="id: 'ddSelectEntity',
                                        options: selectEntity,
                                        optionsText: 'displayName',
                                        optionsCaption: selectedEntityBinding,
                                        value: selectedEntity,
                                        type: 'filter'" />
                <!-- /ko -->

                <div data-bind="visible: shippingTypeVisible">
                    <gisc-ui-label params="for: 'ddShipingType', text: i18n('Report_ShippingType')"></gisc-ui-label>
                    <gisc-ui-dropdown params="id: 'ddShipingType',
                                        options: shippingTypeOptions,
                                        optionsText: 'name',
                                        value: shippingType" />
                </div>
            <!-- /ko -->
            

            <!-- Radio -->
            <div data-bind="visible: radioCriteria">

                <!-- ko if: visibleRadio --><gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Today'),value:'Today',checked:valueRadio " /><!-- /ko -->
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:valueRadio " />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:valueRadio " />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:valueRadio" />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:valueRadio " />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:valueRadio " />
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:valueRadio " />

            </div>

           <!--DateTimeFromTo-->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                            <!-- <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateShipment ,minDate:minDateShipment ,dateFormat:formatSet ,enable: isDateTimeEnabled" /> -->
                        </div>
                        <div class="col-5" style="padding-left: 5px;">
                            <div class="app-textBox-wrapper">
                                <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ,enable: isDateTimeEnabled ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                            <!-- <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:maxDateShipment ,minDate:minDateShipment ,dateFormat:formatSet ,enable: isDateTimeEnabled" /> -->
                        </div>
                        <div class="col-5" style="padding-left: 5px;">
                            <div class="app-textBox-wrapper">
                                <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ,enable: isDateTimeEnabled ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Driver-->
            <div data-bind="visible: durationVisible">                       
                <gisc-ui-label params="for: 'ddduration', text: i18n('Report_Duration_Hours'), isRequired: true"></gisc-ui-label>
                <gisc-ui-dropdown params="id: 'ddduration',
                                        options: durations,
                                        optionsText: 'displayName',
                                        optionsCaption: '',
                                        value: selectedDuration" />
            </div>

        </section>
    </article>
</gisc-ui-component>