﻿<gisc-ui-component>
    <!--File-->
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>
    <gisc-ui-fileupload params="
                        fileName:fileName,
                        selectedFile:selectedFile,
                        accept:mimeType,
                        onRemoveFile:onRemoveFile.bind($data),
                        onBeforeUpload:onBeforeUpload.bind($data),
                        onUploadSuccess:onUploadSuccess.bind($data),
                        onUploadFail:onUploadFail.bind($data),
                        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="text: importValidationError"></div>

    <section data-bind="visible: previewDataVisible">
        <!--Preview Data -->
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datatable params="
                           id:'dtImportVehicles' ,
                           datasource:previewData,
                           columns:[
                           { type:'label' , title:'i18n:Assets_Type', data:'listName' },   
                           ],
                           ordering:false,
                           rowId:'tempId'
                           " />
    </section>
</gisc-ui-component>