﻿    <gisc-ui-component>
    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Name'), isRequired: true" />
    <gisc-ui-tooltip params="text: i18n('I029')" />
    <gisc-ui-textbox params="id:'txtName', value: txtName, filter:{type:'regex',pattern:'[^*\\\[!?#%<>.=@_\&:;\'\$฿{}\^~`\|\\\\]'},addDblQuote: true"></gisc-ui-textbox>

    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Code'), isRequired: true" />
    <gisc-ui-tooltip params="text:i18n('I025')" />
    <gisc-ui-textbox params="id:'txtCode', value: txtCode, maxlength:3, filter: {type: 'alphanumeric'} "></gisc-ui-textbox>

    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-textarea params="id:'txtDesc', value: txtDesc"></gisc-ui-textarea>

    <gisc-ui-label params="text: i18n('Vehicle_MA_ViewMA_CheckList')" />
    <gisc-ui-datatable params="
    id: 'dtCheckList',
    datasource: itemsCheckList,
    columns: [
        { type: 'textbox', title: 'i18n:Vehicle_MA_List_Name', data: 'name', orderable: false }
    ],
    order: order,
    rowId: 'id',
    removable: true,
    selectable: true,
    selectedRow: selectedItem,
    showFilter: false
    recentChangedRowIds: recentChangedRowIds
    " />
    <span data-bind="text: i18n('M001'), visible: isCheckListInvalidChecklist" class="ko-inline-msg-err"></span>
    <span data-bind="text: i18n('M010'), visible: isCheckListDuplicatedChecklist" class="ko-inline-msg-err"></span>

    <div class="more-features">
        <gisc-ui-button params="text: i18n('Common_Add'), onclick: addNewItemsCheckList.bind($data)"></gisc-ui-button>
    </div>

    <br/>
    <gisc-ui-label params="text: i18n('Vehicle_MA_Actions')" />
    <gisc-ui-datatable params="
    id: 'dtAction',
    datasource: itemsAction,
    columns: [
        { type: 'regex', title: 'i18n:Vehicle_MA_Common_Code', data: 'code', orderable: false, maxlength: '2', regex: '[^a-zA-Z0-9]',width: '50' },
        { type: 'textbox', title: 'i18n:Vehicle_MA_Action_Name', data: 'name', orderable: false }
    ],
    order: order,
    rowId: 'id',
    removable: true,
    selectable: true,
    selectedRow: selectedItem,
    showFilter: false
    recentChangedRowIds: recentChangedRowIds
    " />
    <span data-bind="text: i18n('M001'), visible: isCheckListInvalidActions" class="ko-inline-msg-err"></span>
        <span data-bind="text: i18n('M010'), visible: isCheckListDuplicatedActions" class="ko-inline-msg-err"></span>

    <div class="more-features">
        <gisc-ui-button params="text: i18n('Common_Add'), onclick: addNewItemsAction.bind($data)"></gisc-ui-button>
    </div>
    
</gisc-ui-component>