﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Name')" />
    <gisc-ui-field params="value: txtName" />

    <gisc-ui-label params="text: i18n('Vehicle_MA_Common_Code')" />
    <gisc-ui-field params="value: txtCode" />

    <gisc-ui-label params="text: i18n('Common_Description')" />
    <gisc-ui-field params="value: txtDesc" />

    <gisc-ui-label params="text: i18n('Vehicle_MA_Subtype_Parent')" />
    <gisc-ui-field params="value: txtMaType" />

    <gisc-ui-label params="text: i18n('Vehicle_MA_ViewMA_CheckList')" />
    <gisc-ui-datatable params="id: 'dtSubtype',
                       datasource: checklist,
                       columns: [
                       { type:'label' , title:'i18n:Vehicle_MA_List_Name' , data:'listName' , orderable:false },
                       { type:'label' , title:'i18n:Vehicle_MA_Action' , data:'actionCode' , orderable:false }]" />
</gisc-ui-component>