﻿<gisc-ui-component>
    <!--Subtype Name-->
    <gisc-ui-label params="for: 'txtName', text: i18n('Vehicle_MA_Common_Name'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I029')" />
    <gisc-ui-textbox params="id: 'txtName', value: subtypeName , filter:{type:'regex',pattern:'[^*\\\[!?#%<>.=@_\&:;\'\$฿{}\^~`\|\\\\]'},addDblQuote: true"></gisc-ui-textbox>

    <!--Subtype Code-->
    <gisc-ui-label params="for: 'txtCode', text: i18n('Vehicle_MA_Common_Code'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I026')" />
    <gisc-ui-textbox params="id: 'txtCode', value: subtypeCode, maxlength:3 , filter: {type: 'alphanumeric'}" />

    <!--Subtype description-->
    <gisc-ui-label params="for: 'txtDescription', text: i18n('Common_Description'), isRequired: false"></gisc-ui-label>
    <gisc-ui-textarea params="id:'txtDescription', value:subtypeDesc"></gisc-ui-textarea>

    <!--Subtype Parent-->
    <gisc-ui-label params="text: i18n('Vehicle_MA_Subtype_Parent'), isRequired: false"></gisc-ui-label><br />
    <gisc-ui-field params="value: subtypeParent, isRequired: false"></gisc-ui-field>

    <!--Subtype Checklist-->
    <gisc-ui-label params="text: i18n('Vehicle_MA_ViewMA_CheckList'), isRequired: false"></gisc-ui-label>
    <gisc-ui-datatable params="datasource:checkList,
                       columns: [
                            { type: 'checkbox', title: 'i18n:Vehicle_MA_Common_Use', data:'isCheck', redrawOnDataChange: true },
                            { type: 'label' ,title:'i18n:Vehicle_MA_List_Name', data: 'listName' },
                            { type: 'dropdown', title: 'i18n:Vehicle_MA_Actions', data: 'selectedAction', optionsData: 'actions', optionsCaption: '', optionsValue: 'id', optionsText: 'code', validationData: 'error', width: '100px', redrawOnDataChange: true }
                        ],
                       autoWidth: false,
                       ordering: false,
                       rowId: 'id',
                       selectable: false,
                       showFilter: false" />
    <span data-bind="text: i18n('M001'), visible: isCheckListInvalid" class="ko-inline-msg-err"></span>
</gisc-ui-component>