﻿<gisc-ui-component>
    <!--Max Items-->
    <gisc-ui-label params="for: 'txtMaxItems', text: i18n('Assets_MaxItems'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtMaxItems', value: maxItems, filter: { type: 'numeric', numericType: 'int', min: 1 }" />

    <!--Limit Rate (second)-->
    <gisc-ui-label params="for: 'txtLimitRate', text: i18n('Assets_LimitRate'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtLimitRate', value: limitRate, filter: { type: 'numeric', numericType: 'int', min: 0 }" />

    <!--Start Date-->
    <gisc-ui-label params="for:'dtStartDate', text:i18n('Assets_SMSServiceStartDate'), isRequired: true"/>
    <gisc-ui-datetime params="id:'dtStartDate', 
                              value: startDate,
                              mode: 'date',
                              dateFormat: dateFormat,
                              maxDate: endDate"/>
    
    <!--End Date-->
    <gisc-ui-label params="for:'dtEndDate', text:i18n('Assets_SMSServiceEndDate'), isRequired: true"/>
    <gisc-ui-datetime params="id:'dtEndDate', 
                              value: endDate,
                              mode: 'date',
                              dateFormat: dateFormat,
                              minDate: startDate"/>
    
    <!--Enable-->
    <gisc-ui-label params="for: 'ddlEnable', text:i18n('Common_Enable'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddlEnable',
        options: enableOptions,
        optionsText: 'title',
        optionsCaption: '',
        value: enable
        ">
    </gisc-ui-dropdown>
</gisc-ui-component>