<!-- ko if: visible() -->
<div class="app-textBox-wrapper">
    <textarea class="app-textarea" type="text" data-bind="value: value,enable:enable,attr: { placeholder: placeholder, id:id, maxlength:maxlength}, style: { height: height,width:width }"></textarea>
</div>
<!-- /ko -->