﻿<gisc-ui-component>
	<!--<gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelecting:_selectingRowHandler.bind($data)">
		<item params="text: i18n('Configurations_Translation'), extras: { id: 'bo-configuration-translation'}" />
		<item params="text: i18n('Configurations_POIIcons'), extras: { id: 'bo-configuration-poi-icon'}" />
		<item params="text: i18n('Configurations_VehicleIcons'), extras: { id: 'bo-configuration-vehicle-icon'}" />
		<item params="text: i18n('Configurations_SystemSettings'), extras: { id: 'bo-configuration-system-setting'}" />
		<item params="text: i18n('Configurations_Vendors'), extras: { id: 'bo-configuration-vendor'}" />
		<item params="text: i18n('Configurations_TrackingDatabases'), extras: { id: 'bo-configuration-tracking-databases'}" />
		<item params="text: i18n('Configurations_AutoMail'), extras: { id: 'bo-configuration-auto-mail'}" />

		<item params="text: i18n('Configurations_Mapservice'), extras: { id: 'bo-configuration-map-service'}" />

		<item params="text: i18n('Configurations_NostraConfigurations'), extras: { id: 'bo-configuration-nostra-configurations'}" />
		<item params="text: i18n('Configurations_Gis_Service'), extras: { id: 'bo-configuration-gis-service-configurations'}" />
	</gisc-ui-listview>-->
     <gisc-ui-listview params="
        selectedIndex: selectedIndex,
        onItemSelecting: _selectingRowHandler.bind($data),
        datasource: items,
        dataTextfield: 'text',
        isShowNavIcon: true">
    </gisc-ui-listview>
</gisc-ui-component>