<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>TextArea is a multi-line textbox.</blockquote>
        <section>
            <h2>Parameters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th>Observable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>id</code></td>
                        <td>No</td>
                        <td>GUID</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><code>enable</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>visible</code></td>
                        <td>No</td>
                        <td>True</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>value</code></td>
                        <td>Yes</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>placeholder</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><code>maxlength</code></td>
                        <td>No</td>
                        <td>None</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Parameters Details</h2>
            <ul>
                <li>
                    <strong>Required Parameters</strong>
                    <ul>
                        <li><code>value</code> Get/Set value from the Textarea.</li>
                    </ul>
                </li>
                <li>
                    <strong>Optional Parameters</strong>
                    <ul>
                        <li><code>id</code> Unique identifier of html element, set to id attribute. If none is specify the controls will generate GUID.</li>
                        <li><code>enable</code> Flag to determine whether this control is enabled or not. If set to false the control is not interactable.</li>
                        <li><code>visible</code> Flag to determine whether this control is visible or not. If set to false the control is not render.</li>
                        <li><code>placeholder</code> Placeholder text when textarea is cleared.</li>
                        <li><code>maxlength</code> Maximum number of characters allowed.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Examples</h2>
            <section id="exp1">
                <h3>Basic Example</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;for:&#x27;Ex1&#x27;, text:&#x27;Standard&#x27;&quot;&gt;&lt;&#x2F;gisc-ui-label&gt;
&lt;gisc-ui-textarea params=&quot;id:&#x27;Ex1&#x27;, placeholder:example, value:ex1&quot;&gt;&lt;&#x2F;gisc-ui-textarea&gt;</code></pre>
                <pre><code class="hljs js">// View Model
this.example = ko.observable("Example");
this.ex1 = ko.observable("Example1");</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="for:'Ex1', text:'Standard'"></gisc-ui-label>
                    <gisc-ui-textarea params="id:'Ex1', placeholder:example, value:ex1"></gisc-ui-textarea>
                </div>
            </section>
            <section id="exp2">
                <h3>Set <code>enable</code> to false</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text:&#x27;Toggle Enable&#x27;&quot;&gt;&lt;&#x2F;gisc-ui-label&gt;
&lt;gisc-ui-textarea params=&quot;placeholder:example, value:ex2, enable:isEnable&quot;&gt;&lt;&#x2F;gisc-ui-textarea&gt;</code></pre>
                <pre><code class="hljs js">// View Model
this.example = ko.observable("Example");
this.ex2 = ko.observable("Example2");
this.isEnable = ko.observable(false);
toggleEnable() {
    this.isEnable(!this.isEnable());
}</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text:'Toggle Enable'"></gisc-ui-label>
                    <gisc-ui-textarea params="placeholder:example, value:ex2, enable:isEnable"></gisc-ui-textarea>
                    <button class="eval-btn" data-bind="click: toggleEnable">Toggle isEnable</button>
                </div>
            </section>
            <section id="exp3">
                <h3>Set <code>visible</code> to false</h3>
                <h4>Source</h4>
                <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text:&#x27;Toggle Visible&#x27;&quot;&gt;&lt;&#x2F;gisc-ui-label&gt;
&lt;gisc-ui-textarea params=&quot;placeholder:example, visible:isVisible&quot;&gt;&lt;&#x2F;gisc-ui-textarea&gt;</code></pre>
                <pre><code class="hljs js">// View Model
this.example = ko.observable("Example");
this.isVisible = ko.observable(false);
toggleVisible() {
    this.isVisible(!this.isVisible());
}</code></pre>
                <h4>Output</h4>
                <div class="output">
                    <gisc-ui-label params="text:'Toggle Visible'"></gisc-ui-label>
                    <gisc-ui-textarea params="placeholder:example, visible:isVisible"></gisc-ui-textarea>
                    <button class="eval-btn" data-bind="click: toggleVisible">Toggle isVisible</button>
                </div>
            </section>
        </section>
    </article>
</gisc-ui-component>