﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtName', isRequired: true, text: i18n('Assets_BoxTemplateName')" />
    <gisc-ui-textbox params="id: 'txtName', value: name" />
    <!-- Code -->
    <gisc-ui-label params="for: 'txtCode', text: i18n('Assets_BoxTemplateCode')" />
    <gisc-ui-textbox params="id: 'txtCode', value: code, filter: {type: 'alphanumeric'}" />
    <!-- Model -->
    <gisc-ui-label params="for: 'ddModel', isRequired: true, text: i18n('Assets_BoxTemplateModel')" />
    <gisc-ui-dropdown params="
        id: 'ddModel',
        options: boxModelDataSource,
        optionsText: 'title',
        optionsCaption: '',
        value: selectedBoxModel" />
    <!-- Enable -->
    <gisc-ui-label params="for: 'ddEnable', isRequired: true, text: i18n('Common_Enable')" />
    <gisc-ui-dropdown params="
        id: 'ddEnable',
        options: enableDataSource,
        optionsText: 'title',
        value: selectedEnable" />
    <!-- Input Events -->
    <gisc-ui-label params="text: i18n('Assets_InputEvents')" />
    <gisc-ui-datatable params="
        autoWidth: false,
        ordering: false,
        datasource: inputEvents,
        onDataSourceChanged: onInputEventDataSourceChanged.bind($data),
        columns: [
            { type: 'label', title: 'i18n:Assets_Event', data: 'name', width: '50px' },
            { type: 'dropdown', title: 'i18n:Common_Feature', data: 'selectedFeature', optionsCaption: '', optionsData: 'features'
                              , optionsValue: 'id', optionsText: 'name', validationData: 'error', width: '290px' },
            { type: 'label', title: 'Data Type', data: 'eventDataTypeDisplay', width: '50px' },
            { type: 'textboxAssetBox', title: 'Analog Convert value(v)', data: 'analogValue', width: '80px' },
            { type: 'textbox', title: 'i18n:Assets_Note', data: 'note', width: '150px' }
        ],
        rowId: 'id',
        selectable: false,
        showFilter: false" />
    <!-- Output Events -->
    <gisc-ui-label params="text: i18n('Assets_OutputEvents')" />
    <gisc-ui-datatable params="
        autoWidth: false,
        ordering: false,
        datasource: outputEvents,
        onDataSourceChanged: onOutEventDataSourceChanged.bind($data),
        columns: [
            { type: 'label', title: 'i18n:Assets_Event', data: 'name', width: '50px' },
            { type: 'dropdown', title: 'i18n:Common_Feature', data: 'selectedFeature', optionsCaption: '', optionsData: 'features', optionsValue: 'id', optionsText: 'name', validationData: 'error', width: '300px' },
            { type: 'label', title: 'Data Type', data: 'eventDataTypeDisplay', width: '50px' },
            { type: 'textbox', title: 'i18n:Assets_Note', data: 'note', width: '150px' }
        ],
        rowId: 'id',
        selectable: false,
        showFilter: false" />
    <!-- Input Accessories -->
    <gisc-ui-label params="text: i18n('Assets_InputAccessories')" />
    <gisc-ui-datatable params="
        autoWidth: false,
        ordering: false,
        datasource: inputAccessories,
        onDataSourceChanged: onInputAccessoryDataSourceChanged.bind($data),
        columns: [
            { type: 'label', title: 'i18n:Assets_Event', data: 'name', width: '50px' },
            { type: 'dropdown', title: 'i18n:Common_Feature', data: 'selectedFeature', optionsCaption: '', optionsData: 'features', optionsValue: 'id', optionsText: 'name', validationData: 'error' },
            { type: 'label', title: 'Data Type', data: 'eventDataTypeDisplay', width: '50px' },
            { type: 'textboxAssetBox', title: 'Analog Convert value(v)', data: 'analogValue', width: '80px' },
         ],
        rowId: 'id',
        selectable: false,
        showFilter: false" />
    <!-- Output Accessories  -->
    <gisc-ui-label params="text: i18n('Assets_OutputAccessories')" />
    <gisc-ui-datatable params="
        autoWidth: false,
        ordering: false,
        datasource: outputAccessories,
        onDataSourceChanged: onOutputAccessoryDataSourceChanged.bind($data),
        columns: [
            { type: 'label', title: 'i18n:Assets_Event', data: 'name', width: '50px' },
            { type: 'dropdown', title: 'i18n:Common_Feature', data: 'selectedFeature', optionsCaption: '', optionsData: 'features', optionsValue: 'id', optionsText: 'name', validationData: 'error' },
            { type: 'label', title: 'Data Type', data: 'eventDataTypeDisplay', width: '50px' },
        ],
        rowId: 'id',
        selectable: false,
        showFilter: false" />
</gisc-ui-component>