﻿<gisc-ui-component>
    <gisc-ui-component>
        <gisc-ui-datatable params="
                id: 'dtNostraConfig',
                datasource: gisServiceList,
                columns: [
                    { type: 'label', title: 'i18n:Configuration_GIS_Service_Name', data: 'serviceName', orderable: false, searchable: true },
                    { type: 'label', title: 'i18n:Configuration_GIS_Service_Type', data: 'displayType', orderable: false, searchable: true },
                    { type: 'label', title: 'i18n:Configuration_GIS_Service_Url', data: 'url', orderable: false }
                ],
                order: order,       
                rowId: 'id',
                selectable: true,
                selectedRow: selectedGISService,
                showFilter: true,
                filter: filterText,
                filterPlaceholder: 'i18n:Configurations_NostraConfigurations_Filter_Name',
                onSelectingRow: selectRow,
                recentChangedRowIds: recentChangedRowIds,
                loadMore: false
                " />
    </gisc-ui-component>
</gisc-ui-component>