﻿<gisc-ui-component>
    <p data-bind="text: i18n('FleetMonitoring_CurrentTrackingAssets', [lastSync()])"></p>
    <div class="alert-dashboard-ticket" data-bind="if: displayTicket">
        <div class="header">
            <gisc-ui-label params="text: i18n('FleetMonitoring_Alert_Ticket')" />
        </div>
        <div class="content">
            <div style="background: #ff0000;" data-bind="click:gotoAlertTicketList.bind($data, 'new')">
                <label data-bind="text: i18n('FleetMonitoring_Alert_Ticket_New')"/>
                <label data-bind="text: ticketNew"/>
            </div>
            <div style="background: #ffff00;" data-bind="click:gotoAlertTicketList.bind($data, 'inprogress')">
                <label data-bind="text: i18n('FleetMonitoring_Alert_Ticket_Inprogress')"/>
                <label data-bind="text: ticketInprogress"/>
            </div>
            <div style="background: #00b050;" data-bind="click:gotoAlertTicketList.bind($data, 'closed')">
                <label data-bind="text: i18n('FleetMonitoring_Alert_Ticket_Closed')"/>
                <label data-bind="text: ticketClosed"/>
            </div>
            <div style="background: #ffffff;" data-bind="click:gotoAlertTicketList.bind($data, 'all')">
                <label data-bind="text: i18n('FleetMonitoring_Alert_Ticket_All')"/>
                <label data-bind="text: ticketAll"/>
            </div>
        </div>
    </div>

    <gisc-ui-label params="text: i18n('FleetMonitoring_Alert')" />
    <!-- ko if: items().length -->
    <div class="alert-dashboard-items" data-bind="foreach: items">
        <a class="alert-dashboard-item" href="#" data-bind="click: $parent.onItemSelected.bind($parent, alertTypeId)">
            <span class="alert-dashboard-total truncate" data-bind="text: formatTotalAlerts, attr: {title: formatTotalAlerts}"></span>
            <span class="alert-dashboard-name truncate" data-bind="text: alertTypeDisplayName, attr: {title: alertTypeDisplayName}"></span>
        </a>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: items().length -->
    <p data-bind="text: i18n('M111')"></p>
    <!-- /ko -->
</gisc-ui-component>