﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div style="margin: 7px;">
            <p id="alertName" style="float: left;"></p>
            <p id="alertTime" style="float: right;"></p>
            <div style="clear: both;"></div>
    </div>
    

    
    
    <div data-bind="template: { afterRender: afterRender.bind($data, $element)}" style="width:100%;height:100%;text-align: center;">
        <!-- ko if: ChannelCount() > 0 -->
        <div data-bind="attr:{id:id}" style="width:100%;height:100%;"></div>
        <!-- /ko -->

        <!-- ko if: ChannelCount() == 0 -->
        <div style="padding-top: 45%; font-size: 1.5em;">
        <gisc-ui-label params="text: i18n('Common_NotFoundPage')"/>
        </div>
        <!-- /ko -->
    </div>
</gisc-ui-component>