﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="for: 'txtName', text: i18n('Configurations_Barrier_Name'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtName', value: name, maxlength: 50" />

    <!--Area Category-->
    <gisc-ui-label params="for: 'txtAreaCategory', text: i18n('Configurations_Barrier_Area_Category'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddAreaCategory',
                              options: ddrAreaCategory,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: areaCategory"></gisc-ui-dropdown>

    <!--Vehicle Type-->
    <gisc-ui-label params="for: 'ddVehicleType', text: i18n('Configurations_Barrier_VehicleType'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddVehicleType',
                              options: ddrVehicleTypeLst,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: vehicleType"></gisc-ui-dropdown>

    <!--Time-->
    <gisc-ui-label params="text: i18n('Configurations_Barrier_Time'), isRequired: true" />
    <div style="width:100%;">
        <div style="display:inline-block;width:20%;vertical-align:top;">
            <gisc-ui-textbox params="id: 'txtTimeStart', value: timeStart, type: 'time'" />
        </div>
        <div style="display:inline-block;margin:7px 5px 0 5px;">
            <gisc-ui-label params="text: i18n('Configurations_Barrier_To')"/>
        </div>
        <div style="display:inline-block;width:20%;vertical-align:top;">
            <gisc-ui-textbox params="id: 'txtTimeEnd', value: timeEnd, type: 'time'" />
        </div>
    </div>

    <!--Day Of Week-->
    <gisc-ui-label params="text: i18n('Configurations_Barrier_Day_Of_Week'), isRequired: true" />
    <div style="width:100%;">
        <div style="width:100%;">
            <div style="width:auto;display:inline-block;" data-bind="click: onCheckAllDays">
                <gisc-ui-checkbox params="text:i18n('Configurations_Barrier_AllDay'), checked:chkAllDays" />
            </div>
        </div>
        <div style="width:100%;">
            <div style="width:20%;display:inline-block;">
                <gisc-ui-checkbox params="text:i18n('Common_DayMon'), checked:chkMon" />
            </div>
            <div style="width:20%;display:inline-block;">
                <gisc-ui-checkbox params="text:i18n('Common_DayWed'), checked:chkWed" />
            </div>
            <div style="width:20%;display:inline-block;">
                <gisc-ui-checkbox params="text:i18n('Common_DayFri'), checked:chkFri" />
            </div>
            <div style="width:20%;display:inline-block;">
                <gisc-ui-checkbox params="text:i18n('Common_DaySun'), checked:chkSun" />
            </div>
        </div>
        <div style="width:100%;">
            <div style="width:20%;display:inline-block;">
                <gisc-ui-checkbox params="text:i18n('Common_DayTue'), checked:chkTue" />
            </div>
            <div style="width:20%;display:inline-block;">
                <gisc-ui-checkbox params="text:i18n('Common_DayThu'), checked:chkThu" />
            </div>
            <div style="width:20%;display:inline-block;">
                <gisc-ui-checkbox params="text:i18n('Common_DaySat'), checked:chkSat" />
            </div>
        </div>
        <!-- ko if: isCheckDay -->
        <p data-bind="text: i18n('M001'), style: { 'color': '#d34f4f', 'font-size': '0.8em' }" />
        <!-- /ko -->
    </div>

    <!--Enabled-->
    <gisc-ui-label params="for: 'ddEnable', text: i18n('Common_Enable'), isRequired: true" />
    <gisc-ui-dropdown params="id: 'ddEnable',
                              options: ddrEnabledLst,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: enable"></gisc-ui-dropdown>

    <!--Description-->
    <gisc-ui-label params="for: 'txtDescription', text: i18n('Common_Description')" />
    <gisc-ui-textarea params="id:'txtDescription', value: description, maxlength: 1000"></gisc-ui-textarea>
</gisc-ui-component>