﻿.custom-line-list {
    border-bottom:1px solid #a3a5a8;
}

.measurement-icon-function {
    /*background-color:#2b2b2b;*/   
    background-color:#fff;
}

.list-function {    
    height: 40px;
    width: calc(100% - 30px);
    box-sizing: border-box;
    border-bottom: 2px solid #a3a5a8;
    margin-left: 15px;
}

.measurement-btn-container
{
    width: calc(33.33% - 50px);
    height: calc(100% - 1px);
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    /*box-sizing: border-box;*/
}

.label-measurement {
    padding-top:10px;
    width:100%;
    padding-left:30px;
    background-color:#fff;
    box-sizing:border-box;
    height: 180px;
}

.measurement-icon {
    cursor:pointer;
    width: 100%;
    height:100%;
}

    .measurement-icon svg {
        display:block;
        margin:auto;
        width: 35px;
        height: 35px;
    }
     
   .measurement-icon svg .cls-1 {
        fill:#a3a5a8;
    }

   
   .measurement-btn-container.active {
        border-bottom: 4px solid #20af80 !important;
    }

    .measurement-btn-container.active .measurement-icon svg .cls-1 {
        fill:#20af80 !important
    }