﻿<gisc-ui-component>
    <!-- Alert Configuration -->
    <gisc-ui-label params="text: i18n('Common_AlertConfiguration')" />
    <gisc-ui-dropdown params="
        options: alertConfigDS,
        optionsText: 'displayName',
        value: alertConfigSelected,
        optionsCaption: ''" />
    <!-- Enable -->
    <gisc-ui-label params="text: i18n('Common_Enable')" />
    <gisc-ui-dropdown params="
        options: ruleEnableDS,
        optionsText: 'title',
        value: ruleEnabled,
        optionsCaption: ''" />
</gisc-ui-component>