﻿<gisc-ui-component>
    <div class="dashboard_lastsync">
        <div data-bind="if: isStateToday">
            <p data-bind="text: txtRefresh"></p>
        </div>

        <div data-bind="ifnot: isStateToday">
            <span class="bold" data-bind="text: i18n('Transportation_Mngm_Dashboard_Date_From')"></span>
            <span data-bind="text: txtDateFromHistorical"></span>&nbsp;&nbsp;
            <span class="bold" data-bind="text: i18n('Transportation_Mngm_Dashboard_Date_To')"></span>
            <span data-bind="text: txtDateToHistorical"></span>
        </div>        
    </div>
    <gisc-ui-tab params="selectedIndex: selectedIndex" class="transportation">
        <item params="text: i18n('Common_CurrentDay')">
            <div class="dash-board">
                <div class="dashboard-row-1">
                    <div class="dash_sub">
                        <p data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Shipment_On_Time')" class="fontTitle"></p>
                        <p data-bind="text: txtpercentShipmentOnTime,style: {color: colorShimmentOnTime}" class="fontPrecent"></p>
                        <p data-bind="text: txtshipmentOnTime" class="font_50 app-form-labelcontainer"></p>
                    </div>
                    <div class="dash_sub">
                        <p data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Shipment_Late')" class="fontTitle"></p>
                        <p data-bind="text: txtpercentShipmentLate,style: {color: colorShimmentLate}" class="fontPrecent"></p>
                        <p data-bind="text: txtshipmentLate" class="font_50 app-form-labelcontainer"></p>
                    </div>
                    <div class="dash_sub height_460 scrollbar">
                        <span data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Vehicle_Category')" class="fontTitle"></span>
                        <span data-bind="text: txtOnTime, style: {color: colorShimmentOnTime}"></span>
                        <div data-bind="foreach: arrayVehicleCategoryList">
                            <p class="Text_Vehicle">
                                <span data-bind="text: vehicleCategoryName" class="fontIssues app-form-labelcontainer"></span>
                                <span data-bind="text: formatVehicle" class="fontPrecent"></span>
                                <span data-bind="text: percentVehicleOnTime"></span>
                            </p>
                            <div class="col-flex">
                                <div class="box_Vehicle" data-bind="style: { background: waitingColor }, click: $parent.vehicleClick.bind($parent,'Waiting',vehicleCategoryId) ">
                                    <p data-bind="text: formatShipmentWating" class="fontIssues"></p>
                                    <p data-bind="text: percentShipmentWating"></p>
                                    <p data-bind="text: txtWaiting" class=" font_Tag_B"></p>
                                </div>
                                <div class="box_Vehicle" data-bind="style: { background: inprogressColor }, click: $parent.vehicleClick.bind($parent,'Inprogress',vehicleCategoryId)">
                                    <p data-bind="text: formatShipmentInProgress" class="fontIssues"></p>
                                    <p data-bind="text: percentShipmentInProgress"></p>
                                    <p data-bind="text: txtInprogress" class=" font_Tag_B"></p>
                                </div>
                                <div class="box_Vehicle" data-bind="style: { background: onTimeColor }, click: $parent.vehicleClick.bind($parent,'On Time',vehicleCategoryId)">
                                    <p data-bind="text: formatShipmentOnTime" class="fontIssues"></p>
                                    <p data-bind="text: percentShipmentOnTime"></p>
                                    <p data-bind="text: txtOnTime" class=" font_Tag_B"></p>
                                </div>
                                <div class="box_Vehicle" data-bind="style: { background: lateColor }, click: $parent.vehicleClick.bind($parent,'Late',vehicleCategoryId)">
                                    <p data-bind="text: formatShipmentLate" class="fontIssues"></p>
                                    <p data-bind="text: percentShipmentLate"></p>
                                    <p data-bind="text: txtLate" class=" font_Tag_B"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-row-2">
                    <div class="dash_item">
                        <p data-bind="text: i18n('Transportation_Mngm_Dashboard_Current_Issues')" class="fontTitle uppercase"></p>
                        <div class="col-flex">
                            <div class="box_status " data-bind="style: { background: txtcolorUnstart }, click: onClickStatistics.bind($data,'unstart')">
                                <p data-bind="text: txtdelayedDelivery" class="fontIssues size80"></p>
                                <p data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Late_Unstart')" class="text-top"></p>
                            </div>
                            <div class="box_status " data-bind="style: { background: txtcolorStarted }, click: onClickStatistics.bind($data,'started')">
                                <p data-bind="text: txtlateStart" class="fontIssues size80"></p>
                                <p data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Late_Started')" class="text-top"></p>
                            </div>
                        </div>
                    </div>
                    <div class="dash_item scrollbar height_555">
                        <p>
                            <span data-bind="text: txtTitle" class="fontTitle uppercase"></span>
                            <span data-bind="text: textLatest"></span>
                            <span data-bind="text: txtDateFrom"></span>
                        </p>
                        <div data-bind="foreach: arrayAlerts">
                            <div data-bind="html: column1" class="div_MTDAndAlerts">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="dashboard-row-3">
                    <div class="dash_item">
                        <p data-bind="text: i18n('Transportation_Mngm_Dashboard_Today_Statistics')" class="fontTitle uppercase"></p>
                        <div class="col-flex">
                            <div class="box_status" data-bind="style: { background: txtcolorTodayWaiting } , click: onClickStatistics.bind($data,'Waiting')">
                                <p data-bind="text: txtToDayWating" class="fontIssues"></p>
                                <p data-bind="text: txtPercentToDayWating" class="black"></p>
                                <span data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Waiting')"></span>
                            </div>
                            <div class="box_status" data-bind="style: { background: txtcolorTodayInprogress }, click: onClickStatistics.bind($data,'inprogress')">
                                <p data-bind="text: txtToDayInProgress" class="fontIssues"></p>
                                <p data-bind="text: txtPercentToDayInProgress" class="black"></p>
                                <span data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Inprogress')"></span>
                            </div>
                            <div class="box_status" data-bind="style: { background: txtcolorTodayFinished }, click: onClickStatistics.bind($data,'finished')">
                                <p data-bind="text: txtToDayFinished" class="fontIssues"></p>
                                <p data-bind="text: txtPercentToDayFinished" class="black"></p>
                                <span data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Finished')"></span>
                            </div>
                            <div class="box_status" data-bind="style: { background: txtcolorTodayCancelled }, click: onClickStatistics.bind($data,'Cancelled')">
                                <p data-bind="text: txtToDayCancelled" class="fontIssues"></p>
                                <p data-bind="text: txtPercentToDayCancelled" class="black"></p>
                                <span data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Cancelled')"></span>
                            </div>
                        </div>
                    </div>
                    <div class="dash_item" style="height: 555px;">
                        <p data-bind="text: i18n('Transportation_Mngm_ShipmentStatus')" class="fontTitle uppercase"></p>
                        <gisc-ui-donutchart params="data: donutCharts, 
                        innerRadius: 50,
                        propertyGraph:propertygraph,
                        paddingbottom:50,
                        onClickPieChart:pieCallback.bind($data)" />
                    </div>
                </div>
            </div>

        </item>
        <item params="text: i18n('Transportation_Mngm_Dashboard_Historical')">
           
            <div class="dash-board">
                <div class="dashboard-row-1">
                    <div class="dash_sub">
                        <p data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Shipment_On_Time')" class="fontTitle"></p>
                        <p data-bind="text: txtHistoricalPercentShipmentOnTime,style: {color: colorShimmentOnTime}" class="fontPrecent"></p>
                        <p data-bind="text: txtHistoricalShipmentOnTime" class="font_50 app-form-labelcontainer"></p>
                    </div>
                    <div class="dash_sub">
                        <p data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Shipment_Late')" class="fontTitle"></p>
                        <p data-bind="text: txtHistoricalPercentShipmentLate,style: {color: colorShimmentLate}" class="fontPrecent"></p>
                        <p data-bind="text: txtHistoricalShipmentLate" class="font_50 app-form-labelcontainer"></p>
                    </div>
                    <div class="dash_sub">
                        <p data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Shipment_Cancelled')" class="fontTitle"></p>
                        <p data-bind="text: txtHistoricalPercentShipmentCancelled,style: {color: txtcolorTodayCancelled}" class="fontPrecent"></p>
                        <p data-bind="text: txtHistoricalShipmentCancelled" class="font_50 app-form-labelcontainer"></p>
                    </div>
                    <div class="dash_sub height_300 scrollbar">
                        <span data-bind="text: i18n('Transportation_Mngm_Dashboard_Title_Vehicle_Category')" class="fontTitle"></span>
                        <span data-bind="text: txtOnTime, style: {color: colorShimmentOnTime}"></span>
                        <div data-bind="foreach: arrayVehicleCategoryHistoricalList">
                            <p class="Text_Vehicle">
                                <span data-bind="text: vehicleCategoryName" class="fontIssues app-form-labelcontainer"></span>
                                <span data-bind="text: formatVehicle" class="fontPrecent"></span>
                                <span data-bind="text: percentVehicleOnTime"></span>
                            </p>
                            <div class="col-flex">
                                <div class="box_Vehicle" data-bind="style: { background: waitingColor }, click: $parent.vehicleClick.bind($parent,'Waiting',vehicleCategoryId)">
                                    <p data-bind="text: formatShipmentWating" class="fontIssues"></p>
                                    <p data-bind="text: percentShipmentWating"></p>
                                    <p data-bind="text: txtWaiting" class=" font_Tag_B"></p>
                                </div>
                                <div class="box_Vehicle" data-bind="style: { background: inprogressColor }, click: $parent.vehicleClick.bind($parent,'Inprogress',vehicleCategoryId)">
                                    <p data-bind="text: formatShipmentInProgress" class="fontIssues"></p>
                                    <p data-bind="text: percentShipmentInProgress"></p>
                                    <p data-bind="text: txtInprogress" class=" font_Tag_B"></p>
                                </div>
                                <div class="box_Vehicle" data-bind="style: { background: onTimeColor }, click: $parent.vehicleClick.bind($parent,'On Time',vehicleCategoryId)">
                                    <p data-bind="text: formatShipmentOnTime" class="fontIssues"></p>
                                    <p data-bind="text: percentShipmentOnTime"></p>
                                    <p data-bind="text: txtOnTime" class=" font_Tag_B"></p>
                                </div>
                                <div class="box_Vehicle" data-bind="style: { background: lateColor }, click: $parent.vehicleClick.bind($parent,'Late',vehicleCategoryId)">
                                    <p data-bind="text: formatShipmentLate" class="fontIssues"></p>
                                    <p data-bind="text: percentShipmentLate"></p>
                                    <p data-bind="text: txtLate" class=" font_Tag_B"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-row-3">
                    <div class="dash_item">
                        <gisc-ui-linechart params="data: historicalGraphData" />
                    </div>
                </div>
            </div>
        </item>

    </gisc-ui-tab>
</gisc-ui-component>