﻿<gisc-ui-component>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="do-waypoint-word-wrap">
                            <div class="do-waypoint-wp-name">
                                <div class="do-waypoint-wp-icon-container">
                                    <img class="do-waypoint-icon" data-bind="attr: {src:pinIconSource}" />
                                    <!--<svg-icon-pin-do class="do-waypoint-svg-icon" />-->
                                </div>
                                <br/>
                                <span data-bind="text: txtWPName" class="do-waypoint-name"></span>
                                <br/>
                                <span data-bind="text: txtDOCount" class="do-waypoint-docount"></span>
                                <br/>
                                <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Delivery_Order_Count')" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="do-waypoint-word-wrap">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Customer')" />
                            <gisc-ui-field params="value: txtCustomerName" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="do-waypoint-word-wrap">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Code')" />
                            <gisc-ui-field params="value: txtShipmentCode" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="do-waypoint-word-wrap">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Name')" />
                            <gisc-ui-field params="value: txtShipmentName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="do-waypoint-word-wrap">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Vehicle_Licence')" />
                            <gisc-ui-field params="value: txtVehicle" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="do-waypoint-word-wrap">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Driver')" />
                            <gisc-ui-field params="value: txtDriver" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="do-waypoint-word-wrap">
                            <div data-bind="visible: shouldShowDeliveryMan" >
                                <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_DeliveryMan')" />
                                <gisc-ui-field params="value: txtDeliveryMan" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="do-waypoint-word-wrap">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Ship_To_Address')" />
                            <gisc-ui-field params="value: txtShipTo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <gisc-ui-datagrid params="onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        id: 'dgDeliveryOrderList',
        pageSizeOptions: false,
        pageable: false,
        columns : [
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_No', data: 'no', searchable: false, className: 'dg-body-center' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Delivery_Order', data: 'doCode', searchable: false, className: 'dg-body-center' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Delivery_Order_Name', data: 'doName', searchable: false, className: 'dg-body-center' },
                    { type: 'text', title: 'i18n:Common_Status', data: 'statusDisplay', searchable: false, className: 'dg-body-center' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Delivery_Order_Date', data: 'formatDoDate', searchable: false, className: 'dg-body-center' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Delivery_Order_Delivery_Date', data: 'formatDeliveryDate', searchable: false, className: 'dg-body-center' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Quantity', data: 'formatVolume', searchable: false, className: 'dg-body-right' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Price', data: 'formatPrice', searchable: false, className: 'dg-body-center', hidden:true }
                ],
        rowId: 'id'" 
                          />
    </div>

</gisc-ui-component>
