﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        accept: mimeType,
        onRemoveFile: onRemoveFile.bind($data),
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="text: importValidationError"></div>

    <section data-bind="visible: previewDataVisible">
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datagrid params="
            onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
            id: 'dgImportShipment',
            pageSizeOptions: false,
            columns : [
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Code', data: 'jobCode', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Name', data: 'jobName', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Start_Date', data: 'formatPlanStartDate', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Start_Time', data: 'formatPlanStartTime', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Common_BusinessUnit', data: 'businessName', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Vehicle_Licence', data: 'licenseNo', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Common_EmployeeID', data: 'employee', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Waiting_Time', data: 'waitingTime', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Start_Shipment', data: 'startJobDisplay', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Close_Shipment', data: 'closeJobDisplay', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Is_Terminal', data: 'formatIsTerminal', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Common_Description', data: 'description', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Order', data: 'order', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Waypoint_Code', data: 'jobWaypointCode', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Delivery_Type', data: 'deliveryTypeDisplay', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Ship_To_Address', data: 'shipToAddress', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Stop_Time', data: 'stop', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Travel_Time', data: 'travel', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Plan_Distance', data: 'distance', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Default_Value_Radius', data: 'radius', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Min_Park', data: 'minPark', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Max_Park', data: 'maxPark', searchable: false, className: 'dg-body-center' },
                        { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Delivery_Order', data: 'doNo', searchable: false, className: 'dg-body-center' }
                     ],
            rowId: 'tempId'" />
    </section>
</gisc-ui-component>