﻿<gisc-ui-component>
    <gisc-ui-checkbox params="text:txtRefresh, checked: isAutoRefresh"></gisc-ui-checkbox>
    <!--- onDatasourceRequestRead: onDatasourceRequestRead -->
    <gisc-ui-datagrid params="source:apiDataSource,
                      onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
                      onDetailInit:onDetailInit.bind($data),
                      detailInitOnClickColumns:onDetailClickColumns,
                      id: 'dgShipmentLst' ,
                      pageSizeOptions: false,
                      columns : [
                      { type: 'text' , title: 'i18n:Transportation_Mngm_Shipment_No' , data: 'no' , searchable: false, sortable: true, className: 'dg-body-right' , sortable: false },
                      { type: 'text' , title: 'i18n:Common_Delete' , data: 'shipmentStatusId' , searchable: false, sortable: true, template: 'renderShipmentDeleteIcon' , className: 'dg-body-center dg-svg-column' , sortable: false, onClick: onDeleteShipment, hidden: !isPermissionDelete },
                      { type: 'text' , title: 'i18n:Common_Update' , data: 'shipmentStatusIdUpdate' , searchable: false, sortable: true, template: 'renderShipmentUpdateIcon' , className: 'dg-body-center dg-svg-column' , sortable: false, onClick: onUpdateShipment, hidden: !isPermissionUpdate },
                      { type: 'object' , title: 'i18n:Transportation_Mngm_Shipment_ViewOnMap' , data: 'imgSearch' , template: 'renderVendorLogColumn' , className: 'dg-body-center dg-svg-column' , searchable: false, sortable: false, onClick: clickViewOnMap },
                      { type: 'text' , title: 'i18n:Transportation_Mngm_Shipment_Code' , data: 'shipmentCode' , searchable: false, onClick: clickOpenShipmentSummary, template:'<u>#=shipmentCode#</u>' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Name', data: 'shipmentName', searchable: false, onClick: clickOpenShipmentSummary, template:'<u>#=shipmentName#</u>' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_TemplateName', data: 'templateName', searchable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_LastWaypoint', data: 'lastWaypoint', width:'135px', searchable: false, sortable: false, hidden: !isPermissionLastWaypoint },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Vehicle_Licence', data: 'vehicleCode', searchable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_VehicleCategory', data: 'vehicleCategory', searchable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_ShipmentStatus', data: 'shipmentStatusDisplayName', searchable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Waypoint_Progress', data: 'waypointProgress', searchable: false, sortable: false, className: 'dg-body-center' },
                    { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_NextWaypoint', data: 'formatWaypoint', template: renderShipmentWayPoint, searchable: false, sortable: false },
                    { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Start_Date', data: 'formatDisplayStartDate', template: 'renderShipmentStartDate', searchable: false, sortable: false },
                    { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_End_Date', data: 'formatDisplayEndDate', template: 'renderShipmentEndDate', searchable: false, sortable: false },
                    { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Driver', data: 'driverNameAndMobile', template: 'renderDriverColumn', searchable: false  },
                    { type: 'text', title: 'i18n:Common_EmployeeID', data: 'employeeId', searchable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_DeliveryMan', data: 'deliveryManName', searchable: false, hidden: isHiddenDeliveryMan },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_BusinessUnits', data: 'businessUnitName', searchable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_CreateDate', data: 'formatCreateDate', searchable: false, sortable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_CreateBy', data: 'createBy', searchable: false, sortable: false }
                ],
        rowId: 'id'" />

</gisc-ui-component>
