﻿<gisc-ui-component>
    <!--<gisc-ui-checkbox params="text:txtRefresh, checked: isAutoRefresh"></gisc-ui-checkbox>-->
    <gisc-ui-label params="text: txtRefresh"></gisc-ui-label>

    <gisc-ui-datagrid params="onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        id: 'dgPOSearchLst',
        pageSizeOptions: false,
        columns : [
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_No', data: 'no', searchable: false, sortable: true, className: 'dg-body-right', sortable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_ViewOnMap', data: 'imgSearch', template: 'renderVendorLogColumn', className: 'dg-body-center', searchable: false, sortable: false, onClick: clickViewOnMap },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Code', data: 'shipmentCode', searchable: false, sortable: true, onClick: clickOpenShipmentSummary, template:'<u>#=shipmentCode#</u>' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Name', data: 'shipmentName', searchable: false, sortable: true, onClick: clickOpenShipmentSummary, template:'<u>#=shipmentName#</u>' },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_PONumber', data: 'poNumber', searchable: false, sortable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Vehicle_Licence', data: 'vehicleLicense', searchable: false, sortable: true },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Current_Location', data: 'currentLocation', searchable: false, sortable: false , width:'150px' },
                    { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_NextWaypoint', data: 'waypointData', template: 'renderPOSearchNextWayPoint', searchable: false, sortable: false, width:'120px' },
                    { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Confirm_DM_Date', data: 'confirmDMDate', template: 'renderConfirmDMDate', searchable: false, sortable: false },
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Weight_Out_date', data: 'formatActualStartDate', searchable: false, sortable: false, className: 'dg-body-center' }
                ],
        rowId: 'id'" />    
</gisc-ui-component>