﻿<gisc-ui-component>
    <!-- Business Unit Vehicle-->
    <gisc-ui-label params="for: 'ddVehicleBusinessUnit', text: i18n('Transportation_Mngm_Vehicle_BusinessUnits')"/>
    <gisc-ui-dropdowntree params=" id: 'ddVehicleBusinessUnit',
                         options:businessUnitList,
                         optionsID:'id',
                         optionsText:'name',
                         optionsParent:'parentBusinessUnitId',
                         optionsChildren:'childBusinessUnits',
                         mode:'update',
                         value:businessUnitVehicle,
                         zIndex: '10'" />
    <!-- Vehicle -->
    <gisc-ui-label params="for: 'ddVehicle', text: i18n('Common_Vehicle')"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddVehicle',
                            optionsID:'id',
                            optionsText: 'license',
                            optionsCaption: '',
                            options: vehicle,
                            value: selectedVehicle,
                            zIndex: '9'" />


    <!-- Business Unit Driver-->
    <gisc-ui-label params="for: 'ddDriverBusinessUnit', text: i18n('Transportation_Mngm_Driver_BusinessUnits')">
    </gisc-ui-label>
    <gisc-ui-dropdowntree params=" id: 'ddDriverBusinessUnit',
                         options:businessUnitList,
                         optionsID:'id',
                         optionsText:'name',
                         optionsParent:'parentBusinessUnitId',
                         optionsChildren:'childBusinessUnits',
                         mode:'update',
                         value:businessUnitDriver,
                         zIndex: '8'" />
    <!-- Driver -->
    <gisc-ui-label params="for: 'ddDriver', text: i18n('Common_Driver')"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddDriver',
                            optionsID:'id',
                            optionsText: 'displayName',
                            optionsCaption: '',
                            options: driver,
                            value: selectedDriver,
                            zIndex: '7'" />
    <!--Business Unit Shipment-->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('Transportation_Mngm_BusinessUnits'), isRequired: false">
    </gisc-ui-label>
    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                        options:businessUnitList,
                        optionsID:'id',
                        optionsText:'name',
                        optionsParent:'parentBusinessUnitId',
                        optionsChildren:'childBusinessUnits',
                        mode:'update',
                        value:businessUnit,
                        zIndex: '6'" />

    <!--Shipment Status-->
    <gisc-ui-label
        params="for: 'ddlShipmentStatus', text: i18n('Transportation_Mngm_ShipmentStatus'), isRequired: false">
    </gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddlShipmentStatus',
                            options: shipmentStatusList,
                            optionsID:'id',
                            optionsText: 'displayName',
                            optionsCaption: '',
                            value: shipmentStatus,
                            zIndex: '5'" />
    <!--Region-->
    <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Region')"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddRegion',
                            optionsID:'id',
                            optionsText: 'name',
                            optionsCaption: '',
                            options: regionList,
                            value: region,
                            zIndex:'4'" />

    <!-- TravelMode -->
    <gisc-ui-label params="for: 'ddTravelMode', text: i18n('Transportation_Mngm_Shipment_TravelMode')"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddTravelMode',
                            optionsID:'id',
                            optionsText: 'displayName',
                            optionsCaption: '',
                            options: travelMode,
                            value: selectedTravelMode,
                            zIndex: '3'" />

    <!-- Shipment Category -->
    <gisc-ui-label params="for: 'ddShipmentCategory', text: i18n('Transportation_Mngm_Shipment_Category')">
    </gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddShipmentCategory',
                            optionsID:'id',
                            optionsText: 'name',
                            optionsCaption: '',
                            options: shipmentCategory,
                            value: selectedShipmentCategory,
                            zIndex: '2'" />

    <!--Search by Day -->
    <gisc-ui-label params="text: i18n('Transportation_Mngm_Dashboard_Search_by_Day')"></gisc-ui-label>
    <gisc-ui-dropdown-multiselect params="id: 'ddDay',
                            optionsID:'id',
                            optionsText: 'displayName',
                            optionsCaption: '',
                            options: dayList,
                            value: valueDay" />

    <!--Shipment Start Date-->
    <gisc-ui-label params="for:'dtShipmentStartDate', text:i18n('Transportation_Mngm_Shipment_From')" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtShipmentStartDate', mode:'date', value: shipmentStartDate, dateFormat:dateFormat,
                               maxDate:maxDateShipment, minDate:minDateShipment" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:shipmentStartTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <!--Shipment End Date-->
    <gisc-ui-label params="for:'dtShipmentEndDate', text:i18n('Transportation_Mngm_Shipment_To')" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtShipmentEndDate', mode:'date', value: shipmentEndDate, dateFormat:dateFormat,
                              maxDate:maxDateShipment, minDate:minDateShipment" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:shipmentEndTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <!--Shipment Created Start Date-->
    <gisc-ui-label params="for:'dtShipmentCreatedStartDate', text:i18n('Transportation_Mngm_Shipment_Create_From')" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtShipmentCreatedStartDate', mode:'date', value: shipmentCreatedStartDate,dateFormat:dateFormat,
                              maxDate:maxCreateDate, minDate:minCreateDate" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:shipmentCreatedStartTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <!--Shipment Created End Date-->
    <gisc-ui-label params="for:'dtShipmentCreatedEndDate', text:i18n('Transportation_Mngm_Shipment_Create_To')" />
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'dtShipmentCreatedEndDate', mode:'date', value: shipmentCreatedEndDate,dateFormat:dateFormat,
                              maxDate:maxCreateDate ,minDate:minCreateDate" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:shipmentCreatedEndTime, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <!-- Template Name -->
    <gisc-ui-label params="for:'txtTemplateName',text:i18n('Transportation_Mngm_Shipment_Template_Template_Name')" />
    <gisc-ui-autocomplete params="id:'txtTemplateName',
                          onDatasourceRequest:onDatasourceRequestTemplateName,
                          value: txtTemplateName" />
    <!--Shipment Code-->
    <gisc-ui-label params="for:'txtShipmentCode',text:i18n('Transportation_Mngm_Shipment_Code')" />
    <gisc-ui-autocomplete params="id:'txtShipmentCode',
                          onDatasourceRequest:onDatasourceRequestShipmentCode,
                          value:txtShipmentCode
                          " />
    <!--Shipment Name-->
    <gisc-ui-label params="for:'txtShipmentName',text:i18n('Transportation_Mngm_Shipment_Name')" />
    <gisc-ui-autocomplete params="id:'txtShipmentName',
                          onDatasourceRequest:onDatasourceRequestShipmentName,
                          value: txtShipmentName" />

    <gisc-ui-label params="for:'txtCreateBy',text:i18n('Transportation_Mngm_Shipment_CreateBy')" />
    <gisc-ui-autocomplete params="id:'txtCreateBy',
                          onDatasourceRequest:onDatasourceRequestCreateBy,
                          value: txtCreateBy" />
</gisc-ui-component>