﻿<gisc-ui-component>
    <gisc-ui-checkbox params="text:txtRefresh, checked: isAutoRefresh"></gisc-ui-checkbox>
    <gisc-ui-tab params="selectedIndex: selectedIndex" class="transportation">

        <item params="text: i18n('Transportation_Mngm_Shipment_Tab_ShipmentInfo')">
            <div class="transportation">
                <div class="box_summary">
                    <div class="box_item" style="width: 100px">
                        <gisc-ui-label params="text: i18n('Common_Status')" />
                        <gisc-ui-field params="value: txtStatus" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Shipment_Business')" />
                        <gisc-ui-field params="value: txtBusinessUnit" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Code')" />
                        <gisc-ui-field params="value: txtShipmentCode" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Name')" />
                        <gisc-ui-field params="value: txtShipmentName" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Shipment_Template')" />
                        <gisc-ui-field params="value: txtShipmentTemplate" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Common_ReferenceNo')" />
                        <gisc-ui-field params="value: txtShipmentReferenceNo" />                        
                    </div>
                </div>
                <div class="box_summary">
                    <div class="box_item" style="width: 100px">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Finish_Cancel_Cause')" />
                            <gisc-ui-field params="value: txtShipmentFinishCancelCause" />
                    </div>
                    <div class="box_item">
                            <gisc-ui-label params="text: i18n('Shipment_Vehicle_BU')" />
                            <gisc-ui-field params="value: txtShipmentVehicleBU" />
                    </div>
                    <div class="box_item">
                            <gisc-ui-label params="text: i18n('Common_Vehicle')" />
                            <gisc-ui-field params="value: txtVehicle" />
                    </div>
                    <div class="box_item">
                            <gisc-ui-label params="text: i18n('Shipment_Driver_BU')" />
                            <gisc-ui-field params="value: txtShipmentDriverBU" />
                    </div>
                    <div class="box_item">
                            <gisc-ui-label params="text: i18n('Common_Driver')" />
                            <gisc-ui-field params="value: txtDriver" />
                    </div>
                    <div class="box_item">
                            <gisc-ui-label params="text: i18n('Notifications_DeliveryMan')" />
                            <gisc-ui-field params="value: txtDeliveryMan" />
                    </div>
                    <div class="box_item">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Trail')" />
                            <gisc-ui-field params="value: txtShipmentTrail" />
                    </div>
                </div>
                <div class="box_summary">
                    <div class="box_item" style="width: 100px">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Finish_Cancel_By')" />
                            <gisc-ui-field params="value: txtShipmentFinishCancelBy" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Start_Date')" />
                        <gisc-ui-field params="value: txtShipmentStartDate" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Waiting_Time')" />
                        <gisc-ui-field params="value: txtShipmentWaitingTime" />
                    </div>
                    <div class="box_item">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_End_Date')" />
                            <gisc-ui-field params="value: txtShipmentCloseDate" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Zone')" />
                        <gisc-ui-field params="value: txtZone" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Category')" />
                        <gisc-ui-field params="value: txtShipmentCategory" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_TravelMode')" />
                        <gisc-ui-field params="value: txtTravelMode" />
                    </div>  
                </div>
                <div class="box_summary">
                    <div class="box_item" style="width: 100px">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Start_Shipment')" />
                            <gisc-ui-field params="value: txtStartShipment" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Close_Shipment')" />
                        <gisc-ui-field params="value: txtCloseShipment" />
                    </div>
                    <div class="box_item">
                            <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Close_Shipment_By')" />
                            <gisc-ui-field params="value: txtjobAutoFinish" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Duration')" />
                        <gisc-ui-field params="value: txtDuration" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Late_Shipment_Role')" />
                        <gisc-ui-field params="value: txtlateShipmentRole" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Last_Waypoint')" />
                        <gisc-ui-field params="value: txtlateWaypoint" />
                    </div>
                </div>
                <div class="box_summary">
                    <div class="box_item" style="width: 100px">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Last_Updated_Date')" />
                        <gisc-ui-field params="value: txtLastUpdateDate" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Last_Updated_By')" />
                        <gisc-ui-field params="value: txtLastUpdateBy" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Created_Date')" />
                        <gisc-ui-field params="value: txtCreatedDate" />
                    </div>
                    <div class="box_item">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Created_By')" />
                        <gisc-ui-field params="value: txtCreatedBy" />
                    </div>
                </div>
                <div class="box_summary">
                    <div class="box_desc">
                        <gisc-ui-label params="text: i18n('Common_Description')" />
                        <gisc-ui-field params="value: txtDescription" />
                    </div>
                </div>
            </div>

            <div class="transportation">
                <table class="assign-additional-tbl">
                    <thead>
                        <tr>
                            <th colspan="10" class="titleTable"><label data-bind="text: i18n('Transportation_Mngm_Shipment_Summary_Of_Transportation_And_Driving_Behavior')" /></th>
                        </tr>
                    </thead>
                    <tbody class="tdSize">
                        <tr>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Fuel_From_Plan')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtFormatFuelFromPlanDistance" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Max_Speed')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtMaxSpeed" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Stop')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtSummaryStopTable" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Stop_Time2')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtStop" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Max_Temperature')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtMaxTemperature" /></td>
                        </tr>
                        <tr>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Fuel_From_distance')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtFuelFromDistance" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Low_Speed')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtLowSpeed" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Inside_Of_waypoint_Stop')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtInsideOfWaypointStop" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Stop_EngineOn')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtStopEngineOn" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Low_Temperature')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtLowTemperature" /></td>
                        </tr>
                        <tr>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Fuel_From_sensor')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtFuelFromSensor" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Avg_Speed')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtAvgSpeed" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Outside_Of_Waypoint_Stop')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtOutsideOfWaypointStop" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Move')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtMove" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Average_Temperature')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtAvgTemperature" /></td>

                           
                        </tr>
                        <!--<tr>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Over_Speed')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtOverSpeed" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Dec_Rapid')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtDecRapid" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Acc_Rapid')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtAccRapid" /></td>
                            <th><gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Swerve_Driver')" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: txtSwerveDriver" /></td>
                        </tr>-->
                    </tbody>
                </table>
            </div>

           
            <div class="transportation">
                <!-- ko if: visibleAlert -->
                <table class="assign-additional-tbl">
                    <thead>
                        <tr>
                            <th colspan="10" class="titleTable"><label data-bind="text: i18n('Transportation_Mngm_Shipment_Summary_Of_Alerts')" /></th>
                        </tr>
                    </thead>
                    <tbody class="tdSize" data-bind="foreach: alertInfos">
                        <tr>
                            <th><gisc-ui-label params="text: $data.name1" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: $data.totalAlert1" /></td>
                            <th><gisc-ui-label params="text: $data.name2" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: $data.totalAlert2" /></td>
                            <th><gisc-ui-label params="text: $data.name3" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: $data.totalAlert3" /></td>
                            <th><gisc-ui-label params="text: $data.name4" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: $data.totalAlert4" /></td>
                            <th><gisc-ui-label params="text: $data.name5" /></th>
                            <td class="textCenter"><gisc-ui-field params="value: $data.totalAlert5" /></td>
                        </tr>
                    </tbody>
                </table>
                <!-- /ko-->
            </div>
           

            <div class="transportation">
                <gisc-ui-datagrid params="onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        id: 'dgShipmentSummary',
        pageSizeOptions: false,
        pageable: false,
        sortable:false,
        columns : [
                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Detail',
                                  columns:[
                                    { type: 'text', title: 'i18n:CustomRoutes_Order', data: 'order', searchable: false ,className: 'dg-body-right', width: '60px' },
                                    { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Waypoint_Status', data: 'waypointData',  className: 'dg-body-center' ,template: 'renderShipmentColorData', width: '115px'},
                                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Waypoint', data: 'jobWaypointName', template: renderShipmentColorData,  width: 150},
                                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Radius', data: 'radius',  width: 70,className: 'dg-body-right'},
                                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Action', data: 'actionDisplayName', searchable: false , className: 'dg-body-center' , width: '115px'},
                                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Plan',
                                      columns:[
                                            { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Arrive', data: 'planlArriveData',  className: 'dg-body-center',template: 'renderShipmentColorData' , width: '80px'},
                                            { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Depart', data: 'planlDepartData',  className: 'dg-body-center',template: 'renderShipmentColorData', width: '80px'},
                                            { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Summary_Service_Time', data: 'planlStopData',  className: 'dg-body-center',template: 'renderShipmentColorData', width: '100px'},
                                            { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Plan_Travel_Time', data: 'planlTravelData',  className: 'dg-body-center',template: 'renderShipmentColorData' , width: '105px'},
                                            { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Plan_Trip_Time', data: 'planlTripData',  className: 'dg-body-center',template: 'renderShipmentColorData', width: '105px'},
                                            { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Distance_Between_Of_Waypoint', data: 'planlDistanceData',  className: 'dg-body-right',template: 'renderShipmentColorData', width: '110px'},

                                      ]},
                                    { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Actual_Order', data: 'actualArriveOrderData', searchable: false ,template: 'renderShipmentColorData', className: 'dg-body-right', width: '100px'},
                                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Actual',
                                      columns:[
                                                { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Actual_Arrive', data: 'actualArriveData',  className: 'dg-body-center' ,template: 'renderShipmentColorData' , width: '85px'},
                                                { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Actual_Depart', data: 'actualDepartData',  className: 'dg-body-center',template: 'renderShipmentColorData' , width: '85px'},
                                                { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Summary_Service_Time', data: 'actualStopData',  className: 'dg-body-center',template: 'renderShipmentColorData' , width: '100px'},
                                                { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Plan_Travel_Time', data: 'actualTravelData',  className: 'dg-body-center',template: 'renderShipmentColorData' , width: '105px'},
                                                { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Plan_Trip_Time', data: 'actualTripData',  className: 'dg-body-center' ,template: 'renderShipmentColorData', width: '105px'},
                                                { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Actual_Distance_Inside_Waypoint', data: 'distanceInWaypoint',  className: 'dg-body-right',template: 'renderShipmentColorData' , width: '95px'},
                                                { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Distance_Between_Of_Waypoint', data: 'actualDistance',  className: 'dg-body-right',template: 'renderShipmentColorData' , width: '110px'},
                                                { type: 'object', title: 'i18n:Transportation_Mngm_Shipment_Actual_Avg_Speed_Between_Waypoint', data: 'avgSpeedOutWaypoint',  className: 'dg-body-right',template: 'renderShipmentColorData' , width: '140px'},
                                          ]
                                      },
                                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Fuel',
                                          columns:[
                                                { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Fuel_Distance', data: 'formatFuelFromDistance', className: 'dg-body-right' , width: '90px'},
                                                { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Fuel_Sensor', data: 'formatFuelFromSensor',className: 'dg-body-right' , searchable: false , width: '90px'}
                                          ]
                                        },
                                    { type: 'text', title: 'i18n:Common_Mileage', data: 'formatMileage',  className: 'dg-body-right' , width: '70px'},
                                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Temperature',
                                          columns:[
                                                { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Temperature_Arrive', data: 'formatTemperatureArrive',  className: 'dg-body-right' , width: '110px'},
                                                { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Temperature_Depart', data: 'formatTemperatureDepart',  className: 'dg-body-right' , width: '110px'},
                                                { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Temperature_Avg_Of_Waypoint', data: 'formatAvgTemperatureInside',  className: 'dg-body-right' , width: '107px'},
                                                { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Temperature_Avg_Between_Of_Waypoint', data: 'formatAvgTemperatureOutside',  className: 'dg-body-right' , width: '128px'}
                                          ]
                                        },
                                    { type: 'text', title: 'i18n:Transportation_Mngm_Shipment_Order_Code', data: 'doDetail',  className: 'dg-body-left', width: '150px' },
                                    { hidden: false }
                               ] },

                ],
        rowId: 'id'" />
            </div>

        </item>
        <item params="text: i18n('Transportation_Mngm_Shipment_Tab_AssignAdditional_Driver')">
            <div class="transportation-assign-additional">
                <div class="co-driver">
                    <div class="co-driver-header">
                        <gisc-ui-label params="text: i18n('Common_CoDrivers')" />
                    </div>
                    <div class="co-driver-tbl" data-bind="if: isCoDriver">
                        <table class="assign-additional-tbl" border="1" style="width:350px;">
                            <thead>
                                <tr>
                                    <th data-bind="text: i18n('CustomRoutes_Order')"></th>
                                    <th data-bind="text: i18n('Common_Driver')" style="width:200px;"></th>
                                    <th data-bind="text: i18n('Transportation_Mngm_Shipment_Summary_Driver_LicenseID')"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: coDriverLst -->
                                <tr>
                                    <td style="text-align:right;" data-bind="text: order"></td>
                                    <td style="text-align:left;" data-bind="text: driverrName"></td>
                                    <td style="text-align:left;" data-bind="text: employeeId"></td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                    <div data-bind="ifnot: isCoDriver">
                        <gisc-ui-field params="value: $parent.i18n('M111')()" />
                    </div>
                </div>
                <div class="porter">
                    <div class="porter-header">
                        <gisc-ui-label params="text: i18n('Transportation_Mngm_Shipment_Summary_Porter')" />
                    </div>
                    <div class="porter-tbl" data-bind="if: isPorter">
                        <table class="assign-additional-tbl" border="1" style="width:350px;">
                            <thead>
                                <tr>
                                    <th data-bind="text: i18n('CustomRoutes_Order')"></th>
                                    <th data-bind="text: i18n('Transportation_Mngm_Shipment_Summary_Porter')" style="width:200px;"></th>
                                    <th data-bind="text: i18n('Transportation_Mngm_Shipment_Summary_Porter_LicenseID')"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: porterLst -->
                                <tr>
                                    <td style="text-align:right;" data-bind="text: order"></td>
                                    <td style="text-align:left;" data-bind="text: porterName"></td>
                                    <td style="text-align:left;" data-bind="text: licenseID"></td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                    <div data-bind="ifnot: isPorter">
                        <gisc-ui-field params="value: $parent.i18n('M111')()" />
                    </div>
                </div>
            </div>
        </item>
        <item params="text: i18n('Transportation_Mngm_Shipment_Tab_Vehicle_Logging')">
                <div class="transportation-assign-additional">
                    <div class="co-driver">
                        <div class="co-driver-header">
                            <gisc-ui-label params="text: i18n('Common_Vehicle_Logging')" />
                        </div>
                        <div class="co-driver-tbl" data-bind="if: isVehicleLoging">
                            <table class="assign-additional-tbl" border="1" style="width:350px;">
                                <thead>
                                    <tr>
                                        <th data-bind="text: i18n('Common_License')"></th>
                                        <th data-bind="text: i18n('Transportation_Mngm_Shipment_Tab_Vehicle_Logging_Reason')" style="width:200px;"></th>
                                        <th data-bind="text: i18n('Transportation_Mngm_Shipment_Tab_Vehicle_Logging_Change_Date')"></th>
                                        <th data-bind="text: i18n('Transportation_Mngm_Shipment_Tab_Vehicle_Logging_Change_By')"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko foreach: vehicleLogingList -->
                                    <tr>
                                        <td style="text-align:right;" data-bind="text: vehicleLicense"></td>
                                        <td style="text-align:left;" data-bind="text: changeReason"></td>
                                        <td style="text-align:left;" data-bind="text: changeDate"></td>
                                        <td style="text-align:left;" data-bind="text: changeBy"></td>
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                        <div data-bind="ifnot: isVehicleLoging">
                            <gisc-ui-field params="value: $parent.i18n('M111')()" />
                        </div>
                    </div>
                </div>
            </item>
    </gisc-ui-tab>

</gisc-ui-component>