<gisc-ui-component>
    <article>
        <section>
            <gisc-ui-label params="for: 'ddPlant', text: i18n('BOMs_Reports_Plant')"></gisc-ui-label>
            <gisc-ui-dropdowntree params=" id: 'ddPlant',
                                            options:plant,
                                            optionsID:'id',
                                            optionsText:'name',
                                            optionsParent:'parentBusinessUnitId',
                                            optionsChildren:'childBusinessUnits',
                                            value:selectedPlant,
                                            mode:'update'" />
            
            <!-- Zone -->
            <gisc-ui-label params="for: 'ddZone', text: i18n('BOMs_Reports_Zone')"></gisc-ui-label>
            <gisc-ui-dropdown-multiselect params="id: 'ddZone',
                                    optionsID:'id',
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    options: zone,
                                    value: selectedZone" />
            
            <!-- Line -->
            <gisc-ui-label params="for: 'ddLine', text: i18n('BOMs_Reports_Line')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddLine',
                                    options: line,
                                    optionsText: 'name',
                                    optionsCaption: '',
                                    type:'filter',
                                    value: selectedLine" />
            
            <!-- TravelMode -->
            <gisc-ui-label params="for: 'ddTravelMode', text: i18n('BOMs_Reports_TravelMode')"></gisc-ui-label>
            <gisc-ui-dropdown params="id: 'ddTravelMode',
                                    options: travelMode,
                                    optionsText: 'displayName',
                                    optionsCaption: ' ',
                                    value: selectedTravelMode" />

            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Yesterday'),value:'Yesterday',checked:valueRadio " />
            <!-- ko if: thisWeekVisible -->
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisWeek'),value:'ThisWeek',checked:valueRadio " />
            <!-- /ko -->
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastWeek'),value:'LastWeek',checked:valueRadio" />
            <!-- ko if: thisMonthVisible -->
                <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_ThisMonth'),value:'ThisMonth',checked:valueRadio " />
            <!-- /ko -->
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_LastMonth'),value:'LastMonth',checked:valueRadio " />
            <gisc-ui-radio params="text:i18n('Dashboard_Utilization_Time_Search_Text_Custom'),value:'Custom',checked:valueRadio " />

           <!--DateTimeFromTo-->
            <!-- <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                        </div>
                    </div>
                </div>
            </div> -->

            <!--DateTimeFromTo-->
            <div style="width:100%;float:left;">
                <gisc-ui-label params="for:'from' ,text: i18n('Companies_From'), isRequired: true" />
            </div>
            <div style="width:100%">
                <div style="width:55%;float:left;">
                    <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                </div>
                <div style="width:40%;float:right;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ,enable: isDateTimeEnabled">
                    </div>
                </div>
            </div>
            <div style="width:100%;float:left;">
                <gisc-ui-label params="for:'to' ,text: i18n('Companies_To'), isRequired: true" />
            </div>
            <div style="width:100%">
                <div style="width:55%;float:left;">
                    <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet ,enable: isDateTimeEnabled" />
                </div>
                <div style="width:40%;float:right;">
                    <div class="app-textBox-wrapper">
                        <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ,enable: isDateTimeEnabled">
                    </div>
                </div>
            </div>

            <gisc-ui-radio params="text:i18n('BOMs_Shipment_Date'),value:'shipmentDate' ,checked:dateType" />
            <gisc-ui-radio params="text:i18n('BOMs_Billing_Date'),value:'billingDate' ,checked:dateType" />

        </section>
    </article>
</gisc-ui-component>