<!-- ko if: visible() -->
<button tabindex="0" class="fxc-actionBarBase fxc-actionBarBase-button fxc-button azc-button" data-bind="enable: enable, css: type, click: onclick">
   <span data-bind="text: text"></span>
</button>
<!-- /ko -->