﻿<gisc-ui-component>
    <!-- <gisc-ui-datatable params="
      id: 'dtMDVRsList',
      datasource: listMDVRs,
      columns: [
      { type: 'label', title: 'i18n:Assets_Mdvrs_Device_Id', data: 'deviceId', searchable: true },
      { type: 'label', title: 'i18n:Assets_Mdvrs_Channel', data: 'cameraNo' },
      { type: 'label', title: 'i18n:Assets_Mdvrs_License_Vehicle', data: 'vehicleLicense' },
      { type: 'label', title: 'i18n:Assets_Mdvrs_Business_Unit', data: 'businessUnitName' },
      { type: 'label', title: 'i18n:Assets_Mdvrs_Company', data: 'companyName' },
      { type: 'label', title: 'i18n:Assets_Mdvrs_Serial_No', data: 'serialNo' ,searchable: true},
      { type: 'label', title: 'i18n:Assets_Mdvrs_Contract_No', data: 'contractNo' ,searchable: true },

    
      ],
      order: order,
      rowId: 'id',
      selectable: true,
      selectedRow: selectedTrackDB,
      showFilter: true,
      filter: filterText,
      filterPlaceholder: 'i18n:Assets_Mdvrs_Filter',
      onSelectingRow: _selectingRowHandler,
      recentChangedRowIds: recentChangedRowIds,
      loadMore: true
      " /> -->

    <gisc-ui-datagrid params=",
                      id:'dtMDVRsList',
                      onDatasourceRequestRead:onDatasourceRequestRead.bind($data),
                      columns:[
                      { type: 'text' , title: 'i18n:Assets_Mdvrs_Device_Id' , data: 'deviceId' ,width:'105px',onClick:_selectingRowHandler ,template:'<u>#=deviceId#</u>'},
                      { type: 'text' , title: 'Device Code' , data: 'deviceCode' ,width:'115px',filterable : false,sortable: false},
                      { type: 'text', title: 'i18n:Assets_Mdvrs_Serial_No', data: 'serialNo',width:'115px'},
                      { type: 'text' , title: 'i18n:Assets_Mdvrs_Channel' , data: 'cameraNo' ,width:'115px',filterable : false,sortable: false},
                      { type: 'text' , title: 'Operator' , data: 'operatorName' ,width:'115px',filterable : false,sortable: false},
                      { type: 'text' , title: 'Sim No' , data: 'mobileNo' ,width:'115px',filterable : false,sortable: false},
                      { type: 'text' , title: 'Install Date' , data: 'formatInstallDate' ,width:'115px',filterable : false,sortable: false},
                      { type: 'text' , title: 'Model' , data: 'model' ,width:'115px',filterable : false,sortable: false},
                      { type: 'text' , title: 'i18n:Assets_Mdvrs_License_Vehicle' , data: 'vehicleLicense' ,width:'142px'},
                      { type: 'text', title: 'i18n:Assets_Mdvrs_Business_Unit', data: 'businessUnitName', width:'115px'},
                      { type: 'text', title: 'i18n:Assets_Mdvrs_Company', data: 'companyName', width:'115px'},
                      { type: 'text' , title: 'i18n:Assets_Mdvrs_Contract_No' , data: 'contractNo' ,width:'115px'},
                      { type: 'text' , title: 'Contract Start' , data: 'formatContractStart' ,width:'115px',filterable : false,sortable: false},
                      { type: 'text' , title: 'Contract End' , data: 'formatContractEnd' ,width:'115px',filterable : false,sortable: false},

             ],
        rowId: 'id',
        showFilter: true,
        editable: true,
        showRowSelector: true,
        selectedRows: selectedItems,
        filterable:true,
        resizable:true,
        columnMenu: true
    " />
</gisc-ui-component>

<!-- { type: 'label', title: 'i18n:Contract No', data: '' } -->