﻿<gisc-ui-component>
    <div class="dashboard-bu">
        <!-- <div style="width:100%; text-align:center;">
            <b>
                <span data-bind="text: i18n('Report_KpiReport')" />
            </b>

        </div> -->

        <div style="width: 100%; ">
            <div style="width:50%; text-align:left; float: left">
                <b><span data-bind="text: i18n('Common_Company')"></span>
                <span>:</span></b>
                <span data-bind="text: companyName" style="color: gray"></span>
            </div>

            <div style="width:50%; text-align:left; float: left ">
                    <b><span data-bind="text: i18n('Report_KpiReport_From_Date')"></span>
                    <span>:</span></b>
                <span data-bind="text: dateFromForDisplay" style="color: gray"></span>
                <b><span data-bind="text: i18n('Report_KpiReport_To')"></span>
                <span>:</span></b>
                <span data-bind="text: dateToForDisplay" style="color: gray"></span>
            </div>
        </div>
        <div style="width: 100%; ">
                <div style="width:50%; text-align:left; float: left">
                        <b><span data-bind="text: i18n('Report_ShippingType')"></span>
                            <span>:</span></b>
                        
                    <span data-bind="text: fleetTypeName" style="color: gray"></span>
                </div>
    
                <div style="width:50%; text-align:left; float: left ">
                        <b><span  data-bind="text: i18n('Report_KpiReport_Kpi')"></span>
                        <span>:</span></b>
                    <span data-bind="text: kpiName" style="color: gray"></span>
                </div>
            </div>

        <div style="width: 100%; height: 100%; text-align: center;">

            <gisc-ui-barhorizontalamchart params="data: horizontalChartData,
                                                
                                                valueFieldName:'percent',
                                                showChartScrollbar: isShowChartScrollbar,
                                                initialZoom: [0,14],
                                                fixedColumnWidth: fixedColumnWidth,
                                                isCategoryAxisLabelTruncate:true,
                                                valueAxesLabelShowPercentage:true,
                                                chartLegendData:chartLegend,
                                                chartLegendPosition:'right',
                                                onClickHorizontalChart:horizontalChartCallback.bind($data)" />
        </div>
    </div>
</gisc-ui-component>