﻿<gisc-ui-component>
    <!-- <div>Dashboard Overall</div> -->
    <div class="dashboard-overall">
        <!-- <div style="width:100%; text-align:center;">
            <b>
                <span data-bind="text: i18n('Report_KpiReport')" />
            </b>

        </div> -->

        <div style="width: 75%; ">
            <div style="width:50%; text-align:left; float: left">
                <b>
                    <span data-bind="text: i18n('Common_Company')"></span>
                    <span>:</span>
                </b>
                <span data-bind="text: companyName" style="color: grey"></span>
            </div>

            <div style="width:50%; text-align:left; float: left ">
                <b>
                    <span data-bind="text: i18n('Report_KpiReport_From_Date')"></span>
                    <span>:</span>
                </b>
                <span data-bind="text: dateFrom" style="color: grey"></span>
                <b>
                    <span data-bind="text: i18n('Report_KpiReport_To')"></span>
                    <span>:</span>
                </b>
                <span data-bind="text: dateTo" style="color: grey"></span>
            </div>
        </div>
        <div  style="width:100%; text-align:center; float: left; margin-top: 10px; ">
            <div class="div-dashboard-overall-legend" data-bind="style: { visibility: isHideLegend }">
                <span class="legend">
                    <span style="background-color: #ee4036" />
                    <span data-bind="text: i18n('Common_Fail')" />
                </span>
                <span class="legend">
                    <span style="background-color: #46bc78" />
                    <span data-bind="text: i18n('Common_Pass')" />
                </span>
            </div>
        </div>

        <div style="width: 100%; height: 100%; float: left; margin-top: -30px;">

            <div data-bind="style: { marginTop: dataNotFoundMarginTop }">
                <span data-bind="text:dataNotFoundTxt"></span>
            </div>
            <!-- ko foreach: donutChartList -->
            <div style="height: 30%; width: 100%; float: left; margin-top: 50px ">
                <!-- <span data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_DFM')"></span> -->
                <div style="width: 100%">
                    <b>
                        <span data-bind="text:$parent.i18n('Report_ShippingType')"></span>
                        <span>:</span>
                    </b>
                    <!-- <span style="font-size:25px; " data-bind="text:title"></span> -->
                    <span data-bind="text:title"></span>
                </div>
                <!-- <div style="width: 100%">fleetType</div> -->

                <div style="width: 14%; height: 100%; float: inherit;">
                    <div style="width: 100%; text-align: center;">
                        <span data-bind="text:$parent.i18n('Report_KpiReport_OverSpeed')"></span>
                        <span data-bind="text:parentWord"></span>
                    </div>

                    <!-- <span data-bind="text:$parent.i18n('Dashboard_Safety_Dashboard_DFM')"></span> -->
                    <gisc-ui-donutchart params="data: overspeed,
                                innerRadius: 40,
                                formatBalloonText: formatBalloonText,
                                centerLabel: overSpeedPercentage, 
                                paddingbottom:50,
                                onClickPieChart:$parent.onClickPieChart.bind($parent),
                                formatLabelText: '[[value]]',
                                labelRadius:'-25%',
                                labelTextColor:'white',
                                propertyGraph:propertyGraph
                                " />
                </div>
                <div style="width: 14%; height: 100%; float: inherit;">
                    <div style="width: 100%; text-align: center;">
                        <span data-bind="text:$parent.i18n('Report_KpiReport_HAHB')"></span>
                        <span data-bind="text:parentWord"></span>
                    </div>
                    <gisc-ui-donutchart params="data: hahb,
                            innerRadius: 40,
                            formatBalloonText: formatBalloonText,
                            centerLabel: hahbPercentage, 
                            paddingbottom:50,
                            onClickPieChart:$parent.onClickPieChart.bind($parent),
                            formatLabelText: '[[value]]',
                            labelRadius:'-25%',
                            labelTextColor:'white',
                            propertyGraph:propertyGraph
                                    " />
                </div>
                <div style="width: 14%; height: 100%; float: inherit;">
                    <div style="width: 100%; text-align: center;">
                        <span data-bind="text:$parent.i18n('Report_KpiReport_Swerve')"></span>
                        <span data-bind="text:parentWord"></span>
                    </div>
                    <gisc-ui-donutchart params="data: swerve,
                            innerRadius: 40,
                            formatBalloonText: formatBalloonText,
                            centerLabel: swervePercentage, 
                            paddingbottom:50,
                            onClickPieChart:$parent.onClickPieChart.bind($parent),
                            formatLabelText: '[[value]]',
                            labelRadius:'-25%',
                            labelTextColor:'white',
                            propertyGraph:propertyGraph
                                        " />
                </div>
                <div style="width: 14%; height: 100%; float: inherit;">
                    <div style="width: 100%; text-align: center;">
                        <span data-bind="text:$parent.i18n('Report_KpiReport_OverTime4hr')"></span>
                        <span data-bind="text:parentWord"></span>
                    </div>
                    <gisc-ui-donutchart params="data: over4hr,
                            innerRadius: 40,
                            formatBalloonText: formatBalloonText,
                            centerLabel: overtime4HrPercentage, 
                            paddingbottom:50,
                            onClickPieChart:$parent.onClickPieChart.bind($parent),
                            formatLabelText: '[[value]]',
                            labelRadius:'-25%',
                            labelTextColor:'white',
                            propertyGraph:propertyGraph
                                            " />
                </div>
                <div style="width: 14%; height: 100%; float: inherit;">
                    <div style="width: 100%; text-align: center;">
                        <span data-bind="text:$parent.i18n('Report_KpiReport_OverTime10hr')"></span>
                        <span data-bind="text:parentWord"></span>
                    </div>
                    <gisc-ui-donutchart params="data: over10hr,
                            innerRadius: 40,
                            formatBalloonText: formatBalloonText,
                            centerLabel: overtime10HrPercentage, 
                            paddingbottom:50,
                            onClickPieChart:$parent.onClickPieChart.bind($parent),
                            formatLabelText: '[[value]]',
                            labelRadius:'-25%',
                            labelTextColor:'white',
                            propertyGraph:propertyGraph
                                                " />
                </div>
                <div style="width: 14%; height: 100%; float: inherit;">
                    <div style="width: 100%; text-align: center;">
                        <span data-bind="text:$parent.i18n('Report_KpiReport_ActivatingDriving')"></span>
                        <span data-bind="text:$parent.activatingDrivingParentWord"></span>
                    </div>
                    <gisc-ui-donutchart params="data: activatingdrive,
                            innerRadius: 40,
                            formatBalloonText: formatBalloonText,
                            centerLabel: activatingDrivingPercentage, 
                            paddingbottom:50,
                            onClickPieChart:$parent.onClickPieChart.bind($parent),
                            formatLabelText: '[[value]]',
                            labelRadius:'-25%',
                            labelTextColor:'white',
                            propertyGraph:propertyGraph" />
                </div>
                <div style="width: 14%; height: 100%; float: inherit;">
                    <div style="width: 100%; text-align: center;">
                        <span data-bind="text:$parent.i18n('Report_KpiReport_Rest10hr')"></span>
                        <span data-bind="text:parentWord"></span>
                    </div>
                    <gisc-ui-donutchart params="data: rest10hr,
                            innerRadius: 40,
                            formatBalloonText: formatBalloonText,
                            centerLabel: rest10hrPercentage, 
                            paddingbottom:50,
                            onClickPieChart:$parent.onClickPieChart.bind($parent),
                            formatLabelText: '[[value]]',
                            labelRadius:'-25%',
                            labelTextColor:'white',
                            propertyGraph:propertyGraph" />
                </div>
            </div>

            <!-- /ko -->
        </div>
    </div>
</gisc-ui-component>