﻿<gisc-ui-component>
    <article>
        <summary></summary>
        <section>
            <gisc-ui-datatable params="id: 'dtCustomAreaCategoryList',
                datasource: items,
                columns: [
                    { type: 'colorhex', title:'i18n:CustomAreaCategory_Color', searchable: true, data: 'color' },
                    { type: 'label', title:'i18n:CustomAreaCategory_Name', searchable: true, data: 'name' },
                    { type: 'label', title:'i18n:CustomAreaCategory_Code', data: 'code' ,searchable: true}
                ],
                rowId: 'id',
                selectable: true,
                selectedRow: selectedCustomAreaCategory,
                showFilter: true,
                filter: filterText,
                filterPlaceholder: 'i18n:PHSearchBy009',
                onSelectingRow: _selectingRowHandler,
                recentChangedRowIds: recentChangedRowIds,
                loadMore: true,
                order: order
                " />
        </section>
    </article>
</gisc-ui-component>