﻿<gisc-ui-component>
    <!--Name-->
    <gisc-ui-label params="text: i18n('CustomAreaCategory_Name'), isRequired: true"></gisc-ui-label>
    <gisc-ui-field params="value: name"></gisc-ui-field>

    <!--Description-->
    <gisc-ui-label params="text: i18n('CustomAreaCategory_Description')"></gisc-ui-label>
    <gisc-ui-field params="value: description"></gisc-ui-field>

    <!--Code-->
    <gisc-ui-label params="text: i18n('CustomAreaCategory_Code')"></gisc-ui-label>
    <gisc-ui-field params="value: code"></gisc-ui-field>

    <!--Color-->
    <gisc-ui-label params="text:i18n('CustomAreaCategory_Color'), isRequired:true" />
    <div data-bind="style: { backgroundColor: areaColor(),width: '25px', height: '25px','margin-bottom':'20px'}"></div>

    <!--Type-->
    <gisc-ui-label params="text:i18n('CustomPOICategory_Type')" />
    <gisc-ui-field params="value: type"></gisc-ui-field>
</gisc-ui-component>