﻿<gisc-ui-component>
    <gisc-ui-label params="for: 'ddMaintenanceType', text: i18n('Vehicle_MA_Common_Maintenance_Type'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMaintenanceType',
                              options: maintenanceType,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: maType"></gisc-ui-dropdown>



    <!--Maintenance Subtype-->
    <gisc-ui-label params="for: 'ddMaintenanceSubtype', text: i18n('Vehicle_MA_Common_Maintenance_SubType'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMaintenanceSubtype',
                              options: maintenanceSubtype,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: maSubType"></gisc-ui-dropdown>

    <!--Title-->
    <gisc-ui-label params="for: 'txtTitle', text: i18n('Assets_MaintanancePlanTitle'), isRequired: true" />
    <gisc-ui-textbox params="id: 'txtTitle', value: title" />



    <!--Description-->
    <gisc-ui-label params="for: 'txtDescription', text: i18n('Common_Description')" />
    <gisc-ui-textarea params="id: 'txtDescription', value: description" />

    <!--Maintenance Date-->
    <gisc-ui-label params="for:'dtMaintenanceDate', text:i18n('Common_MaintenanceDate'),isRequired: true" />
    <gisc-ui-datetime params="id:'dtMaintenanceDate',
                              value: maintenanceDate,
                              mode: 'date',
                              minDate: allowedDate,
                              dateFormat: dateFormat" />

    <!--Reminder before Maintenance Date (day)-->
    <gisc-ui-label params="for: 'txtDayRemind', text: i18n('Common_ReminderBeforeMaintenanceDate')" />
    <gisc-ui-textbox params="id: 'txtDayRemind', value: dayRemind, filter: { type: 'numeric', numericType: 'int', min: 1 }" />

  


    <!--Estimate Cost (Currency)-->
    <gisc-ui-label params="for: 'txtEstimateCost', text: i18n('Common_EstimateCost', [currency()])" />
    <gisc-ui-textbox params="id: 'txtEstimateCost', value: estimateCost, filter: { type: 'numeric', numericType: 'float', min: 0, maxDecimalPlaces: 2 }" />


    <ul id="sub-menu-items" class="gisc-ui-listview gisc-ui-listview-bordered">
       <li>
           <div class="gisc-ui-button">
               <div class="gisc-ui-button-text">
                   <a data-bind="click: onSelectSubMenuItem.bind($data, 1), css: { 'selected': selectedSubMenuItem() == 1 }" class="gisc-ui-link-inherit" title="Subscriptions" href="#">
                       <span data-bind="text: i18n('Common_Vehicles')"></span><span class='gisc-ui-required'>*</span>
                       <span data-bind="validationMessage: vehicleDetail" class="ko-block-msg-err"></span>
                       <i class="gisc-ui-icon" aria-hidden="true"><!-- ko component: "svg-ic-right-arrow" --> <!-- /ko --></i>
                   </a>
                </div>
            </div>
        </li>
    </ul>


    <!--Alert Via-->
    <gisc-ui-label params="text: i18n('Common_AlertVia')" />
    <gisc-ui-checkbox params="text:i18n('Common_Website'), checked: enableWebsiteAlert"></gisc-ui-checkbox>
    <gisc-ui-checkbox params="text:i18n('Common_Email'), checked: enableEmailAlert"></gisc-ui-checkbox>
    <gisc-ui-checkbox params="text:i18n('Common_SMS'), checked: enableSmsAlert"></gisc-ui-checkbox>




</gisc-ui-component>






