﻿<gisc-ui-component>
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        accept: mimeType,
        onRemoveFile: onRemoveFile.bind($data),
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="text: importValidationError"></div>

    <section data-bind="visible: previewDataVisible">
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datatable params="
                           id:'dtImportVehicles' ,
                           datasource:previewData,
                           columns:[
                           { type:'label', title:'i18n:Common_Vehicles', data:'vehicleName' },
                           { type:'label',title:'i18n:Common_MaintenanceDate', data:'formatMaintenanceDate'},
                           { type:'label',title:'i18n:Common_ReminderBeforeMaintenanceDate' , data:'remindDate'},
                           { type:'label',title:'i18n:Common_CurrentDistance', data:'formatCurrentDistance'},
                           { type:'label',title:'i18n:Common_MaintenanceDistance', data:'formatMaintenanceDistance'},
                           { type:'label',title:'i18n:Common_ReminderBeforeMaintenanceDistance' , data:'formatRemindDistance'},
                           { type:'label',title:'i18n:Vehicle_MA_Common_Maintenance_Type' , data:'maintenanceTypeName'},
                           { type:'label',title:'i18n:Vehicle_MA_Common_Maintenance_SubType' , data:'maintenanceSubTypeName'},
                           { type:'label',title:'i18n:Assets_MaintanancePlanTitle'  , data:'title'},
                           { type:'label',title:'i18n:Common_Description' , data:'description'},
                           { type:'label',title:'i18n:Common_EstimateCost'  , data:'formatEstimateCost'}, 
                           { type:'label',title:'i18n:Common_AlertVia' , data:'listAlert'}, 
                           ],
                           ordering:false,
                           rowId:'tempId',
                           onTableReady: onImportMaintenancePlanListTableReady,
                           " />
    </section>
</gisc-ui-component>