﻿<gisc-ui-component>
    <!--Maintenance Type-->
    <gisc-ui-label params="for: 'ddMaintenanceType', text: i18n('Vehicle_MA_Common_Maintenance_Type'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMaintenanceType',
                              options: maintenanceTypeList,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: maintenanceType"></gisc-ui-dropdown>

    <!--Maintenance Subtype-->
    <gisc-ui-label params="for: 'ddMaintenanceSubtype', text: i18n('Vehicle_MA_Common_Maintenance_SubType'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMaintenanceSubtype',
                              options: maintenanceSubtypeList,
                              optionsText: 'name',
                              optionsCaption: '',
                              value: maintenanceSubtype"></gisc-ui-dropdown>

    <!--Maintenance Status-->
    <gisc-ui-label params="for: 'ddMaintenanceStatus', text: i18n('Common_MaintenanceStatus'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddMaintenanceStatus',
                              options: maintenanceStatusList,
                              optionsText: 'displayName',
                              optionsCaption: '',
                              value: maintenanceStatus"></gisc-ui-dropdown>

    <!--BU-->
    <gisc-ui-label params="for: 'ddBusinessUnit', text: i18n('BU_BusinessUnits'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdowntree params=" id: 'ddBusinessUnit',
                                    options:businessUnitList,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent:'parentBusinessUnitId',
                                    optionsChildren:'childBusinessUnits',
                                    optionsCaption: '',
                                    value:bu" />

    <!--include SubBU-->
    <gisc-ui-checkbox params="text:i18n('Vehicle_MA_Appointment_Search_Include_Sub_BU'), checked: includeSubBU"></gisc-ui-checkbox>

    <gisc-ui-label params="for: '', text: i18n('Common_Vehicle'), isRequired: false"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddVehicle',
                              options: VehicleList,
                              optionsText: 'license',
                              optionsCaption: '',
                              value: vehicle"></gisc-ui-dropdown>

    <!--start Date-->
    <gisc-ui-label params="for: 'dtStartDate', text: i18n('Common_StartDate'), isRequired: false"></gisc-ui-label>
    <gisc-ui-datetime params="id:'dtStartDate', mode:'date', value: startDate,dateFormat:dateFormat" />

    <!--end Date-->
    <gisc-ui-label params="for: 'dtEndDate', text: i18n('Common_EndDate'), isRequired: false"></gisc-ui-label>
    <gisc-ui-datetime params="id:'dtEndDate', mode:'date', value: endDate,dateFormat:dateFormat" />
</gisc-ui-component>