﻿<gisc-ui-component>
    <gisc-ui-label params="for:'txtTitle', isRequired:true,text:i18n('AutoMail_Company')" />
    <gisc-ui-dropdown params="options: StuList,
                          optionsText: 'name',
                          value: selectedCompany ,
                           optionsCaption: ''
                            " />
    <gisc-ui-label params="for:'txtTitle',text:i18n('AutoMail_BusinessUnit')" />
    <gisc-ui-dropdowntree params="  options:BuList,
                                    optionsID:'id',
                                    optionsText:'name',
                                    optionsParent: 'parentBusinessUnitId',
                                    optionsChildren: 'childBusinessUnits',
                                    optionsCaption: ' ',
                                    value:selectedBU ,
                            " />
    <gisc-ui-checkbox params="text: i18n('AutoMail_IncludeSubBussinessUnit'), checked:isIncludeSubBU" />

    <gisc-ui-label params="text: i18n('AutoMail_MailConfiguration')" />
    <gisc-ui-dropdown params="  options: MailList,
                                optionsText:'title',
                                optionsCaption: selectedMailConfigBinding,
                                value:selectedMailConfig ,
                            " />

    <gisc-ui-label params="text: i18n('AutoMail_Status')" />
    <gisc-ui-dropdown params="  options: StatusList,
                                optionsText:'displayName',
                                value:selectedStatus ,
                            " />

    <!--DateTimeFromTo-->
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'from' ,text: i18n('AutoMail_SentDateFrom'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'from' ,value:start ,mode:'date' ,maxDate:maxDateStart ,minDate:'-3m' ,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeStart, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <gisc-ui-label params="for:'to' ,text: i18n('AutoMail_SentDateTo'), isRequired: true" />
    </div>
    <div style="width:100%">
        <div style="width:55%;float:left;">
            <gisc-ui-datetime params="id:'to' ,value:end  ,mode:'date' ,maxDate:periodDay ,minDate:minDateEnd ,dateFormat:formatSet" />
        </div>
        <div style="width:40%;float:right;">
            <div class="app-textBox-wrapper">
                <input type="time" data-bind="value:timeEnd, attr: { id:id, class:'app-input'} ">
            </div>
        </div>
    </div>
</gisc-ui-component>