<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Gulp is the build automation tool that we used in Logistic II app to streamline the development process.</blockquote>
        <section>
            <h2>Common Tasks</h2>
            <p>If you are not familiar with gulp, please read <a href="https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md">Gulp getting started</a> first.</p>
            <p>Commonly used tasks are as following</p>
            <ul>
                <li><code>serve:src</code> - Tell gulp to setup development server for SPA, it will compile ES6 with babel on-the-fly.</li>
                <li><code>serve:dist</code> - Tell gulp to setup production server for SPA, this will trigger minified JS/CSS in addition of <code>serve:src</code></li>
                <li><code>sass</code> - Tell gulp to compile .scss file.</li>
                <li><code>sass:watch</code> - Tell gulp to keep compiling .scss file whenever there is change.</li>
            </ul>
            <p>Some tasks are not so common, but neccessary for certain job.</p>
            <ul>
                <li><code>build:mvc</code> - Tell gulp to copy production ready SPA resources to MVC site under <code>Gisc.Csd.Log.Web</code>.</li>
                <li><code>clean</code> - Tell gulp to delete all temporary files generated from default task.</li>
                <li><code>tdd</code> - Tell gulp to start Karma server and run unit test continuosly.</li>
            </ul>
        </section>
        <section>
            <h2>Start development server</h2>
            <p>When developing SPA, this is the essential task to start development server, under the hood it is node.js static server which operate
                on port 8080.</p>
            <p>Open command line tool (cmd if you are on windows, terminal if you are on mac/linux). Change directory to <code>Gisc.Csd.Log.SPA</code>
                then type the following command.</p>
            <pre><code class="hljs js">gulp serve:src</code></pre>
        </section>
        <section>
            <h2>Start production server</h2>
            <p>When the code is ready for production, using <code>serve:dist</code> task to prepare resources (html/js/css) with minified.
                Then start a static server on port 8000.</p>
            <p>Open command line tool (cmd if you are on windows, terminal if you are on mac/linux). Change directory to <code>Gisc.Csd.Log.SPA</code>
                then type the following command.</p>
            <pre><code class="hljs js">gulp serve:dist</code></pre>
        </section>
        <section>
            <h2>Compile SASS</h2>
            <p>Use <code>sass</code> to compile .scss file one time. Use <code>sass:watch</code> to keep compiling .scss file when there is changed.</p>
            <p>Open command line tool (cmd if you are on windows, terminal if you are on mac/linux). Change directory to <code>Gisc.Csd.Log.SPA</code>
                then type the following command.</p>
            <pre><code class="hljs js">gulp sass // one time and exit.
gulp sass:watch // keep compiling, open as daemon until process is terminated.</code></pre>
        </section>
        <section>
            <h2>Copy to MVC site</h2>
            <p>Use <code>build:mvc</code> to copy production ready code to the mvc site. This task will trigger default task, which handle ES6 transpile
                and minified resources before copying.</p>
            <p>Open command line tool (cmd if you are on windows, terminal if you are on mac/linux). Change directory to <code>Gisc.Csd.Log.SPA</code>
                then type the following command.</p>
            <pre><code class="hljs js">gulp build:mvc</code></pre>
        </section>

    </article>
</gisc-ui-component>