<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>i18n refers to internationalization on the app based on company selected language.</blockquote>
        <section>
            <h2>i18n on View (html)</h2>
            <p>To translate text on view, you have to check if target gisc-ui controls support observable on target property or not.
                For example, <code>gisc-ui-label</code> support observable on <code>text</code> property.
            </p>
            <p>When the controls support observable on property, you can use helper method <code>i18n</code> when binding.</p>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;gisc-ui-label params=&quot;text: i18n(&#x27;User_Users&#x27;)&quot;&gt;&lt;&#x2F;gisc-ui-label&gt;</code></pre>
            <h4>Output</h4>
            <div class="output">
                <gisc-ui-label params="text: i18n('User_Users')"></gisc-ui-label>
            </div>
            <p></p>
            <blockquote>Under the hood, <code>i18n</code> is a method in ScreenBase class which all screen's View Model derived from.
            It return observable with internationalized text as value. We use i18next as engine for transformation. 
            </blockquote>

            <h3>i18n with Knockout binding</h3>
            <p>Since <code>i18n</code> is a method in VM that return observable, you can use it with Knockout's binding.</p>
            <h4>Source</h4>
            <pre><code class="hljs html">&lt;!-- View --&gt;
&lt;span data-bind=&quot;text:i18n(&#x27;User_Users&#x27;)&quot;&gt;&lt;&#x2F;span&gt;</code></pre>
            <h4>Output</h4>
            <div class="output">
                <span data-bind="text: i18n('User_Users')"></span>
            </div>
        </section>
        <section>
            <h2>i18n on View Model</h2>
            <p>Use <code>i18n</code> method on View Model, this method is in ScreenBase.js</p>
            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
this.someTextNeedTranslation = this.i18n('Key');</code></pre>
        </section>
        <section>
            <h2>How does it work?</h2>
            <p>We use i18next as an engine to transform i18n text, the resource file is requested from Core API. 
                See WebRequest.resources() for more details.</p>
        </section>
    </article>
</gisc-ui-component>