<gisc-ui-component>
    <gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelected:goto.bind($data)">
        <item params="text: 'README', extras: { id: 'screenDevReadme' }" />
        <item params="text: 'FAQ', extras: { id: 'screenDevFAQ' }" />  
        <item params="text: 'Guide to gulp tasks', extras: { id: 'screenDevGulp' }" />
        <item params="text: 'How to track change?', extras: { id: 'screenDevTrackChange' }" />
        <item params="text: 'How to validate input data?', extras: { id: 'screenDevValidation' }" />
        <item params="text: 'Demo: data validation', extras: { id: 'screenDevValidationDemo' }" />
        <item params="text: 'How to i18n text', extras: { id: 'screenDevI18N' }" />

    </gisc-ui-listview>
</gisc-ui-component>