<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Track Change is an ability to detect whether observable value is changed from initial state or not</blockquote>
        <section>
            <h2>Why Track Change?</h2>
            <p>There is a common requirement to inform user when there is edit (changes) on the screen and it is about to close.</p>
            <p>In order to achieve this behavior, you have to mark observable property as trackable. See how below.</p>
        </section>
        <section>
            <h2>Observable</h2>
            <p>In ViewModel, override method <code>setupExtend</code> and extends the observable with extender
            <code>trackChange</code></p>

            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    this.username.extend({
        trackChange: true
    });
    ...
}</code></pre>

            <p>For observableArray, the track change working differently, since most of the time you need to compare original state with 
                the final, in order to be able to tell whether it is changed or not.</p>

            <p>Consider the following example, you have Observable Array with content [A, B, C] if user delete A then add A back, the 
                array will become [B, C, A]</p>

            <p>This bring the question should we consider this as changed or not? Usually the answer is NO. However if you use <code>trackChange</code>
                the observable is obviously changed. So, we <strong>cannot</strong> use trackChange with observable array.</p>
        </section>
        <section>
            <h2>Observable Array</h2>
            <p>In order to track semantically changed in Observable Array, override method <code>setupExtend</code> and extends the observable with extender
            <code>trackArrayChange</code></p>

            <h3>Deep traversal comparison</h3>
            <p>By default, using <code>trackArrayChange</code> will compare orginal content and current one with deep traversal. For example
            if there is content like the following:</p>
            <pre><code class="hljs js">var arrayContent1 = [
    { id: 1, value: { personId: 1, personName: 'Mr.A' }},
    { id: 2, value: { personId: 2, personName: 'Mr.B' }},
];
var arrayContent2 = [
    { id: 1, value: { personId: 1, personName: 'Mr.B' }},
    { id: 2, value: { personId: 2, personName: 'Mr.A' }},
];
</code></pre>
            <p>These two array are considering <strong>different</strong> with trackArrayChange</p>

            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    this.accessibleCompanies.extend({
        trackArrayChange: true
    });
    ...
}</code></pre>

        <p>This will check if content of Observable Array is changed or not -- order does not count.</p>

        <h3>Shallow comparison</h3>
        <p>There are some circumstance when deep comparing are not need, for example when items in observable array are 
            mapping/transformation from original datasource. If the need arise, you can use shallow comparison.</p>
        
        <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    this.accessibleCompanies.extend({
        trackArrayChange: {
            uniqueFromPropertyName: "id"
        }
    });
    ...
}</code></pre>

        <p>This will check <strong>as if</strong> content of Observable Array is value from <code>uniqueFromPropertyName</code> -- order does not count.</p>
        <p>Take the same content as Deep traversal comparison sample above, these two array are considering <strong>similar</strong></p>

        </section>
    </article>
</gisc-ui-component>