<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <section id="exp1">
            <h4>Required Field</h4>
            <div class="output">
                <gisc-ui-label params="for: 'txtName', text: 'Required Field', isRequired: true"></gisc-ui-label>
                <gisc-ui-textbox params="id: 'txtName', value: name"></gisc-ui-textbox>
            </div>
        </section>
        <section id="exp2">
            <h4>Email</h4>
            <div class="output">
                <gisc-ui-label params="for: 'txtEmail', text: 'Email Validation'"></gisc-ui-label>
                <gisc-ui-textbox params="id: 'txtEmail', value: email"></gisc-ui-textbox>
            </div>
        </section>
        <section id="exp3">
            <h4>Number + Min</h4>
            <p>Using <code>number</code> and <code>min</code> in combination to validate positive integer data.</p>
            <div class="output">
                <gisc-ui-label params="for: 'txtNumber', text: 'Number Validation'"></gisc-ui-label>
                <gisc-ui-textbox params="id: 'txtNumber', value: numberOnly"></gisc-ui-textbox>
            </div>
        </section>
        <section id="exp4">
            <h4>Regular Expression + Custom error message/placement</h4>
            <p>You have to use <code>validationOptions</code> custom binding with insertMessages: false to turn off error message injection.
             Then use <code>validationMessage</code> binding on any html element to place the error message on different location.</p>
            <div class="output" data-bind="validationOptions: { insertMessages: false }">
                <span data-bind="validationMessage: pattern" class="ko-inline-msg-err"></span>
                <gisc-ui-label params="for: 'txtRegex', text: 'Pattern ^[a-z0-9].$'"></gisc-ui-label>
                <gisc-ui-textbox params="id: 'txtRegex', value: pattern"></gisc-ui-textbox>
            </div>
        </section>

        <section id="exp5">
            <h4>Server + Required Field</h4>
            <p>Try typing "user1" to demonstrate checking duplicate user on server. The other values are valid except "user1".</p>
            <div class="output">
                <gisc-ui-label params="for: 'txtUserName', text: 'Validate on Server', isRequired: true"></gisc-ui-label>
                <gisc-ui-textbox params="id: 'txtUserName', value: userName"></gisc-ui-textbox>
            </div>
        </section>
    </article>
</gisc-ui-component>