<gisc-ui-component params="codeHighlight:true">
    <article class="markup-container sdk-body">
        <blockquote>Data Validation such as require field, conditional required field, regex match and so on are done on ViewModel layer. </blockquote>
        <section>
            <h2>What to Validate?</h2>
            <p>Most of the screen consist of input form, without data validation we may send invalid data to Web API, thus make a fail response round trip back to UI.
                In Logistics SPA we use Knockout Validation as a base library to prevent invalid data in the first place. 
            </p>
            <p>We also create custom validation rules to support our needs in some areas, those will be cover this this article.</p>
            <p>See more details about <a href="https://github.com/Knockout-Contrib/Knockout-Validation">Knockout Validation</a> on Github.</p>
        </section>
        <section>
            <h2>Basic Validation</h2>

            <h3>Required Field + Observable <code>required</code></h3>
            <p>In ViewModel, override method <code>setupExtend</code> and extends the observable with extender
            <code>required</code> Then create <code>validationModel</code> object to host all validable properties.</p>

            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    this.username.extend({
        required: true
    });
    ...
    this.validationModel = ko.validatedObservable({
        username: this.username
    });
}</code></pre>
        <p>You can then use <code>this.validationModel</code> when user perform some action 
        (i.e. click save button) to check if input is in valid state or not.</p>
        <h4>Source</h4>
        <pre><code class="hljs js">// View Model
onActionClick(sender) {
    super.onActionClick(sender);
    if (sender.id === "actSave") {
        if (!this.validationModel.isValid()) {
            this.validationModel.errors.showAllMessages();
            return;
        }
        //... data is valid, perform Web API request ...
    }
}</code></pre>

            <h3>Required Field + Observable Array <code>arrayRequired</code></h3>
            <p>Observable Array when mark required is semantically speaking means "array contains at least one element". 
                Technically it use different approach to check so we <strong>cannot use</strong> <code>required</code> 
                extender to do the job.</p>
            <p>In ViewModel, override method <code>setupExtend</code> and extends the observable with extender
            <code>arrayRequired</code> Then create <code>validationModel</code> object to host all validable properties.</p>
            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    // this.someCollection is observable array
    this.someCollection.extend({
        arrayRequired: true
    });
    ...
    this.validationModel = ko.validatedObservable({
        someCollection: this.someCollection
    });
}</code></pre>

            <h3>Override default error message</h3>
            <p>You can override the default error message with specific one by passing <code>message</code> as param in the required/arrayRequired extender.</p>
            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    this.username.extend({
        required: {
            params: true,
            message: "This is custom error message"
        }
    });
    ...
    this.validationModel = ko.validatedObservable({
        username: this.username
    });
}</code></pre>

        </section>
        <section>
            <h2>Other Validations</h2>

            <h3>Email Validation <code>email</code></h3>
            <p>Use <code>email</code> extender to validate if observable's value is email or not.</p>
            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    this.userMail.extend({ email: true });
    ...
    this.validationModel = ko.validatedObservable({
        userMail: this.userMail
    });
}</code></pre>

            <h3>Min/Max <code>min</code> and/or <code>max</code></h3>
            <p>Use <code>min</code> extender to validate if observable's value exceed minimum or not.</p>
            <p>Use <code>max</code> extender to validate if observable's value exceed maximum or not.</p>
            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    this.someInteger.extend({ min: 2 });
    this.someInteger.extend({ max: 99 });
    ...
    this.validationModel = ko.validatedObservable({
        someInteger: this.someInteger
    });
}</code></pre>

            <h3>Min/Max length <code>minLength</code> and/or <code>maxLength</code></h3>
            <p>Use <code>minLength</code> extender to validate if observable's value exceed minimum length or not.</p>
            <p>Use <code>maxLength</code> extender to validate if observable's value exceed maximum length or not.</p>
            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    this.password.extend({ minLength: 6 });
    this.password.extend({ maxLength: 10 });
    ...
    this.validationModel = ko.validatedObservable({
        password: this.password
    });
}</code></pre>

            <h3>Regular Expression <code>pattern</code></h3>
            <p>Use <code>pattern</code> extender to validate if observable's value match given regular expression or not.</p>
            <h4>Source</h4>
            <pre><code class="hljs js">// View Model
setupExtend() {
    this.pattern.extend({ pattern: "^[a-z0-9].$" });
    ...
    this.validationModel = ko.validatedObservable({
        pattern: this.pattern
    });
}</code></pre>

        </section>
    </article>
</gisc-ui-component>