﻿<gisc-ui-component>
    <!-- Name -->
    <gisc-ui-label params="for: 'txtName', text:i18n('Common_GroupName'), isRequired:true" />
    <gisc-ui-textbox params="id: 'txtName', value:name"></gisc-ui-textbox>

    <!-- Description -->
    <gisc-ui-label params="for: 'txtDescription', text:i18n('Common_Description')" />
    <gisc-ui-textarea params="id: 'txtDescription', value:description"></gisc-ui-textarea>

    <!-- Permission -->
    <div class="scrollable-container-h">
        <table class="gisc-ui-datatable">
            <thead>
                <tr>
                    <th data-bind="text:i18n('Common_Permission')"></th>
                    <!-- ko foreach: subscriptionList -->
                    <th class="dt-body-center" data-bind="text: name"></th>
                    <!-- /ko -->
                </tr>
            </thead>

            <tbody>
                <tr data-bind="visible: permissionCategoryVisible().length > 0">
                    <td class="category" data-bind="text:permissionCategoryVisibleDisplayName, attr: { colspan: colspan }"></td>
                </tr>
                <!-- ko foreach: permissionCategoryVisible -->
                <tr>
                    <td data-bind="text:name"></td>
                    <!-- ko foreach: subscriptions -->
                    <td class="dt-body-center" >
                        <gisc-ui-checkbox params="checked: selected">
                    </td>
                    <!-- /ko -->
                </tr>
                <!-- ko foreach: children -->
                <tr>
                    <td data-bind="text:name"></td>
                    <!-- ko foreach: subscriptions -->
                    <td class="dt-body-center">
                        <gisc-ui-checkbox params="checked: selected">
                    </td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
                <!-- /ko -->

                <tr data-bind="visible: permissionCategoryFunctionality().length > 0">
                    <td class="category" data-bind="text:permissionCategoryFunctionalityDisplayName, attr: { colspan:colspan }"></td>
                </tr>
                <!-- ko foreach: permissionCategoryFunctionality -->
                <tr>
                    <td data-bind="text:name"></td>
                    <!-- ko foreach: subscriptions -->
                    <td class="dt-body-center" >
                        <gisc-ui-checkbox params="checked: selected">
                    </td>
                    <!-- /ko -->
                </tr>
                <!-- ko foreach: children -->
                    <tr>
                        <td class="child" data-bind="text:name"></td>
                        <!-- ko foreach: subscriptions -->
                        <td class="dt-body-center">
                            <gisc-ui-checkbox params="checked: selected">
                        </td>
                        <!-- /ko -->
                    </tr>
                    <!-- ko foreach: children -->
                    <tr>
                        <td class="child2" data-bind="text:name"></td>
                        <!-- ko foreach: subscriptions -->
                        <td class="dt-body-center">
                            <gisc-ui-checkbox params="checked: selected">
                        </td>
                        <!-- /ko -->
                    </tr>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->

                <tr data-bind="visible: permissionCategoryAlert().length > 0">
                    <td class="category" data-bind="text:permissionCategoryAlertDisplayName, attr: { colspan: colspan }"></td>
                </tr>
                <!-- ko foreach: permissionCategoryAlert -->
                <tr>
                    <td data-bind="text:name"></td>
                    <!-- ko foreach: subscriptions -->
                    <td class="dt-body-center" >
                        <gisc-ui-checkbox params="checked: selected">
                    </td>
                    <!-- /ko -->
                </tr>
                <!-- ko foreach: children -->
                <tr>
                    <td class="child" data-bind="text:name"></td>
                    <!-- ko foreach: subscriptions -->
                    <td class="dt-body-center">
                        <gisc-ui-checkbox params="checked: selected">
                    </td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
                <!-- /ko -->
            </tbody>

        </table>
    </div>

</gisc-ui-component>