﻿<gisc-ui-component>
    <!-- Key -->
    <gisc-ui-label params="for:'dmsConfigConfigKey',text:'Key' , isRequired:true" />
    <gisc-ui-textbox params="id:'dmsConfigConfigKey', value:key" />

    <!-- Value -->
    <gisc-ui-label params="for:'dmsConfigConfigValue',text:'Value' , isRequired:true" />
    <gisc-ui-textbox params="id:'dmsConfigConfigValue', value:value" />

</gisc-ui-component>