<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'app-topbar-avatarmenu app-avatarmenu'
    }
} -->
<div class="app-dropmenu" data-bind="attr: {id: userMenu.id}" tabindex="-1">
    <a href="#" class="app-dropmenu-button app-popup-button app-has-hover app-menu-account" data-bind="click: userMenu.onClick.bind(userMenu), css: userMenu.menuStatus, attr: {title: userMenu.title}">
        <div class="app-avatarmenu-header">
        <div class="app-avatarmenu-tenant-container">
            <div class="app-avatarmenu-username" data-bind="text: greeting"></div>
            <div class="app-avatarmenu-tenant" data-bind="text: currentUser.currentCompanyName"></div>
        </div>
        </div>
    </a>
    <div class="app-dropmenu-content app-popup app-dropmenu-left" data-bind="css: userMenu.menuContentStatus">
        <div class="app-avatarmenu-dropdown">
            <ul class="app-avatarmenu-list-system" data-bind="foreach: items">
                <li class="app-has-hover">
                    <a data-bind="attr: {title: title, href: href, target: target}, click: $parent.onUserMenuClick.bind($parent, $data)">
                        <div class="app-dropmenu-list-content" data-bind="text: title"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /ko -->