﻿<gisc-ui-component>
    <!-- Username -->
    <gisc-ui-label params="for: 'txtUserName', text: i18n('Common_Username'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtUserName', value: username, enable: canEdit"></gisc-ui-textbox>

    <!-- First Name -->
    <gisc-ui-label params="for: 'txtFirstName', text: i18n('Common_FirstName')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtFirstName', value: firstName, enable: canEdit"></gisc-ui-textbox>

    <!-- Last Name -->
    <gisc-ui-label params="for: 'txtLastName', text: i18n('Common_Lastname')"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtLastName', value: lastName, enable: canEdit"></gisc-ui-textbox>

    <!-- Email -->
    <gisc-ui-label params="for: 'txtEmail', text: i18n('Common_Email'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtEmail', value: email, enable: canEdit, maxlength: 200"></gisc-ui-textbox>

    <!-- Phone -->
    <gisc-ui-label params="for: 'txtPhone', text: i18n('Common_Phone'), isRequired: true"></gisc-ui-label>
    <gisc-ui-textbox params="id: 'txtPhone', value: phone, enable: canEdit, maxlength: 20"></gisc-ui-textbox>

    <!-- Group -->
    <gisc-ui-label params="for: 'ddGroup', text: i18n('User_Group'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddGroup',
                              options: groupsDS,
                              optionsText: 'title',
                              optionsCaption: '',
                              value: groupId,
                              enable: canEdit"></gisc-ui-dropdown>

    <!-- Enable -->
    <gisc-ui-label params="for: 'ddUserEnabled', text: i18n('Common_Enable'), isRequired: true"></gisc-ui-label>
    <gisc-ui-dropdown params="id: 'ddUserEnabled',
                              options: enableDS,
                              optionsText: 'title',
                              value: userEnabled,
                              enable: canEdit"></gisc-ui-dropdown>

    <!-- Expiration Date -->
    <gisc-ui-label params="for: 'dtExpDate', text: i18n('User_ExpirationDate')"></gisc-ui-label>
    <gisc-ui-datetime params="id: 'dtExpDate', 
                              value: expDate, 
                              mode: 'date',
                              dateFormat: dateFormat,
                              enable: canEdit"></gisc-ui-datetime>

    <!-- IP Permit -->
    <gisc-ui-label params="for: 'txtIPPermit', text: i18n('User_IPPermit')"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I007')"></gisc-ui-tooltip>
    <gisc-ui-textbox params="id: 'txtIPPermit', value: ipPermit, enable: canEdit, maxlength: 200"></gisc-ui-textbox>

    <!-- Accessible Company -->

    <!-- ko if: showAccessibleCompanies -->

      <!-- Add All Company -->
    <gisc-ui-checkbox params="text:'Add All Company', checked:addAllCompany"/>

    <div class="field-wrapper">
        <div class="field-table-title">
            <gisc-ui-label params="text: i18n('User_AccessibleCompanies')"></gisc-ui-label>
        </div>
        <div class="field-table-content">
            <!--if we set default order to column which orderable = false, dataTable still display sorting icon (this is a bug of dataTable.) so we need to add duplicate hidden column and use that column to apply default order instead. -->
            <gisc-ui-datatable params="
                id: 'bo-user-accessible-companies',
                ordering: true,
                datasource: accessibleCompanies,
                columns: [
                    { type: 'label', title: 'i18n:Common_AccessibleCompaniesName', data: 'companyName', orderable: false },
                    { type: 'label', title: 'i18n:Common_AccessibleCompaniesName', data: 'companyName', visible: false }
                ],
                order: order,
                rowId: 'companyId',
                removable: { visible: 'canManage' }
                " />
        </div>
        <span data-bind="validationMessage: accessibleCompanies" class="ko-block-msg-err"></span>
        <div class="field-table-commands">
            <a class="inline-cmd" data-bind="click: addAccessibleCompany">
                <i class="fa fa-plus" aria-hidden="true"></i> <span data-bind="text:i18n('Common_Add')"></span>
            </a>
        </div>
    </div>
    <!-- /ko -->

</gisc-ui-component>