<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'display-flex'
    }
} -->
    <!-- ko if: visible -->
        <audio data-bind="attr: {id: audioId}">
            <source data-bind="attr: { src: soundUrl}" type="audio/mpeg">
        </audio>
        <audio data-bind="attr: {id: audioId2}">
          <source data-bind="attr: { src: soundUrl2}" type="audio/mpeg">
        </audio>
        <audio data-bind="attr: {id: audioId3}">
          <source data-bind="attr: { src: soundUrl3}" type="audio/mpeg">
        </audio>
        
        <!-- ko foreach: notifications -->
        <div class="app-topbar-notifications app-notificationmenu-dropmenu" data-bind="attr: {id: $data.id} ">
          <div class="app-notificationmenu-menu">
            <div class="app-dropmenu"  tabindex="-1">
              <a class="app-dropmenu-button app-popup-button" data-bind="click: $data.onClick.bind($data), css: menuStatus, attr: { title: title}">
                <div class="app-topbar-button app-has-hover app-notificationmenu-button">
                  <div class="app-notificationmenu-icon">
                    <!-- ko component: icon --><!-- /ko -->
                  </div>
                  <!-- ko if: unReadCount() > 0 -->
                  <div class="app-notificationmenu-button-unreadcount app-notificationmenu-button-unreadcount-circle" data-bind="text: unReadCount() > 99 ? '99+' : unReadCount()"></div>
                  <!-- /ko -->
                </div>
              </a>
              <div class="app-dropmenu-content app-popup app-dropmenu-left" data-bind="css: menuContentStatus">
                <div class="app-notificationmenu-dropdown">
                  <div class="app-notificationmenu-dropdown-title">
                    <div class="app-notificationmenu-dropdown-title-text" data-bind="text: title"></div>
                    <!-- ko if: items().length -->
                    <a class="app-notificationmenu-dropdown-title-icon" data-bind="attr: {title: $parent.i18n('Common_ClearAll')}, click: $parent.onDismissClick.bind($parent, type, null)">
                      <!-- ko component: 'svg-noti-delete' --><!-- /ko -->
                    </a>
                    <!-- /ko -->
                  </div>
                  <!-- ko ifnot: items().length -->
                  <div class="app-notificationmenu-notification-nodata">
                    <div class="app-notificationmenu-notification-nodata-content" data-bind="text: $parent.i18n('Notifications_EmptyNotification')"></div>
                  </div>
                  <!-- /ko -->
                  <!-- ko if: items().length -->
                  <div class="app-notificationmenu-list-system" data-bind="css: cssClass" >
                    <ul class="app-scrollbar-transparent app-scrollbar-default-hover app-notificationmenu-list" data-bind="foreach: items">
                      <!-- ko if: $index() < $parents[1].viewportSize -->
                      <li class="app-notificationmenu-items-list">
                        <a class="app-notificationmenu-notificationclick" data-bind="css: { unread: isUnRead }, click: $parents[1].onItemClick.bind($parents[1], $parents[0].type, $data)">
                          <div class="app-notificationmenu-notification">
                            <div class="app-notificationmenu-notification-content">
                              <!-- ko if: header -->
                              <div class="app-notificationmenu-notification-title">
                                <div class="app-notificationmenu-notification-title-icon-left" data-bind="html: icon"></div>
                                <div class="app-notificationmenu-notification-title-text msportalfx-tooltip-overflow" data-bind="text: header, attr: { title: header }"></div>
                                <div class="app-notificationmenu-notification-title-icon-right" data-bind="component: 'svg-action-close', click: $parents[1].onDismissClick.bind($parents[1], $parents[0].type, id), clickBubble: false"></div>
                              </div>
                              <div class="app-notificationmenu-notification-subtitle app-text-secondary" data-bind="text: subHeader"></div>
                              <div class="app-notificationmenu-notification-description app-text-secondary msportalfx-tooltip-overflow" data-bind="text: message"></div>
                              <!-- /ko -->
                              <!-- ko ifnot: header -->
                              <div class="app-notificationmenu-notification-title nodescription">
                                <div class="app-notificationmenu-notification-title-icon-left" data-bind="html: icon"></div>
                                <div class="app-notificationmenu-notification-title-description msportalfx-tooltip-overflow" data-bind="text: message"></div>
                                <div class="app-notificationmenu-notification-title-icon-right" data-bind="component: 'svg-action-close', click: $parents[1].onDismissClick.bind($parents[1], $parents[0].type, id), clickBubble: false"></div>
                              </div>
                              <!-- /ko -->
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- /ko -->
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /ko -->
    <!-- /ko -->
<!-- /ko -->