﻿<gisc-ui-component>
    <!--File-->
    <gisc-ui-label params="text: i18n('Assets_File'), isRequired: true"></gisc-ui-label>
    <gisc-ui-tooltip params="text: i18n('I008')"></gisc-ui-tooltip>                 
    <gisc-ui-fileupload params="
        fileName: fileName,
        selectedFile: selectedFile,
        accept: mimeType,
        onRemoveFile: onRemoveFile.bind($data),
        onBeforeUpload: onBeforeUpload.bind($data),
        onUploadSuccess: onUploadSuccess.bind($data),
        onUploadFail: onUploadFail.bind($data),
        url: urlUpload" />
    <span data-bind="validationMessage: media" class="ko-block-msg-err"></span>
    <!--Import Validation Error-->
    <div class="ko-inline-msg-err" data-bind="text: importValidationError"></div>

    <section data-bind="visible: previewDataVisible">
        <!--Preview Data -->  
        <gisc-ui-label params="text: i18n('Common_PreviewData')"></gisc-ui-label>
        <gisc-ui-datatable params="
            datasource: previewData,
            columns: [
                { type: 'label' , title: 'i18n:Ticket_MobileNo' ,data: 'mobileNo' },
                { type: 'label' , title: 'i18n:Ticket_Operator' , data: 'operatorName' },
                { type: 'label' , title: 'Sim Type' , data: 'simTypeDisplayName' },
                { type: 'label' , title: 'i18n:Common_Status' , data: 'statusDisplayName' },
                { type: 'label' , title: 'i18n:Ticket_FreeDuration' , data: 'freeDuration' },
                { type: 'label' , title: 'i18n:Ticket_ActivateDate' , data: 'formatActivateDate' },
                { type: 'label' , title: 'i18n:Ticket_Remark' , data: 'remark' },
                { type: 'label' , title: 'Stock Code' , data: 'simStockCode' },
                { type: 'label' , title: 'ICC Id' , data: 'iccId' },
            ],
            ordering: false,
            rowId: 'tempId'
            " />
    </section>
</gisc-ui-component>