﻿<gisc-ui-component>
    <!--Status-->
    <gisc-ui-label params="text: i18n('Common_Status'), isRequired:true" />
    <gisc-ui-dropdown params="options: statusList,
                      optionsText:'name',
                      value:selectedStatus ,
                      optionsCaption: SelectcheckStatus,
                      " />
    <!--Sim Type-->
    <gisc-ui-label params="text: 'Sim Type'" />
    <gisc-ui-dropdown params="options: simType,
                    optionsText:'name',
                    value:selectedSimType,
                    enable:checkFreeDuration
                    " />
    <!--Mabile No-->
            <gisc-ui-label params="for:'txtMobileNo',text:i18n('Ticket_MobileNo'), isRequired:true" />
            <gisc-ui-textbox params="id:'txtMobileNo', value:txtMoblieNo , enable: checkMoblieNo , filter:{type :'numeric', numericType:'int'} , maxlength:11 " />

    <!--ICC ID-->
    <gisc-ui-label params="for:'iccId',text:'ICC Id'" />
    <gisc-ui-textbox params="id:'iccId', value:iccId , filter:{type :'alphanumeric'} , maxlength:50 " />
                
    <!--Operator-->
    <gisc-ui-label params="for:'txtTitle',text:i18n('Assets_Operator'), isRequired:true" />
    <gisc-ui-dropdown params="options: OperatorList,
                          optionsText: 'operator',
                          enable: checkOperator,
                          value: selectedOperator ,
                      " />
    <!--Free Duration-->
    <div style="width:100%">
            
     <div style="width:70%;float:left">
         <gisc-ui-label params="for:'txtfreeDuration',text:i18n('Ticket_FreeDuration')" />
            <gisc-ui-textbox params="id:'txtfreeDuration', value:txtFreeDuration ,enable: checkFreeDuration, filter:{type :'numeric', numericType:'int'}" />
    </div>
    <div style="width:20%;float:left;margin-left: 2px;margin-top: 23px;">
            <gisc-ui-label params="for:'txtDays',text:i18n('Ticket_Days')" />
    </div>
    </div>

    <!-- Activete Date-->
    <div data-bind="visible:disabled">
        <div style="width:100%">
            <div style="width:50%" ;float:left;">
                <gisc-ui-label params="for:'manageStartDate', text: i18n('Ticket_ActivateDate'), isRequired:true" />
                <gisc-ui-datetime params="id:'manageStartDate', value:startDate, mode:'date' ,enable: checkDateTime " />
            </div>
        </div>
    </div>

    <div style="clear:both"/>
    <!--- Remark-->
    <gisc-ui-label params="for:'txtRemark', text: i18n('Ticket_Remark')"></gisc-ui-label>
    <gisc-ui-textarea params="id:'txtRemark', value:txtRemark"></gisc-ui-textarea>

    <!-- Sim Stock-->
    <gisc-ui-label params="text: 'Sim Stock'" />
    <gisc-ui-dropdown params="options: simStockInfos,
                    optionsText:'name',
                    value:selectedSimStock,
                    type:'filter',
                    optionsCaption:' ',
                    enable:disabled
                    " />
</gisc-ui-component>