﻿<gisc-ui-component>
    <!--Status-->
    <gisc-ui-label params="text: i18n('Common_Status')" />
    <gisc-ui-textbox params="id:'txtStatus', value:status, enable: false" />

    <!--Sim Type-->
    <gisc-ui-label params="for:'txtSimType', text:'Sim Type'" />
    <gisc-ui-textbox params="id:'txtSimType', value:simType, enable: false" />

    <!--Mabile No-->
    <gisc-ui-label params="for:'txtMobileNo',text:i18n('Ticket_MobileNo')" />
    <gisc-ui-textbox params="id:'txtMobileNo', value:mobileNo , enable: false" />

    <!--ICC ID-->
    <gisc-ui-label params="for:'iccId',text:'ICC Id'" />
    <gisc-ui-textbox params="id:'iccId', value:iccId , enable: false" />

    <!--Operator-->
    <gisc-ui-label params="for:'txtTitle',text:i18n('Assets_Operator')" />
    <gisc-ui-textbox params="id:'txtOparator', value:operator, enable: false" />

    <!--Free Duration-->
    <div style="width:100%">

        <div style="width:70%;float:left">
            <gisc-ui-label params="for:'txtfreeDuration',text:i18n('Ticket_FreeDuration')" />
            <gisc-ui-textbox params="id:'txtfreeDuration', value:freeDuration, enable: false" />
        </div>
        <div style="width:20%;float:left;margin-left: 1px;margin-top: 23px;">
            <gisc-ui-label params="for:'txtDays',text:i18n('Ticket_Days')" />
        </div>
    </div>

    <div style="clear:both" />
    <!--- Remark-->
    <gisc-ui-label params="for:'txtRemark', text: i18n('Ticket_Remark')"></gisc-ui-label>
    <gisc-ui-textarea params="id:'txtRemark', value:remark, enable: false"></gisc-ui-textarea>

   <!--Sim Stock-->
    <gisc-ui-label params="for:'txtsimStock',text:i18n('Sim Stock')" />
    <gisc-ui-textbox params="id:'txtsimStock', value:simStock, enable: false" />

    <style>
        .app-form-field-container {
            padding-bottom: 5px;
            margin-top: 4px;
        }

        .text-wrap {
            word-break: break-all;
            white-space: normal;
        }

        td {
            vertical-align: text-top;
        }
    </style>
    <table>
        <!--Row1-->
        <tr style="padding-bottom: 15px;">
            <td>
                <gisc-ui-label params="text:i18n('Ticket_CreateDate')" />
            </td>
            <td>
                <gisc-ui-label params="text:i18n('Ticket_CreateBy')" />
            </td>

        </tr>
        <tr>
            <td>
                <gisc-ui-field params="value:createDate" />
            </td>
            <td>
                <gisc-ui-field params="value:createBy" />
            </td>
        </tr>
        <!--Row2-->
        <tr>
            <td>
                <gisc-ui-label params="text:i18n('Ticket_ActivateDate')" />
            </td>
            <td>
                <gisc-ui-label params="text:i18n('Ticket_ActivateBy')" />
            </td>
        </tr>
        <tr>
            <td>
                <gisc-ui-field params="value:activateDate" />
            </td>
            <td>
                <gisc-ui-field params="value:activateBy " />
            </td>
        </tr>
        <!--Row3-->
        <tr>
            <td>
                <gisc-ui-label params="text:i18n('Ticket_InUseDate')" />
            </td>
            <td>
                <gisc-ui-label params="text:i18n('Ticket_InUseBy')" />
            </td>
        </tr>
        <tr>
            <td>
                <gisc-ui-field params="value:inUserDate" />
            </td>
            <td>
                <gisc-ui-field params="value:inUserBy" />
            </td>
        </tr>
        <!--Row4-->
        <tr>
            <td>
                <gisc-ui-label params="text:i18n('Ticket_PrepareToCloseDate')" />
            </td>
            <td>
                <gisc-ui-label params="text:i18n('Ticket_PrepareToCloseBy')" />
            </td>
        </tr>
        <tr>
            <td>
                <gisc-ui-field params="value:ptcDate" />
            </td>
            <td>
                <gisc-ui-field params="value:ptcBy" />
            </td>
        </tr>
        <!--Row5-->
        <tr>
            <td>
                <gisc-ui-label params="text:i18n('Ticket_CloseDate')" />
            </td>
            <td>
                <gisc-ui-label params="text:i18n('Ticket_CloseBy')" />
            </td>
        </tr>
        <tr>
            <td>
                <gisc-ui-field params="value:closeDate" />
            </td>
            <td>
                <gisc-ui-field params="value:closeBy" />
            </td>
        </tr>
    </table>
</gisc-ui-component>