<!-- ko component: {
    name: 'gisc-ui-component',
    params: {
        additionalCssClasses: 'app-topbar-journeysmenu'
    }
} -->
<div class="app-dropmenu" data-bind="attr: {id: journeyMenu.id}">
    <a tabindex="-1" class="app-dropmenu-button app-popup-button app-has-hover" data-bind="click: journeyMenu.onClick.bind(journeyMenu), css: journeyMenu.menuStatus, attr: {title: journeyMenu.title}">
        <div class="app-topbar-button app-has-hover app-topbar-journey-icon">
        <!-- ko component: 'svg-journey' --><!-- /ko -->
        </div>
    </a>
    <div class="app-dropmenu-content app-popup app-dropmenu-right app-journeysmenu-content" data-bind="css: journeyMenu.menuContentStatus">
        <div class="fx-dropmenu-dropdown" tabindex="-1">
        <!-- ko ifnot: navigationService.nonActiveItems().length -->
        <div class="app-journeysmenu-journey-nodata">
            <div class="app-journeysmenu-journey-nodata-content" data-bind="i18n: 'Common_EmptyJourney'"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: navigationService.nonActiveItems().length -->
        <div class="app-dropmenu-list-system">
            <ul class="app-journeysmenu-list-container" data-bind="foreach: recentJourney">
            <li class="app-journeysmenu-list app-has-hover" data-bind="click: $parent.changeJourney.bind($parent, $data)">
                <a class="app-journeysmenu-journey-wrapper" tabindex="-1">
                <div class="app-has-hover app-journeysmenu-journey" data-bind="foreach $data">
                    <!-- ko foreach: $data.items -->
                    <div class="app-journeysmenu-journey-content" data-bind="text: $data.title"></div>
                    <div class="app-breadcrumb-divider app-fill-secondary">
                    <!-- ko component: 'svg-crumb-divider' --><!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
                </a>
                <button class="app-journeysMenu-discardButton app-has-hover" data-bind="click: $parent.removeJourney.bind($parent, $data), clickBubble: false, i18n: { title: 'Common_Close'}">
                    <!-- ko component: 'svg-action-close' --><!-- /ko -->
                </button>
            </li>
            </ul>
        </div>
        <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->