﻿<gisc-ui-component params="additionalCssClasses: 'k-grid-height'">
    <div style="position: absolute;top: 2px;right: 150px;">
        <div class="row">
            <div class="12">
                <div class="widget-quick-search">
                    <gisc-ui-quick-search params="
                        placeholder: i18n('PHSearchByLicenseOrDriver'),
                        value: quickSearchKeyword,
                        onKeypress: onQuickSearchClick.bind($data),
                        onDatasourceRequest: onDataSourceQuickSearch.bind($data)" />
                </div>
            </div>
        </div>
    </div>
    <gisc-ui-datagrid params="
        id: 'trackWidgetMonitoring',
        onDatasourceRequestRead: onDatasourceRequestRead.bind($data),
        columns: columns,
        rowId: 'id',
        showFilter: true,
        onSelectingRow: onSelectingRow,
        resizable: true,
        columnMenu: true,
        toolbar: false,
        height: '100%',
        pageSize: 5,
        pageSizeOptions: [5, 10, 20, 50, 100],
        rememberDataGridState: ['columns']
    " />
</gisc-ui-component>