﻿<gisc-ui-component>
    <gisc-ui-listview params="selectedIndex:selectedIndex, onItemSelecting:_selectingRowHandler.bind($data)">
        <item params="text: i18n('Configurations_SqlTemplateConfig'), extras: { id: 'bo-configuration-sql-template-config'}" />
        <item params="text: i18n('AutoMail_MailConfiguration'), extras: { id: 'bo-configuration-mail-config'}" />
        <item params="text: i18n('Configurations_SendingLogs'), extras: { id: 'bo-configuration-sending-log'}" />
        
    </gisc-ui-listview>
</gisc-ui-component>